﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L

@*<div class="modal fade Modal-layer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@L["Layer:AddActivityType"].Value <span class="tree-view" style="font-weight:bold;font-size:12px;">(Layer)</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="required">@L["Layer:ActivityTypeName"].Value: </label>
                    <input id="nameLayer" type="text" name="Name-Layer" class="form-control" />
                </div>
                <div class="row ">
                    <div class="col-md-6 form-group">
                        <label>
                            <input type="radio" name="optionsLayer" value="1" checked>
                            @L["Layer:CreateAllDataFields"].Value
                        </label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>
                            <input type="radio" name="optionsLayer" value="2" />
                             @L["Layer:InheritExistingActivityType"].Value
                        </label>
                        <select class="layerdata">
                            <option value="0">---@L["Layer:SelectActivityType"].Value---</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@L["Layer:Close"].Value</button>
                <button id="btnSaveFolderLayer" type="button" class="btn btn-primary">@L["Layer:Save"].Value</button>
            </div>
        </div>
    </div>
</div>*@

<div id="Modal-layer" class="Modal-layer content-section">
    <div class="toogle-content-section" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["Layer:Close"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
    </div>
    <div class="content-section-header">
        <span>@L["Layer:AddActivityType"].Value</span>
    </div>
    <div class="modal-body-content">
        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" name="Name-Layer" data-name="@L["Layer:ActivityTypeName"].Value" data-required="true" id="nameLayer" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:ActivityTypeName"].Value <span class="required"></span></span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="optionsLayer" id="CreateAllDataFields" value="1" class="custom-control-input" checked>
                    <label class="custom-control-label" for="CreateAllDataFields">@L["Layer:CreateAllDataFields"].Value </label>
                </div>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="optionsLayer" id="InheritExistingDataLayer" value="2" class="custom-control-input">
                    <label class="custom-control-label" for="InheritExistingDataLayer">@L["Layer:InheritExistingActivityType"].Value</label>
                </div>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <select class="layerdata">
                </select>
                <span class="placeholder">@L["Layer:SelectActivityType"].Value</span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal">
                <select multiple="multiple" class="form-control danh-sach-lop-du-lieu-modal-layer" id="idDirectory-model-layer"></select>
                <span class="placeholder">@L["Layer:DataLayer"].Value <span class="required"></span></span>
            </div>
        </div>

    </div>

    <div class="modal-footer-content">
        <div class="d-flex">
            <button type="button" class="btn-close-content btn btn-danger">@L["Layer:Close"].Value</button>
            <button type="button" class="btn btn-secondary" id="btnSaveFolderLayer">@L["Layer:Save"].Value</button>
        </div>
    </div>
</div>