﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L
<!-- Modal -->
<div id="exampleModal-folder" class="exampleModal-folder content-section">
    <div class="toogle-content-section" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["Layer:Close"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
    </div>
    <div class="content-section-header">
        <span>@L["Layer:AddNewFolder"].Value</span>
    </div>
    <div class="modal-body-content">
        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" data-name="@L["Layer:FolderName"].Value" name="Name" data-type="string" data-required="true" id="nameFolder" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:FolderName"].Value <span class="required"></span></span>
            </div>
        </div>
    </div>

    <div class="modal-footer-content">
        <div class="d-flex">
            <button type="button" class="btn-close-content btn btn-danger">@L["Layer:Close"].Value</button>
            <button type="button" class="btn btn-secondary" id="btnSaveFolder">@L["Layer:Save"].Value</button>
        </div>
    </div>
</div>