﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@using Microsoft.AspNetCore.Authorization
@using IoT.HTKT.Permissions
@using Microsoft.Extensions.Configuration
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.HTKT.Web.Menus
@model IoT.HTKT.Web.Pages.HTKT.Activity.IndexModel

@inject IStringLocalizer<HTKTResource> L
@inject IAuthorizationService Authorization
@inject IConfiguration config
@inject IPageLayout PageLayout
@{
    //Layout = "~/Themes/Lepton/Layouts/KhaiThac/Default.cshtml";
    PageLayout.Content.Title = L["Menu:Activity"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:HTKT"].Value);
    PageLayout.Content.MenuItemName = HTKTMenus.Activity;
    ViewBag.Title = L["Menu:Activity"].Value;
}

<div class="div-content card">
    <div class="left-tree">
        <div class="map-side-form show" style="background-color: inherit;">
            <div class="form-inner content-side">
                @*<div style="padding: 0px 3px; text-align: right; display:none;">
                        @if (await Authorization.IsGrantedAsync(HTKTPermissions.TypeActive.Create))
                        {
                            <button class="btnDiv1" id="addFolder" type="button" title="@L["Layer:AddNewFolder"].Value">
                                <img src="/images/Icon-CreateFolder.svg" />
                            </button>
                        }
                        @if (await Authorization.IsGrantedAsync(HTKTPermissions.TypeActive.Delete))
                        {
                            <button class="btnDiv1" id="btnDeleteFolder" title="@L["Layer:RemoverFolder"].Value">
                                <img src="/images/Icon-DeleteLayer.svg">
                            </button>
                        }

                        @if (await Authorization.IsGrantedAsync(HTKTPermissions.TypeActive.Create))
                        {
                            <button class="btnDiv1" id="addLayer" type="button" title="@L["Layer:AddActivityType"].Value">
                                <img src="/images/Icon-CreateLayer.svg">
                            </button>
                        }

                        <button class="btnDiv1">
                            <img src="/images/Icon-CreateUser.svg">
                        </button>
                    </div>*@
                <div class="form-header">
                    <span style="font-size:14px;">@L["Layer:ActivityTypeName"].Value</span>
                </div>
                <div class="form-body active">
                    <div class="content-search-tree">
                        <div class="w-100">
                            <input type="text" class="search-tree form-control" placeholder="@L["Activity:InputActivityName"].Value" />
                        </div>
                        <div class="div-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs></defs>
                                <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                                <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                            </svg>
                        </div>
                    </div>

                    <div class="scroll-content">
                        <div class="content-form">
                            <div id="checkTree" style="display:none;"></div>
                            <ul class="tree-o-i">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="map-view">
        <div class="menuMap">
            <a href="javascript:;" class="notFocus take-picture list-object-content-brand" id="hideTree" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:ClosePanel"].Value" title="">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" style="cursor: pointer;">
                    <defs></defs>
                    <g transform="translate(1988 32)">
                        <g transform="translate(-1988 -32)">
                            <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                            <path style="fill: var(--primary)" class="b" d="M7.828,11H30v2H7.828l5.364,5.364-1.414,1.414L4,12l7.778-7.778,1.414,1.414Z"></path>
                        </g>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -28)"></rect>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -14)"></rect>
                    </g>
                </svg>
            </a>
            <div class="right-line-horizel"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" data-type="1" id="addFolder" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["Layer:AddNewFolder"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18">
                    <path id="Path_6541" data-name="Path 6541" d="M12.414,5H21a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3h7.414ZM4,5V19H20V7H11.586l-2-2Zm7,7V9h2v3h3v2H13v3H11V14H8V12Z" transform="translate(-2 -3)" fill="rgba(0,0,0,0.56)" />
                </svg>

            </a>
            <div class="right-line-horizel"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" data-type="2" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["Layer:EditNameFolder"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17.971" viewBox="0 0 18 17.971">
                    <path id="Path_6611" data-name="Path 6611" d="M5,19H6.414l9.314-9.314L14.314,8.272,5,17.586Zm16,2H3V16.757L16.435,3.322a1,1,0,0,1,1.414,0l2.829,2.829a1,1,0,0,1,0,1.414L9.243,19H21ZM15.728,6.858l1.414,1.414,1.414-1.414L17.142,5.444,15.728,6.858Z" transform="translate(-3 -3.029)" fill="rgba(0,0,0,0.56)" />
                </svg>
            </a>
            <div class="right-line-horizel-primary"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" data-type="3" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["Activity:AddNewActivity"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM11,11V8h2v3h3v2H13v3H11V13H8V11Z"></path>
                </svg>
            </a>
            <div class="right-line-horizel"></div>

            <div class="right-line-horizel-primary"></div>

            <a href="javascript:;" class="action-menu list-object-content-brand" data-type="6" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["Activity:DeleteFolderOrAcitivity"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M20,7V21a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V7H2V5H22V7ZM6,7V20H18V7ZM7,2H17V4H7Zm4,8h2v7H11Z"></path>
                </svg>
            </a>
        </div>
        <div class="w-100 content-right">

            <div class="black-drop-content"></div>
            <partial name="_ModelFolder.cshtml" />
            <partial name="_ModelLayer.cshtml" />
            <div class="card-body content-count-directory">
                <span> @L["ManagementLayer:DataUseMost"].Value</span>
                <div class="content" style="min-height: unset;padding-bottom: 0;">
                    <div class="menu-right">
                        <div class="file-upload-content">
                        </div>
                    </div>
                </div>
            </div>
            <div id="div2">
                <div class="w-100 content-input-form">
                    <div id="h5NameData"></div>
                    <div class="w-100 form-input-properties">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group form-group-modal tablelayer">
                                    <input autocomplete="off" type="text" required="" data-name="@L["Layer:ActivityName"].Value" id="DataName" value="" class="form-control modal-layer form-style" placeholder="">
                                    <span class="placeholder">@L["Layer:ActivityName"].Value <span class="required"></span></span>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group form-group-modal tablelayer">
                                    <input autocomplete="off" type="text" required="" data-name="@L["Layer:InheritanceAcvitityType"].Value" id="NameImplement" value="" class="form-control modal-layer form-style" placeholder="" disabled>
                                    <span class="placeholder">@L["Layer:InheritanceAcvitityType"].Value</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group form-group-modal tablelayer">
                                    <input autocomplete="off" type="text" required="" data-name="@L["Layer:AcvitityTypeCode"].Value" id="DataCode" value="" class="form-control modal-layer form-style" placeholder="">
                                    <span class="placeholder">@L["Layer:AcvitityTypeCode"].Value <span class="required"></span></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group form-group-modal tablelayer">
                                    <select multiple="multiple" class="form-control danh-sach-lop-du-lieu" id="IdDirectory"></select>
                                    <span class="placeholder">@L["Layer:DataLayer"].Value <span class="required"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="color: #000;margin:10px 0;text-transform: uppercase; font-weight:600;">
                        @L["Layer:PropertyTable"].Value
                    </div>
                    <!--Table layer-->
                    <partial name="_TableActive.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_ModalList.cshtml" />
@section styles {
    <link href="~/Pages/HTKT/Activity/left-menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/common/custom-design.css">
}
@section scripts{
    <script src="~/Pages/HTKT/Activity/index-activity.js"></script>
    <script src="~/Pages/HTKT/Activity/tablelayer.js"></script>
    @*<script src="~/libs/select2/js/i18n/vi.js"></script>*@
    <script>
        mn_selected = "mn_activity";
        var l = abp.localization.getResource('HTKT');

        var splitter, cont1, cont2;
        var last_x, window_width;
        var json = [];      // list dạng tree - parent/children
        var item;
        var thisId;
        var parentId;
        var parenWillFocus;
        var model;
        var level;
        var listFolder; // list dạng mảng
        var lstForlerDelete = [];

        var TVlstLayerPermission = JSON.parse('@Html.Raw(Json.Serialize(Model.ListLayer))');
        var TVlstIdLayer = JSON.parse('@Html.Raw(Json.Serialize(Model.ListIdLayer))');
        var TVisAdmin = '@Model.IsAdmin';

    </script>
}