﻿input:disabled, input:read-only {
    cursor: not-allowed;
}

.inputSize {
    height: 34px;
    font-size: 13px;
    width: 200px;
    margin-top: 10px;
    float: left;
    margin-right: 5px;
}

.menuMap {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    background: #E5E5E51A 0% 0% no-repeat padding-box;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    z-index: 2;
}

    .menuMap a {
        text-decoration: none;
        height: 60px;
        width: 65px;
        line-height: 2.5;
        text-align: center;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        color: #000;
    }

        .menuMap a img,
        .menuMap a svg {
            display: block;
            margin: 0 auto;
        }

    .menuMap .right-line-horizel {
        width: 1px;
        background: #E5E5E5 0% 0% no-repeat padding-box;
        height: 42px;
    }

    .menuMap .right-line-horizel-primary {
        width: 1px;
        background: var(--primary) 0% 0% no-repeat padding-box;
        height: 42px;
    }

    .menuMap .change-tile-map .content-icon-menu svg {
        display: unset;
        margin: unset;
    }

    .menuMap .change-tile-map .content-icon-menu span {
        margin-left: 5px;
    }

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.btnDiv1 {
    float: right;
    width: 48px;
    height: 48px;
    padding: 5px;
    margin: 10px 5px;
    border: 0;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}

.tdTitle {
    width: 107px;
    padding-top: 19px;
}

#tree {
    margin-top: -23px;
    margin-left: -23px;
    margin-right: -23px;
}

.table th {
    /*color: white;*/
    /*background-color: #2D80B8;*/
    text-align: center;
}


.btnDiv1#addFolder[disabled], .btnDiv1#addFolder[disabled]:hover {
    cursor: no-drop;
    background-color: #3c8dbca6;
}


.btnDiv1#addPermissionLayer[disabled], .btnDiv1#addPermissionLayer[disabled]:hover {
    cursor: no-drop;
    background-color: #3c8dbca6;
}


.Modal-layer span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

/*    .Modal-layer .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 20px;
    }*/

.detail-property1 {
    z-index: 99 !important;
}

.skin-blue .wrapper {
    background-color: #fff;
}

.spinner {
    display: block;
}

.required:after {
    content: " *";
    color: red;
}

.content-wrapper {
    position: static !important;
}

.left-tree .title {
    font-size: 16px;
    font-weight: 700;
}

.item-li {
    display: flex;
    /*color: #000;*/
    width: 100%;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    color: inherit;
}

.content-form ul {
    list-style-type: none;
    font-size: 13px;
    padding-left: 1.5rem;
}

    .content-form ul li {
        position: relative;
        margin: 0;
        padding: 0;
    }

.ul-border > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.item-li.active {
    background: var(--forcus)!important;
    font-weight: 600;
}

.dynatree-lastsib > ul > li {
    border-bottom: 1px solid #ddd;
}

.content-form .pull-left-container {
    width: 24px;
    text-align: center;
}

.content-form .title-item {
    text-align: left;
    display: flex;
    letter-spacing: 0px;
    opacity: 1;
    align-items: flex-start;
    position: relative;
    width: 100%;
    font-size: 14px;
}

    .content-form .title-item svg {
        width: 10%;
    }

.name-layer-item, .name-folder-parent {
    padding-left: 5px;
    width: 90%;
}
.li-has-chil {
    border-bottom: 1px solid #ddd;
}

.icon-menu-tree {
    font-weight: 600;
}

    .icon-menu-tree.open {
        -webkit-transform: rotate( 90deg );
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg );
    }

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.title-item img {
    width: 24px;
    text-align: center;
    border-style: none;
}

.title-item i {
    width: 24px;
    font-size: 17px;
    text-align: center;
    border-style: none;
    color: rgb(238, 70, 34);
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 15px;
    width: 15px;
    /*background-color: #eee;*/
    border: 1.5px solid #000;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: rgb(238, 70, 34);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: rgb(238, 70, 34);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg );
}

.panel-heading a {
    text-align: left;
    /*font: normal normal normal 14px/19px Roboto;*/
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
}

.map-side-form .form-header {
    letter-spacing: 0px;
    color: #000000DD;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-search-tree {
    /*font: normal normal normal 14px/19px Roboto;*/
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
}

/*btn style data information*/

.btn-style {
    background-color: #fff;
    color: #707070 !important;
    border: solid 1px #707070 !important;
    border-radius: 3px !important;
    width: 105px;
    text-align: left;
    padding-left: 13px;
}

.tablelayer {
    text-align: left;
    /*font: normal normal normal 14px/19px Roboto;*/
    letter-spacing: 0px;
    opacity: 1;
}

.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

#div2 {
    height: 100%;
    overflow: hidden;
    padding: 10px;
    display: none;
    position: relative;
}

    #div2.open {
        display: block;
    }

.range-slide {
    position: relative;
    margin: 10px;
    height: 5px;
    width: 100%;
    margin-left: 0px;
}

.slide {
    position: absolute;
    top: 0;
    height: 2px;
    background: #ccc;
    left: 0;
    right: 0px;
    width: 60%;
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    background-color: var(--primary);
}

.thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 50%;
    outline: none;
    top: -5px;
    height: 12px;
    width: 12px;
    margin-left: -9px;
}

.inputRange {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    /*pointer-events: none;*/
    z-index: 3;
    height: 2px;
    top: 0;
    width: 60%;
    opacity: 0;
    margin: 0;
}

    .inputRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
        border-radius: 50%;
        cursor: pointer;
        width: 12px;
        height: 12px;
    }

.display {
    margin: auto;
    width: 100%;
    position: absolute;
    top: -8px;
    justify-content: flex-end;
    display: flex;
}

#rangeMin {
    width: 80%;
    left: 55px;
}

#rangeMax {
    width: 80%;
    left: 60px;
}

.image-container-new {
    width: 200px;
    height: 150px;
    display: inline-block;
    border: 1px solid #ccc;
}

.custom-file-upload {
    margin-left: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 5px;
    border-radius: 0px;
    width: 200px;
    bottom: 0px;
    z-index: 999;
    background-color: #3c8dbc;
    color: white;
    margin-bottom: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}

.header-info {
    margin-top: 0px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
}

.box-action {
    background-color: #ecf0f5;
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

    .box-action .btn {
        padding: 2px 10px;
        margin-right: 5px;
        font-size: 13px;
        width: 30%;
        border: none;
        outline: none;
    }

.col-title {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    padding-right: -12px;
    border-right: solid 1px #fff;
    padding-right: 1px;
}

.row.file-item {
    padding: 10px 0px;
    text-align: left;
    border-bottom: solid 1px #ecf0f5;
}

.col-md-2.icon-item {
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    margin: auto;
}

    .col-md-2.icon-item img {
        display: block;
        margin-left: 0;
        margin-right: auto;
        width: 40px;
    }

.col-md-8.title-item {
    word-break: break-all;
    text-align: left;
}

.fileUploadedArea {
    padding: 10px 20px;
    background: #f6f6f6;
    box-shadow: #0000003d 0px 3px 8px;
}

.file-conten-title {
    width: 100%;
}

#file-name {
    float: left;
}

#file-size {
    float: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}

/*------------------------------------------------------------------------------------------------*/
.detail-property1 {
    display: block;
    position: absolute;
    z-index: 1039;
    right: 0px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.075);
    width: 372px;
    box-shadow: 0px 4px 4px #00000040;
    animation: movein 1s;
    top: 10px;
}

    .detail-property1 .toggle-detail-property, .phanTop .toggle-detail-property {
        left: 5px;
        float: left;
        position: initial;
    }

.toggle-detail-property > span {
    color: #fff;
    font-size: 20px;
    z-index: 1;
}

.detail-property1.detail-property-collapse {
    animation: moveout 1s;
    /*right: -450px;*/
}

.detail-property-header {
    color: #FCFCFC;
    line-height: 30px;
    padding: 5px 10px;
    height: 40px;
    background: var(--primary);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    transform: translateX(-1px);
    display: none;
}

.toggle-detail-property {
    position: absolute;
    z-index: 111;
    height: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.detail-property-header span {
    font-size: 16px;
    font-weight: 600;
    /*font: normal normal bold 16px/21px Roboto;*/
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 1;
}

.detail-property-body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: #EDEDED;*/
    overflow-x: hidden;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}

.modal-info-right ul {
    border-bottom: 0px !important;
    background: #fff;
}

    .modal-info-right ul li {
        padding: 12px 5px;
        border-bottom: 1px solid #ddd;
    }

        .modal-info-right ul li:last-child {
            border-bottom: 0px !important;
        }

.detail-property-content {
    float: left;
    display: none;
    padding: 0px;
    width: calc(100% - 30px);
    color: #000;
}

.section.section-info {
    padding: 10px;
    box-shadow: none;
    background: #FFFFFF;
    min-height: calc(100vh - 140px);
}

.detail-property-content h4 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.modal-info-right {
    float: right;
    width: 30px;
    height: 100%;
    /*padding: 5px 0px 5px 0px;*/
    border: 1px solid #ddd;
    /*height: calc(100vh - 130px)*/
}

.choosenFile {
    width: 100%;
    margin-bottom: 0px;
}

    .choosenFile a.btn {
        background-color: #fff;
        color: #444;
        border-color: #999;
        width: 100%;
        transform: translateY(-10px);
        font-size: 14px;
        border-radius: 0px;
    }

.section-info .btn-save-properties-info, .section-info .btn-save-properties {
    /* position: absolute; */
    right: 5px;
    bottom: 5px;
    padding: 8px 22px;
    /*        background: transparent;*/
    border-radius: 3px;
    border: solid 1px #707070;
    transition: 0.1s ease-in;
}

.btn-green {
    background-color: #0CA501 !important;
    color: #FFF;
    border: 0px !important;
}

.form-control-QTSC {
    width: 100%;
    display: block;
    height: 48px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.li-modal-data-right a {
    padding-left: 10px !important;
    font-size: 12px;
}

.li-modal-data-right.active > a:focus, .li-modal-data-right.active > a:hover, .li-modal-data-right.active > a {
    color: #1d4f72 !important;
}

.profile-avatar {
    background: #FFF;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: #333;
    box-shadow: 0px 3px 6px #00000029;
}

    .profile-avatar img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .profile-avatar .icon {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100px;
        background: #000000A8;
        transition: all 0.1s ease-in;
        opacity: 0;
    }

    .profile-avatar:hover .icon {
        color: #d2d6de;
        opacity: 1;
    }

    .profile-avatar .icon i {
        font-size: 25px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: 6rem;
        margin: 0;
    }

.content-search-tree {
    display: flex;
    width: 100%;
    float: left;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding: 1rem;
    padding-bottom: 0;
}

.search-tree {
    width: 100%;
    height: 48px;
    padding: 13px 9px;
    border-radius: 4px 0px 0px 4px;
}

.content-search-tree .div-icon {
    width: 20%;
    float: left;
    text-align: center;
    height: 48px;
    background: var(--primary);
    border-radius: 0px 4px 4px 0px;
}

    .content-search-tree .div-icon svg {
        margin: 12px 12px;
    }

body.lp-topmenu {
    overflow-y: hidden;
}
/*--------layer count------*/
.map-view .content {
    display: block;
    overflow-y: auto;
    margin: 24px 0 0 0;
    padding: 0;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 6px;
}

.file-upload-content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.div-border {
    width: 280px;
    height: 280px;
    position: relative;
    /* background-color: #6da8cb; */
    margin: 0px 3px 5px 3px;
    cursor: pointer;
    border: 1px solid #dee2e6;
    border-radius: 12px;
}

.content-layer {
    position: absolute;
    top: 30%;
    margin: 0;
    width: 100%;
}

.svg-avatar, .image-avatar {
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
}

.name-avatar {
    margin-top: 24px;
    letter-spacing: 0px;
    color: #000000DE;
}

    .name-avatar span {
        text-transform: unset;
    }

.card-body span {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
/*8***********/
.entry-row, #AbpContentToolbarQTSC {
    border: 1px solid #E5E5E5 !important;
    display: none;
}

span.placeholder {
    left: 20px;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > th,
.table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > tfoot > tr > td {
    border: 1px solid #E5E5E5;
}

.content-input-form {
    padding: 10px;
    box-shadow: 0 0 6px #00000029;
    border-radius: 6px;
    position: relative;
    height: calc(100vh - 145px);
    overflow-y: auto;
    overflow-x: hidden;
}
/*content form*/
.content-section {
    position: absolute;
    z-index: 2;
    height: 100%;
    background-color: #fff;
    width: 371px;
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
    box-shadow: 0px 4px 4px #00000040;
    animation: movein 1s;
    transition: all 0.7s ease;
    top: 0;
    left: -400px;
}

    .content-section.open {
        left: 0;
    }

.content-section-header {
    line-height: 40px;
    padding: 5px 10px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    text-align: left;
    width: 100%;
}

    .content-section-header span {
        font-size: 15px;
    }

.toogle-content-section, .phanTop .toogle-content-section {
    right: 5px;
    float: right;
    position: initial;
}

.toogle-content-section {
    position: absolute;
    z-index: 111;
    height: 50px;
    width: 35px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section .modal-body-content {
    height: calc(100vh - 235px);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-section .modal-footer-content {
    padding: 10px;
}

.content-section .modal-body-content span.placeholder {
    left: 10px;
}

.content-section .modal-footer-content button {
    width: 100%;
    margin-right: 5px;
    height: 48px;
}

.black-drop-content {
    background: #000;
    display: none;
    opacity: .5;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
}

#Modal-layer span.select2-selection.select2-selection--single {
    padding: 3px 10px;
}

#Modal-layer .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
#Modal-layer .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border: 1px solid var(--primary);
}

.content-right {
    height: calc(100vh - 125px);
    overflow: hidden;
    position: relative;
}

/*.menuMap .list-object-content-brand.isForcus svg path {
    fill: var(--primary);
}
*/
.action-menu.disabled {
    cursor: no-drop;
    opacity: 0.3;
    background: none;
    pointer-events: auto;
}

.form-control[readonly], .custom-select[readonly], .custom-file-label[readonly] {
    border: 1px solid #E5E5E5;
}

.form-control[readonly], .custom-select[readonly], .custom-file-label[readonly] {
    background: #FFF;
}

    .form-control[readonly]:focus, .form-control[readonly]:active, .form-control[readonly]:visited, .custom-select[readonly]:focus, .custom-select[readonly]:active, .custom-select[readonly]:visited, .custom-file-label[readonly]:focus, .custom-file-label[readonly]:active, .custom-file-label[readonly]:visited {
        border: 1px solid #E5E5E5;
    }

/*setting layer*/
.title-li-tab ul {
    border-radius: 4px;
    opacity: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 48px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#modal-setting-layer .title-li-tab .nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background: var(--primary);
}

#modal-setting-layer .title-li-tab .nav-tabs .nav-item .nav-link {
    padding: .813rem 1.5rem;
}

#modal-setting-layer .title-li-tab .nav-tabs .nav-item {
    width: 100%;
    background: #FFF;
}

#pills-body-config, #pills-body-info {
    height: 100%;
}

    #pills-body-config .body-content,
    #pills-body-info .body-content {
        height: calc(100vh - 285px);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
    }

#modal-setting-layer .modal-body-content {
    padding: 0;
    /*height: calc(100vh - 235px);*/
    height: 100%;
    overflow-y: hidden;
}

#modal-setting-layer .modal-footer-content .d-flex {
    place-content: flex-end;
}

#modal-setting-layer .footer-content button {
    width: 120px;
    height: 48px;
}

.footer-content {
    padding: 10px;
}

#strokeText,
#fillText {
    width: 67%;
}

#strokeColor,
#fillColor {
    padding: 0px;
    border: 0;
    height: 48px;
    width: 25%;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: var(--primary);
}

#strokeinput,
#fillInput {
    padding: 0px;
    border: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 45px;
    top: 20px;
}

.form-button-upload label {
    font-size: 15px;
    float: left;
    padding-top: 11px;
    border-radius: 4px;
    height: 48px;
}

.file-object-content {
    display: flex;
    height: 48px;
    background: #00559A0D;
    align-content: center;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    place-content: center;
}

.icon-file-obj {
    width: 20%;
    text-align: start;
}

.name-file-obj {
    width: 60%;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.action-file-obj {
    width: 20%;
    text-align: end;
    cursor: pointer;
}

.content-errors-file-obj .text-danger {
    font-style: italic;
}

.box-list {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 10px;
    padding-right: 0;
}

/*custom sweetalert*/
.swal-overlay--show-modal .swal-modal {
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #FFF;
    transition: unset;
}

.swal-modal .swal-icon {
    display: none;
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #FFF;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }



.content-wrapper {
    position: relative;
}

.content {
    display: flex;
    padding: 15px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.map-side-form .form-inner {
    position: relative;
    overflow-y: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-main {
    /*margin-bottom: 10px;*/
}

/*.map-side-form .form-header {
    position: relative;
    padding: 1.5rem 10px;
    border-bottom: 1px solid #ddd;
    color: #FFF;
    padding: 2rem 2.4rem;
    background-color: rgb(238, 70, 34);
}*/

.map-side-form .form-header h4 {
    font-size: 1.125rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    width: 85%;
}


.map-side-form .form-body {
    /*padding-top: 1.56rem;*/
    flex: 1;
    display: none;
    font-weight: 500;
    flex-direction: column;
    overflow-y: hidden;
}

.form-body.active {
    display: flex;
    animation: opac .4s ease-out;
}


.map-container {
    height: 100%;
    width: 74.5%;
    display: block;
    padding: 0px;
    width: calc(100%) !important;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#checkTree {
    height: calc(100vh - 95px);
}

@keyframes opac {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.map-side-form .scroll-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0 .5rem;
    /*margin: 0rem -0.5rem 2.5rem 0rem;*/
}

.route-item-detail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    background-color: #ffffff;
    z-index: 6;
    display: flex;
    flex-direction: column;
}

    .route-item-detail.show {
        transform: translateX(0);
    }

    .route-item-detail .form-header .close {
        background: none;
        border: 0;
        padding: 0;
        outline: 0;
        color: #ffffff;
        position: absolute;
        right: 1.56rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        font-size: 1.3rem;
    }

.small-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.small-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}


.small-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.small-7 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.small-8 {
    flex: 0 0 74.333333%;
    max-width: 74.333333%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

    .small-8 p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

.choose-content-route-busstop-info {
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.15);
    background-color: #ffffff;
}

    .choose-content-route-busstop-info ul {
        display: inline-block;
        margin: 3px;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }

        .choose-content-route-busstop-info ul li {
            display: inline;
            color: #3597E4;
        }

.num-busstop-button {
    display: inline-block;
    text-align: center;
    width: 49%;
    border-radius: 0.25rem;
    line-height: 3rem;
    background-color: #ffffff;
    border-radius: 12px;
    color: #777777;
    cursor: pointer;
    font-weight: 500;
}

    .num-busstop-button.active {
        background-color: rgba(52,182,122,0.07);
        color: #3597E4;
    }

.content-list-info {
    display: none;
}

    .content-list-info.active {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

@media (max-width: 420px) {
    .map-side-form {
        width: 90%;
        left: -90%;
    }

        .map-side-form.show {
            left: 0%;
        }

    p {
        font-size: 1rem;
    }

    .sidebar-enable .map-side-form.show {
        margin-left: 0px;
    }
}


/*.bg-main {
    z-index: 999;
}*/

.map-side-form {
    transition: all 0.5s ease;
    bottom: 0;
    width: 0;
    background-color: #ffffff;
}

.left-side-menu {
    z-index: 2;
}

.left-tree {
    height: 100%;
    margin-right: 5px;
    position: relative;
    /*border: 1px solid #E5E5E5;*/
    border-top: 0;
    box-shadow: 0px 0px 6px #00000029;
    transition: all 0.7s ease;
}

    .left-tree .tree-o-i {
        height: calc(100vh - 190px);
        margin: 0;
        padding: 0;
    }


.map-view {
    width: 100%;
    /*border: 1px solid #E5E5E5;*/
    border-top: 0;
    /*box-shadow: 0px 0px 6px #00000029;*/
    position: relative;
    transition: all 0.5s ease;
}

.content-page {
    padding: 0;
    min-height: unset;
    margin-top: unset;
}

.map-side-form.show {
    width: 310px;
}

.map-side-form #btn-side-form-toggle {
    border: 0;
    outline: 0;
    position: absolute;
    right: -3.2rem;
    top: 0;
    width: 3.2rem;
    height: 4.2rem;
    box-shadow: 0.19rem 0 0.375rem 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    border-top-right-radius: 0.31rem;
    border-bottom-right-radius: 0.31rem;
}


#map4d {
    height: 100%;
    width: 100%;
}

.map-side-form .icon-show {
    display: none;
}

.map-side-form .icon-hide {
    display: block;
}

.map-side-form.show .icon-show {
    display: block;
}

.map-side-form.show .icon-hide {
    display: none;
}

.head-case-login {
    width: 100%;
    color: #3597E4;
    background-color: #FFF;
    font-size: 1.5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.tab-content-side {
    border: none;
    outline: none;
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
    width: 49%;
    /* background-color: #FFF; */
    cursor: pointer;
}

    .tab-content-side.active {
        border-bottom: 3px solid #3597E4;
    }

input:focus {
    outline: none;
}

.enlarged .content-page {
    padding: 0px;
    margin-top: unset;
}

.div-headingTwo .b {
    fill: #FFF !important;
}

.item-li:hover, .item-li:active, .item-li:focus {
    font-weight: 600;
}

.item-li.forcus {
    background: var(--forcus) !important;
    font-weight: 600;
    font-style: italic !important;
}

@media (max-width: 767.98px) {
    .content-page, .enlarged .content-page {
        margin-left: 0 !important;
        padding: 0 0px;
    }

    .map-side-form {
        margin-left: 0px;
        min-width: unset;
    }

    body {
        padding: 0;
    }

    .enlarged .map-side-form {
        margin-left: 0px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(158, 165, 171);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(158, 165, 171);
    }

a:hover {
    text-decoration: none !important;
    color: inherit;
}

/*style checkbox tablelayer*/

.checkboxmark {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18px;
    width: 18px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #717171;
}

.table-checkbox input:checked ~ .checkboxmark, .button-checkbox-all input:checked ~ .checkboxmark-all {
    border: 2px solid var(--primary);
}


input.editcheckbox {
    height: 0;
    width: 0;
}

/* On mouse-over, add a grey background color */
/*.table-checkbox:hover input ~ .checkboxmark {
    background-color: rgb(238, 70, 34);
}*/

/* When the checkbox is checked, add a blue background */
.table-checkbox input:checked ~ .checkboxmark {
    background-color: rgb(238, 70, 34);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.table-checkbox input:checked ~ .checkboxmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.table-checkbox .checkboxmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg );
}


#div2 .checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4.3px;
    margin-left: 5px;
}

.map-view .hidden {
    display: none !important;
}

.map-view .dtc-list-selected > li:hover {
    cursor: pointer;
}

.map-view .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--primary);
}

.map-view .select2-container--default.select2-container--focus + span.placeholder {
    color: var(--primary);
}

.map-view .select2-container--default .select2-results > .select2-results__options {
    border: 1px solid var(--primary);
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid var(--primary) !important;
    border-top: none !important;
}

.select2-container--below select2-container--focus + span.placeholder {
    transform: scale(0.8) translateY(-24px);
    background: #fff;
    color: var(--primary);
}

.map-view .select2-container--default.select2-container--focus + span.placeholder
.map-view .select2-container--default.select2-container--open + span.placeholder {
    transform: scale(0.8) translateY(-24px);
    background: #fff;
    color: var(--primary);
}

.map-view .select2-container .select2-search--inline .select2-search__field {
    height: 30px;
}

.map-view .select2-container--default .select2-selection--multiple .select2-selection__choice,
.map-view .select2-container--default .select2-selection--single .select2-selection__choice {
    padding: 5px 10px;
    background: #E3E3E3 0% 0% no-repeat padding-box;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
}


.map-view .select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.map-view .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.map-view .select2-container--default .select2-selection--single .select2-selection__choice__remove,
.map-view .select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-left: 6px;
    margin-top: 5px;
    margin-right: 0;
}

.map-view .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #5D5D5D;
    text-align: center;
    color: #FFF !important;
    margin-top: 3px;
    line-height: 12px;
}

.content-input-form .select2-selection__rendered {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.content-input-form .select2-selection__clear {
    display: none;
}

/*table properties*/

    .table-layer table {
        font-size: 14px;
    }

.table-layer .form-control {
    width: 100%;
    margin: 0px !important;
    padding-left: 10px !important;
    height: 35px;
}

.table-layer input.form-control {
    min-width: 150px;
}

.table-layer td[data-code~="CodeProperties"] {
    width: 20%;
    min-width: 150px !important;
    max-width: 150px !important;
}

.table-layer td[data-code~="NameProperties"],
.table-layer td[data-code~="DefalutValue"],
.table-layer td[data-code~="ShortDescription"] {
    width: 10%;
    min-width: 150px !important;
    max-width: 150px !important;
}

.input-default {
    padding-left: 10px !important;
}

.table-layer tr.notedit {
    background: rgba(255, 255, 255, 0.075);
    height: 35px;
}

    .table-layer tr.notedit td div {
        min-height: 35px;
        line-height: 35px;
        padding-left: 10px;
    }

.table-layer tr.active {
    background: #76b0e9;
}

.table-layer .editinput {
    width: 100%;
    min-height: 35px;
    line-height: 35px;
    padding-left: 10px;
}

.table-layer .ButtonRow {
    height: 48px;
    text-align: center;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
    opacity: 1;
    border: 0px;
}

.table-layer .SaveProperties {
    width: 120px;
}

.table-layer .AddRow span {
    /*font: normal normal bold 14px/19px Roboto;*/
    letter-spacing: 0px;
    color: var(--primary);
    opacity: 1;
}

.table-layer .AddRow:hover {
    background: var(--primary);
}

    .table-layer .AddRow:hover span,
    .table-layer .AddRow:hover path#Path_6615 {
        color: #FFF;
        fill: #FFF;
    }

.table-layer .AddRow {
    border: 1px solid var(--primary);
}

.table-layer .table td, .table-layer .table th {
    padding: 3px;
    vertical-align: middle;
}

.panel-default {
    margin-bottom: 5px;
    border-radius: 4px;
    margin-top: 16px !important;
}

.panel-heading {
    color: #FFF;
    background-color: var(--primary);
    border-color: #ddd;
    padding: 10px;
}

.panel-default a {
    color: #FFF;
    cursor: pointer;
}

.SaveProperties {
    width: 70px;
    height: 30px;
    padding: 0px;
    color: #FFF;
    background: #13810B;
}

.unselectable {
    background-color: #ddd;
    cursor: not-allowed;
}

.table-custom {
    padding-top: 0px;
}

#h5NameData {
    letter-spacing: 0px;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px;
    height: 48px;
    font-weight: 600;
    text-align: left;
}

.select2-container--default .select2-search--inline .select2-search__field {
    border: none !important;
}

.table-layer .table td, .table-layer .table th {
    min-width: 45px;
}

.content-count-directory {
    max-height: calc(100vh - 135px);
    overflow-y: auto;
}

.map-side-form .form-header,
.map-side-form .form-body {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

.map-side-form.show .form-header,
.map-side-form.show .form-body {
    visibility: visible;
    opacity: 1;
    transition: all 1.8s ease;
}

.locked-tag .select2-selection__choice__remove {
    display: none !important;
}

/* I suggest to hide  all selected tags from drop down list */
.select2-results__option[aria-selected="true"] {
    display: none;
}