button.btn.btn-primary.btn-sm.dropdown-toggle {
    margin: 10px;
    background-color: #00559A;
    border-color: #00559A;
    height: 48px;
    width: 176px;
}

.dropdown.abp-action-button {
    text-align: center;
}

th.action-th {
    text-align: center;
}

.dropdown-toggle::after {
    margin-left: 4.255em;
}

div#IdentityClaimTypesWrapper {
    background: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    box-shadow: #0000002e 0px 8px 8px;
}

#IdentityClaimTypesWrapper .dataTables_scrollBody {
    min-height: calc(100vh - 321px);
    max-height: calc(100vh - 321px);
}

#AbpContentToolbar, #AbpContentToolbarQTSC, .entry-row {
    display: none;
}

div.search-card {
    display: flex;
}

#IdentityClaimTypesWrapper input.form-control.page-search-filter-text {
    width: 236px;
    border-right: none;
}

#IdentityClaimTypesWrapper .form-control:active {
    border: 2px solid #ebebeb !important;
    border-right: none !important;
}

.page-search-form btn.btn-primary:active, .page-search-form .btn.btn-primary:not(:disabled):not(.disabled):active {
    color: #ebebeb;
    background-color: #fff !important;
    border-color: #ebebeb !important;
}

#newClaimTypebtn {
    width: 272px;
    background: #00559a;
    color: #fff;
    margin-right: 24px;
    margin-left: -10px;
}

.page-search-form .btn.btn-primary {
    color: #ebebeb;
    background-color: #fff;
    border-color: #ebebeb;
    border-left: none;
    box-shadow: none;
}

    .page-search-form .btn.btn-primary:hover {
        color: #adadad;
        background-color: unset;
        border-color: #ebebeb;
    }

.page-search-form .form-control:focus {
    border: 2px solid #ebebeb !important;
    border-right: none !important;
}

.row.entry-row {
    margin: 0;
    background: #fff;
    border-radius: 6px 6px 0 0;
    box-shadow: #00000075 0px 5px 15px;
}

body.lp-topmenu .lp-content {
    padding: 12px;
    overflow-x: hidden;
}

#IdentityClaimTypesWrapper .dataTables_wrapper {
    padding: 14px;
}

#IdentityClaimTypesWrapper .dataTables_scroll {
    border: 2px solid #ebebeb;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
}

#IdentityClaimTypesWrapper .dataTable_footer {
    border-top: none !important;
}

#IdentityClaimTypesWrapper .dataTables_wrapper div.dataTables_length select {
    height: 40px;
}

#IdentityClaimTypesWrapper .dataTables_info {
    line-height: 43px;
}

#IdentityClaimTypesWrapper .card {
    box-shadow: none;
    margin-bottom: 0;
}

#IdentityClaimTypesWrapper table.dataTable thead th {
    background: #0084E90F;
    border-bottom: 2px solid #ebebeb;
    height: 33px;
    font-size: 14px;
    vertical-align: inherit;
    color: #000000DD;
}

tr:not(:last-of-type) {
    border-bottom: 1px dashed #ebebeb;
}

td.stt-th, th.stt-th {
    border-right: 2px solid #ebebeb;
    text-align: center;
}

th.name-th, td.name-th, th.type-th, td.type-th, th.type-th, td.type-th, th.description-th, td.description-th, th.regex-th, td.regex-th, th.required-th, td.required-th, th.isStatic-th, td.isStatic-th {
    border-right: 2px solid #ebebeb;
}

th.regex-th, td.regex-th, th.required-th, td.required-th, th.isStatic-th, td.isStatic-th, th.delete-th, td.delete-th {
    text-align: center;
}

.search-card {
    padding: 24px 24px 11px 24px !important;
    border-radius: 6px 6px 0px 0px;
    display: flex;
}

/*MODAL*/
.modal .modal-content .modal-header {
    padding: 12px 24px;
    background: #fff;
    border-color: #fafafa;
    color: #081449;
    border-bottom: 2px solid #ebebeb;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}

    .modal .modal-content .modal-header .modal-title {
        margin: 8px 0;
        line-height: 1;
        word-break: break-all;
        font-size: 14px;
        text-align: center;
        display: block;
        font-weight: 600;
    }

.modal-footer .btn-danger, .modal-footer .btn-secondary {
    height: 48px;
    width: 100px;
}

.modal-header .close {
    display: none;
}

.modal .modal-content .modal-body .nav-tabs:not(.nav-pills) {
    background: #fff;
}

/*MODAL*/

/*SWAL*/

.swal-modal .swal-icon {
    display: none;
}

.swal-overlay--show-modal .swal-modal {
    box-shadow: 0 0 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #fff;
    transition: unset;
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }

/*SWAL*/

.lp-content.h-100{
    background: #ffffff;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
    .lp-topmenu {
        padding-top: 108px !important;
    }
}