﻿@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageSearchBox
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Navigation
@using Volo.Abp.Identity.Web.Pages.Identity.ClaimTypes
@model IndexModel
@inject IAuthorizationService Authorization
@inject IHtmlLocalizer<IdentityResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ClaimTypes"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityManagement"].Value);
    PageLayout.Content.MenuItemName = IdentityMenuNames.ClaimTypes;
}
@section styles {
    <abp-style src="/Pages/Identity/ClaimTypes/claimtype.css" />
}
@section scripts {
    <abp-script src="/Pages/Identity/ClaimTypes/index.js" />
}
@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}
<div id="IdentityClaimTypesWrapper">
    <abp-card>
        <abp-card-body class="search-card">
            <button id="newClaimTypebtn" name="CreateClaimType" class="btn" type="button" data-busy-text="Đang xử lý...">
                <svg id="Group_3376" data-name="Group 3376" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path id="Path_6614" data-name="Path 6614" d="M0,0H24V24H0Z" fill="none" />
                    <path id="Path_6615" data-name="Path 6615" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="#fff" />
                </svg>
                <span>@L["NewClaimType"].Value</span>
            </button>
            @*<abp-button id="newClaimTypebtn" name="CreateClaimType" text="@L["NewClaimType"].Value" icon="plus"></abp-button>*@
            <abp-row>
                <abp-column>
                    @await Component.InvokeAsync(typeof(AbpPageSearchBoxViewComponent))
                </abp-column>
            </abp-row>
        </abp-card-body>
    </abp-card>
    <abp-table striped-rows="true" class="nowrap"></abp-table>
</div>