﻿@page
@using Microsoft.Extensions.Localization
@using IoT.Geoserver.Localization
@model IoT.Geoserver.Web.Pages.Geoserver.IndexModel
@inject IStringLocalizer<GeoserverResource> L
@{
}
<h1>Geoserver</h1>
<p>@L["SamplePageMessage"]</p>
