/* ALL - START */ 
$themes: (
  'lepton2': (
    'logo': var(--logo),
    'logo-reverse': var(--logo-reverse),
    'base': 12px, 
    'brand': #e90052, 

    'primary': #38003c,
    'secondary': #78497b  ,
    'success': #00b0d6 ,
    'info': #fccb31,
    'warning': #ed5d98,
    'danger': #ba1659,
    'light': #81b9de, 
    'dark': initial,

    'global-text': #000000,
    'global-bg': #ffffff,

    'text-color': #1b1d29,
    'background': #f5f5f5, 

    'sidebar-bg': #38003c,
    'sidebar-bg-gradient': #38003c,
    'sidebar-text': #ffffff, 

    'shadow': (0 1px 20px rgba(56,0,60,.05), 0 1px 3px rgba(56,0,60,.1)),
    'shadow-big': (0 1px 30px rgba(56,0,60,.05), 0 1px 3px rgba(56,0,60,.1)),
    'shadow-sm': (0 1px 10px rgba(56,0,60,.05), 0 1px 3px rgba(56,0,60,.1)),

    'radius':  6px,
  ),
);

@function theme($theme: 'lepton2', $type: 'primary') {
  $map: map-get($themes, $theme);
  @return map-get($map, $type);
}

$theme-name: 'lepton2';

$logo: theme($theme-name, 'logo');
$logo-reverse: theme($theme-name, 'logo-reverse');
$base: theme($theme-name, 'base');
 
$brand: theme($theme-name, 'brand');
$primary: theme($theme-name, 'primary');
$secondary: theme($theme-name, 'secondary');
$success: theme($theme-name, 'success');
$info: theme($theme-name, 'info');
$warning: theme($theme-name, 'warning');
$danger: theme($theme-name, 'danger');
$light: theme($theme-name, 'light');
$dark: theme($theme-name, 'dark'); 
  
$global-text: theme($theme-name, 'global-text');
$global-bg: theme($theme-name, 'global-bg');

$text-color: theme($theme-name, 'text-color');
$background: theme($theme-name, 'background'); 

$sidebar-bg: theme($theme-name, 'sidebar-bg');
$sidebar-bg-gradient: theme($theme-name, 'sidebar-bg-gradient');
$sidebar-text: theme($theme-name, 'sidebar-text'); 

$border-color: rgba($text-color, 0.1);

$shadow: theme($theme-name, 'shadow');
$shadow-big: theme($theme-name, 'shadow-big');
$shadow-sm: theme($theme-name, 'shadow-sm');

$radius: theme($theme-name, 'radius');

:root {
    --logo: url(/images/logo/logo-light.png) !important;
    --logo-reverse: url(/images/logo/logo-dark.png) !important;
    --sidebar-bg: #{$sidebar-bg};
    --brand: #{$brand};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --success: #{$success};
    --info: #{$info};
    --warning: #{$warning};
    --danger: #{$danger};
    --light: #{$light};
    --dark: #{$dark};
    --global-text: #{$global-text};
    --global-bg: #{$global-bg};
    --text-color: #{$text-color};
    --background: #{$background};
    --sidebar-bg: #{$sidebar-bg};
    --sidebar-text: #{$sidebar-text};
    --border-color: #{$border-color};
    --shadow: #{$shadow};
    --shadow-big: #{$shadow-big};
    --shadow-smooth: #{$shadow-sm};
}

@import 'Base/_fonts.scss';
@import 'Base/_variables.scss';
@import 'Base/_mixins.scss';
@import 'Base/_placeholders.scss';
@import 'Base/_datepicker.scss';

@import 'Base/_general.scss';
@import 'Base/_overrides.scss';
@import 'Base/_tables.scss';
@import 'Base/_jstree.scss';

@import 'Common/_header.scss';
@import 'Common/_content.scss';
@import 'Common/_footer.scss';
@import 'Common/Menus/_main_menu.scss';
@import 'Common/Menus/_main_menu_top.scss';


@import 'Custom/_timeline.scss';

@import 'Base/_democolorchange.scss';

@import 'Base/_rtl.scss';

/* ALL - END */


