﻿.gm-style-iw-a {
    position: absolute;
    width: 9999px;
    height: 0;
}

    .gm-style-iw-a .gm-style-iw-t {
        position: absolute;
        width: 100%;
    }

    .gm-style-iw-a .gm-style-iw-c {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        top: 0;
        left: 0;
        transform: translate(-50%,-100%);
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
        border: 1px solid #0876c8
    }

    .gm-style-iw-a .gm-style-iw-d {
        box-sizing: border-box;
        overflow: auto;
    }

.ng-btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    line-height: 1.2;
    padding: 10px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: rgba(22,19,19,1);
    text-align: center;
    background: #fff;
    border: 1px solid cornflowerblue;
    color: #004588;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

div.view-detail-bus-station-on-map {
    background-color: #e6b720;
    width: 100%;
    text-align: center;
    padding: 0.125rem;
    border-radius: 0.1875rem;
    font-size: 1.75rem;
    margin-top: 0.75rem;
    cursor: pointer;
}

.gm-ui-hover-effect {
    opacity: .6;
}

.gm-style-iw-a .gm-style-iw-t::after {
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 5px;
    border-bottom: 1px solid #0876c8;
    border-left: 1px solid #0876c8
}

.close-box-icon {
    background: none;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    user-select: none;
    top: 0px;
    right: -12px;
    width: 30px;
    height: 30px;
}


.enjoy-direction-map {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    text-align: left;
    margin-bottom: 10px;
    /*width: 64px;*/
    padding: 10px;
    border: none;
    color: rgba(22,19,19,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*background: #FaFaF7;*/
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 10ms;
    margin-left: 0px;
    font-size: 16px;
    cursor: pointer;
}

body.map-page #direction-road-modal .modal-dialog {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 15px;
}

.section-action-chip-button {
    width: 80px;
    color: #004588;
    margin: 0;
}

.modal-header {
    background-color: #3c8dbc;
    position: relative;
}

/*.modal-title {
    color: #FFF !important
}*/

/*.close {
    color: #FFF;
    text-shadow: unset;
    opacity: 1;
}*/
