﻿body:before {
    content: "mobile";
    display: none;
    visibility: hidden; }

@media (min-width: 768px) {
    body:before {
        content: "tablet"; } }

@media (min-width: 992px) {
    body:before {
        content: "desktop"; } }

@media (min-width: 1200px) {
    body:before {
        content: "widescreen"; } }

@media (min-width: 1400px) {
    body:before {
        content: "fullhd"; } }

.progress.progress-xs {
    height: .25rem; }

.progress.progress-sm {
    height: .5rem; }

.progress.progress-md {
    height: 1rem; }

.progress.progress-lg {
    height: 1.5rem; }

.progress.progress-xl {
    height: 2rem; }

.b-page-progress {
    width: 100%;
    height: 4px;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
    display: none; }
    .b-page-progress .b-page-progress-indicator {
        width: 0;
        height: 100%;
        transition: height .3s;
        background-color: #000;
        transition: width 1s; }
        .b-page-progress .b-page-progress-indicator.b-page-progress-indicator-indeterminate {
            width: 30%;
            animation: running-page-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite; }
    .b-page-progress.b-page-progress-active {
        display: block; }

@keyframes running-page-progress {
    0% {
        margin-left: 0px;
        margin-right: 100%; }
    50% {
        margin-left: 25%;
        margin-right: 0%; }
    100% {
        margin-left: 100%;
        margin-right: 0; } }

[data-tooltip]:not(.is-loading), [data-tooltip]:not(.is-disabled), [data-tooltip]:not([disabled]) {
    cursor: pointer;
    overflow: visible;
    position: relative; }
    [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-loading)::after, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not(.is-disabled)::after, [data-tooltip]:not([disabled])::before, [data-tooltip]:not([disabled])::after {
        box-sizing: border-box;
        color: var(--b-tooltip-color, #ffffff);
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: var(--b-tooltip-font-size, var(--b-font-size-sm, 0.875rem));
        hyphens: auto;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        visibility: hidden;
        z-index: var(--b-tooltip-z-index, 1020); }
    [data-tooltip]:not(.is-loading)::after, [data-tooltip]:not(.is-disabled)::after, [data-tooltip]:not([disabled])::after {
        content: "";
        border-style: solid;
        border-width: 6px;
        border-color: RGBA(var(--b-tooltip-background-color-r, 128), var(--b-tooltip-background-color-g, 128), var(--b-tooltip-background-color-b, 128), var(--b-tooltip-background-opacity, 0.9)) transparent transparent transparent;
        margin-bottom: -5px; }
    [data-tooltip]:not(.is-loading)::after, [data-tooltip]:not(.is-disabled)::after, [data-tooltip]:not([disabled])::after {
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        margin-top: -5px;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: -5px;
        border-color: rgba(var(--b-tooltip-background-color-r, 128), var(--b-tooltip-background-color-g, 128), var(--b-tooltip-background-color-b, 128), var(--b-tooltip-background-opacity, 0.9)) transparent transparent transparent; }
    [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before {
        background: RGBA(var(--b-tooltip-background-color-r, 128), var(--b-tooltip-background-color-g, 128), var(--b-tooltip-background-color-b, 128), var(--b-tooltip-background-opacity, 0.9));
        border-radius: var(--b-tooltip-border-radius, 4px);
        content: attr(data-tooltip);
        padding: var(--b-tooltip-padding, 0.5rem 1rem);
        text-overflow: ellipsis;
        white-space: pre; }
    [data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before {
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        top: 0;
        margin-top: -5px;
        margin-bottom: auto;
        transform: translate(-50%, -100%); }
    [data-tooltip]:not(.is-loading).b-tooltip-bottom::after, [data-tooltip]:not(.is-disabled).b-tooltip-bottom::after, [data-tooltip]:not([disabled]).b-tooltip-bottom::after {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: -5px;
        margin-left: -5px;
        border-color: transparent transparent rgba(var(--b-tooltip-background-color-r, 128), var(--b-tooltip-background-color-g, 128), var(--b-tooltip-background-color-b, 128), var(--b-tooltip-background-opacity, 0.9)) transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-bottom::before, [data-tooltip]:not(.is-disabled).b-tooltip-bottom::before, [data-tooltip]:not([disabled]).b-tooltip-bottom::before {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        margin-top: auto;
        margin-bottom: -5px;
        transform: translate(-50%, 100%); }
    [data-tooltip]:not(.is-loading).b-tooltip-left::after, [data-tooltip]:not(.is-disabled).b-tooltip-left::after, [data-tooltip]:not([disabled]).b-tooltip-left::after {
        top: auto;
        right: auto;
        bottom: 50%;
        left: 0;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: -6px;
        margin-left: -11px;
        border-color: transparent transparent transparent rgba(var(--b-tooltip-background-color-r, 128), var(--b-tooltip-background-color-g, 128), var(--b-tooltip-background-color-b, 128), var(--b-tooltip-background-opacity, 0.9)); }
    [data-tooltip]:not(.is-loading).b-tooltip-left::before, [data-tooltip]:not(.is-disabled).b-tooltip-left::before, [data-tooltip]:not([disabled]).b-tooltip-left::before {
        top: auto;
        right: auto;
        bottom: 50%;
        left: -11px;
        transform: translate(-100%, 50%); }
    [data-tooltip]:not(.is-loading).b-tooltip-right::after, [data-tooltip]:not(.is-disabled).b-tooltip-right::after, [data-tooltip]:not([disabled]).b-tooltip-right::after {
        top: auto;
        right: 0;
        bottom: 50%;
        left: auto;
        margin-top: auto;
        margin-right: -11px;
        margin-bottom: -6px;
        margin-left: auto;
        border-color: transparent rgba(var(--b-tooltip-background-color-r, 128), var(--b-tooltip-background-color-g, 128), var(--b-tooltip-background-color-b, 128), var(--b-tooltip-background-opacity, 0.9)) transparent transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-right::before, [data-tooltip]:not(.is-disabled).b-tooltip-right::before, [data-tooltip]:not([disabled]).b-tooltip-right::before {
        top: auto;
        right: -11px;
        bottom: 50%;
        left: auto;
        margin-top: auto;
        transform: translate(100%, 50%); }
    [data-tooltip]:not(.is-loading).b-tooltip-multiline::before, [data-tooltip]:not(.is-disabled).b-tooltip-multiline::before, [data-tooltip]:not([disabled]).b-tooltip-multiline::before {
        height: auto;
        width: var(--b-tooltip-maxwidth, 15rem);
        max-width: var(--b-tooltip-maxwidth, 15rem);
        text-overflow: clip;
        white-space: normal;
        word-break: keep-all; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary.b-tooltip-bottom::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary.b-tooltip-bottom::after, [data-tooltip]:not([disabled]).b-tooltip-primary.b-tooltip-bottom::after {
        border-color: transparent transparent RGBA(#8e3329, var(--b-tooltip-background-opacity, 0.9)) transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary.b-tooltip-left::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary.b-tooltip-left::after, [data-tooltip]:not([disabled]).b-tooltip-primary.b-tooltip-left::after {
        border-color: transparent transparent transparent RGBA(#8e3329, var(--b-tooltip-background-opacity, 0.9)); }
    [data-tooltip]:not(.is-loading).b-tooltip-primary.b-tooltip-right::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary.b-tooltip-right::after, [data-tooltip]:not([disabled]).b-tooltip-primary.b-tooltip-right::after {
        border-color: transparent RGBA(#8e3329, var(--b-tooltip-background-opacity, 0.9)) transparent transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary:not(.b-tooltip-bottom)::after, [data-tooltip]:not(.is-loading).b-tooltip-primary:not(.b-tooltip-left)::after, [data-tooltip]:not(.is-loading).b-tooltip-primary:not(.b-tooltip-right)::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary:not(.b-tooltip-bottom)::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary:not(.b-tooltip-left)::after, [data-tooltip]:not(.is-disabled).b-tooltip-primary:not(.b-tooltip-right)::after, [data-tooltip]:not([disabled]).b-tooltip-primary:not(.b-tooltip-bottom)::after, [data-tooltip]:not([disabled]).b-tooltip-primary:not(.b-tooltip-left)::after, [data-tooltip]:not([disabled]).b-tooltip-primary:not(.b-tooltip-right)::after {
        border-color: RGBA(#8e3329, var(--b-tooltip-background-opacity, 0.9)) transparent transparent transparent; }
    [data-tooltip]:not(.is-loading).b-tooltip-primary:before, [data-tooltip]:not(.is-disabled).b-tooltip-primary:before, [data-tooltip]:not([disabled]).b-tooltip-primary:before {
        background-color: RGBA(#8e3329, var(--b-tooltip-background-opacity, 0.9));
        color: #8e3329; }
    [data-tooltip]:not(.is-loading):focus::before, [data-tooltip]:not(.is-loading):focus::after, [data-tooltip]:not(.is-loading):hover::before, [data-tooltip]:not(.is-loading):hover::after, [data-tooltip]:not(.is-loading).b-tooltip-active::before, [data-tooltip]:not(.is-loading).b-tooltip-active::after, [data-tooltip]:not(.is-disabled):focus::before, [data-tooltip]:not(.is-disabled):focus::after, [data-tooltip]:not(.is-disabled):hover::before, [data-tooltip]:not(.is-disabled):hover::after, [data-tooltip]:not(.is-disabled).b-tooltip-active::before, [data-tooltip]:not(.is-disabled).b-tooltip-active::after, [data-tooltip]:not([disabled]):focus::before, [data-tooltip]:not([disabled]):focus::after, [data-tooltip]:not([disabled]):hover::before, [data-tooltip]:not([disabled]):hover::after, [data-tooltip]:not([disabled]).b-tooltip-active::before, [data-tooltip]:not([disabled]).b-tooltip-active::after {
        opacity: 1;
        visibility: visible; }
    [data-tooltip]:not(.is-loading).b-tooltip-fade::before, [data-tooltip]:not(.is-loading).b-tooltip-fade::after, [data-tooltip]:not(.is-disabled).b-tooltip-fade::before, [data-tooltip]:not(.is-disabled).b-tooltip-fade::after, [data-tooltip]:not([disabled]).b-tooltip-fade::before, [data-tooltip]:not([disabled]).b-tooltip-fade::after {
        transition: opacity var(--b-tooltip-fade-time, 0.3s) linear, visibility var(--b-tooltip-fade-time, 0.3s) linear; }

.b-tooltip-inline {
    display: inline-block; }

.b-layout {
    display: flex;
    flex: auto;
    flex-direction: column; }
    .b-layout.b-layout-root {
        height: 100vh; }

.b-layout,
.b-layout * {
    box-sizing: border-box; }

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg); }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg); } }

.b-layout > .b-layout-loading {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }
    .b-layout > .b-layout-loading:before {
        animation: 1s linear infinite spinner;
        border: solid 3px #eee;
        border-bottom-color: var(--b-theme-primary);
        border-radius: 50%;
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 40px;
        content: ' '; }

.b-layout.b-layout-has-sider {
    flex-direction: row;
    min-height: 0; }
    .b-layout.b-layout-has-sider .b-layout {
        overflow-x: hidden; }

.b-layout-header,
.b-layout-footer {
    flex: 0 0 auto; }

.b-layout-header {
    color: rgba(0, 0, 0, 0.65); }
    .b-layout-header-fixed {
        position: sticky;
        z-index: 1;
        top: 0;
        flex: 0; }

.b-layout-footer {
    color: rgba(0, 0, 0, 0.65); }
    .b-layout-footer-fixed {
        position: sticky;
        z-index: 1;
        bottom: 0;
        flex: 0; }

.b-layout-content {
    flex: 1; }

.b-layout-sider {
    display: flex;
    position: relative;
    background: #001529; }

.b-layout-sider-content {
    position: sticky;
    top: 0;
    z-index: 2; }

.b-layout-header .navbar {
    line-height: inherit; }

.b-bar-horizontal[data-collapse=hide] {
    flex-wrap: nowrap; }
    .b-bar-horizontal[data-collapse=hide][data-broken=true] {
        height: var(--b-bar-horizontal-height, auto); }

.b-bar-horizontal[data-broken=false] {
    height: var(--b-bar-horizontal-height, auto); }

.b-bar-vertical-inline,
.b-bar-vertical-popout,
.b-bar-vertical-small {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    padding: 0;
    min-width: var(--b-vertical-bar-width, 230px);
    max-width: var(--b-vertical-bar-width, 230px);
    width: var(--b-vertical-bar-width, 230px);
    transition: width 200ms ease-in-out, min-width 200ms ease-in-out;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* 
        Theming
    */ }
    .b-bar-vertical-inline .b-bar-menu,
    .b-bar-vertical-popout .b-bar-menu,
    .b-bar-vertical-small .b-bar-menu {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
        align-self: stretch; }
    .b-bar-vertical-inline .b-bar-brand,
    .b-bar-vertical-popout .b-bar-brand,
    .b-bar-vertical-small .b-bar-brand {
        width: 100%;
        display: flex;
        height: var(--b-vertical-bar-brand-height, 64px);
        min-height: var(--b-vertical-bar-brand-height, 64px); }
    .b-bar-vertical-inline .b-bar-toggler-inline,
    .b-bar-vertical-popout .b-bar-toggler-inline,
    .b-bar-vertical-small .b-bar-toggler-inline {
        height: var(--b-vertical-bar-brand-height, 64px);
        padding: 12px;
        display: inline-flex;
        cursor: pointer;
        position: absolute;
        right: 0; }
        .b-bar-vertical-inline .b-bar-toggler-inline > *,
        .b-bar-vertical-popout .b-bar-toggler-inline > *,
        .b-bar-vertical-small .b-bar-toggler-inline > * {
            margin: auto; }
    .b-bar-vertical-inline .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
    .b-bar-vertical-popout .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
    .b-bar-vertical-small .b-bar-toggler-popout:not(.b-bar-mobile-toggle) {
        display: flex;
        position: fixed;
        left: var(--b-vertical-bar-width, 230px);
        border-radius: 0px 10px 10px 0px;
        border: 0px;
        width: 10px;
        height: 40px;
        padding: 5px;
        align-items: center;
        transition: width 200ms ease-in-out, left 200ms ease-in-out;
        box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
        cursor: pointer; }
        .b-bar-vertical-inline .b-bar-toggler-popout:not(.b-bar-mobile-toggle) > *,
        .b-bar-vertical-popout .b-bar-toggler-popout:not(.b-bar-mobile-toggle) > *,
        .b-bar-vertical-small .b-bar-toggler-popout:not(.b-bar-mobile-toggle) > * {
            margin: auto;
            display: none; }
        .b-bar-vertical-inline .b-bar-toggler-popout:not(.b-bar-mobile-toggle):hover,
        .b-bar-vertical-popout .b-bar-toggler-popout:not(.b-bar-mobile-toggle):hover,
        .b-bar-vertical-small .b-bar-toggler-popout:not(.b-bar-mobile-toggle):hover {
            width: 45px; }
            .b-bar-vertical-inline .b-bar-toggler-popout:not(.b-bar-mobile-toggle):hover > *,
            .b-bar-vertical-popout .b-bar-toggler-popout:not(.b-bar-mobile-toggle):hover > *,
            .b-bar-vertical-small .b-bar-toggler-popout:not(.b-bar-mobile-toggle):hover > * {
                display: block; }
    .b-bar-vertical-inline .b-bar-item,
    .b-bar-vertical-popout .b-bar-item,
    .b-bar-vertical-small .b-bar-item {
        margin: auto;
        flex-grow: 1;
        min-height: 40px; }
        .b-bar-vertical-inline .b-bar-item .b-bar-icon,
        .b-bar-vertical-popout .b-bar-item .b-bar-icon,
        .b-bar-vertical-small .b-bar-item .b-bar-icon {
            font-size: 1.25rem;
            vertical-align: middle;
            margin: 3px;
            display: inline-block; }
    .b-bar-vertical-inline .b-bar-start,
    .b-bar-vertical-popout .b-bar-start,
    .b-bar-vertical-small .b-bar-start {
        width: 100%;
        display: block; }
    .b-bar-vertical-inline .b-bar-end,
    .b-bar-vertical-popout .b-bar-end,
    .b-bar-vertical-small .b-bar-end {
        padding-bottom: 1rem;
        width: 100%;
        padding-top: 1rem;
        display: block; }
    .b-bar-vertical-inline .b-bar-link,
    .b-bar-vertical-popout .b-bar-link,
    .b-bar-vertical-small .b-bar-link {
        display: block;
        width: 100%;
        text-decoration: none;
        padding: .5rem .5rem .5rem 1.5rem;
        cursor: pointer;
        overflow-x: hidden;
        line-height: 1.5rem;
        vertical-align: middle;
        transition: font-size 150ms ease-in; }
    .b-bar-vertical-inline .b-bar-label,
    .b-bar-vertical-popout .b-bar-label,
    .b-bar-vertical-small .b-bar-label {
        background: transparent;
        color: #adb5bd;
        padding: .375rem 1.25rem;
        font-size: .75rem;
        text-overflow: ellipsis;
        overflow-x: hidden; }
    .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-toggle:before,
    .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-toggle:before,
    .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-toggle:before {
        content: " ";
        border: solid;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        right: 1rem;
        transition: transform 200ms ease-out;
        float: right;
        position: relative;
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        top: 0.7rem; }
    .b-bar-vertical-inline .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before,
    .b-bar-vertical-popout .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before,
    .b-bar-vertical-small .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0.5rem; }
    .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu,
    .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-menu,
    .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu {
        display: none;
        background: inherit;
        color: inherit;
        float: none;
        padding: 5px 0px; }
        .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu[data-visible=true],
        .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-menu[data-visible=true],
        .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu[data-visible=true] {
            display: block; }
        .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu .b-bar-dropdown-item,
        .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-menu .b-bar-dropdown-item,
        .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu .b-bar-dropdown-item {
            position: relative;
            color: inherit;
            transition: background 100ms ease-in-out,color 100ms ease-in-out;
            text-decoration: none;
            display: block;
            width: 100%;
            overflow-x: hidden; }
            .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu .b-bar-dropdown-item i,
            .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-menu .b-bar-dropdown-item i,
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu .b-bar-dropdown-item i {
                margin-right: 0.3rem; }
        .b-bar-vertical-inline .b-bar-dropdown .b-bar-dropdown-menu:before,
        .b-bar-vertical-popout .b-bar-dropdown .b-bar-dropdown-menu:before,
        .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu:before {
            background: inherit;
            box-shadow: none; }
    .b-bar-vertical-inline .b-bar-mobile-toggle,
    .b-bar-vertical-popout .b-bar-mobile-toggle,
    .b-bar-vertical-small .b-bar-mobile-toggle {
        right: 20px;
        margin: auto;
        display: none; }
    .b-bar-vertical-inline .b-bar-item-multi-line,
    .b-bar-vertical-popout .b-bar-item-multi-line,
    .b-bar-vertical-small .b-bar-item-multi-line {
        display: -webkit-box !important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--b-bar-item-lines, 2);
        white-space: normal !important;
        overflow: hidden;
        text-overflow: ellipsis; }
    .b-bar-vertical-inline.b-bar-dark,
    .b-bar-vertical-popout.b-bar-dark,
    .b-bar-vertical-small.b-bar-dark {
        background: var(--b-bar-dark-background, #001529);
        color: var(--b-bar-dark-color, rgba(255, 255, 255, 0.5)); }
        .b-bar-vertical-inline.b-bar-dark .b-bar-brand,
        .b-bar-vertical-popout.b-bar-dark .b-bar-brand,
        .b-bar-vertical-small.b-bar-dark .b-bar-brand {
            background: var(--b-bar-brand-dark-background, rgba(255, 255, 255, 0.025)); }
            .b-bar-vertical-inline.b-bar-dark .b-bar-brand .b-bar-link,
            .b-bar-vertical-popout.b-bar-dark .b-bar-brand .b-bar-link,
            .b-bar-vertical-small.b-bar-dark .b-bar-brand .b-bar-link {
                color: #fff; }
                .b-bar-vertical-inline.b-bar-dark .b-bar-brand .b-bar-link.active,
                .b-bar-vertical-popout.b-bar-dark .b-bar-brand .b-bar-link.active,
                .b-bar-vertical-small.b-bar-dark .b-bar-brand .b-bar-link.active {
                    color: #fff;
                    background: inherit; }
                .b-bar-vertical-inline.b-bar-dark .b-bar-brand .b-bar-link:hover,
                .b-bar-vertical-popout.b-bar-dark .b-bar-brand .b-bar-link:hover,
                .b-bar-vertical-small.b-bar-dark .b-bar-brand .b-bar-link:hover {
                    color: #fff;
                    background: inherit; }
        .b-bar-vertical-inline.b-bar-dark .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
        .b-bar-vertical-popout.b-bar-dark .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
        .b-bar-vertical-small.b-bar-dark .b-bar-toggler-popout:not(.b-bar-mobile-toggle) {
            background: var(--b-bar-dark-background, #001529);
            color: var(--b-bar-dark-color, rgba(255, 255, 255, 0.5)); }
        .b-bar-vertical-inline.b-bar-dark .b-bar-dropdown-menu,
        .b-bar-vertical-popout.b-bar-dark .b-bar-dropdown-menu,
        .b-bar-vertical-small.b-bar-dark .b-bar-dropdown-menu {
            background: var(--b-bar-dropdown-dark-background, #000c17); }
            .b-bar-vertical-inline.b-bar-dark .b-bar-dropdown-menu .b-bar-dropdown-item.active,
            .b-bar-vertical-popout.b-bar-dark .b-bar-dropdown-menu .b-bar-dropdown-item.active,
            .b-bar-vertical-small.b-bar-dark .b-bar-dropdown-menu .b-bar-dropdown-item.active {
                color: var(--b-bar-item-dark-active-color, #fff);
                background: var(--b-bar-item-dark-active-background, #0288D1); }
            .b-bar-vertical-inline.b-bar-dark .b-bar-dropdown-menu .b-bar-dropdown-item:hover,
            .b-bar-vertical-popout.b-bar-dark .b-bar-dropdown-menu .b-bar-dropdown-item:hover,
            .b-bar-vertical-small.b-bar-dark .b-bar-dropdown-menu .b-bar-dropdown-item:hover {
                color: var(--b-bar-item-dark-hover-color, #fff);
                background: var(--b-bar-item-dark-hover-background, rgba(255, 255, 255, 0.3)); }
        .b-bar-vertical-inline.b-bar-dark .b-bar-link,
        .b-bar-vertical-popout.b-bar-dark .b-bar-link,
        .b-bar-vertical-small.b-bar-dark .b-bar-link {
            color: inherit; }
            .b-bar-vertical-inline.b-bar-dark .b-bar-link.active,
            .b-bar-vertical-popout.b-bar-dark .b-bar-link.active,
            .b-bar-vertical-small.b-bar-dark .b-bar-link.active {
                color: var(--b-bar-item-dark-active-color, #fff);
                background: var(--b-bar-item-dark-active-background, #0288D1); }
            .b-bar-vertical-inline.b-bar-dark .b-bar-link:hover,
            .b-bar-vertical-popout.b-bar-dark .b-bar-link:hover,
            .b-bar-vertical-small.b-bar-dark .b-bar-link:hover {
                color: var(--b-bar-item-dark-hover-color, #fff);
                background: var(--b-bar-item-dark-hover-background, rgba(255, 255, 255, 0.3)); }
    .b-bar-vertical-inline.b-bar-light,
    .b-bar-vertical-popout.b-bar-light,
    .b-bar-vertical-small.b-bar-light {
        background: var(--b-bar-light-background, #fff);
        color: var(--b-bar-light-color, rgba(0, 0, 0, 0.7)); }
        .b-bar-vertical-inline.b-bar-light .b-bar-brand,
        .b-bar-vertical-popout.b-bar-light .b-bar-brand,
        .b-bar-vertical-small.b-bar-light .b-bar-brand {
            background: var(--b-bar-brand-light-background, rgba(0, 0, 0, 0.025)); }
            .b-bar-vertical-inline.b-bar-light .b-bar-brand .b-bar-link,
            .b-bar-vertical-popout.b-bar-light .b-bar-brand .b-bar-link,
            .b-bar-vertical-small.b-bar-light .b-bar-brand .b-bar-link {
                color: #000; }
                .b-bar-vertical-inline.b-bar-light .b-bar-brand .b-bar-link.active,
                .b-bar-vertical-popout.b-bar-light .b-bar-brand .b-bar-link.active,
                .b-bar-vertical-small.b-bar-light .b-bar-brand .b-bar-link.active {
                    background: inherit; }
                .b-bar-vertical-inline.b-bar-light .b-bar-brand .b-bar-link:hover,
                .b-bar-vertical-popout.b-bar-light .b-bar-brand .b-bar-link:hover,
                .b-bar-vertical-small.b-bar-light .b-bar-brand .b-bar-link:hover {
                    background: inherit; }
        .b-bar-vertical-inline.b-bar-light .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
        .b-bar-vertical-popout.b-bar-light .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
        .b-bar-vertical-small.b-bar-light .b-bar-toggler-popout:not(.b-bar-mobile-toggle) {
            background: var(--b-bar-brand-light-background, #fff);
            color: var(--b-bar-light-color, rgba(0, 0, 0, 0.7)); }
        .b-bar-vertical-inline.b-bar-light .b-bar-dropdown-menu,
        .b-bar-vertical-popout.b-bar-light .b-bar-dropdown-menu,
        .b-bar-vertical-small.b-bar-light .b-bar-dropdown-menu {
            background: var(--b-bar-dropdown-light-background, #f2f2f2); }
            .b-bar-vertical-inline.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item.active,
            .b-bar-vertical-popout.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item.active,
            .b-bar-vertical-small.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item.active {
                color: var(--b-bar-item-light-active-color, #000);
                background: var(--b-bar-item-light-active-background, #0288D1); }
            .b-bar-vertical-inline.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item:hover,
            .b-bar-vertical-popout.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item:hover,
            .b-bar-vertical-small.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item:hover {
                color: var(--b-bar-item-dark-hover-color, #000);
                background: var(--b-bar-item-dark-hover-background, rgba(0, 0, 0, 0.3)); }
        .b-bar-vertical-inline.b-bar-light .b-bar-link,
        .b-bar-vertical-popout.b-bar-light .b-bar-link,
        .b-bar-vertical-small.b-bar-light .b-bar-link {
            color: inherit; }
            .b-bar-vertical-inline.b-bar-light .b-bar-link.active,
            .b-bar-vertical-popout.b-bar-light .b-bar-link.active,
            .b-bar-vertical-small.b-bar-light .b-bar-link.active {
                color: var(--b-bar-item-light-active-color, #000);
                background: var(--b-bar-item-light-active-background, #0288D1); }
            .b-bar-vertical-inline.b-bar-light .b-bar-link:hover,
            .b-bar-vertical-popout.b-bar-light .b-bar-link:hover,
            .b-bar-vertical-small.b-bar-light .b-bar-link:hover {
                color: var(--b-bar-item-dark-hover-color, #000);
                background: var(--b-bar-item-dark-hover-background, rgba(0, 0, 0, 0.3)); }

.b-bar-vertical-small,
.b-bar-vertical-inline[data-collapse=small],
.b-bar-vertical-popout[data-collapse=small] {
    width: var(--b-vertical-bar-small-width, 64px);
    min-width: var(--b-vertical-bar-small-width, 64px);
    transition: width 200ms ease-in-out, min-width 200ms ease-in-out; }
    .b-bar-vertical-small .b-bar-toggler-inline,
    .b-bar-vertical-inline[data-collapse=small] .b-bar-toggler-inline,
    .b-bar-vertical-popout[data-collapse=small] .b-bar-toggler-inline {
        position: relative;
        width: 100%; }
    .b-bar-vertical-small .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
    .b-bar-vertical-inline[data-collapse=small] .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
    .b-bar-vertical-popout[data-collapse=small] .b-bar-toggler-popout:not(.b-bar-mobile-toggle) {
        left: var(--b-vertical-bar-small-width, 64px); }
    .b-bar-vertical-small .b-bar-item > .b-bar-dropdown > .b-bar-dropdown-toggle:before,
    .b-bar-vertical-inline[data-collapse=small] .b-bar-item > .b-bar-dropdown > .b-bar-dropdown-toggle:before,
    .b-bar-vertical-popout[data-collapse=small] .b-bar-item > .b-bar-dropdown > .b-bar-dropdown-toggle:before {
        display: none; }
    .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container,
    .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container,
    .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container {
        z-index: 100;
        max-height: 50vh;
        position: absolute !important;
        margin: -42px 5px 0px 5px;
        display: flex;
        width: var(--b-vertical-bar-popout-menu-width, 180px);
        left: var(--b-vertical-bar-small-width, 64px); }
        .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right,
        .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right,
        .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right {
            right: var(--b-vertical-bar-small-width, 64px);
            left: unset; }
        .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu,
        .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu,
        .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu {
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            overflow-y: auto;
            overflow-x: hidden;
            flex: 1 100%; }
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item,
            .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item,
            .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item {
                padding: .5rem .5rem .5rem 1.5rem; }
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu:before,
            .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu:before,
            .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu:before {
                position: absolute;
                top: 0;
                left: -7px;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                opacity: .0001;
                content: ' ';
                z-index: -1; }
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu.b-bar-right:before,
            .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu.b-bar-right:before,
            .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu.b-bar-right:before {
                left: unset;
                right: -7px; }
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container,
            .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container,
            .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container {
                left: var(--b-vertical-bar-popout-menu-width, 180px); }
                .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right,
                .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right,
                .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right {
                    right: var(--b-vertical-bar-popout-menu-width, 180px); }
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-toggle:before,
            .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-toggle:before,
            .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-toggle:before {
                content: " ";
                border: solid;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 2px;
                right: 1rem;
                transition: transform 200ms ease-out;
                float: right;
                position: relative;
                -webkit-transform: rotate(315deg);
                transform: rotate(315deg); }
            .b-bar-vertical-small .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before,
            .b-bar-vertical-inline[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before,
            .b-bar-vertical-popout[data-collapse=small] .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before {
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                right: 0.8rem; }

@keyframes b-bar-link-small {
    to {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px; } }
    .b-bar-vertical-small .b-bar-item > .b-bar-link,
    .b-bar-vertical-small .b-bar-item > .b-bar-dropdown > .b-bar-link,
    .b-bar-vertical-inline[data-collapse=small] .b-bar-item > .b-bar-link,
    .b-bar-vertical-inline[data-collapse=small] .b-bar-item > .b-bar-dropdown > .b-bar-link,
    .b-bar-vertical-popout[data-collapse=small] .b-bar-item > .b-bar-link,
    .b-bar-vertical-popout[data-collapse=small] .b-bar-item > .b-bar-dropdown > .b-bar-link {
        animation: b-bar-link-small forwards;
        animation-delay: 170ms;
        font-size: 0;
        transition: font-size 100ms ease-out; }
        .b-bar-vertical-small .b-bar-item > .b-bar-link:after,
        .b-bar-vertical-small .b-bar-item > .b-bar-dropdown > .b-bar-link:after,
        .b-bar-vertical-inline[data-collapse=small] .b-bar-item > .b-bar-link:after,
        .b-bar-vertical-inline[data-collapse=small] .b-bar-item > .b-bar-dropdown > .b-bar-link:after,
        .b-bar-vertical-popout[data-collapse=small] .b-bar-item > .b-bar-link:after,
        .b-bar-vertical-popout[data-collapse=small] .b-bar-item > .b-bar-dropdown > .b-bar-link:after {
            display: none; }
    .b-bar-vertical-small .b-bar-label,
    .b-bar-vertical-inline[data-collapse=small] .b-bar-label,
    .b-bar-vertical-popout[data-collapse=small] .b-bar-label {
        text-align: center; }

.b-bar-vertical-inline:not([data-collapse]) {
    overflow-y: auto;
    overflow-x: hidden; }
    .b-bar-vertical-inline:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container {
        position: relative; }
        .b-bar-vertical-inline:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu {
            position: relative !important;
            border: none;
            border-radius: 0;
            box-shadow: none; }
            .b-bar-vertical-inline:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item {
                padding: .5rem .5rem .5rem 3rem; }

.b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-toggle:before {
    content: " ";
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    right: 1rem;
    transition: transform 200ms ease-out;
    float: right;
    position: relative;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); }

.b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown:not([data-visible=true]) .b-bar-dropdown-toggle:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 0.8rem; }

.b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container {
    z-index: 100;
    max-height: 50vh;
    position: absolute !important;
    margin: -42px 5px 0px 5px;
    display: flex;
    width: var(--b-vertical-bar-popout-menu-width, 180px);
    left: var(--b-vertical-bar-width, 230px); }
    .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right {
        right: var(--b-vertical-bar-width, 230px);
        left: unset; }
    .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu {
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1 100%; }
        .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu .b-bar-dropdown-item {
            padding: .5rem .5rem .5rem 1.5rem; }
        .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu:before {
            position: absolute;
            top: 0;
            left: -7px;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: .0001;
            content: ' ';
            z-index: -1; }
        .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu.b-bar-right:before {
            left: unset;
            right: -7px; }
        .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container {
            left: var(--b-vertical-bar-popout-menu-width, 180px); }
            .b-bar-vertical-popout:not([data-collapse]) .b-bar-dropdown .b-bar-dropdown-menu-container .b-bar-dropdown-menu > .b-bar-dropdown .b-bar-dropdown-menu-container.b-bar-right {
                right: var(--b-vertical-bar-popout-menu-width, 180px); }

.b-bar-vertical-inline[data-collapse=hide],
.b-bar-vertical-popout[data-collapse=hide],
.b-bar-vertical-small[data-collapse=hide] {
    width: 0px;
    min-width: 0px;
    transition: width 200ms ease-in-out, min-width 200ms ease-in-out, visibility 100ms;
    visibility: hidden; }
    .b-bar-vertical-inline[data-collapse=hide] .b-bar-toggler-inline,
    .b-bar-vertical-popout[data-collapse=hide] .b-bar-toggler-inline,
    .b-bar-vertical-small[data-collapse=hide] .b-bar-toggler-inline {
        display: none; }
    .b-bar-vertical-inline[data-collapse=hide] .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
    .b-bar-vertical-popout[data-collapse=hide] .b-bar-toggler-popout:not(.b-bar-mobile-toggle),
    .b-bar-vertical-small[data-collapse=hide] .b-bar-toggler-popout:not(.b-bar-mobile-toggle) {
        visibility: visible;
        left: 0px; }

/* Mobile & below */
@media only screen and (max-width: 576px) {
    .b-bar-vertical-inline:not([data-collapse]) {
        min-width: 100vw; }
        .b-bar-vertical-inline:not([data-collapse]) .b-bar-toggler-inline:not(.b-bar-mobile-toggle) {
            display: none; }
        .b-bar-vertical-inline:not([data-collapse]) .b-bar-toggler-popout:not(.b-bar-mobile-toggle) {
            left: 100vw; }
        .b-bar-vertical-inline:not([data-collapse]) .b-bar-mobile-toggle {
            display: flex; } }

.b-character-casing-lower {
    text-transform: lowercase; }

.b-character-casing-upper {
    text-transform: uppercase; }

.b-character-casing-title {
    text-transform: lowercase; }
    .b-character-casing-title::first-letter {
        text-transform: uppercase; }

hr.divider.divider-solid {
    border-top: var(--b-divider-thickness, 2px) solid var(--b-divider-color, #999); }

hr.divider.divider-dashed {
    border-top: var(--b-divider-thickness, 2px) dashed var(--b-divider-color, #999); }

hr.divider.divider-dotted {
    border-top: var(--b-divider-thickness, 2px) dotted var(--b-divider-color, #999); }

hr.divider.divider-text {
    position: relative;
    border: none;
    height: 1px;
    background: var(--b-divider-color, #999); }
    hr.divider.divider-text::before {
        content: attr(data-content);
        display: inline-block;
        background: #fff;
        font-weight: bold;
        font-size: var(--b-divider-font-size, 0.85rem);
        color: var(--b-divider-color, #999);
        border-radius: 30rem;
        padding: 0.2rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
