﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.ChartJs
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@using Volo.Abp.LeptonTheme.Demo.Navigation
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Dashboard
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Dashboard.DashboardModel2
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Dashboard2"].Value;
    PageLayout.Content.MenuItemName = DemoMenu.Dashboard.Dashboard2;
}
@section styles {
    <abp-style type="@typeof(ChartjsStyleContributor)" />
}
@section content_toolbar { 
    <abp-row>
        <abp-column>
            <abp-button button-type="Light" class="ml-lg-1"><i class="fas fa-cog"></i> Settings</abp-button>
            <abp-button button-type="Light" class="ml-lg-1"><i class="fa fa-line-chart"></i> Export</abp-button>

        </abp-column>
        <abp-column size-md="Auto">
            <form method="get" id="DashboardFilterForm">
                <abp-row h-align="Center" v-align="Center" id="datepicker" class="mb-0 input-daterange ">
                    <div class=" col-md-auto">
                        <div class="form-group form-inline mb-3 m-md-0">
                            <input type="text"
                                   placeholder="StartDate"
                                   class="form-control"
                                   name="StartDate"
                                   value="8/15/2020" />
                            <input type="text"
                                   placeholder="EndDate"
                                   class="form-control ml-lg-2"
                                   name="EndDate"
                                   value="9/15/2020" />
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <abp-button button-type="Primary" icon="refresh" class="btn-block" type="Submit" text="@L["Refresh"].Value" />
                    </div>
                </abp-row>
            </form>
        </abp-column>
    </abp-row>
}

<div class="row">
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">Visitors</h2>
                        <small class="d-block text-muted text-truncate"><i class="fa fa-warning"></i> Action Needed</small>
                    </div>
                    <div class="col-auto">
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="Export" class="my-1" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <canvas id="LeptonDonutChart" height="160"></canvas>
                <div class="p-4 shadow-none mb-0">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam accumsan.
                    </p>
                    <a href="#" class="btn btn-block btn-primary">Call to Action</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">All Activities</h2>
                        <small class="d-block text-muted text-truncate">13.12.2019 - 02.08.2020 (This week until today)</small>
                    </div>
                    <div class="col-auto">
                        <abp-button button-type="Light" text="Report" class="my-1 ml-2" />
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="Settings" class="my-1 ml-2" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="This Year" icon="Date" class="my-1 ml-2" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="chart-margin-fix">
                    <canvas id="LeptonMixLineChart" height="80"></canvas>
                </div>
                <div class="bg-light p-4 shadow-none mb-0">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card m-0">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge badge-lg badge-primary">
                                                <i class="fas fa-check fa-2x d-block m-3"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h2 class="font-weight-bolder m-0 text-primary text-truncate">1140</h2>
                                            <span class="text-muted d-block text-truncate">Success</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card m-0">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge badge-lg badge-info">
                                                <i class="fa fa-warning fa-2x d-block m-3"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h2 class="font-weight-bolder m-0 text-info text-truncate">19</h2>
                                            <span class="text-muted d-block text-truncate">Warning</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card m-0">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span class="badge badge-lg badge-danger">
                                                <i class="fas fa-bug fa-2x d-block m-3"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <h2 class="font-weight-bolder m-0 text-danger text-truncate">25</h2>
                                            <span class="text-muted d-block text-truncate">Mistaken</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">Sales</h2>
                        <small class="d-block text-muted text-truncate">13.12.2019 - By Administrator</small>
                    </div>
                    <div class="col-auto">
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="This Week" class="my-1" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="chart-margin-fix">
                    <canvas id="LeptonLineChart1" height="100"></canvas>
                </div>
                <div class="bg-light p-4 shadow-none mb-0">
                    <div class="card m-0">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="badge badge-lg badge-primary">
                                        <i class="fas fa-wallet fa-2x d-block m-3"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <h2 class="font-weight-bolder m-0 text-primary text-truncate">750$</h2>
                                    <span class="text-muted d-block text-truncate">Weekly Income</span>
                                </div>
                                <div class="col-auto text-right">
                                    <i class="fa fa-long-arrow-up fa-2x text-success mt-3 mr-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">New Users</h2>
                        <small class="d-block text-muted text-truncate">13.12.2019 - By Administrator</small>
                    </div>
                    <div class="col-auto">
                        <abp-button button-type="Light" text="Report" class="my-1" />
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="chart-margin-fix">
                    <canvas id="LeptonLineChart2" height="100"></canvas>
                </div>
                <div class="bg-light p-4 shadow-none mb-0">
                    <div class="card m-0">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="badge badge-lg badge-secondary">
                                        <i class="fas fa-user fa-2x d-block m-3"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <h2 class="font-weight-bolder m-0 text-secondary text-truncate">10.223</h2>
                                    <span class="text-muted d-block text-truncate">New User</span>
                                </div>
                                <div class="col-auto text-right">
                                    <i class="fa fa-long-arrow-down fa-2x text-danger mt-3 mr-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">Item Orders</h2>
                        <small class="d-block text-muted">13.12.2019 - By Administrator</small>
                    </div>
                    <div class="col-auto">
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="Export" class="my-1" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="chart-margin-fix">
                    <canvas id="LeptonBarChart" height="100"></canvas>
                </div>
                <div class="bg-light p-4 shadow-none mb-0">
                    <div class="card m-0">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="badge badge-lg badge-success">
                                        <i class="fas fa-box-open fa-2x d-block m-3"></i>
                                    </span>
                                </div>
                                <div class="col">
                                    <h2 class="font-weight-bolder m-0 text-success text-truncate">182</h2>
                                    <span class="text-muted d-block text-truncate">Item Orders</span>
                                </div>
                                <div class="col-auto text-right">
                                    <i class="fa fa-long-arrow-up fa-2x text-success mt-3 mr-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2 class="card-title">Active Users</h2>
                                <small class="d-block text-muted">Top 5 active users showing</small>
                            </div>
                            <div class="col-auto">
                                <abp-button button-type="Light" text="New" class="my-1" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2">
                        <table width="100%" class="table mb-0">
                            <tr>
                                <td class="text-truncate pl-0"><span class="badge badge-avatar badge-primary">VH</span> Vivian Harrell</td>
                                <td class="action-col pr-0 text-right" width="15">
                                    <abp-button-group>
                                        <abp-dropdown>
                                            <abp-dropdown-button button-type="Link" icon="ellipsis-v" class="my-1" />
                                            <abp-dropdown-menu class="dropdown-menu-right">
                                                <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                                <abp-dropdown-divider />
                                                <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                            </abp-dropdown-menu>
                                        </abp-dropdown>
                                    </abp-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate pl-0"><span class="badge badge-avatar badge-info">JB</span> Jackson Bradshaw</td>
                                <td class="action-col pr-0 text-right" width="15">
                                    <abp-button-group>
                                        <abp-dropdown>
                                            <abp-dropdown-button button-type="Link" icon="ellipsis-v" class="my-1" />
                                            <abp-dropdown-menu class="dropdown-menu-right">
                                                <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                                <abp-dropdown-divider />
                                                <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                            </abp-dropdown-menu>
                                        </abp-dropdown>
                                    </abp-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate pl-0"><span class="badge badge-avatar badge-success">BN</span> Bruno Nash</td>
                                <td class="action-col pr-0 text-right" width="15">
                                    <abp-button-group>
                                        <abp-dropdown>
                                            <abp-dropdown-button button-type="Link" icon="ellipsis-v" class="my-1" />
                                            <abp-dropdown-menu class="dropdown-menu-right">
                                                <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                                <abp-dropdown-divider />
                                                <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                            </abp-dropdown-menu>
                                        </abp-dropdown>
                                    </abp-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate pl-0"><span class="badge badge-avatar badge-light">TW</span> Thor Walton</td>
                                <td class="action-col pr-0 text-right" width="15">
                                    <abp-button-group>
                                        <abp-dropdown>
                                            <abp-dropdown-button button-type="Link" icon="ellipsis-v" class="my-1" />
                                            <abp-dropdown-menu class="dropdown-menu-right">
                                                <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                                <abp-dropdown-divider />
                                                <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                            </abp-dropdown-menu>
                                        </abp-dropdown>
                                    </abp-button-group>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate pl-0"><span class="badge badge-avatar badge-secondary">TM</span> Timothy Mooney</td>
                                <td class="action-col pr-0 text-right" width="15">
                                    <abp-button-group>
                                        <abp-dropdown>
                                            <abp-dropdown-button button-type="Link" icon="ellipsis-v" class="my-1" />
                                            <abp-dropdown-menu class="dropdown-menu-right">
                                                <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                                <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                                <abp-dropdown-divider />
                                                <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                            </abp-dropdown-menu>
                                        </abp-dropdown>
                                    </abp-button-group>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2 class="card-title">To Do List</h2>
                                <small class="d-block text-muted">%84 completed</small>
                            </div>
                            <div class="col-auto">
                                <abp-button button-type="Light" text="New" class="my-1" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row my-3">
                            <div class="col">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="check1">
                                    <label class="custom-control-label pl-3" for="check1">
                                        <h5 class="mb-0">Weekly Meeting with Marketing Team</h5>
                                        <small class="text-muted">Today: 05:00 PM</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-auto action-col">
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu class="dropdown-menu-right">
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="check2" checked>
                                    <label class="custom-control-label pl-3" for="check2">
                                        <h5 class="mb-0">Explore ABP Framework</h5>
                                        <small class="text-muted">Due in 1 Days</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-auto action-col">
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu class="dropdown-menu-right">
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="check3">
                                    <label class="custom-control-label pl-3" for="check3">
                                        <h5 class="mb-0">Create New Project</h5>
                                        <small class="text-muted">Due in 5 Days</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-auto action-col">
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu class="dropdown-menu-right">
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="check4">
                                    <label class="custom-control-label pl-3" for="check4">
                                        <h5 class="mb-0">Scoping & Estimations</h5>
                                        <small class="text-muted">Due in 5 Days</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-auto action-col">
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu class="dropdown-menu-right">
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </div>
                        </div> 
                        <div class="row mt-3">
                            <div class="col">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="check5" checked>
                                    <label class="custom-control-label pl-3" for="check5">
                                        <h5 class="mb-0">Make Design Desicions</h5>
                                        <small class="text-muted">Due in 12 Days</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-auto action-col">
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu class="dropdown-menu-right">
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">
                            Last Activity
                            <small class="d-block text-muted text-truncate">13.12.2019 - By Administrator</small>
                        </h2>
                    </div>
                    <div class="col-auto">
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="Today" class="my-1" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="lp-timeline mb-3">
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">08:42</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-warning"></i></div>
                        <div class="lp-timeline-content"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
                    </div>
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">10:00</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-success"></i></div>
                        <div class="lp-timeline-content"><span>Aliquam accumsan consequat ipsum nec eleifend.</span></div>
                    </div>
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">14:37</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-danger"></i></div>
                        <div class="lp-timeline-content"><span class="text-muted">Nulla venenatis lacinia dapibus.  <a href="#" class="text-primary font-weight-bold">USD 700</a>  lacinia dapibus.</span></div>
                    </div>
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">16:50</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-primary"></i></div>
                        <div class="lp-timeline-content"><span>Indulging in poorly driving and keep struct and keep structure keep great in poorly driving and keep structure keep great</span></div>
                    </div>
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">21:03</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-danger"></i></div>
                        <div class="lp-timeline-content"><span class="text-muted">New order placed<a href="#" class="text-primary">#XF-2356</a>.</span></div>
                    </div>
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">23:07</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-info"></i></div>
                        <div class="lp-timeline-content"><span class="text-muted">Outlines keep and you honest. Indulging in poorly driving</span></div>
                    </div>
                    <div class="lp-timeline-item align-items-start">
                        <div class="lp-timeline-label ">23:07</div>
                        <div class="lp-timeline-badge"><i class="fa fa-genderless text-info"></i></div>
                        <div class="lp-timeline-content"><span>Outlines keep and you honest. Indulging in poorly driving</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">The Most Active Workers</h2>
                        <small class="d-block text-muted">13.12.2019 - 02.08.2020 (Including today)</small>
                    </div>
                    <div class="col-auto">
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="Export" class="my-1" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <table id="LeptonDataTablesExample" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="dataTable-action-col"><i class="fas fa-cog"></i></th>
                            <th>Name</th>
                            <th>Position/Office</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-primary">VH</span> Vivian Harrell</td>
                            <td><span class="font-weight-bold d-block">Financial Controller</span>San Francisco</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-secondary">TM</span> Timothy Mooney</td>
                            <td><span class="font-weight-bold d-block">Office Manager</span>London</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-info">JB</span> Jackson Bradshaw</td>
                            <td><span class="font-weight-bold d-block">Director</span>New York</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-danger">OL</span> Olivia Liang</td>
                            <td><span class="font-weight-bold d-block">Support Engineer</span>Singapore</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-success">BN</span> Bruno Nash</td>
                            <td><span class="font-weight-bold d-block">Software Engineer</span>London</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-dark">SY</span> Sakura Yamamoto</td>
                            <td><span class="font-weight-bold d-block">Support Engineer</span>Tokyo</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light">TW</span> Thor Walton</td>
                            <td><span class="font-weight-bold d-block">Developer</span>New York</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-warning">FC</span> Finn Camacho</td>
                            <td><span class="font-weight-bold d-block">Support Engineer</span>San Francisco</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-primary">SB</span> Serge Baldwin</td>
                            <td><span class="font-weight-bold d-block">Data Coordinator</span>Singapore</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-secondary">TM</span> Timothy Mooney</td>
                            <td><span class="font-weight-bold d-block">Office Manager</span>London</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-secondary">ZF</span> Zenaida Frank</td>
                            <td><span class="font-weight-bold d-block">Software Engineer</span>New York</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-success">ZS</span> Zorita Serrano</td>
                            <td><span class="font-weight-bold d-block">Software Engineer</span>San Francisco</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light">JA</span> Jennifer Acosta</td>
                            <td><span class="font-weight-bold d-block">Junior Javascript Developer</span>Edinburgh</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-dark">CS</span> Cara Stevens</td>
                            <td><span class="font-weight-bold d-block">Sales Assistant</span>New York</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-warning">VH</span> Hermione Butler</td>
                            <td><span class="font-weight-bold d-block">Regional Director</span>London</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-secondary">LG</span> Lael Greer</td>
                            <td><span class="font-weight-bold d-block">Systems Administrator</span>London</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-danger">JA</span> Jonas Alexander</td>
                            <td><span class="font-weight-bold d-block">Developer</span>San Francisco</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-primary">SD</span> Shad Decker</td>
                            <td><span class="font-weight-bold d-block">Regional Director</span>Edinburgh</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-secondary">MB</span> Michael Bruce</td>
                            <td><span class="font-weight-bold d-block">Javascript Developer</span>Singapore</td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-primary">DS</span> Donna Snider</td>
                            <td><span class="font-weight-bold d-block">Customer Support</span>New York</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">Top Selling Tools/Modules</h2>
                        <small class="d-block text-muted">01.11.2020 - 01.12.2020</small>
                    </div>
                    <div class="col-auto">
                        <abp-button button-type="Light" text="Report" class="my-1 ml-2" />
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="Settings" class="my-1 ml-2" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                        <abp-button-group>
                            <abp-dropdown>
                                <abp-dropdown-button button-type="Light" text="This Year" icon="Date" class="my-1 ml-2" />
                                <abp-dropdown-menu class="dropdown-menu-right">
                                    <abp-dropdown-item href="#"> September 2020</abp-dropdown-item>
                                    <abp-dropdown-item href="#"> October 2020 </abp-dropdown-item>
                                </abp-dropdown-menu>
                            </abp-dropdown>
                        </abp-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <table id="LeptonDataTablesExample2" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="dataTable-action-col"><i class="fas fa-cog"></i></th>
                            <th>Product Name</th>
                            <th>Author Info</th>
                            <th class="dataTable-action-col" width="120">Graph</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th class="dataTable-action-col" width="50">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light"><i class="fa fa-photo"></i></span> Bootstrap Tag Helpers</td>
                            <td><span class="font-weight-bold d-block">Tom Y. Sawyer</span><small>Email: yekalkan@sawyer.tom</small> </td>
                            <td><div class="chart-margin-fix py-2"><canvas id="LeptonLineChartInline1" height="60" width="120"></canvas></div></td>
                            <td><span class="font-weight-bold d-block text-right">$1390</span><small class="d-block text-right">Paid</small></td>
                            <td class="text-right">10440</td>
                            <td>Framework</td>
                            <td class="action-col"><abp-button button-type="Link" icon="arrow-right" size="Small"></abp-button></td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light"><i class="fa fa-photo"></i></span> File Management Tool</td>
                            <td><span class="font-weight-bold d-block">Kerrufer A. Cotur</span><small>Email: ahmet@kerrufer.doe</small> </td>
                            <td><div class="chart-margin-fix py-2"><canvas id="LeptonLineChartInline2" height="60" width="120"></canvas></div></td>
                            <td><span class="font-weight-bold d-block text-right">$1390</span><small class="d-block text-right">Paid</small></td>
                            <td class="text-right">1567</td>
                            <td>Saas, Multi-tenant</td>
                            <td class="action-col"><abp-button button-type="Link" icon="arrow-right" size="Small"></abp-button></td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light"><i class="fa fa-photo"></i></span> Suite</td>
                            <td><span class="font-weight-bold d-block">Ethan A. Hunt</span><small>Email: mission@impossible.com</small> </td>
                            <td><div class="chart-margin-fix py-2"><canvas id="LeptonLineChartInline3" height="60" width="120"></canvas></div></td>
                            <td><span class="font-weight-bold d-block text-right">$1390</span><small class="d-block text-right">Paid</small></td>
                            <td class="text-right">1291</td>
                            <td>Framework</td>
                            <td class="action-col"><abp-button button-type="Link" icon="arrow-right" size="Small"></abp-button></td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light"><i class="fa fa-photo"></i></span>Exclusive Dashboard Theme</td>
                            <td><span class="font-weight-bold d-block">Gandalf A. Grey</span><small>Email: youshall@not.pass</small> </td>
                            <td><div class="chart-margin-fix py-2"><canvas id="LeptonLineChartInline4" height="60" width="120"></canvas></div></td>
                            <td><span class="font-weight-bold d-block text-right">$1390</span><small class="d-block text-right">Not Paid</small></td>
                            <td class="text-right">1112</td>
                            <td>Framework</td>
                            <td class="action-col"><abp-button button-type="Link" icon="arrow-right" size="Small"></abp-button></td>
                        </tr>
                        <tr>
                            <td>
                                <abp-button-group>
                                    <abp-dropdown>
                                        <abp-dropdown-button button-type="Link" icon="ellipsis-v" />
                                        <abp-dropdown-menu>
                                            <abp-dropdown-item href="#"> <i class="fa fa-pen text-muted w-25 text-center"></i> Edit</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-trash text-muted w-25 text-center"></i> Delete</abp-dropdown-item>
                                            <abp-dropdown-item href="#"> <i class="fa fa-warning text-muted w-25 text-center"></i> Report</abp-dropdown-item>
                                            <abp-dropdown-divider />
                                            <abp-dropdown-item href="#"> <i class="fa fa-cog text-muted w-25 text-center"></i> Settings</abp-dropdown-item>
                                        </abp-dropdown-menu>
                                    </abp-dropdown>
                                </abp-button-group>
                            </td>
                            <td class="text-truncate"><span class="badge badge-avatar badge-light"><i class="fa fa-photo"></i></span> Developer Tools </td>
                            <td><span class="font-weight-bold d-block">Arwen Z.</span><small>Email: zara@arwen.com</small> </td>
                            <td><div class="chart-margin-fix py-2"><canvas id="LeptonLineChartInline5" height="60" width="120"></canvas></div></td>
                            <td><span class="font-weight-bold d-block text-right">$1390</span><small class="d-block text-right">Paid</small></td>
                            <td class="text-right">1056</td>
                            <td>Framework</td>
                            <td class="action-col"><abp-button button-type="Link" icon="arrow-right" size="Small"></abp-button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <abp-script type="@typeof(ChartjsScriptContributor)" />

    <script>
        var bodyStyles = window.getComputedStyle(document.body);
        var rootBrandColor = bodyStyles.getPropertyValue('--brand'); //get brandColor from CSS Root Variables
        var rootPrimaryColor = bodyStyles.getPropertyValue('--primary'); //get primaryColor from CSS Root Variables
        var rootSecondaryColor = bodyStyles.getPropertyValue('--secondary'); //get secondaryColor from CSS Root Variables
        var rootSuccessColor = bodyStyles.getPropertyValue('--success'); //get successColor from CSS Root Variables
        var rootBgColor = bodyStyles.getPropertyValue('--background'); //get bgColor from CSS Root Variables
        var rootInfoColor = bodyStyles.getPropertyValue('--info'); //get infoColor from CSS Root Variables
        var rootDangerColor = bodyStyles.getPropertyValue('--danger'); //get dangerColor from CSS Root Variables
        var rootWarningColor = bodyStyles.getPropertyValue('--warning'); //get warningColor from CSS Root Variables

        new Chart(document.getElementById("LeptonMixLineChart"), {
            type: 'line',
            data: {
                labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
                datasets: [{
                    data: [282, 350, 411, 202, 635, 809, 947, 902, 1200, 1600],
                    label: "Asia",
                    borderColor: "#8e5ea2",
                    borderColor: rootPrimaryColor,
                    backgroundColor: rootBgColor,
                }, {
                    data: [168, 70, 178, 590, 203, 276, 408, 547, 675, 1222],
                    label: "Europe",
                    borderColor: "#3cba9f",
                    borderColor: rootInfoColor,
                    backgroundColor: rootBgColor,
                }, {
                    data: [540, 210, 210, 162, 242, 318, 714, 167, 508, 1444],
                    label: "Latin America",
                    borderColor: "#e8c3b9",
                    borderColor: rootDangerColor,
                    backgroundColor: rootBgColor,
                }
                ]
            },
            options: {
                title: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChart1').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: rootBgColor,
                    borderColor: rootBrandColor,
                    data: [2, 10, 5, 2, 20, 30, 45, 35]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChartInline1').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May'],
                datasets: [{
                    label: 'My First dataset', fill: false,
                    borderColor: rootPrimaryColor,
                    data: [22, 15, 28, 19, 44]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChartInline2').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May'],
                datasets: [{
                    label: 'My First dataset', fill: false,
                    borderColor: rootWarningColor,
                    data: [15, 22, 25, 18, 55]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChartInline3').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May'],
                datasets: [{
                    label: 'My First dataset', fill: false,
                    borderColor: rootSuccessColor,
                    data: [22, 15, 25, 18, 21]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChartInline4').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May'],
                datasets: [{
                    label: 'My First dataset', fill: false,
                    borderColor: rootSecondaryColor,
                    data: [1, 12, 8, 5, 16]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChartInline5').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May'],
                datasets: [{
                    label: 'My First dataset', fill: false,
                    borderColor: rootInfoColor,
                    data: [5, 11, 2, 16, 20]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonLineChart2').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            animation: {
                animateScale: true
            },
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: rootBgColor,
                    borderColor: rootSecondaryColor,
                    data: [22, 20, 16, 18, 20, 17, 25]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false //this will remove only the label
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('LeptonBarChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: "Europe",
                    backgroundColor: rootBgColor,
                    data: [2, 11, 7, 11, 15, 5, 4]
                }, {
                    label: 'Asia',
                    backgroundColor: rootSuccessColor,
                    borderColor: rootInfoColor,
                    data: [3, 12, 5, 14, 25, 10, 6]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx2 = document.getElementById('LeptonDonutChart').getContext('2d');
        var chart = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [10, 20, 40, 30],
                    backgroundColor: [rootPrimaryColor, rootSecondaryColor, rootSuccessColor, rootInfoColor]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'New',
                    'Return',
                    'Success',
                    'Anonymus'
                ]
            },
            options: {
                elements: {
                    arc: {
                        borderWidth: 0
                    }
                }
            }
        });

        $('#LeptonDataTablesExample').DataTable();
        $('#LeptonDataTablesExample2').DataTable();



        jQuery(document).ready(function () {
            $(".datepicker").datepicker({
                autoclose: true,
                language: abp.localization.currentCulture.cultureName
            });
            var $dateRangePicker = $('#DashboardFilterForm .input-daterange');
            $dateRangePicker.datepicker({
                autoclose: true,
                language: abp.localization.currentCulture.cultureName
            });
        });

    </script>
}
