﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@using Microsoft.Extensions.Configuration
@inject IStringLocalizer<KhaiThacResource> L
@inject IConfiguration config
<div id="InforData" class="detail-property1 detail-property-collapse">
    <div class="toggle-detail-property2" data-toggle="tooltip" data-placement="bottom" title="@L["Main:Close"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
        @*<span><i class="fa fa-times-circle" aria-hidden="true"></i></span>*@
    </div>
    <div class="detail-property-header">
        <span>@L["Main:InformationData"].Value</span>
    </div>
    <div class="detail-property-body">
        <div class="modal-info-right">
            <ul class="nav nav-tabs">

                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand active" data-li="step-info">
                    <a href="#" title="@L["Main:Info"].Value">
                        <svg id="Group_2087" data-name="Group 2087" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <path id="Path_44" data-name="Path 44" d="M0,0H24V24H0Z" fill="none" />
                            <path id="Path_45" data-name="Path 45" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22ZM11,11v6h2V11Zm0-4V9h2V7Z" fill="var(--primary)" />
                        </svg>
                        @*<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><defs></defs><path class="a" d="M0,0H24V24H0Z" /><path class="b" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20ZM11,7h2V9H11Zm0,4h2v6H11Z" /></svg>*@
                    </a>
                    <div class="line-bottom"></div>
                </li>
                @*<li role="presentation" class="li-modal-data-right" data-li="step-extend" style="display: block;">
                    <a href="#" class="fa fa-external-link" title="Mở rộng"></a>
                </li>*@
            <li role="presentation" class="li-modal-data-right li-modal-data-right-brand" data-li="step-document">
                <a href="#" title="@L["Main:DocumentViewer"].Value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <defs>
                        </defs>
                        <path class="a" style="fill: none;" d="M0,0H24V24H0Z"></path>
                        <path class="b" style="fill: rgba(0,0,0,0.87);" d="M3,21a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3h7.414l2,2H20a1,1,0,0,1,1,1V9H19V7H11.586l-2-2H4V17l1.5-6h17l-2.31,9.243a1,1,0,0,1-.97.757Zm16.938-8H7.062l-1.5,6H18.438Z"></path>
                    </svg>
                </a>
                <div class="line-bottom"></div>
            </li>
                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand" data-li="step-action">
                    <a href="#" title="@L["Main:Operation"].Value">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                            <defs>
                            </defs>
                            <path class="a" style="fill: none;" d="M0,0H24V24H0Z" />
                            <path class="b" style="fill: rgba(0,0,0,0.87);" d="M16.625,3.133l-1.5,1.5a7.992,7.992,0,1,0,4.242,4.242l1.5-1.5a10,10,0,1,1-4.242-4.242Zm1.739,1.089,1.414,1.414L12,13.414,10.586,12Z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="detail-property-content" style="float:right;">
            <div class="toa-nha">
                <div class="section section-info step-info" style="display: block;">
                    <div class="infor-area">
                        <div id="thongtin-co-ban">
                            <div class="row" style="margin: 0;border-bottom: 1px solid #ddd;margin-bottom: 10px;padding-bottom: 20px;">
                                <h4 style="font-weight: 700;">@L["Main:BasicInformation"].Value</h4>
                            </div>

                            <div class="row tool-map" style="margin:0;">
                                <div class="form-group col-md-12 form-common-infor">
                                    <div class="row">
                                        <label class="col-md-4">@L["Main:Title"].Value:</label>
                                        <span class="col-md-8 text-left"><span class="Title-info">sbbbb</span></span>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 form-common-infor">
                                    <div class="row">
                                        <label class="col-md-4">@L["Main:Content"].Value:</label>
                                        <span class="col-md-8"><span class="Content-info"><p>dfdfg</p></span></span>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 form-common-infor">
                                    <div class="row">
                                        <label class="col-md-4">@L["Main:Name"].Value:</label>
                                        <span class="col-md-8"><span class="Name-info">dfdfg</span></span>
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #ddd; margin: 0 13px; margin-bottom: 13px;"></div>
                        <div id="thongtin-chi-tiet">
                            <div class="row" style="margin: 0; border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 20px;">
                                <h4 style="font-weight: 700;">@L["Main:Details"].Value</h4>
                            </div>

                            <div class="row tool-map infor-detail" style="margin:0;min-height: 100%;">
                                <div class="form-group col-md-12 form-common-infor">
                                    <label class="col-md-6">Name:</label>
                                    <span class="col-md-6"><span class="Content-info">Mai</span></span>
                                </div><div class="form-group col-md-12 form-common-infor">
                                    <label class="col-md-6">Chiều cao:</label>
                                    <span class="col-md-6"><span class="Content-info">11</span></span>
                                </div><div class="form-group col-md-12 form-common-infor">
                                    <label class="col-md-6">Tán lá cây:</label>
                                    <span class="col-md-6"><span class="Content-info">22</span></span>
                                </div><div class="form-group col-md-12 form-common-infor">
                                    <label class="col-md-6">Loại rễ:</label>
                                    <span class="col-md-6"><span class="Content-info">33</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-right-sidebar">
                        <button class="btn btn-success btn-exportfile-info">
                            <span style="padding: 5px;">@L["Main:Download"].Value</span>
                        </button>
                    </div>

                    <div class="tool-modal">
                        <div class="tool-map-button group-hop-thua">
                            @*<button type="button" class="btn btn-danger btn-deleted"><i class="fa fa-trash-o" aria-hidden="true" style="margin: 0 5px;"></i>Xóa</button>
                            <button type="button" class="btn btn-primary btn-edited"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin: 0 5px;"></i>Chỉnh sửa</button>
                            <button type="button" class="btn btn-success btn-exportfile"><i class="fa fa-download" aria-hidden="true" style="margin: 0 5px;"></i>Xuất file</button>*@

                        </div>
                    </div>
                </div>

                <div class="section section-info step-document" style="display: none;">
                    <div class="infor-area">
                        <div style="padding: 13px;">
                            <div class="row" style=" margin: 0; border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 20px; padding-top: 10px;">
                                <h4 style="font-weight: 700;">@L["Main:InformationData"].Value</h4>
                            </div>

                            <div class="list-file-upload">
                                <div class="file-upload-content" data-code="fileUpload">
                                    <div class="div-border div-85" data-code="fileUpload" data-name="@L["Main:UploadFile"].Value">

                                        <div style="text-align: left;">
                                            <h4 style="font-weight: 600;">1. @L["Main:UploadFile"].Value</h4>
                                        </div>
                                    </div><div class="div-border div-15 upload-file-icon" data-code="fileUpload" data-name="@L["Main:UploadFile"].Value">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                    </div>
                                    <div class="li-list-file div-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="action-right-sidebar">
                        <button class="btn btn-sm btn-success mr-1" id="btn-download-document" style="width: 48%">
                            <span style="padding: 5px;">@L["Main:Download"].Value</span>
                        </button>
                        <button class="btn btn-sm btn-success" id="btn-view-document" style="width: 48%">
                            <span style="padding: 5px;">@L["Main:DocumentViewer"].Value</span>
                        </button>

                        <input type="file" id="input-upload-document" style="display:none;">
                    </div>
                </div>

                <div class="section section-info step-action" style="display: none;">
                    <div class="infor-area">
                        <div style="padding: 13px;">
                            <div class="row" style=" margin: 0;border-bottom: 1px solid #ddd;margin-bottom: 10px;padding-bottom: 20px;padding-top: 10px;">
                                <h4 style="font-weight: 700;">@L["Main:InformationData"].Value</h4>
                            </div>
                            <div style="margin: 0; min-height:100%;">
                                <table class="table-activity table">
                                    <thead>
                                        <tr style=" border: 1px solid #dee2e6; ">
                                            <th>@L["Main:No."].Value</th>
                                            <th>@L["Main:OperationName"].Value</th>
                                            <th>@L["Main:Date"].Value</th>
                                            <th>@L["Main:Manipulation"].Value</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td colspan="4">@L["Main:NoData"].Value</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*<div class="tool-modal">
                                <div class="tool-map-button group-hop-thua">
                                    <div class="" style="margin-bottom: 10px;display: flex;justify-content: space-evenly; width: 100%;">
                                        <button class="btn btn-primary" id="btn-activity-info">
                                            <span style="padding: 5px;">Chi tiết</span>
                                        </button>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="action-right-sidebar">
                        <button class="btn btn-success" id="btn-activity-info">
                            <span style="padding: 5px;">@L["Main:Detail"].Value</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
