﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization

@model IoT.KhaiThac.Web.Pages.KhaiThac.IndexModel
@inject IStringLocalizer<KhaiThacResource> L

<div class="change-tile-map">
    <div class="parent-tile-map" style="        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        background-image: url(/images/logomap4d_2.png);">
        <label>@L["Main:Default"].Value</label>
    </div>
</div>

<style>
    .change-tile-map {
        /*position: absolute;*/
        top: 5px;
        left: 5px;
        z-index: 100;
        width: 70px;
        height: 70px;
    }

        .change-tile-map .parent-tile-map {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            cursor: pointer;
            background: #FFF;
            border-radius: 5px;
        }

    .item-map {
        width: 100%;
        height: 80px;
        top: 0px;
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative;
        margin: 10px;
        cursor: pointer;
        background: #ddd;
    }

    .parent-tile-map label {
        width: 100%;
        /*height: 100%;*/
        color: #FFF;
        cursor: pointer;
        position: absolute;
        font-size: 12px;
        bottom: 0px;
        text-align: center;
        background: linear-gradient(#dedede1f, #4a5e42);
        margin: 0px;
        border-bottom-left-radius: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        display: inherit;
        border-bottom-right-radius: 5px;
    }

    .item-map label {
        width: 100%;
        /*height: 100%;*/
        color: #FFF;
        cursor: pointer;
        position: absolute;
        font-size: 12px;
        bottom: 0px;
        text-align: center;
        background: linear-gradient(#dedede1f, #4a5e42);
        margin: 0px;
        border-bottom-left-radius: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        display: inherit;
        border-bottom-right-radius: 5px;
    }
</style>