﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@using Microsoft.Extensions.Configuration
@inject IStringLocalizer<KhaiThacResource> L
@inject IConfiguration config
<div id="lst-Object" class="lst-Objec-property1">
    <div class="toggle-lst-Objec-property2" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["Main:Close"].Value" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
        @*<span><i class="fa fa-times-circle" title="@L["Main:Close"].Value" aria-hidden="true"></i></span>*@
    </div>
    <div class="lst-Object-property-header">
        <span>@L["Main:ListObject"].Value</span>
    </div>
    <div class="lst-Object-property-body">
        <div style="padding:0;">
            <div class="form-group hidden">
                <label>Chỉ mục tìm kiếm:</label>
                <select id="select-propeties-search" class="form-control"><option value=""></option></select>
            </div>
            <div class="conten-search">
                <div class="w-100">
                    <input type="text" id="search-lst-object" placeholder="@L["KhaiThac:PleasInputNameObject"].Value" class=" form-control">
                </div>
                <div class="div-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                        <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="content-lst">
            <ul class="list-object-content list-object-content-brand">
            </ul>
        </div>
    </div>
</div>
