﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@using Microsoft.Extensions.Configuration
@inject IStringLocalizer<KhaiThacResource> L
@inject IConfiguration config
<div class="menuMap">
    <a href="javascript:;" class="list-object-content-brand toogle-tree-bar" data-toggle="tooltip" data-placement="bottom" title="@L["Main:ClosePanel"].Value">

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" style="cursor: pointer;">
            <defs></defs>
            <g transform="translate(1988 32)">
                <g transform="translate(-1988 -32)">
                    <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                    <path style="fill: var(--primary)" class="b" d="M7.828,11H30v2H7.828l5.364,5.364-1.414,1.414L4,12l7.778-7.778,1.414,1.414Z"></path>
                </g>
                <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -28)"></rect>
                <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -14)"></rect>
            </g>
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="@L["Main:DisplayObjectAreNotManagedByTheOBject"].Value" data-type="-1" class="draw sugest-open-building list-object-content-brand">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style="fill:none;" d="M0,0H24V24H0Z" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M1.181,12a11,11,0,0,1,21.638,0A11,11,0,0,1,1.181,12ZM12,17a5,5,0,1,0-5-5A5,5,0,0,0,12,17Zm0-2a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z" />
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <a href="javascript:;" class="take-picture list-object-content-brand hidden" data-toggle="tooltip" data-placement="bottom" title="Chụp hình bản đồ">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M2,6a1,1,0,0,1,.992-1H21.008A.994.994,0,0,1,22,6V20a1,1,0,0,1-.992,1H2.992A.994.994,0,0,1,2,20ZM4,7V19H20V7Zm8,9a3,3,0,1,0-3-3,3,3,0,0,0,3,3Zm0,2a5,5,0,1,1,5-5A5,5,0,0,1,12,18ZM4,2h6V4H4Z" />
        </svg>

    </a>
    <a href="javascript:;" class="list-object-content-brand hidden" data-toggle="tooltip" data-placement="bottom" title="Xuất file PDF">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M12,16H8V8h4a4,4,0,0,1,0,8Zm-2-6v4h2a2,2,0,0,0,0-4Zm5-6H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008Z" />
        </svg>

    </a>

    <a href="javascript:;" class="list-object-content-brand hidden" data-toggle="tooltip" data-placement="bottom" title="In bản đồ">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M6,19H3a1,1,0,0,1-1-1V8A1,1,0,0,1,3,7H6V3A1,1,0,0,1,7,2H17a1,1,0,0,1,1,1V7h3a1,1,0,0,1,1,1V18a1,1,0,0,1-1,1H18v2a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1Zm0-2V16a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1v1h2V9H4v8ZM8,4V7h8V4ZM8,17v3h8V17ZM5,10H8v2H5Z" />
        </svg>

    </a>

    <a href="javascript:;" class="draw list-object-content-brand" data-type="0" data-toggle="tooltip" data-placement="bottom" title="@L["Main:DrawPoint"].Value">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20ZM7,11.5,16,8l-3.5,9L11,13Z" />
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <a href="javascript:;" class="draw list-object-content-brand" data-type="1" data-toggle="tooltip" data-placement="bottom" title="@L["Main:DrawLine"].Value">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M5,8V20H9V8ZM3,7,7,2l4,5V22H3Zm16,9V14H16V12h3V10H17V8h2V6H15V20h4V18H17V16ZM14,4h6a1,1,0,0,1,1,1V21a1,1,0,0,1-1,1H14a1,1,0,0,1-1-1V5A1,1,0,0,1,14,4Z" />
        </svg>

    </a>
    <a href="javascript:;" class="draw list-object-content-brand" data-type="2" data-toggle="tooltip" data-placement="bottom" title="@L["Main:DrawArea"].Value">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M20,16h2v6H16V20H8v2H2V16H4V8H2V2H8V4h8V2h6V8H20Zm-2,0V8H16V6H8V8H6v8H8v2h8V16ZM4,4V6H6V4ZM4,18v2H6V18ZM18,4V6h2V4Zm0,14v2h2V18Z" />
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <a href="javascript:;" class="draw toggle-search-content list-object-content-brand" data-type="4" data-toggle="tooltip" data-placement="bottom" title="@L["Main:Search"].Value">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,16a7,7,0,1,0-7-7A7,7,0,0,0,11,18Zm8.485.071L22.314,20.9,20.9,22.314l-2.828-2.829,1.414-1.414Z" />
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <a href="javascript:;" data-toggle="tooltip" id="xemThongTin" data-placement="bottom" title="@L["Main:ViewAttributes"].Value" data-type="3" class="draw list-object-content-brand">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style="fill: none;" d="M0,0H24V24H0Z" />
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M16,13l6.964,4.062-2.973.85,2.125,3.681-1.732,1-2.125-3.68-2.223,2.15ZM14,6h2V8h5a1,1,0,0,1,1,1v4H20V10H10V20h4v2H9a1,1,0,0,1-1-1V16H6V14H8V9A1,1,0,0,1,9,8h5ZM4,14v2H2V14Zm0-4v2H2V10ZM4,6V8H2V6ZM4,2V4H2V2ZM8,2V4H6V2Zm4,0V4H10V2Zm4,0V4H14V2Z" />
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <!--menu tham chiếu-->
    <a href="javascript:;" class="draw list-object-content-brand" data-type="5" data-toggle="tooltip" data-placement="bottom" title="@L["KhaiThac:Properties:TileReference"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <path id="Path_6787" data-name="Path 6787" d="M7,7V3A1,1,0,0,1,8,2H21a1,1,0,0,1,1,1V16a1,1,0,0,1-1,1H17v3.993A1.006,1.006,0,0,1,15.993,22H3.007A1.006,1.006,0,0,1,2,20.993L2,8.007A1.006,1.006,0,0,1,3.01,7ZM9,7h6.993A1.006,1.006,0,0,1,17,8.007V15h3V4H9ZM4,9,4,20H15V9Z" transform="translate(-2 -2)" fill="rgba(0,0,0,0.56)" />
        </svg>

    </a>
    <div class="right-line-horizel"></div>
    <a href="javascript:;" class="list-object-content-brand close-draw" data-toggle="tooltip" data-placement="bottom" title="@L["CancelAction"].Value">

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
            <path class="b" style="fill: rgba(0,0,0,0.56);" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Zm0-9.414,2.828-2.829,1.415,1.415L13.414,12l2.829,2.828-1.415,1.415L12,13.414,9.172,16.243,7.757,14.828,10.586,12,7.757,9.172,9.172,7.757Z" style=".b{fill:rgba(0,0,0,0.56);"></path>
        </svg>

    </a>



    <a href="javascript:;" class="change-tile-map list-object-content-brand" data-toggle="tooltip" data-placement="bottom" title="@L["Default"].Value">
        <div class="content-icon-menu text-brand">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                </defs>
                <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                <path class="b fill-color-svg" d="M2,5,9,2l6,3,6.3-2.7a.5.5,0,0,1,.7.46V19l-7,3L9,19,2.7,21.7a.5.5,0,0,1-.7-.46ZM16,19.4l4-1.714V5.033L16,6.747Zm-2-.131V6.736l-4-2V17.264ZM8,17.253V4.605L4,6.319V18.967l4-1.714Z" />
            </svg>
            <span>@L["LayerBaseMap"].Value</span>
        </div>
    </a>
    @*<a href="javascript:;" class="change-tile-map" style="display: block; background-repeat: no-repeat; background-position: center center; background-size: 100% 100%; background-image: url(/images/logomap4d.png);"></a>*@
</div>
