﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization

@model IoT.KhaiThac.Web.Pages.KhaiThac.IndexModel
@inject IStringLocalizer<KhaiThacResource> L

<div class="modal fade" id="myModalInforActivityDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Chi tiết hoạt động</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: calc(100vh - 170px);overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="danh-sach-chi-tiet-hoat-dong">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary btn-link-save">Lưu lại</button>
                </div>*@

        </div>
    </div>
</div>

<style>
    #myModalInforActivityDetail .table > tbody > tr > td, #myModalInforActivityDetail .table > thead > tr > th {
        border: 1px solid #dee2e6;
        text-align: center;
        vertical-align: middle;
    }
</style>