﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization

@model IoT.KhaiThac.Web.Pages.KhaiThac.IndexModel
@inject IStringLocalizer<KhaiThacResource> L

<div class="modal model-properties-activity" id="myModalActivity" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="max-width: 100vw;">
            <!-- Modal Header -->
            <div class="modal-header" style="">
                <h5 class="modal-title">@L["Main:OperationInformation"].Value</h5>
                @*<button type="button" id="close-modal" class="close close-modal-iotlink" data-dismiss="modal">&times;</button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: calc(100vh - 250px);overflow-y: auto;padding-top: 0px;">
                @*<div class="row">
                        <div class="col-md-12 title-li-tab nav-pills">

                        </div>
                    </div>*@
                <ul class="nav nav-tabs" style="">
                    <li class="nav-item">
                        <a class="nav-link li-tab" data-id="body-thong-tin-hoat-dong" href="#">
                            @L["Main:Info"].Value
                        </a>
                    </li>
                    <li class="nav-item class-extend hidden">
                        <a class="nav-link li-tab" data-id="body-mo-rong-hoat-dong" href="#">@L["Main:Extend"].Value</a>
                    </li>
                </ul>
                <div class="div-hoat-dong-body hidden" id="body-mo-rong-hoat-dong">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="Id" value="" />
                            <div>
                                <input type="hidden" name="Id" value="" />
                                <div>
                                    <div class="row div-item-FilePlace" style="">
                                        <div class="col-md-2 item-FilePlace item-FilePlace-primary activefile" style="display:none;" data-value="image">
                                            <span>@L["Main:Image"].Value</span>
                                        </div>
                                        <div class="col-md-2 item-FilePlace item-FilePlace-primary" style="display:none;" data-value="LinkCamera">
                                            <span>@L["Main:Link"].Value</span>
                                        </div>
                                        <div class="col-md-2 item-FilePlace item-FilePlace-primary" style="display: none;" data-value="FileUpload">
                                            <span>@L["Main:UploadFile"].Value</span>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-infor-object" style="table-layout:fixed;">
                                    <thead>
                                        <tr>
                                            <th width="7%">@L["Main:No."].Value</th>
                                            <th width="35%">@L["Main:Name"].Value</th>
                                            <th width="50%">@L["Main:Path"].Value</th>
                                            <th width="10%">@L["Main:Manipulation"].Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="4">@L["Main:NoData"].Value</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="div-hoat-dong-body" id="body-thong-tin-hoat-dong">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" style="text-align: center" data-dismiss="modal">@L["Main:Close"].Value</button>
            </div>
        </div>
    </div>
</div>
@*<partial name="_ModelLink.cshtml" />
    <partial name="_ModelFileUploadInfor.cshtml" />
    <partial name="_ModelViewImage.cshtml" />*@
<style>
/*    @@media only screen and (min-width: 968px) {
        .modal-dialog {
            min-width: 950px;
        }
    }*/

    .disable {
        pointer-events: none;
        opacity: 0.4;
    }

    .image-container-new {
        display: inline-block;
        border: 1px solid #ccc;
        width: 200px;
        /*height: 150px;*/
    }

        .image-container-new img {
            width: 100%;
            height: 100%;
        }

        .image-container-new #anhMinhHoa {
            width: 100%;
            height: 100%;
        }

    .btn-upload-image {
        margin-left: 10px;
        vertical-align: bottom;
        position: absolute;
        left: 5px;
        /*top: 295px;*/
        /*width: 400px;*/
        border-radius: 0px;
        width: 200px;
        bottom: 0px;
    }

    .btn-common {
        background-color: #F18175;
        color: white;
    }

    #MapLangVanHoa {
        width: 100%;
        height: 600px;
    }

    .search-place {
        width: 100%
    }

    .file-upload {
        background-color: #ffffff;
        width: 100%;
        margin: 10px auto;
        /*padding: 20px;*/
        text-align: center;
        border: 4px solid #ecf0f5;
    }

    .file-upload-btn {
        display: none;
        margin: 5px auto;
    }

        .file-upload-btn:hover {
            color: #000;
            transition: all .2s ease;
            cursor: pointer;
        }

        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

    .file-upload-content {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        /*margin: 20px 0px;*/
        border: 4px dashed #0000;
        position: relative;
    }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #ecf0f5;
            border: 4px solid #ffffff;
            cursor: pointer;
        }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

        .drag-text h3 {
            font-weight: 600;
            color: #3c8dbc;
            padding: 60px 0;
        }

    .file-upload-image {
        width: 100%;
        height: 100%;
        /*height: 175px;
        width: 175px;*/
        margin: auto;
        padding: 5px;
    }

    .remove-image {
        color: #ec5e4e;
        font-size: 22px;
        padding: 1px 6px;
    }

        .remove-image:hover {
            background: #ec5e4e;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }

        .remove-image:active {
            border: 0;
            transition: all .2s ease;
        }

    .search-newfile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

        .search-newfile button {
            background: #35aef5;
            font-size: 23px;
            color: white;
            margin: 0px;
            padding: 1px 6px;
        }

    td.url {
        max-width: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
        /*white-space: break-spaces;*/
    }

    .table-infor-object {
        /* border: 1px solid #dee2e6;*/
        text-align: center;
        margin-top: 10px;
    }

        .table-infor-object th, .table-infor-object td {
            border: 1px solid #dee2e6;
            text-align: center;
            border-top: 1px solid #dee2e6 !important;
            border-bottom: 1px solid #dee2e6 !important;
            border-color: #dee2e6 !important;
        }

        .table-infor-object tbody tr td {
            vertical-align: middle;
            word-break: break-word;
        }

        .table-infor-object tbody tr th {
            vertical-align: middle;
        }

    /*
    .model-properties-activity {
        overflow: scroll;
    }*/

    .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
        display: flex !important;
        align-items: baseline;
    }

    span.select2-selection.select2-selection--single {
        border-radius: 0;
        border-color: rgb(210, 214, 222);
        height: 32px !important;
        font-size: 14px !important;
        line-height: 1.5;
        padding: 3px 12px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 1.85 !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        margin-right: 10px;
    }

    .div-hoat-dong-body {
        padding: 15px;
    }

    #body-thong-tin-hoat-dong .row {
        min-height: 49px;
    }

        #body-thong-tin-hoat-dong .row .control-label {
            font-weight: bold;
        }
</style>
<style>
    #myModalActivity .modal-header {
        padding-top: 24px;
        padding-bottom: 15px;
    }

    #myModalActivity .modal-content, #myModalActivity .modal-header {
        border-radius: 4px;
    }

    #myModalActivity .modal-title {
        letter-spacing: 0px;
        text-transform: uppercase;
        opacity: 1;
        font-weight: 700;
    }

    .title-li-tab ul {
        border-radius: 4px;
        opacity: 1;
        margin: 15px 15px 0px 15px;
    }

        .title-li-tab ul li a {
            border-radius: 4px;
            opacity: 1;
            padding: 15px 25px;
            letter-spacing: 0px;
        }

    .div-item-FilePlace {
        margin: 0px 10px 0px 10px;
        /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
        box-shadow: 0px 1px 6px #00000029;
        border-radius: 4px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }


        .div-item-FilePlace .item-FilePlace {
            text-align: center;
            border-radius: 4px;
            place-self: center;
            cursor: pointer;
        }

            .div-item-FilePlace .item-FilePlace span {
                position: relative;
                display: block;
                letter-spacing: 0px;
                padding: 5px;
            }

    #myModalActivity.modal .modal-content .modal-body .nav-tabs:not(.nav-pills) {
        margin-top: 0px;
    }

    .btn-close-modal {
        text-align: center;
        background: #0CA501 0% 0% no-repeat padding-box;
        border-radius: 4px !important;
        opacity: 1;
        letter-spacing: 0px;
        color: #FCFCFC;
        width: 100px;
        height: 48px;
    }

    .modal-footer .btn:hover {
        color: #FCFCFC !important;
    }
</style>
