﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization

@model IoT.KhaiThac.Web.Pages.KhaiThac.IndexModel
@inject IStringLocalizer<KhaiThacResource> L


<div class="modal fade" id="modal-list-layer-base-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@L["Main:ChooseMapType"].Value</h4>
            </div>

            <div class="modal-body">
                <div class="div-child-body2" id="body-modal-list-layer-base-map" style="height: 350px; overflow-y: auto;">
                    <div class="row" style="display:grid; grid-template-columns: auto auto; grid-gap: 0rem;">
                        <div class="" style="margin: 0 auto;">
                            <div class="section-action-chip-button">
                                <div class="enjoy-direction-map" data-lat="16.0766625" data-lng="108.222828125" data-type="map4d">
                                    <img src="/images/logomap4d.png" style="border: 1px solid orange; border-radius: 100%;">
                                </div>
                                <div> Map4D </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-cancel close-buttonCreate">@L["Main:Close"].Value</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #modal-list-layer-base-map .modal-title {
        text-align: center;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        text-transform: uppercase;
        opacity: 1;
        margin: 15px;
        /* margin-top: 14px; */
        /* font-size: 17px; */
        width: 100%;
        /* margin-bottom: 29px; */
        font-weight: 600;
    }

    .newcomondrawmodal {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
        width: 100%;
        text-align: left;
        height: 75px;
    }

    img.imagecommon {
        width: 24px;
        height: 24px;
        opacity: 1;
    }

    .modal-list-layer-base-map {
        overflow: scroll;
    }

    #body-modal-list-layer-base-map .row {
        margin: 10px auto;
    }

    .modal-list-layer-base-map .modal-footer {
        text-align: none !important;
        /*display: flex;*/
    }

    .change-tile-map {
        /*position: absolute;*/
        top: 5px;
        left: 5px;
        z-index: 100;
        width: 120px !important;
        height: 70px;
        margin-left: auto;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: 100% 100% !important;
        border-right: none !important;
    }

        .change-tile-map .parent-tile-map {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            cursor: pointer;
            background: #FFF;
            border-radius: 5px;
        }

    .item-map {
        width: 100%;
        height: 80px;
        top: 0px;
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative;
        margin: 10px;
        cursor: pointer;
        background: #ddd;
    }

    .parent-tile-map label {
        width: 100%;
        /*height: 100%;*/
        color: #FFF;
        cursor: pointer;
        position: absolute;
        font-size: 12px;
        bottom: 0px;
        text-align: center;
        background: linear-gradient(#dedede1f, #4a5e42);
        margin: 0px;
        border-bottom-left-radius: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        display: inherit;
        border-bottom-right-radius: 5px;
    }

    .item-map label {
        width: 100%;
        /*height: 100%;*/
        color: #FFF;
        cursor: pointer;
        position: absolute;
        font-size: 12px;
        bottom: 0px;
        text-align: center;
        background: linear-gradient(#dedede1f, #4a5e42);
        margin: 0px;
        border-bottom-left-radius: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        display: inherit;
        border-bottom-right-radius: 5px;
    }

    .close-buttonCreate {
        background: var(--primary) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        margin-top: 12px;
        width: 100px;
        height: 48px;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        color: #FCFCFC;
    }

        .close-buttonCreate:hover {
            color: #FCFCFC;
        }

    .change-tile-map .content-icon-menu {
        border-radius: 24px;
        background: var(--forcus);
        height: 48px;
        border: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .change-tile-map svg {
        margin: 0;
        display: unset;
    }
</style>
