﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization

@model IoT.KhaiThac.Web.Pages.KhaiThac.IndexModel
@inject IStringLocalizer<KhaiThacResource> L

<div class="modal fade" id="myModalViewImageInfor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body" style="padding:0px">

                <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" style=" width: 85%;height: 450px;">
                    <div class="carousel-inner">

                    </div>
                    <a class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">@L["Menu:Previous"].Value</span>
                    </a>
                    <a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">@L["Menu:Next"].Value</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .slide {
        position: absolute;
        top: 3rem;
        /*height: 4px;
        background: #ccc;*/
        /* left: 65px;
        right: 9px;*/
    }

    #carouselExampleIndicators {
        background: #ccc0 !important;
    }

    /*.carousel-inner .carousel-item {
        height: 500px;
    }*/

        .carousel-inner .carousel-item img {
            /*margin: auto;*/
            width: 100%;
        }

    .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
        display: flex !important;
        align-items: baseline;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        cursor: pointer;
    }

    .visually-hidden {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0,0,0,0) !important;
        white-space: nowrap !important;
        border: 0 !important;
    }
</style>