﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@inject IStringLocalizer<KhaiThacResource> L
<div id="reference-content" class="search-content">
    <div class="search-content-header text-center">
        <span>@L["KhaiThac:Properties:TileReference"].Value</span>
    </div>
    <div class="search-content-body reference-content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label style="font-weight: bold;">@L["KhaiThac:Properties:SelectReferenceLayer"].Value</label>
                    <select class="form-control" id="select-reference-layer"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label style="font-weight: bold; margin-bottom: 10px;">@L["KhaiThac:Properties:SelectReferencedMultiLayer"].Value</label>
                    <select multiple="multiple" class="form-control" id="select-referenced-multilayer"></select>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-12">
                <ul class="choosen-search-retage">
                    <li class="item-search">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title=" @L["Polygon"].Value" id="btnSearchPolygon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect id="Rectangle_3226" data-name="Rectangle 3226" width="24" height="24" transform="translate(-5342 -14658)" fill="#fff" stroke="#fff" stroke-width="1" />
                                    </clipPath>
                                </defs>
                                <g id="Mask_Group_51" data-name="Mask Group 51" transform="translate(5342 14658)" clip-path="url(#clip-path)">
                                    <path id="Path_6365" data-name="Path 6365" d="M-5356.974-14665l12.369-8.066,8.425,10.576-6.453,10.038-12.011-4.3Z" transform="translate(16.987 16.84)" fill="none" stroke="rgb(0,0,0,0.56)" stroke-width="2" />
                                </g>
                            </svg>

                        </a>
                    </li>
                    <li class="item-search item-search-active">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title=" @L["Circle"].Value" id="btnSearchCircle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.493" height="24.531" viewBox="0 0 24.493 24.531">
                                <defs>

                                </defs>
                                <g transform="translate(0.247 0.266)">
                                    <path class="a" style="fill:none;" d="M0,0H24V24H0Z" />
                                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M3.055,13H5.07a7,7,0,0,0,13.858,0h2.016a9,9,0,0,1-17.89,0Zm0-2a9,9,0,0,1,17.89,0H18.93A7,7,0,0,0,5.072,11Z" transform="translate(28.391 16.393) rotate(150)" />
                                </g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>-->
        <!--
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="custom-checkbox custom-control mb-2">
                        <input type="checkbox" data-val="true" id="check-search-follow-properties" name="check-search-follow-properties" value="true" class="custom-control-input">
                        <label class="custom-control-label" for="check-search-follow-properties">@L["LayerSearch"].Value</label>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="content-chil-layer" style="display:none;">
                <div class="form-group">
                    <label style="font-weight: bold; margin-bottom: 10px;">@L["LayerName"].Value</label>
                    <select class="form-control" id="select-search-layer">
                    </select>
                </div>
            </div>
        </div>
            -->
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <button class="btn btn-danger" id="close-tim-kiem">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                </defs>
                                <path class="a" style=" fill: none;" d="M0,0H24V24H0Z" />
                                <path class="b" style=" fill: #fff;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z" />
                            </svg>
                            @L["Main:Close"].Value
                        </button>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="search-content-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center">

                    <div class="row-search box-btn-search">
                        @*<button class="btn btn-danger btn-retype" id="btn-reference-cancel">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                    </defs>
                                    <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
                                    <path class="b" style=" fill: #fff;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
                                </svg>
                                @L["KhaiThac:Properties:BtnCancel"].Value
                            </button>*@
                        <button class="btn btn-retype btn-danger" id="btn-close-reference-layer"> @L["Main:Close"].Value</button>
                        <button class="btn btn-retype btn-info btn-sidebar-search" id="btn-reference-layer">
                            @*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <defs>
                                    </defs>
                                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                                    <path class="b" style="fill: #FFF;" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,16a7,7,0,1,0-7-7A7,7,0,0,0,11,18Zm8.485.071L22.314,20.9,20.9,22.314l-2.828-2.829,1.414-1.414Z"></path>
                                </svg>*@
                            @L["KhaiThac:Properties:ButtonReference"].Value
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
