﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@using Microsoft.Extensions.Configuration
@inject IStringLocalizer<KhaiThacResource> L
@inject IConfiguration config
<div class="result-reference-content">
    <div class="result-reference-content-header">
        <span>Kết quả tham chiếu</span>
        <div class="close-result_reference_content" data-toggle="tooltip" data-placement="bottom" title="@L["Main:Close"].Value">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                </defs>
                <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
                <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
            </svg>
        </div>
    </div>
    <div class="result-reference-content-body">
        <div class="head-list-result-reference">
            <span>Thông tin đối tượng</span>
        </div>
        <div class="infor-result-reference">

        </div>
        <div class="head-list-result-reference">
            <span>Đối tượng được tham chiếu</span>
        </div>
        <div class="infor-result-referenced-multi">
            <div class="div-content-list-object-referenced">
                <ul class="list-result-referenced list-object-content-brand">
                    <li class="item-search-referenced" data-id="5b15eae5-b152-9b3d-c498-39fc717bd7f6" data-directory="e840c08c-5126-7b01-cf33-39fb5550aae4">
                        <div class="col-STT">
                            <span>1</span>
                        </div>
                        <div class="col-Info">
                            <span class="text-info">Thảm cỏ lô 45E</span>
                            <p>Lớp dữ liệu : Thảm cỏ</p>

                        </div>
                    </li>
                    <li class="item-search-referenced"  data-id="61b1693f-61d1-e8b6-d786-39fc717bd7ff" data-directory="e840c08c-5126-7b01-cf33-39fb5550aae4">
                        <div class="col-STT">
                            <span>2</span>
                        </div>
                        <div class="col-Info">
                            <span class="text-info">Thảm cỏ lô 45B</span>
                            <p>Lớp dữ liệu : Thảm cỏ</p>

                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>