﻿@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@inject IStringLocalizer<KhaiThacResource> L
<div id="search-content" class="search-content">
    @*<div class="toggle-search-content">
            <span><i class="fa fa-times-circle" aria-hidden="true"></i></span>
        </div>*@
    <div class="search-content-header text-center">
        <span>@L["Main:Search"].Value</span>
    </div>
    <div class="search-content-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label style="font-weight: bold;">@L["FolderSearch"].Value</label>
                    <select class="form-control" id="select-folder-parent"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <ul class="choosen-search-retage">
                    <li class="item-search" data-type="1">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title=" @L["Polygon"].Value" id="btnSearchPolygon">
                            @*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                        </defs>
                        <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                        <path class="b" style="fill: rgba(0,0,0,0.56);" d="M20,16h2v6H16V20H8v2H2V16H4V8H2V2H8V4h8V2h6V8H20Zm-2,0V8H16V6H8V8H6v8H8v2h8V16ZM4,4V6H6V4ZM4,18v2H6V18ZM18,4V6h2V4Zm0,14v2h2V18Z" />
                    </svg>*@
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <clipPath id="clip-path">
                                        <rect id="Rectangle_3226" data-name="Rectangle 3226" width="24" height="24" transform="translate(-5342 -14658)" fill="#fff" stroke="#fff" stroke-width="1" />
                                    </clipPath>
                                </defs>
                                <g id="Mask_Group_51" data-name="Mask Group 51" transform="translate(5342 14658)" clip-path="url(#clip-path)">
                                    <path id="Path_6365" data-name="Path 6365" d="M-5356.974-14665l12.369-8.066,8.425,10.576-6.453,10.038-12.011-4.3Z" transform="translate(16.987 16.84)" fill="none" stroke="rgb(0,0,0,0.56)" stroke-width="2" />
                                </g>
                            </svg>

                        </a>
                    </li>
                    <li class="item-search" data-type="2">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title=" @L["Circle"].Value" id="btnSearchCircle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24.493" height="24.531" viewBox="0 0 24.493 24.531">
                                <defs>

                                </defs>
                                <g transform="translate(0.247 0.266)">
                                    <path class="a" style="fill:none;" d="M0,0H24V24H0Z" />
                                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M3.055,13H5.07a7,7,0,0,0,13.858,0h2.016a9,9,0,0,1-17.89,0Zm0-2a9,9,0,0,1,17.89,0H18.93A7,7,0,0,0,5.072,11Z" transform="translate(28.391 16.393) rotate(150)" />
                                </g>
                            </svg>
                        </a>
                    </li>

                    <li class="item-search" data-type="3">
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title=" @L["Line"].Value" id="btnSearchLine">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                </defs>
                                <path class="a" style="fill:none;" d="M0,0H24V24H0Z"></path>
                                <path class="b" style="fill: rgba(0,0,0,0.56);" d="M3.5,18.49l6-6.01,4,4L22,6.92,20.59,5.51,13.5,13.48l-4-4L2,16.99Z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>

                <div class="" style="display:none;" id="content-buffer-input">
                    <div class="w-100 d-flex" style="place-items: center;">
                        <label style=" width: 55%;">@L["KhaiThac:BufferZone"].Value (m)</label>
                        <input style=" width: 45%;" value="100" type="number" id="meter-buffer-line" class="form-control text-center">
                    </div>
                </div>

                <div class="mb-2 mt-2" id="content-search-properties">
                    <div class="w-100">
                        <input type="text" id="input-search-properties" class="form-control" placeholder="@L["KhaiThac:PleaseInputNameOrTitleOrDescription"].Value">
                    </div>
                </div>

            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="custom-checkbox custom-control mb-2">
                        <input type="checkbox" data-val="true" id="check-search-follow-properties" name="check-search-follow-properties" value="true" class="custom-control-input">
                        <label class="custom-control-label" for="check-search-follow-properties">@L["LayerSearch"].Value</label>
                    </div>
                </div>
            </div>

            <div class="col-md-12" id="content-chil-layer" style="display:none;">
                <div class="form-group">
                    <label style="font-weight: bold; margin-bottom: 10px;">@L["LayerName"].Value</label>
                    <select class="form-control" id="select-search-layer">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center">
                    <div class="row-search box-btn-search">
                        <button class="btn btn-retype" id="btn-refresh-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                </defs>
                                <path class="a" style="fill: none;" d="M0,0H24V24H0Z" />
                                <path class="b" style=" fill: rgba(0,0,0,0.56);" d="M5.463,4.433A10,10,0,0,1,20.19,17.74L17,12h3A8,8,0,0,0,6.46,6.228l-1-1.8ZM18.537,19.567A10,10,0,0,1,3.81,6.26L7,12H4a8,8,0,0,0,13.54,5.772Z" />
                            </svg>
                            @L["Refesh"].Value
                        </button>
                        <button class="btn btn-retype btn-info btn-sidebar-search" id="btn-search-layer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                </defs>
                                <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                                <path class="b" style="fill: #FFF;" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,16a7,7,0,1,0-7-7A7,7,0,0,0,11,18Zm8.485.071L22.314,20.9,20.9,22.314l-2.828-2.829,1.414-1.414Z"></path>
                            </svg>
                            @L["Main:Search"].Value
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center">
                    <button class="btn btn-danger" id="close-tim-kiem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <defs>
                            </defs>
                            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z" />
                            <path class="b" style=" fill: #fff;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z" />
                        </svg>
                        @L["Main:Close"].Value
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
