﻿<div class="change-time-map">
    <div class="calendar hideTime">
        <div style="padding-right: 5px;"><img src="~/images/cbimage.png" /></div>
        <div class="time"></div>
    </div>
</div>
<div div class="change-model-time-map" style="display: none;">
    <div class="present-years color-temp bg-header"><span class="date-text-year">Hiện tại</span><br><span class="date-number-year">4/2021</span></div>
    <div class="collapses"></div>
    <span class="date-text">Hiển thị dữ liệu bản đồ theo thời gian</span>
    <div class="select-time">
            <select class="form-select time-select-common time-month-select">
                <option value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
            </select>
            <select class="form-select time-select-common time-year-select">
                <option value="1">2021</option>
            </select>        
    </div>
    <div class="btn-time-map">
        <button class="btn btn-secondary btn-close-time">HỦY</button>
        <button class="btn btn-primary btn-save-time color-temp">LƯU</button>
    </div>
</div>
<style>
    .change-time-map {
        position: absolute;
        z-index: 100;
        bottom: 12px;
        right: 157px;
    }

        .change-time-map .calendar {
            display: flex;
            background: #fbfbfb;
            height: 31px;
            align-items: center;
            padding: 0 5px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

            .change-time-map .calendar.disable {
                cursor: not-allowed;
                opacity: 0.5;
            }

    .change-model-time-map {
        width: 360px;
        height: 219px;
        right: 0;
        position: absolute;
        bottom: 50px;
        background: #fafafa;
        z-index: 100;
    }

    .present-years {
        position: absolute;
        width: 285px;
        height: 50px;
        right: 37px;
        top: 18px;
        /*background: #007aff;*/
        cursor: pointer;
        /*color: #fff;*/
        text-align: center;
        padding: 5px;
    }

        .present-years .date-text-year {
            font-size: 17px;
        }

    .change-model-time-map .date-text {
        position: absolute;
        width: 261px;
        height: 24px;
        top: 96px;
        left: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        font-size: 14px;
        color: rgba(0,0,0,.541327);
        text-align: center;
    }

    .change-model-time-map .btn-time-map {
        position: absolute;
        bottom: 0px;
    }

        .change-model-time-map .btn-time-map .btn-close-time {
            width: 179px;
            height: 40px;
            /*background: #7383a1;*/
            margin: 0px;
            border: none;
            border-radius: 0px;
        }

        .change-model-time-map .btn-time-map .btn-save-time {
            width: 177px;
            height: 40px;
            /*background: #7383a1;*/
            margin: 0px;
            border: none;
            border-radius: 0px;
        }

    .change-model-time-map .select-time {
        position: absolute;
        width: 100%;
        height: 35px;
        top: 132px;
        display: flex;
        justify-content: space-evenly;
    }

        .change-model-time-map .select-time .time-select-common {
            width: 40%;
            border: none;
            border-bottom: 1px solid #ccc;
        }

    .collapses {
        position: absolute;
        width: 360px;
        height: 1px;
        top: 83px;
        background: rgba(0,0,0,.12);
    }

    .color-temp {
        /*background: rgb(238, 70, 34);*/
    }

        .color-temp:hover, .color-temp:active, .color-temp:focus {
            /*background: rgb(238, 70, 34) !important;*/
        }

    .hideTime {
        opacity: 0.5;
        background: #fbfbfb;
        cursor: not-allowed !important;
    }
</style>