﻿@page
@using Microsoft.Extensions.Localization
@using IoT.KhaiThac.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.KhaiThac.Web.Menus
@using Microsoft.Extensions.Configuration

@model IoT.KhaiThac.Web.Pages.KhaiThac.IndexModel
@inject IStringLocalizer<KhaiThacResource> L
@inject IConfiguration config
@inject IPageLayout PageLayout
@{
    PageLayout.Content.MenuItemName = KhaiThacMenus.Prefix;
    ViewBag.Title = L["Menu:KhaiThac"].Value; }

<div class="div-content card">
    <div class="left-tree">
        <div class="map-side-form show">
            <div class="form-inner content-side">
                <partial name="_SearchContent.cshtml" />
                <partial name="_ReferenceContent.cshtml" />
                <div class="form-header">
                    <span class="title">@L["Main:ListDataLayer"].Value</span>
                </div>
                <div class="form-body active">
                    <div class="content-search-tree">
                        <div class="w-100">
                            <input type="text" class="search-tree form-control" placeholder="@L["KhaiThac:PleaseInputLayerName"].Value">
                        </div>
                        <div class="div-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs></defs>
                                <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                                <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="scroll-content">
                        <div class="content-form">
                            <div id="checkTree" style="display:none;"></div>
                            <ul class="tree-o-i">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="map-view">
        <div class="map-container" id="vp-search-map">
            <div id="map4d">

                <partial name="_MenuMap.cshtml" />

                <partial name="_InforData.cshtml" />

                <partial name="_ListObjectData.cshtml" />

                <partial name="_TimeMap.cshtml" />

                <partial name="_ResultReferenceContent.cshtml" />

                <div class="result-search-content" id="result-search-content">
                    <div class="spinner" id="spinner-result-search-body">
                        <div class="center-div">
                            <div class="loader-left-menu text-brand" style="position: relative;margin: 5px auto;">Loading...</div>
                        </div>
                    </div>
                    <div class="result-search-content-header">
                        <span>@L["SearchResult"].Value</span>
                        <div class="close-search-result" data-toggle="tooltip" data-placement="bottom" title="@L["Main:Close"].Value">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                </defs>
                                <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
                                <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="result-search-content-body">
                        <div class="head-list-result">
                            <div class="col-STT">
                                <span style="border-right: 1px solid #dedede; padding-right: 8px;">@L["Main:No."].Value</span>
                            </div>
                            <div class="col-Info">
                                <span>@L["LayerName"].Value</span>
                            </div>
                        </div>
                        <div class="div-content-list-object">
                            <ul class="list-result-search list-object-content-brand"></ul>
                        </div>

                    </div>
                </div>

                <div class="content-show-info-map">
                    @*<span class="geo-info-close-icon"><i class="fa fa-times"></i></span>*@
                    <div class="body-info-map">
                    </div>
                </div>

                <div class="dien-tich-qtsc bg-primary">
                    @L["Acreage"].Value QTSC: 43 HA
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalInforActivityDetail.cshtml" />
<partial name="_ModalActivityDetail.cshtml" />
<partial name="_ModelViewImage.cshtml" />
<partial name="_ModalListLayerBaseMap.cshtml" />



@section styles {
    <environment include="Development">
        <link href="~/Pages/KhaiThac/index.css" rel="stylesheet" />
        <link href="~/Pages/KhaiThac/search-content.css" rel="stylesheet" />
        <link href="~/Pages/KhaiThac/left-sidebar-layout.css" rel="stylesheet" />
        <link href="~/Pages/KhaiThac/left-sidebar-content-layout.css" rel="stylesheet" />
        <link href="~/Pages/KhaiThac/right-sidebar-info-layer.css" rel="stylesheet" />
        <link href="~/Pages/KhaiThac/list-object-sidebar.css" rel="stylesheet" />
        <link href="~/Pages/KhaiThac/ReferenceContent.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/Pages/KhaiThac/khaithac.min.css" asp-append-version="true" />
    </environment>

    <link href="~/libs/common/info-marker.css" rel="stylesheet" />
}
@section scripts{

    <script>
        var lat =@config.GetSection("SettingMap:QTSC.Map.Lat").Value;
        var lng = @config.GetSection("SettingMap:QTSC.Map.Lng").Value;
        var zoom = @config.GetSection("SettingMap:QTSC.Map.Zoom").Value;
        var bounds = @config.GetSection("SettingMap:QTSC.Map.Bounds").Value;
        var key = '@config.GetSection("SettingMap:QTSC.AccessKey").Value';
        var maxRequest = Number(@config.GetSection("SettingApp:MaxRequest").Value);
        var kTTruc = Number(@config.GetSection("SettingApp:KTTruc").Value);
        var zone = Number(@config.GetSection("SettingApp:Zone").Value);
        var sRSEPSG = @config.GetSection("SettingApp:SRS.EPSG").Value;

        var ListLayerPermission = JSON.parse('@Html.Raw(Json.Serialize(Model.ListLayer))');
        var ListIdLayer = JSON.parse('@Html.Raw(Json.Serialize(Model.ListIdLayer))');
        var isAdmin = '@Model.IsAdmin';
    </script>
    <script src="//api.map4d.vn/sdk/map/js?key=b77745a2eb604d0989e2b5648d0019b2&callback=callback&version=1.5.3" type="text/javascript"></script>
    <script src="~/libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/libs/turfjs/turf.min.js"></script>
    <environment include="Development">
        <script src="~/Pages/KhaiThac/right-sidebar-info-layer.js"></script>
        <script src="~/Pages/KhaiThac/ConvertXYZ.js"></script>
        <script src="~/Pages/KhaiThac/tree-view-layer.js"></script>
        <script src="~/Pages/KhaiThac/Index.js"></script>
        <script src="~/Pages/KhaiThac/TimeMap.js"></script>
        <script src="~/Pages/KhaiThac/layerbasemap.js"></script>
        <script src="~/Pages/KhaiThac/search-content.js"></script>
        <script src="~/Pages/KhaiThac/ReferenceContent.js"></script>
        <script src="~/Pages/KhaiThac/ViewObjectWithZoom.js"></script>
        @*<script src="~/libs/select2/js/i18n/vi.js"></script>*@
    </environment>
    <environment exclude="Development">
            <script src="~/Pages/KhaiThac/khaithac.min.js" asp-append-version="true"></script>
        </environment>
    <script src="//js.arcgis.com/4.14/"></script>
    <script type="text/javascript">
        $(function () {
            map = new map4d.Map(document.getElementById("map4d"),
                {
                    center: [lng, lat],
                    zoom: zoom,
                    geolocate: true,
                    controls: true,
                    tilt: 0,
                    controlOptions: map4d.ControlOptions.BOTTOM_RIGHT,
                    accessKey: key,
                    minZoom: 1,
                    maxZoom: 22,
                    maxNativeZoom: 19,
                    shouldChangeMapMode: function () {
                        return false
                    }
                }
            )
            map.setPOIsEnabled(false);
            map.setWaterEffect(true);
            map.setBuildingsEnabled(true);
            MapControl.init();
            TreeViewLayer.init();
            exploit.init();
            LayerBaseMap.init();
            ThongTin.init();
            exploit.GLOBAL.defaultConfig.zoom = zoom;
            exploit.GLOBAL.defaultConfig.lat = lat;
            exploit.GLOBAL.defaultConfig.lng = lng;
            timemap.init();
            TimKiem.init();
            ViewObjectWithZoom.init();
            ReferenceContent.init();
            /*$('.time-select-common').select2();*/
        });

        function delay(callback, ms) {
            var timer = 0;
            return function () {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                    callback.apply(context, args);
                }, ms || 0);
            };
        }
    </script>
}
