﻿.entry-row, #AbpContentToolbarQTSC, #AbpContentToolbar {
    display: none;
}

.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    margin-bottom: 0px;
    position: static;
    min-height: calc(100vh - 63px);
}

.section.section-info {
    border: 0px !important;
}

.loading-map {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
}

    .loading-map > img {
        width: 80px;
        margin-top: 20%;
    }

#map, #map4d {
    width: 100%;
    height: calc(100vh - 63px);
}

.item-li {
    display: flex;
    margin-left: 13px;
}

    .item-li i {
        font-size: 17px;
    }

    .item-li:hover, .item-li:active, .item-li:focus {
        font-weight: 600;
    }

.content-form ul {
    list-style-type: none;
    font-size: 13px;
    padding-left: 1.5rem;
}

    .content-form ul li {
        position: relative;
        margin: 0;
        padding: 0;
        padding-top: 1.5rem;
    }

li.li-modal-data-right path.a {
    fill: #FFF;
}

li.li-modal-data-right.active path.b, li.li-modal-data-right:hover path.b, li.li-modal-data-right.active text.a, li.li-modal-data-right:hover text.a {
    fill: var(--primary);
}

.modal-info-right .nav-tabs > li > a:hover {
    background: none;
    border: none;
}

.modal-info-right .nav-tabs > li > a {
    background: none;
    border: none;
}

.draw.disabled {
    cursor: no-drop;
    opacity: 0.3;
}

.drop-action-draw {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 55px;
}

.body-info-map {
    padding: 10px 15px;
    font-size: 12px;
}

.content-show-info-map {
    z-index: 2;
    background: #FFF;
    position: absolute;
    right: 10px;
    top: 70px;
    display: none;
    width: 230px;
    border-radius: 5px;
    box-shadow: 0.19rem 0 0.375rem 0 #00000029;
}

    .content-show-info-map.open {
        display: block;
    }

.geo-info-close-icon {
    top: 4px;
    right: 4px;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    overflow: visible;
}

.dien-tich-qtsc {
    position: absolute;
    text-transform: uppercase;
    z-index: 159;
    top: 69px;
    width: 230px;
    height: 48px;
    text-align: center;
    right: 10px;
    padding: 12px;
    color: #FFF;
    display:none;
    border-radius: 5px;
    box-shadow: 0.19rem 0 0.375rem 0 #00000029;
}

.danh-sach-chi-tiet-hoat-dong .table {
    display: block;
    overflow-x: auto;
}

.carousel-inner > .active, .carousel-item.carousel-item-next, .carousel-inner > .active, .carousel-item.carousel-item-prev {
    visibility: unset;
    display: flex !important;
}

.carousel-item img {
    max-width: 100%;
/*    object-fit: cover;*/
}

.hidden {
    display: none !important;
}

.sugest-open-building img {
    width: 20px;
}


body.lp-topmenu {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.main-sidebar {
    z-index: 700;
}

.content {
    padding: 0;
    margin: 0;
}

.dynatree-container {
    border: none !important;
}

.div-85 {
    width: 85%;
}

.div-15 {
    width: 15%;
}

.div-100 {
    width: 100%;
    padding: 0 10px;
}

.div-file:hover {
    background-color: #65baf399;
    cursor: pointer;
}

.file-active {
    background-color: #45a5e6;
}

.table-activity > tbody > tr > td, .table-activity > thead > tr > th {
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
    background: #fff !important;
    color: #000 !important;
}

#myModalInforActivityDetail .table > thead > tr > th {
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
}

li.li-modal-data-right path.a {
    fill: #FFF;
}

li.li-modal-data-right path.b {
    fill: #000000dd;
}

li.li-modal-data-right.active path.b, li.li-modal-data-right:hover path.b, li.li-modal-data-right.active text.a, li.li-modal-data-right:hover text.a {
    fill: var(--primary);
}

.mf-info-window-container {
    border: none !important;
    z-index: 100;
}

.gm-style-iw.gm-style-iw-c.hover-info {
    padding-right: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

.detail-property-body .line-bottom {
    width: 41px;
    height: 1px;
    background: #E5E5E5 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

.table-activity > thead > tr > th {
    border-bottom: 2px solid whitesmoke;
    text-align: center;
    vertical-align: middle;
    background: #0084E90F !important;
    border: 1px solid #E5E5E5 !important;
    height: 43px;
}

.table-activity > tbody > tr > td {
    overflow: hidden;
    width: 115px;
    max-width: 115px;
    text-overflow: ellipsis;
    vertical-align: middle;
    word-break: break-word;
    text-align: center;
    border: 1px solid #E5E5E5;
    height: 50px;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {

    /*  .lp-topmenu {
        padding-top: 103px !important;
    }*/

    #map, map4d {
        height: calc(100vh - 129px) !important;
    }

    .tree-o-i {
        height: calc(100vh - 129px) !important;
    }
}


.form-header .title,
.search-content-header {
    font-weight: 600;
}

/* ----------- iPad Pro ----------- */

/* Portrait */
/*@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .lp-topmenu {
        padding-top: 103px !important;
    }

    #map, map4d {
        height: calc(100vh - 129px) !important;
    }

    .tree-o-i {
        height: calc(100vh - 129px) !important;
    }
}
*/

#myModalInforActivityDetail .table td img {
    width: 100%;
}

#myModalInforActivityDetail .table td img,
#myModalActivity .div-hoat-dong-body img {
    width: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
    body.lp-topmenu .lp-content{
        padding-top: 45px;
    }
}

.mf-logo {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.first-col,
.second-col {
    width: 60px !important;
    min-width: 60px !important;
    max-width: 60px !important;
    left: 0px;
    text-align:center;
}

.item-col {
    width: 257px;
    min-width: 257px;
    max-width: 257px;
    left: 100px;
    text-align: left !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}

span.select2-selection.select2-selection--single {
    padding: 3px 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border: 1px solid var(--primary);
}

.select2-search__field {
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--primary);
}

/*.select2-container--default .select2-results > .select2-results__options {
    border: 1px solid var(--primary);
}*/

.select2-container--open .select2-dropdown--below {
    border: 1px solid var(--primary) !important;
    border-top: none !important;
}

.select2-container--below select2-container--focus + span.placeholder {
    transform: scale(0.8) translateY(-24px);
    background: #fff;
    color: var(--primary);
}

.select2-container .select2-search--inline .select2-search__field {
    height: 35px;
}