﻿/*.bg-main {
    z-index: 999;
}*/

/*body .lp-content {
    display: flex !important;
}*/

.map-side-form {
    transition: all 0.7s ease;
    bottom: 0;
    box-shadow: 0.0875rem 0 0.375rem 0 #00000029;
}

.left-side-menu {
    z-index: 2;
}

.left-tree {
    /*width: 24.5%;*/
    width: 19.44%;
    min-width: 310px;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-right: 0;
    transition: all 0.6s ease;
}

a:hover {
    text-decoration: none;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.map-view {
    /*width: calc(74.5%);*/
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin-left: 5px;
}

.content-page {
    padding: 0;
    min-height: unset;
    margin-top: unset;
}

.map-side-form.show {
    left: -10px;
    width:310px;
}

.map-side-form #btn-side-form-toggle {
    border: 0;
    outline: 0;
    position: absolute;
    right: -3.2rem;
    top: 0;
    width: 3.2rem;
    height: 4.2rem;
    box-shadow: 0.19rem 0 0.375rem 0 #D4D4D4;
    background-color: white;
    border-top-right-radius: 0.31rem;
    border-bottom-right-radius: 0.31rem;
}

.tree-o-i {
    height: calc(100vh - 205px);
    margin: 0;
    padding: 0;
    padding-left: 11px !important;
}

#map4d {
    height: 100%;
    width: 100%;
}

.map-side-form .icon-show {
    display: none;
}

.map-side-form .icon-hide {
    display: block;
}

.map-side-form.show .icon-show {
    display: block;
}

.map-side-form.show .icon-hide {
    display: none;
}

.head-case-login {
    width: 100%;
    color: #3597E4;
    background-color: #FFF;
    font-size: 1.5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.tab-content-side {
    border: none;
    outline: none;
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
    width: 49%;
    /* background-color: #FFF; */
    cursor: pointer;
}

    .tab-content-side.active {
        border-bottom: 3px solid #3597E4;
    }

input:focus {
    outline: none;
}

.enlarged .content-page {
    padding: 0px;
    margin-top: unset;
}

.search-tree {
    width: 100%;
    height: 48px;
    padding: 13px 9px;
    border-radius: 4px 0px 0px 4px;
}

.div-content.toogle-tree {
    height: calc(100vh - 63px);
}

    .div-content.toogle-tree .left-tree {
        width: 0%;
        margin-right: 0;
        min-width: 0px;
        transition: all 0.5s ease;
    }

    .div-content.toogle-tree .map-view {
        width: 100%;
        margin-left: 0;
    }

   /* .div-content.toogle-tree.toolge-search .left-tree {
        visibility: hidden;
    }*/

    .div-content.toogle-tree #search-content,
    .div-content.toogle-tree #reference-content {
        left: -100%;
    }

    .div-content.toogle-tree.toolge-search .left-tree .form-header,
    .div-content.toogle-tree.toolge-search .left-tree .form-body,
    .div-content.toogle-tree .left-tree .form-header,
    .div-content.toogle-tree .left-tree .form-body {
        visibility: hidden;
        transition: all 0.7s ease;
    }

    .div-content.toolge-search .left-tree .form-header,
    .div-content.toolge-search .left-tree .form-body {
        visibility: hidden;
        transition: all 0.7s ease;
    }


    .div-content.toogle-tree.toolge-search .map-view {
        width: 100%;
    }

.content-search-tree {
    display: flex;
    width: 100%;
    float: left;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding: 1rem;
}

    .content-search-tree .div-icon {
        width: 20%;
        float: left;
        text-align: center;
        height: 48px;
        background: var(--primary);
        border-radius: 0px 4px 4px 0px;
    }

        .content-search-tree .div-icon svg {
            margin: 12px 12px;
        }
.icon-menu-tree.open {
    -webkit-transform: rotate( 90deg );
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate( 90deg );
}

@media (max-width: 767.98px) {
    .content-page, .enlarged .content-page {
        margin-left: 0 !important;
        padding: 0 0px;
    }

    .map-side-form {
        margin-left: 0px;
        min-width: unset;
    }

    body {
        padding: 0;
    }

    .enlarged .map-side-form {
        margin-left: 0px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9EA5AB;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #9EA5AB;
    }