﻿
.content-wrapper {
    position: relative;
}

/*.content {
    display: flex;
    padding: 15px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
*/

.title {
    font-size: 14px;
}
.map-side-form .form-inner {
    position: relative;
    overflow-y: hidden;
    max-height: calc(100vh - 63px);
    display: flex;
    flex-direction: column;
}

.bg-main {
    /*margin-bottom: 10px;*/
}

.map-side-form .form-header {
    /*position: relative;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;*/
    letter-spacing: 0px;
    color: #000000DD;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .map-side-form .form-header h4 {
        font-size: 1.125rem;
        font-weight: bold;
        color: #ffffff;
        margin: 0;
        width: 85%;
    }


.map-side-form .form-body {
    /*padding-top: 1.56rem;*/
    flex: 1;
    display: none;
    font-weight: 500;
    flex-direction: column;
    overflow-y: hidden;
}

.form-body.active {
    display: flex;
    animation: opac .4s ease-out;
}


.map-container {
    height: 100%;
    width: 74.5%;
    display: block;
    padding: 0px;
    width: calc(100%) !important;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#checkTree {
    height: calc(100vh - 95px);
}

@keyframes opac {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.map-side-form .scroll-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0 .5rem;
    /*margin: 0rem -0.5rem 2.5rem 0rem;*/
}

/*    .tree-o-i{
        overflow-x: auto;
    }*/
.tree-o-i > li {
    border-bottom: 1px solid #D6D6D6;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.tree-o-i > li:first-child {
    padding-top: .5rem !important;
}

    .dynatree-lastsib > ul > li {
        border-bottom: 1px solid #ddd;
    }

.content-form .pull-left-container {
    position: absolute;
    left: 0px;
}

.content-form .title-item {
    cursor: pointer;
    /*font: normal normal normal 14px/19px Roboto;*/
}

.li-has-chil {
    border-bottom: 1px solid #ddd;
}

.icon-menu-tree {
    font-weight: 600;
}

    .icon-menu-tree.open {
        -webkit-transform: rotate( 90deg );
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg );
    }

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.title-item img {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    border-style: none;
}

.title-item i {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    border-style: none;
    color: var(--primary);
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 15px;
    height: 15px;
    width: 15px;
    /*background-color: #eee;*/
    border: 2px solid #0000008e;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: var(--primary);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox .checkmark.check {
    background-color: var(--primary);
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox .checkmark.check:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 5.5px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg );
}

.active-treeview {
    font-style: italic !important;
    font-weight: bold !important;
}

.treeview img{
    width: 18px;
    height: 18px;
}
.content-list-info {
    display: none;
}

    .content-list-info.active {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

/*@media (max-height: 800px) {
    .tree-o-i {
        height: calc(100vh - 270px);
    }
}*/

@media (max-width: 420px) {
    .map-side-form {
        width: 90%;
        left: -90%;
    }

        .map-side-form.show {
            left: 0%;
            width: 100%;
        }

    p {
        font-size: 1rem;
    }

    .sidebar-enable .map-side-form.show {
        margin-left: 0px;
    }
}
