﻿
.newgeojson, .editgeojson, .deletegeojson, .findgeojson, .cancelgeojson,
.endgeojson, .editproperties, .class-1, .class-2 {
    margin: 0px 2px;
}

.findgeojson {
    width: 100%;
}

.menuMap li {
    margin-left: 5px;
}

.imagecommon {
    width: 16px;
}

.newgeojson > ul > li:hover {
    background-color: #e1e3e9;
    color: #333;
}

.lst-Object-property-body {
    padding: 15px;
}

.required:after {
    content: " *";
    color: red;
}

.lst-Objec-property1 {
    position: absolute;
    z-index: 169;
    height: 100%;
    background-color: #fff;
    width: 371px;
    /*box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);*/
    box-shadow: 0px 4px 4px #00000040;
    animation: movein 1s;
    transition: all 0.7s ease;
    top: 64px;
    left: -400px;
}

    .lst-Objec-property1.open {
        left: 5px;
        /*display: block;*/
    }

    .lst-Objec-property1 .toggle-lst-Objec-property2, .phanTop .toggle-lst-Objec-property2 {
        left: 5px;
        float: right;
        position: initial;
    }

    .lst-Objec-property1.lst-Objec-property-collapse {
        animation: moveout 1s;
        right: -450px;
    }

.lst-Object-property-body .conten-search {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}

.lst-Object-property-body .div-icon {
    width: 20%;
    text-align: center;
    height: 48px;
    background: var(--primary);
    border-radius: 0px 4px 4px 0px;
}

    .lst-Object-property-body .div-icon svg {
        margin: 12px 12px;
    }

#search-lst-object {
    width: 100%;
    height: 48px;
    padding: 13px 9px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid var(--primary);
}
/*
.toggle-lst-Objec-property2-open {
    position: absolute;
    z-index: 111;
    height: 50px;
    width: 35px;
    top: 0;
    right: 0px;
    border: 1px solid #ddd;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #FFF;
    font-size: 15px;
}*/
/*.lst-Object-property-body {
    padding: 20px;
}
*/
.list-object-content {
    display: block;
    padding: 5px 0px 5px 5px;
    width: 100%;
}

.content-lst {
    display: block;
    overflow-y: scroll;
    height: calc(100vh - 285px);
    background: white;
}


.list-object-content > li {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 15px 5px;
}

    .list-object-content > li > a {
        color: #000;
    }


    .list-object-content > li:hover {
        background-color: var(--forcus) !important;
    }

        .list-object-content > li:hover a {
            color: #404040;
        }

.toggle-lst-Objec-property2 {
    position: absolute;
    z-index: 111;
    height: 50px;
    width: 35px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .toggle-lst-Objec-property2 > span {
        color: #FFF;
        font-size: 15px;
    }

.lst-Object-property-header {
    /*    background-color: #FFF;
    color: #FFF;*/
    line-height: 40px;
    padding: 5px 10px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    /* background: #2d80b8; */
    /*text-transform: uppercase;*/
    text-align: left;
    width: 100%;
}

    .lst-Object-property-header span {
        font-size: 15px;
    }

.detail-property-body {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    position: relative;
    background-color: #FFF;
    padding: 12px;
}

.tool-map-button.group-hop-thua {
    /*width: 100px;*/
    display: flex;
}

.tool-map-button {
    margin-bottom: 5px;
}

    .tool-map-button.group-hop-thua button {
        width: 100%;
        margin-right: 5px;
    }

#InforData .nav-tabs {
    width: 53px;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    box-shadow: none;
}


.form-common-infor {
    margin-bottom: 15px;
}

    .form-common-infor label {
        padding: 0;
    }

.show {
    display: block !important;
    opacity: 1;
}

.select2-container {
    width: 100% !important;
}

.li-tab {
    color: #495057;
}

/*a.li-tab.active {
    color: #3c8dbc;
    background-color: #fff;
}*/

*::-webkit-scrollbar {
    display: unset;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: unset; /* IE and Edge */
    scrollbar-width: unset; /* Firefox */
}

.Title-info, .Content-info {
    width: 100%;
}

.section.section-info label {
    font-weight: 700;
    color: #000;
}

.pull-left-container {
    cursor: pointer;
}
