﻿#reference-content {
    overflow-x: hidden;
    overflow-y: hidden;
}
#reference-content .select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
    font-weight: bolder !important;
    cursor: pointer;
}

#reference-content .select2-selection.select2-selection--multiple {
    /* padding: 10px 12px; */
    border-radius: 0;
    /* line-height: 1.5; */
    padding: 6px 6px;
    /* height: 48px !important; */
}

#reference-content li.select2-selection__choice {
    font-size: 14px !important;
}

.result-reference-content {
    position: absolute;
    border: 1px solid #ddd;
    z-index: 99;
    background-color: #fff;
    width: 371px;
    animation: movein 1s;
    transition: all 0.7s ease;
    top: 64px;
    left: -500px;
    height: calc(100vh - 120px);
    /*overflow-x: hidden;*/
}
.reference-content-body {
    padding: 10px;
    height: calc(100vh - 63px - 60px - 55px);
    overflow-y: auto;
    overflow-x: hidden;
}

.result-reference-content-body {
    overflow-y: scroll;
    height: calc(100vh - 180px);
}

.result-reference-content.open {
    left: 5px;
}

.result-reference-content-header {
    line-height: 40px;
    padding: 5px 10px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    /*text-transform: uppercase;*/
    text-align: left;
    width: 100%;
}

.head-list-result-reference {
    background-color: #ffffff;
    display: flex;
    padding: 6px 10px;
    align-items: center;
    /* border-bottom: 1px solid; */
    /* border-color: #dedede; */
    height: 45px;
    font-weight: bold;
}

.close-result_reference_content {
    float: right;
    cursor: pointer;
}

.div-content-list-object-referenced {
    /*max-height: calc(100vh - 50px - 53px - 155px);
    overflow-y: scroll;*/
}
.infor-result-reference {
    padding: 10px;
    padding-left: 3.3rem;
    /*max-height: 250px;
    overflow: auto;*/
}
.list-result-referenced {
    /*max-height: calc(100vh - 50px - 53px - 155px);*/
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    outline: 0 !important;
    width: 100%;
}

ul.list-result-referenced {
    /*height: calc(100vh - 63px - 160px - 45px - 152px);
    overflow-y: auto;*/
}

.list-result-referenced .item-search-referenced {
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid #e0e2e6;
    cursor: pointer;
}

        .list-result-referenced .item-search-referenced:hover {
            cursor: pointer;
            background-color: #FFECE8;
            color: #000;
        }

.result-reference-content .col-STT {
    width: 35px;
    min-width: 35px;
    text-align: center;
}

    .result-reference-content .col-STT span {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
    }

.result-reference-content .col-Info {
    width: calc(100% - 35px);
    min-width: calc(100% - 35px);
    padding-left: 10px;
}

    .result-reference-content .col-Info p {
        margin: 0;
    }


#reference-content .select2-selection--multiple .select2-selection__rendered {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#reference-content li.select2-selection__choice {
    font-size: 14px !important;
    padding: 5px 7px;
    background: var(--forcus) 0% 0% no-repeat padding-box;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    margin: 3px;
    margin-top: 0;
}

#reference-content .select2-selection--multiple .select2-selection__clear {
    position: absolute;
    right: 0;
    z-index: 4;
    margin-right: 7px;
}

#reference-content .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #5D5D5D;
    text-align: center;
    color: #FFF !important;
    margin: 4px;
    font-size: 10px;
    line-height: 12px;
}