﻿
.newgeojson, .editgeojson, .deletegeojson, .findgeojson, .cancelgeojson,
.endgeojson, .editproperties, .class-1, .class-2 {
    margin: 0px 2px;
}

.findgeojson {
    width: 100%;
}

.menuMap li {
    margin-left: 5px;
}

.imagecommon {
    width: 16px;
}

.newgeojson > ul > li:hover {
    background-color: #e1e3e9;
    color: #333;
}


.required:after {
    content: " *";
    color: red;
}

.detail-property1 {
    position: absolute;
    z-index: 1039;
    right: 0px;
    height: calc(100% - 60px);
    background-color: #fff;
    width: 371px;
    box-shadow: 0px 4px 4px #00000040;
    animation: movein 1s;
    transition: all 0.7s ease;
    top: 64px;
    color: #000;
    left: 5px;
}

    .detail-property1 .toggle-detail-property2, .phanTop .toggle-detail-property2 {
        left: 5px;
        float: right;
        position: initial;
    }

    .detail-property1.detail-property-collapse {
        animation: moveout 1s;
        right: 0;
        /*display:none;*/
        left: -450px;
    }

#myModalActivity .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #fff;
}

.toggle-detail-property2 {
    position: relative;
    z-index: 111;
    height: 50px;
    width: 50px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .toggle-detail-property2 > span {
        color: #FFF;
        /*font-size: 20px;*/
    }

.detail-property-header {
    /*background-color: #FFF;*/
    /*color: #FFF;*/
    line-height: 40px;
    padding: 5px 10px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    /* background: #2d80b8; */
    /*text-transform: uppercase;*/
    text-align: left;
    width: 100%;
    font-weight: 700;
}

    .detail-property-header span {
        font-size: 15px;
    }

.detail-property-body {
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    /* background-color: #EDEDED; */
}

.tool-map-button.group-hop-thua {
    /*width: 100px;*/
    display: flex;
}

.tool-map-button {
    margin-bottom: 5px;
}

    .tool-map-button.group-hop-thua button {
        width: 100%;
        margin-right: 5px;
    }

.detail-property-content {
    display: block;
    width: calc(100% - 55px);
    height: 100%;
    margin-left: 8px;
}

.toa-nha {
    height: 100%;
}

.infor-area {
    height: 90%;
    border: 1.2px solid #ddd;
    overflow: auto;
    width: 100%;
}

.action-right-sidebar {
    padding: 13px 0;
    text-align: end;
    /*display: flex;*/
}

    .action-right-sidebar button {
        height: 48px;
    }

.section.section-info {
    background: #FFFFFF;
    height: 100%;
    border-radius: 4px;
}

#thongtin-co-ban, #thongtin-chi-tiet {
    padding: 13px;
}

#thongtin-co-ban {
    padding-bottom: 0px;
}

#thongtin-chi-tiet {
    padding-bottom: 0px;
    padding-top: 0px;
}

#InforData .nav-tabs {
    border-radius: 4px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: var(--primary);
    cursor: default;
    background-color: #fff;
    /*font-size: 15px;*/
    border: none;
}

.modal-info-right .nav > li > a {
    font-weight: 700;
    color: #000;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 0px;
    height: 100%;
    display: block;
}

.li-modal-data-right {
    width: 100%;
}

.form-common-infor {
    margin-bottom: 15px;
}

    .form-common-infor label {
        padding: 0;
    }

.show {
    display: block !important;
    opacity: 1;
}

.select2-container {
    width: 100% !important;
}

.li-tab {
    color: #495057;
}

/*a.li-tab.active {
    color: #3c8dbc;
    background-color: #fff;
}*/

*::-webkit-scrollbar {
    display: unset;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: unset; /* IE and Edge */
    scrollbar-width: unset; /* Firefox */
}

.menuMap {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    background: #FFF;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    position: absolute;
    border-bottom: 1px solid #E5E5E5;
    z-index: 150;
}

    .menuMap a {
        text-decoration: none;
        height: 60px;
        width: 65px;
        line-height: 2.5;
        text-align: center;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        color: #000;
    }

    .menuMap .span {
        font-size: 16px;
    }

    .menuMap svg,
    .menuMap img {
        display: block;
        margin: 0 auto;
    }
    .menuMap .right-line-horizel {
        width: 1px;
        background: #E5E5E5 0% 0% no-repeat padding-box;
        height: 42px;
    }

.content-icon-menu {
    width: 100%;
    height: 100%;
    border-right: 1px solid #ddd;
}

.menuMap .list-object-content-brand:hover #Path_6787 {
    fill: var(--primary);
}

.menuMap .list-object-content-brand.isForcus #Path_6787 {
    fill: var(--primary);
}

@media (max-width: 1370px) {
    .infor-area {
        height: 85%
    }
}
