﻿#search-content, #reference-content {
    position: absolute;
    border: 1px solid #ddd;
    z-index: 99;
    height: 100%;
    background-color: #fff;
    width: 100%;
    animation: movein 1s;
    transition: all 0.5s ease;
    top: 0;
    left: -100%;
    overflow-x: hidden;
}

    #search-content.open, #reference-content.open {
        left: 0px;
    }

.search-content-header {
    letter-spacing: 0px;
    color: #000000DD;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.search-content-body {
    padding: 10px;
}

.choosen-search-retage {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    outline: 0 !important;
    list-style: none;
}

    .choosen-search-retage li:hover {
        background-color: var(--primary);
    }

        .choosen-search-retage li:hover a svg .b {
            fill: #FFF !important;
        }

    .choosen-search-retage .item-search.isForcus a svg .b {
        fill: #FFF !important;
    }

    .choosen-search-retage li:hover path#Path_6365 {
        stroke: #FFF !important;
    }

    .choosen-search-retage .item-search.isForcus path#Path_6365 {
        stroke: #FFF !important;
    }

    .choosen-search-retage .isForcus {
        background-color: var(--primary) !important;
        color: #FFF;
        fill: #FFF;
    }

        .choosen-search-retage.isForcus a svg .b {
            fill: #FFF !important;
        }

    .choosen-search-retage li:hover {
        background-color: var(--primary);
        color: #FFF;
        fill: #FFF;
    }

#search-content .choosen-search-retage li {
    display: inline-block;
    margin-right: 15px;
    border-radius: 3px;
}

    #search-content .choosen-search-retage li a {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 3px;
        border: 1px solid #e0e2e6;
        text-align: center;
        line-height: 36px;
    }

        #search-content .choosen-search-retage li a svg {
            display: block;
            margin: auto;
            height: 100%;
        }

#search-content span.select2-selection.select2-selection--single, #reference-content span.select2-selection.select2-selection--single {
    border-radius: 0;
    font-size: 14px !important;
    line-height: 1.5;
    padding: 10px 12px;
    height: 48px !important;
    min-height: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 5px;
}

.btn-retype {
    width: 45%;
    margin: 0 5px;
    height: 48px;
    padding: 5px;
}

#close-tim-kiem {
    width: 100%;
    height: 48px;
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
    /*font-weight: 500;*/
    cursor: pointer;
}

    .select2-container--default .select2-results__group:hover {
        background-color: #f2f2f2 !important;
        color: #081449 !important;
    }

.left-tree .map-side-form .form-inner {
    overflow-x: hidden;
}

/****KQ*/
#result-search-content {
    position: absolute;
    border: 1px solid #ddd;
    z-index: 99;
    background-color: #fff;
    width: 371px;
    animation: movein 1s;
    transition: all 0.7s ease;
    top: 64px;
    left: -500px;
    height: calc(100vh - 120px);
    overflow-x: hidden;
}

    #result-search-content.open {
        left: 5px;
    }

.result-search-content-header {
    line-height: 40px;
    padding: 5px 10px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    /*text-transform: uppercase;*/
    text-align: left;
    width: 100%;
}

.result-search-content-body {
    /*padding: 10px;*/
}

.close-search-result {
    float: right;
    cursor: pointer;
}

.head-list-result {
    background-color: #ffffff;
    display: flex;
    padding: 6px 10px;
    align-items: center;
    border-bottom: 1px solid;
    border-color: #dedede;
    height: 45px;
    font-weight: bold;
}

.result-search-content-body .col-STT {
    width: 35px;
    min-width: 35px;
    text-align: center;
}

.col-STT span {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}

.result-search-content-body .col-Info {
    width: calc(100% - 35px);
    min-width: calc(100% - 35px);
    padding-left: 10px;
}

.col-Info p {
    margin: 0;
}

.div-content-list-object {
    max-height: calc(100vh - 50px - 53px - 155px);
    overflow-y: scroll;
}
.list-result-search {
    /*max-height: calc(100vh - 50px - 53px - 155px);*/
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    outline: 0 !important;
    width: 100%;
}

    .list-result-search .item-search-result {
        display: flex;
        padding: 10px 10px;
        border-bottom: 1px solid #e0e2e6;
        cursor: pointer;
    }

        .list-result-search .item-search-result:hover {
            cursor: pointer;
            background-color: #FFECE8;
            color: #000;
        }

#spinner-result-search-body {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
}
button#btn-refresh-search {
    margin-right: 0px;
}