﻿@using Microsoft.AspNetCore.Mvc.Localization
@using IoT.Localization
@inject IHtmlLocalizer<IoTResource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in mr-1"></i> @L["Login"]</a>
