﻿.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    position: relative;
    box-shadow: none;
    padding: 15px;
}

.required:after {
    content: " *";
    color: red;
}

.content-body,
.content-header {
    border-radius: 6px;
    padding: 10px;
    width: 600px;
}

    .content-header h3 {
        margin: 0;
    }

#btn-save,
#btn-cancel,
#btn-edit {
    height: 48px;
    margin-right: 10px;
}


.hide{
    display:none!important;
}

input:read-only + span.placeholder {
    transform: scale(0.8) translateY(-24px) !important;
    background: #fff;
}

.form-control[readonly], .custom-select[readonly], .custom-file-label[readonly] {
    border: 1px solid #E5E5E5;
}

.entry-row{
    display:none;
}

.right-content {
    height: inherit;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0px 0px 6px #00000029;
    height: calc(100vh - 95px);
}
