﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@model IoT.HTKT.Web.Pages.HTKT.LocationCenterSetting.IndexModel
@inject IStringLocalizer<HTKTResource> L
@{
}

<div class="div-content card">
    <div class="right-content">
        <div class="content-header">
            <h5 style="font-size:14px;">CẤU HÌNH MAP CENTER</h5>
        </div>
        <div class="content-body form-body">
            <div class="w-100 position-relative">
                <div class="form-group form-group-modal ">
                    <input type="text" readonly required="" data-name="@L["ManagementLayer:LngCenter"].Value" name="LngCenter" data-type="string" data-required="Kinh độ không được để trống" id="cngCenter" value="" class="form-control form-style" autocomplete="off" placeholder="">
                    <span class="placeholder">@L["ManagementLayer:LngCenter"].Value <span class="required"></span></span>
                </div>
            </div>

            <div class="w-100 position-relative">
                <div class="form-group form-group-modal ">
                    <input type="text" readonly required="" data-name="@L["ManagementLayer:LatCenter"].Value" name="LatCenter" data-type="string" data-required="Vĩ độ không được để trống" id="latCenter" value="" class="form-control form-style" autocomplete="off" placeholder="">
                    <span class="placeholder">@L["ManagementLayer:LatCenter"].Value <span class="required"></span></span>
                </div>
            </div>
            <div class="form-footer">
                <div class="modal-footer-content">
                    <button class="btn btn-primary" id="btn-edit">
                        @L["Permission:ManagementData.Edit"].Value
                    </button>
                    <div class="hide group-submit">
                        <button class="btn btn-danger" id="btn-cancel">
                            @L["ManagementLayer:Cancel"].Value
                        </button>

                        <button class="btn btn-secondary" id="btn-save">
                            @L["ManagementLayer:Save"].Value
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/libs/custom-swal.css">
    <link rel="stylesheet" href="~/libs/common/custom-design.css">
    <link rel="stylesheet" href="~/Pages/HTKT/LocationCenterSetting/index-location-center.css">
}

@section scripts{
    <abp-script-bundle name="@typeof(IoT.HTKT.Web.Pages.HTKT.LocationCenterSetting.IndexModel).FullName">
        <abp-script src="/Pages/HTKT/LocationCenterSetting/index.js"></abp-script>
        <abp-script src="/libs/common/js/jsCheckInput.js"></abp-script>
    </abp-script-bundle>
}
