<ol class="breadcrumb">
  <li
    *ngFor="
      let folder of navigatedFolders;
      let last = last;
      let first = first;
      trackBy: trackByIdAndName
    "
    (click)="onClick(folder)"
    class="breadcrumb-item"
    [class.root]="first"
    [class.active]="last && !first"
    aria-current="page"
  >
    <span class="breadcrumb-item-text">
      <span *ngIf="first">{{ rootBreadcrumbName | abpLocalization }}</span>
      <span *ngIf="!first">{{ folder.name }}</span>
    </span>
  </li>
</ol>
