﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@model Volo.Abp.Identity.Web.Pages.Identity.OrganizationUnits.AddMemberModal
@inject IHtmlLocalizer<IdentityResource> L
@{
    Layout = null;
}

<abp-modal size="Large" autocomplete="off">
    <abp-modal-header title="@L["SelectUsers"].Value"></abp-modal-header>
    <abp-modal-body>
        <div id="IdentityUsersModalWrapper">
            <abp-card>
                <abp-card-body>
                    <abp-table striped-rows="false" class="nowrap"></abp-table>
                </abp-card-body>
            </abp-card>
        </div>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.None)">
        <abp-button class="btn btn-danger" data-dismiss="modal" text="@L["Modals:Cancel"].Value"></abp-button>
        <abp-button class="btn btn-secondary" type="submit" id="AddMembersToOuButton" text="@L["Modals:Save"].Value"></abp-button>
    </abp-modal-footer>
</abp-modal>