﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@using Volo.Abp.Identity.Web.Pages.Identity.OrganizationUnits
@using Volo.Abp.Data
@model EditModalModel
@inject IHtmlLocalizer<IdentityResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
}
<form asp-page="/Identity/OrganizationUnits/EditModal" autocomplete="off">
    <div class="modal fade" role="dialog" tabindex="-1" aria-modal="true" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <abp-modal-header title="@L["Organization:EditName"].Value"></abp-modal-header>
                <abp-modal-body>
                    <abp-input asp-for="OrganizationUnit.Id" />
                    <abp-input asp-for="OrganizationUnit.DisplayName" />
                    @foreach (var propertyInfo in ObjectExtensionManager.Instance.GetProperties<EditModalModel.OrganizationUnitInfoModel>())
                    {
                        if (!propertyInfo.Name.EndsWith("_Text"))
                        {
                            if (propertyInfo.Type.IsEnum || !propertyInfo.Lookup.Url.IsNullOrEmpty())
                            {
                                <abp-select asp-for="OrganizationUnit.ExtraProperties[propertyInfo.Name]"
                                            label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                            autocomplete-api-url="@propertyInfo.Lookup.Url"
                                            autocomplete-selected-item-name="@Model.OrganizationUnit.GetProperty(propertyInfo.Name+"_Text")"
                                            autocomplete-selected-item-value="@Model.OrganizationUnit.GetProperty(propertyInfo.Name)"
                                            autocomplete-filter-param-name="@propertyInfo.Lookup.FilterParamName"
                                            autocomplete-items-property-name="@propertyInfo.Lookup.ResultListPropertyName"
                                            autocomplete-display-property-name="@propertyInfo.Lookup.DisplayPropertyName"
                                            autocomplete-value-property-name="@propertyInfo.Lookup.ValuePropertyName"></abp-select>
                            }
                            else
                            {
                                <abp-input type="@propertyInfo.GetInputType()"
                                           asp-for="OrganizationUnit.ExtraProperties[propertyInfo.Name]"
                                           label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                           asp-format="@propertyInfo.GetInputFormatOrNull()"
                                           value="@propertyInfo.GetInputValueOrNull(Model.OrganizationUnit.GetProperty(propertyInfo.Name))" />
                            }
                        }
                    }
                </abp-modal-body>
                <abp-modal-footer buttons="@(AbpModalButtons.None)">
                    <abp-button class="btn btn-danger" data-dismiss="modal" text="@L["Modals:Cancel"].Value"></abp-button>
                    <abp-button class="btn btn-secondary" type="submit" text="@L["Modals:Save"].Value"></abp-button>
                </abp-modal-footer>
                @*<abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>*@
            </div>
        </div>
    </div>
</form>