﻿@page
@using System.Net
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.JsTree
@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Navigation
@using Volo.Abp.Identity.Web.Pages.Identity.OrganizationUnits
@model IndexModel
@inject IHtmlLocalizer<IdentityResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["OrganizationUnits"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityManagement"].Value);
    PageLayout.Content.MenuItemName = IdentityMenuNames.OrganizationUnits;
}

@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style type="typeof(JsTreeStyleContributor)" />
        <abp-style src="/Pages/AbpPermissionManagement/permission-management-modal.css" />
        <abp-style src="/Pages/Identity/OrganizationUnits/organization-unit.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script type="typeof(JsTreeScriptContributor)" />
        <abp-script src="/Pages/AbpPermissionManagement/permission-management-modal.js" />
        <abp-script src="/Pages/Identity/OrganizationUnits/index.js"></abp-script>
        <abp-script src="/Pages/Identity/OrganizationUnits/addMemberModal.js"></abp-script>
        <abp-script src="/Pages/Identity/OrganizationUnits/addRoleModal.js"></abp-script>
    </abp-script-bundle>
}

@section content_toolbar {
}

<div id="OrganizationUnitsWrapper">
    <abp-row>
            <abp-card class="org-tree">
                <abp-card-body>
                    <abp-card-title>
                        <abp-row class="row-title" h-align="Between">
                            <abp-column>
                                <span class="org-tree-title" style="font-size:14px;"> @L["OrganizationTree"]</span>
                            </abp-column>
                            @*<abp-column>
                                @if (await Authorization.IsGrantedAsync(IdentityPermissions.OrganizationUnits.ManageOU))
                                {
                                    <abp-button class="float-right" button-type="Primary" size="Small" name="CreateOrganizationUnit" text="@L["AddRootUnit"].Value" icon="plus" />
                                }
                            </abp-column>*@
                        </abp-row>
                    </abp-card-title>
                    <div id="OrganizationUnitEditTree"></div>
                    @if (await Authorization.IsGrantedAsync(IdentityPermissions.OrganizationUnits.ManageOU))
                    {
                        <button class="float-right btn btn-primary btn-sm" id="btn-add-root-unit" name="CreateOrganizationUnit" type="button" data-busy-text="Đang xử lý...">
                            <svg id="Group_3376" data-name="Group 3376" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_6614" data-name="Path 6614" d="M0,0H24V24H0Z" fill="none" />
                                <path id="Path_6615" data-name="Path 6615" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="#fff" />
                            </svg>
                            <span>@L["AddRootUnit"].Value</span>
                        </button>
                        @*<abp-button class="float-right" button-type="Primary" size="Small" id="btn-add-root-unit" name="CreateOrganizationUnit" text="@L["AddRootUnit"].Value" icon="plus" />*@
                    }
                    <div id="OrganizationUnitTreeEmptyInfo" class="text-muted">@L["NoOrganizationUnits"]</div>
                </abp-card-body>
            </abp-card>
        <div class="right-card-table">
            <abp-tabs>
                <abp-tab name="Members" title="@L["Members"].Value">
                    <div id="OuMembersTable" style="display:none">
                        @if (await Authorization.IsGrantedAsync(IdentityPermissions.OrganizationUnits.ManageUsers))
                        {
                        <div class="btn-add-container">
                            <button class="btn btn-primary btn-sm" id="btn-add-member" name="AddMember" type="button" data-busy-text="Đang xử lý...">
                                <svg id="Group_3376" data-name="Group 3376" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path id="Path_6614" data-name="Path 6614" d="M0,0H24V24H0Z" fill="none" />
                                    <path id="Path_6615" data-name="Path 6615" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="#fff" />
                                </svg>
                                <span>@L["AddMember"].Value</span>
                            </button>
                            @*<abp-button button-type="Primary" size="Small" id="btn-add-member" name="AddMember" text="@L["AddMember"].Value" icon="plus" />*@
                        </div>
                        }
                        <abp-table striped-rows="true" class="nowrap"></abp-table>
                    </div>
                    <div id="OuMembersEmptyInfo" class="text-muted">
                        @L["SelectAnOrganizationUnitToSeeMembers"]
                    </div>
                </abp-tab>
                <abp-tab name="Roles" title="@L["Roles"].Value">
                    <div id="OuRolesTable" style="display:none">
                        @if (await Authorization.IsGrantedAsync(IdentityPermissions.OrganizationUnits.ManageRoles))
                        {
                        <div class="btn-add-container">
                            <button class="btn btn-primary btn-sm" id="btn-add-role" name="AddRole" type="button" data-busy-text="Đang xử lý...">
                                <svg id="Group_3376" data-name="Group 3376" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path id="Path_6614" data-name="Path 6614" d="M0,0H24V24H0Z" fill="none" />
                                    <path id="Path_6615" data-name="Path 6615" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="#fff" />
                                </svg>
                                <span>@L["AddRole"].Value</span>
                            </button>
                            @*<abp-button button-type="Primary" size="Small" id="btn-add-role" name="AddRole" text="@L["AddRole"].Value" icon="plus" />*@
                        </div>
                        }
                        <abp-table striped-rows="true" class="nowrap"></abp-table>
                    </div>
                    <div id="OuRolesEmptyInfo" class="text-muted">
                        @L["SelectAnOrganizationUnitToSeeRoles"]
                    </div>
                </abp-tab>
            </abp-tabs>
        </div>
    </abp-row>
</div>
