﻿.no-height {
    min-height: 0 !important;
}

.selectable:hover {
    cursor: pointer;
}

.org-tree {
    width: 19.11458%;
    min-width: 367px;
    margin-bottom: 0;
}

#AbpContentToolbarQTSC, .entry-row{
    display: none;
}

.row-title {
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 17px;
}

.org-tree .card-body {
    padding: 20px 0px 20px 24px;
}

.row-title {
    text-align: center;
    margin-right: -1px !important;
}

.lp-content.h-100 {
    background: #ffffff;
}

div#OrganizationUnitEditTree {
    min-height: calc(100vh - 206px);
}

div#OrganizationUnitsWrapper {
    background: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    box-shadow: #0000002e 0px 8px 8px;
    padding: 0;
}

#OrganizationUnitsWrapper .dataTables_scrollBody {
    min-height: calc(100vh - 362px);
    max-height: calc(100vh - 362px);
}

div.search-card {
    display: flex;
}

body.lp-topmenu .lp-content {
    padding: 12px;
    overflow-x: hidden;
}

#OrganizationUnitsWrapper .dataTables_wrapper {
    padding: 14px;
}

#OrganizationUnitsWrapper .dataTables_scroll {
    border: 2px solid #ebebeb;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
}

#OrganizationUnitsWrapper .dataTable_footer {
    border-top: none !important;
}

#OrganizationUnitsWrapper .dataTables_wrapper div.dataTables_length select {
    height: 40px;
}

#OrganizationUnitsWrapper .dataTables_info {
    line-height: 43px;
}

#OrganizationUnitsWrapper .card {
    box-shadow: #0000002e 0px 0px 8px;
    margin-bottom: 0;
}

#OrganizationUnitsWrapper table.dataTable thead th {
    background: #0084E90F;
    border-bottom: 2px solid #ebebeb;
    height: 33px;
    font-size: 14px;
    vertical-align: inherit;
    color: #000000DD;
}

#OrganizationUnitsWrapper .dataTables_wrapper{
    box-shadow: none;
}

tr:not(:last-of-type) {
    border-bottom: 1px dashed #ebebeb !important;
}

body.lp-topmenu .lp-content {
    padding: 0; 
}

.tab-content{
    padding: 0;
}

.nav-tabs {
    background: #fff;
    border-bottom: 2px solid #ebebeb;
}

.nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background: var(--primary);
}

.nav-tabs .nav-item {
    background: #ffffff;
}

    .nav-tabs .nav-item:hover {
        background: #fff;
    }

.nav-tabs .nav-item:hover .nav-link {
    color: #696969f2;
}

/*MODAL*/
.modal .modal-content .modal-header {
    padding: 12px 24px;
    background: #fff;
    border-color: #fafafa;
    color: #081449;
    border-bottom: 2px solid #ebebeb;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}

    .modal .modal-content .modal-header .modal-title {
        margin: 8px 0;
        line-height: 1;
        word-break: break-all;
        font-size: 14px;
        text-align: center;
        display: block;
        font-weight: 600;
    }

.modal-footer .btn-danger, .modal-footer .btn-secondary {
    height: 48px;
    width: 100px;
}

.modal-header .close {
    display: none;
}

.modal .modal-content .modal-body .nav-tabs:not(.nav-pills) {
    background: #fff;
}

.modal-dialog{
    box-shadow: none;
}

/*MODAL*/

/*SWAL*/

.swal-modal .swal-icon {
    display: none;
}

.swal-overlay--show-modal .swal-modal {
    box-shadow: 0 0 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #fff;
    transition: unset;
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }

/*SWAL*/

.modal-content .form-group span {
    color: #FF0000;
}

/*TABLE CHUNG*/

div.search-card {
    display: flex;
}

body.lp-topmenu .lp-content {
    padding: 12px;
    overflow-x: hidden;
}

 .dataTables_wrapper {
    padding: 14px;
}

 .dataTables_scroll {
    border: 2px solid #ebebeb;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
}

 .dataTable_footer {
    border-top: none !important;
}

 .dataTables_wrapper div.dataTables_length select {
    height: 40px;
}

 .dataTables_info {
    line-height: 43px;
}

 .card {
    box-shadow: none;
    margin-bottom: 0;
}

 table.dataTable thead th {
    background: #0084E90F;
    border-bottom: 2px solid #ebebeb;
    height: 33px;
    font-size: 14px;
    vertical-align: inherit;
    color: #000000DD;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

/*TABLE CHUNG*/

#OuMembersTable .dataTables_filter label, #OuRolesTable .dataTables_filter label {
    margin-left: 170px;
    margin-top: -7px;
}

/*Add roles*/

#IdentityRolesModalWrapper .dataTables_scrollBody {
    min-height: calc(100vh - 600px);
    max-height: calc(100vh - 458px);
}

/*Add roles*/


body.lp-topmenu .lp-content {
     padding: 0; 
}

.right-card-table {
    width: calc(100vw - 386px);
    height: calc(100vh - 98px);
    max-width: 80.88542%;
    overflow: hidden;
    border-radius: 6px;
    margin-top: 16px;
    margin-left: 16px;
    box-shadow: #0000002e 1px 0px 8px;
}

div#OuMembersTable, div#OuRolesTable {
    position: relative;
}

.btn-add-container {
    position: absolute;
    top: 18px;
    left: 16px;
}

#btn-add-member, #btn-add-root-unit, #btn-add-role {
    height: 48px;
    width: 168px;
    background: #00559A;
    border-color: #00559A;
    border-radius: 4px;
}

#btn-add-root-unit{
    margin-right: 27px;
}

span.org-tree-title {
    text-transform: uppercase;
}

th.username-th, td.username-th, th.email-th, td.email-th, th.rolename-th, td.rolename-th, th.stt-th, td.stt-th, th.checkbox-th, td.checkbox-th {
    border-right: 2px solid #ebebeb;
}

#IdentityUsersModalWrapper .card-body, #IdentityRolesModalWrapper .card-body {
    padding: 0;
}

th.stt-th, td.stt-th, th.delete-th, td.delete-th {
    text-align: center;
}

div#OuMembersEmptyInfo, div#OuRolesEmptyInfo {
    padding: 24px;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
    .lp-topmenu {
        padding-top: 108px !important;
    }
}