﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Data
@using Volo.Abp.IdentityServer.Localization
@using Volo.Abp.IdentityServer.Web.Pages.IdentityServer.ApiResources
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@model CreateModel
@inject IHtmlLocalizer<AbpIdentityServerResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
}
<form method="post" class="form-with-card" asp-page="/IdentityServer/ApiResources/Create">
    <abp-modal size="@(AbpModalSize.Large)">
        <abp-modal-header title="@L["Create"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="ApiResourcesCreateTabsId">
                <abp-tab title="@L["Info"].Value">
                    <abp-input asp-for="ApiResource.Name" />
                    <abp-input asp-for="ApiResource.DisplayName" />
                    <abp-input asp-for="ApiResource.Description" />
                    <abp-input asp-for="ApiResource.AllowedAccessTokenSigningAlgorithms" />
                    <abp-input asp-for="ApiResource.ShowInDiscoveryDocument" />
                    @foreach (var propertyInfo in ObjectExtensionManager.Instance.GetProperties<ApiResourceCreateModalView>())
                    {
                        if (!propertyInfo.Name.EndsWith("_Text"))
                        {
                            if (propertyInfo.Type.IsEnum || !propertyInfo.Lookup.Url.IsNullOrEmpty())
                            {
                                <abp-select asp-for="ApiResource.ExtraProperties[propertyInfo.Name]"
                                            label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                            autocomplete-api-url="@propertyInfo.Lookup.Url"
                                            autocomplete-selected-item-name="@Model.ApiResource.GetProperty(propertyInfo.Name+"_Text")"
                                            autocomplete-selected-item-value="@Model.ApiResource.GetProperty(propertyInfo.Name)"
                                            autocomplete-filter-param-name="@propertyInfo.Lookup.FilterParamName"
                                            autocomplete-items-property-name="@propertyInfo.Lookup.ResultListPropertyName"
                                            autocomplete-display-property-name="@propertyInfo.Lookup.DisplayPropertyName"
                                            autocomplete-value-property-name="@propertyInfo.Lookup.ValuePropertyName"></abp-select>
                            }
                            else
                            {
                                <abp-input type="@propertyInfo.GetInputType()"
                                           asp-for="ApiResource.ExtraProperties[propertyInfo.Name]"
                                           label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                           asp-format="@propertyInfo.GetInputFormatOrNull()"
                                           value="@propertyInfo.GetInputValueOrNull(Model.ApiResource.GetProperty(propertyInfo.Name))" />
                            }
                        }
                    }
                </abp-tab>
                <abp-tab title="@L["Claims"].Value">
                    <div class="card bg-light shadow-none">
                        <div class="card-body">

                            <abp-row>
                                <abp-column size="_6">
                                    <abp-card>
                                        <abp-card-header>@L["OwnedClaims"]</abp-card-header>
                                        <abp-card-body style="height: 320px; overflow: auto">

                                            @for (var i = 0; i < Model.AllClaims.Length; i++)
                                            {
                                                var claim = Model.AllClaims[i];
                                                <button type="button" class="ownedClaim btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left" id="@(claim + "OwnedId")" abp-tooltip-bottom="@(claim.Length>35?claim:"")"><i class="fa fa-long-arrow-right"></i> @claim</button>
                                                <input id="@(claim + "InputId")" type="text" name="@("ApiResource.UserClaims[" + i + "]")" value="" hidden />
                                            }

                                        </abp-card-body>
                                    </abp-card>
                                </abp-column>

                                <abp-column size="_6">

                                    <abp-card>
                                        <abp-card-header>@L["NotOwnedClaims"]</abp-card-header>
                                        <abp-card-body style="height: 320px; overflow: auto">
                                            @foreach (var claim in Model.AllClaims)
                                            {
                                                <button type="button" class="otherClaim btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left" id="@(claim + "OtherId")" abp-tooltip-bottom="@(claim.Length>35?claim:"")"><i class="fa fa-long-arrow-left "></i> @claim</button>
                                            }

                                        </abp-card-body>
                                    </abp-card>
                                </abp-column>

                            </abp-row>
                        </div>
                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
