.sideContent{
    overflow-y: auto;
    height: calc(100vh - 62px);
    width: 330px;
    position: absolute;
    top: 62px;
    transition: all 0.7s ease;
    left: -300px;
}
.showsider{
    left: 0px;
}
.sideContent .content-parent{
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
.sideContent .contentchild{
    background: #fff;
    width: 91%;
    height: 100%;
    padding: 0px 10px;
}
.map-side-toggle{
    position: absolute;
    left: 92%;
    top: 5px;
    height: 50px;
    border: none;
    background: #fff;
    border-radius: 4px;
    align-items: center;
    padding: 0;
    margin: 0px;
    min-width: 21px;
}
.rotate-180{
    transform: rotate(180deg);
}