.tab-header{
    text-align: center;
    padding: 16px 0px;
}
.tab-header span{
    font-weight: 600;
    text-transform: uppercase;
    color: #1976d2;
}
.custom-header-btmborder {
    border-bottom: solid 1px #e5e5e5;
    margin: 0 -10px 20px;
}
.hide{
    display: none;
}