<ng-container *ngIf="data$ | async as data">
  <abp-page [title]="'AbpIdentity::ClaimTypes' | abpLocalization" [toolbar]="data">
    <div id="identity-claim-types-wrapper">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <input
                  type="search"
                  class="form-control"
                  [placeholder]="'AbpUi::PagerSearch' | abpLocalization"
                  [(ngModel)]="list.filter"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="list.get()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <abp-extensible-table
          [data]="data"
          [recordsTotal]="totalCount$ | async"
          [list]="list"
        ></abp-extensible-table>
      </div>
    </div>
  </abp-page>
</ng-container>

<abp-modal size="md" [(visible)]="isModalVisible" [busy]="modalBusy">
  <ng-template #abpHeader>
    <h3>
      {{ (selected?.id ? 'AbpIdentity::Edit' : 'AbpIdentity::NewClaimType') | abpLocalization }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()" validateOnSubmit>
      <div class="mt-2 fade-in-top">
        <abp-extensible-form [selectedRecord]="selected"></abp-extensible-form>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpIdentity::Cancel' | abpLocalization }}
    </button>
    <abp-button iconClass="fa fa-check" (click)="save()" [disabled]="form?.invalid">{{
      'AbpIdentity::Save' | abpLocalization
    }}</abp-button>
  </ng-template>
</abp-modal>
