﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L

<div id="modal-setting-layer" class="modal-setting-layer content-section">
    <div class="toogle-content-section" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["Layer:Close"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
    </div>
    <div class="content-section-header">
        <span>@L["Layer:SettingLayer"].Value</span>
    </div>
    <div class="modal-body-content">
        <div class="title-li-tab h-100">
            <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-body-config" role="tab" aria-controls="pills-home" aria-selected="true">Cấu hình</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-body-info" role="tab" aria-controls="pills-profile" aria-selected="false">Thông tin</a>
                </li>
            </ul>
            <div class="w-100" style="height: calc(100vh - 215px);">
                <div class="tab-pane fade show active" id="pills-body-config" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="body-content">
                        <div class="row header-info" style="margin: 0;border-bottom: 1px solid #ddd;margin-bottom: 10px;">
                            <h4 style="font-weight: 700;">@L["Layer:RoadAttribute"].Value</h4>
                        </div>

                        @*<div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:SmallestZoomLevel"].Value</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control-QTSC" name="MinZoom" value="1" id="min-zoom" min="0" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:LargestZoomLevel"].Value</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control-QTSC" value="1" name="MaxZoom" id="max-zoom" min="0" style="width:100%">
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:BorderColor"].Value</label>
                                <div class="col-md-6">
                                    <input type="text" id="strokeText" class="form-control-QTSC" name="StrokeText" value="#007bff">
                                    <input type="color" id="strokeinput" name="Stroke" value="#007bff">
                                    <div id="strokeColor"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:BorderWidth"].Value</label>
                                <div class="col-md-6">
                                    <input type="number" name="StrokeWidth" class="form-control-QTSC" value="1" id="stroke-width" min="0" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:OpacityBorder"].Value</label>
                                <div class="col-md-6">
                                    <div class="range-slide">
                                        <div class="display">
                                            <span id="max-strokeopacity">100.00%</span>
                                        </div>
                                        <div class="slide" style="left:0px;">
                                            <div class="line" id="line-strokeopacity" style="left: 0%; right: 0%;"></div>
                                            <span class="thumb" id="thumbMax-strokeopacity" style="left: 100%;"></span>
                                        </div>
                                        <input class="inputRange" id="rangeMax-strokeopacity" type="range" max="100" min="0" step="1" value="100">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="display:none;">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:LineType"].Value</label>
                                <div class="col-md-6">
                                    <select name="StyleStroke" class="form-control-QTSC" id="style-stroke">
                                        <option value="straightline" selected>Đường thẳng</option>
                                        <option value="brokenLine">Đường đứt</option>
                                        <option value="dotLine">Đường chấm</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:ColorRegion"].Value</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control-QTSC" id="fillText" name="fileText" value="#007bff">
                                    <input type="color" class="form-control-QTSC" id="fillInput" name="fillInput" value="#007bff">
                                    <div id="fillColor"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="control-label col-md-6 required">@L["Layer:OpacityRegion"].Value</label>
                                <div class="col-md-6">
                                    <div class="range-slide">
                                        <div class="display">
                                            <span id="max-fillOpactity">100.00%</span>
                                        </div>
                                        <div class="slide" style="left:0px;">
                                            <div class="line" id="line-fillOpactity" style="left: 0%; right: 0%;"></div>
                                            <span class="thumb" id="thumbMax-fillOpactity" style="left: 100%;"></span>
                                        </div>
                                        <input class="inputRange" name="FillOpacity" id="rangeMax-fillOpactity" type="range" max="100" min="0" step="1" value="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-content">
                        <div class="form-group" style="text-align: right;">
                            <button type="button" class="btn btn-secondary btn-save-properties"><i class="fa fa-save" aria-hidden="true" style="margin: 0 5px;"></i>@L["Layer:Save"].Value</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-body-info" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="body-content">
                        <div class="row header-info" style="margin: 0;border-bottom: 1px solid #ddd;margin-bottom: 10px;">
                            <h4 style="font-weight: 700;">@L["Layer:InformationData"].Value</h4>
                        </div>

                        <div class="form-group">
                            <div class="row" style="place-items: center;">
                                <label class="mb-3 control-label col-md-12">@L["Layer:ImageIcon"].Value (png, jpg, jpeg)</label>
                                <div class="col-md-12">
                                    <div class="profile-avatar">
                                        <img src="~/images/anhMacDinh.png" id="img-avatar" onerror="this.onerror=null;this.src='/images/anhMacDinh.png';" />
                                        <div class="icon"><i class="fa fa-pencil edit-avatar"></i></div>
                                    </div>
                                    <div class=" text-center" style="margin-bottom: 7px;">
                                        <input class="hidden" type="file" name="file" id="fileImage" accept="image/jpeg, image/png, image/jpg" style="display:none;">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" style="display:none;">
                            <div class="row" style="place-items: center;">
                                <label class="mb-3 control-label col-md-12">@L["Layer:3DTextureImage"].Value (png, jpg, jpeg)</label>
                                <div class="col-md-12">
                                    <div class="profile-avatar">
                                        <img src="~/images/anhMacDinh.png" id="img-3D" onerror="this.onerror=null;this.src='/images/anhMacDinh.png';" />
                                        <div class="icon"><i class="fa fa-pencil edit-3D"></i></div>

                                        <div class=" text-center" style="margin-bottom: 7px;">
                                            <input class="hidden" type="file" name="file" id="file3D" accept="image/gif, image/jpeg, image/png, image/jpg" style="display:none;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-button-upload form-group-modal" style="width: 100%; display: none;">
                            <div class="w-100 mb-3" style="width:100%; position:relative; display:flex; justify-content: space-between;">
                                <label class="">@L["Layer:File3DObject"].Value</label>
                                <input id="choosenFile-obj" type='file' class="form-control-QTSC" accept=".obj" style="height:auto; display:none;">
                                <label class="btn btn-success" for="choosenFile-obj">Chọn tệp</label>
                            </div>

                            <div class="file-object-content w-100" style="display:none;">
                                <div class="icon-file-obj"><img src="/common/icon-file-obj.svg"></div>
                                <div class="name-file-obj" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="ranh danh quy hoach lo.geojson">ranh danh quy hoach lo.geojson</div>
                                <div class="action-file-obj" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Xóa"><img src="/images/close_cricle.svg"></div>
                            </div>

                            <div class="content-errors-file-obj mb-2" style="display:none;">
                                <div class="text-danger" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="file không đúng định dạng">file không đúng định dạng</div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-content">
                        <div class="form-group" style="text-align: right;">
                            <button type="button" class="btn btn-secondary btn-save-properties-info"><i class="fa fa-save" aria-hidden="true" style="margin: 0 5px;"></i>@L["Layer:Save"].Value</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgUpload').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            $('#imgUpload').attr('src', '/images/anhMacDinh.png');
        }
    }
</script>
