﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L
<!-- Modal -->
<div class="modal fade exampleModal-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@L["Layer:AddNewList"].Value</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <input id="idList" type="text" name="Name" class="" hidden />
                <div class="form-group">

                    <label>@L["Layer:DisplayName"].Value: </label>
                    <input id="nameList" type="text" name="Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label>@L["Layer:PropertyCode"].Value: </label>
                    <input id="codeList" type="text" name="Code" class="form-control" />
                </div>

                @*<div style="text-align: right;">
                        <button id="btnSaveList" type="button" class=" btn btn-secondary mb-3">
                            @L["Layer:SaveInfo"].Value
                        </button>
                    </div>*@

                <div class="div-list">
                    <table class="table table-bordered">
                        <thead class="thead-dark table-list">
                            <tr>
                                <th width="15%">@L["Layer:No."].Value</th>
                                <th width="30%">@L["Layer:DisplayName"].Value</th>
                                <th width="35%">@L["Layer:PropertyCode"].Value</th>
                                <th width="100">@L["Layer:Manipulation"].Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="4">@L["Layer:NoData"].Value</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger close-modal-list" data-dismiss="modal">@L["Layer:Close"].Value</button>
                <button id="btnSaveList" type="button" class=" btn btn-secondary">
                    @L["Layer:Save"].Value
                </button>

            </div>
        </div>
    </div>
</div>

<style>
    .table-list > tr > th {
        border: 1px solid #ddd;
    }

    .div-list {
        min-height: 200px;
        border: 5px #dee2e6 solid;
        overflow: auto;
    }


    .exampleModal-list .modal-header {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        color: #000;
        padding-top: 24px;
        padding-bottom: 15px;
    }

    .exampleModal-list .modal-body {
        padding-bottom: 0;
    }

    .exampleModal-list .modal-footer {
        padding: 24px;
        padding-top: 0;
    }

    .exampleModal-list #exampleModalLabel {
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        color: #000000DE;
        text-transform: uppercase;
        opacity: 1;
        font-weight: 700;
    }

    .exampleModal-list .close-modal-list {
        border-radius: 4px;
        opacity: 1;
        letter-spacing: 0px;
        color: #FCFCFC;
        height: 48px;
        width: 120px;
    }

    .exampleModal-list #btnSaveList {
        border-radius: 4px !important;
        opacity: 1;
        letter-spacing: 0px;
        color: #FCFCFC;
        height: 48px;
        width: 120px;
    }
</style>