﻿@using Microsoft.AspNetCore.Mvc.Localization
@using IoT.HTKT.Localization
@inject IHtmlLocalizer<HTKTResource> L
<div id="permissionModal" class="permissionModal content-section">
    <div class="toogle-content-section" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["Layer:Close"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
    </div>
    <div class="content-section-header">
        <span>@L["PermissionLayer"].Value</span>
    </div>
    <div class="modal-body-content">
        <div class="w-100 position-relative">
            <div class="custom-checkbox custom-control mb-2">
                <input type="checkbox" data-val="true" id="isImplement" name="isImplement" value="true" class="custom-control-input ">
                <label class="custom-control-label" for="isImplement">@L["Layer:ImplementFromFolder"].Value</label>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-modal">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="search-modal-radio" data-name="" id="USER_Radio" class="search-w custom-control-input" value="USER" style="margin: auto 5px;" checked>
                            <label class="custom-control-label" for="USER_Radio">@L["User"].Value</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group form-group-modal">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" name="search-modal-radio" data-name="" id="ROLE_Radio" class="search-w custom-control-input" value="ROLE" style="margin: auto 5px;">
                            <label class="custom-control-label" for="ROLE_Radio">@L["Role"].Value</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="body-permission mb-3 body-user">
            <div class="w-100 position-relative">
                <div class="form-group form-group-modal" id="content-selected-user">
                    <select class="form-control" id="user-selected" placeholder="Select Text" multiple>
                    </select>
                    <span class="placeholder">@L["ChoosenUser"].Value</span>
                    <input type="hidden" id="array-userid" />
                </div>
            </div>

            <div class="w-100 position-relative box-list">
                <div class="head-tile">
                    <h4 class="card-title">@L["ListUserChoosen"].Value</h4>
                </div>
                <div class="custom-body">
                    <ul class="dtc-list-selected list-object-content-brand" id="user-list-selected">
                    </ul>
                </div>
            </div>
        </div>

        <div class="body-permission mb-3 body-role hidden">
            <div class="w-100 position-relative">
                <div class="form-group form-group-modal" id="content-selected-user">
                    <select class="form-control" id="role-selected" placeholder="Select Text" multiple>
                    </select>
                    <span class="placeholder">@L["ChoosenRole"].Value</span>
                    <input type="hidden" id="array-roleid" />
                </div>
            </div>

            <div class="w-100 position-relative box-list">
                <div class="head-tile">
                    <h4 class="card-title">@L["ListRoleChoosen"].Value</h4>
                </div>
                <div class="custom-body">
                    <ul class="dtc-list-selected list-object-content-brand" id="role-list-selected">
                    </ul>
                </div>
            </div>
        </div>

        <div class="body-permission mb-3">
            <div class="w-100 position-relative box-list">
                <div class="head-tile">
                    <h4 class="card-title">@L["Layer:ListPermission"].Value</h4>
                </div>
                <div class="custom-body">
                    <div class="list-permission-layer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer-content">
        <div class="d-flex">
            <button type="button" class="btn-close-content btn btn-danger">@L["Layer:Close"].Value</button>
            <button type="button" class="btn btn-secondary save-permission" id="save-permission">@L["Layer:Save"].Value</button>
        </div>
    </div>
</div>
