﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L

<div id="Modal-layer" class="Modal-layer content-section">
    <div class="toogle-content-section" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["Layer:Close"].Value">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <defs>
            </defs>
            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
            <path class="b" style=" fill: #000;" d="M12,10.586l4.95-4.95L18.364,7.05,13.414,12l4.95,4.95L16.95,18.364,12,13.414l-4.95,4.95L5.636,16.95,10.586,12,5.636,7.05,7.05,5.636Z"></path>
        </svg>
    </div>
    <div class="content-section-header">
        <span>@L["Layer:AddNewDataLayer"].Value</span>
    </div>
    <div class="modal-body-content">

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" name="Name-Layer" data-name="@L["Layer:DataLayerName"].Value" id="nameLayer" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:DataLayerName"].Value <span class="required"></span></span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">

                <input type="radio" id="CreateAllDataFields" name="optionsLayer" value="1" checked>
                <label for="CreateAllDataFields">@L["Layer:CreateAllDataFields"].Value</label>

                @*<div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="optionsLayer" id="CreateAllDataFields" value="1" class="custom-control-input" checked>
                    <label class="custom-control-label" for="CreateAllDataFields">@L["Layer:CreateAllDataFields"].Value </label>
                </div>*@
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="radio" id="InheritExistingDataLayer" name="optionsLayer" value="2" checked>
                <label for="InheritExistingDataLayer">@L["Layer:InheritExistingDataLayer"].Value</label>

                @*<div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="optionsLayer" id="InheritExistingDataLayer" value="2" class="custom-control-input">
                    <label class="custom-control-label" for="InheritExistingDataLayer">@L["Layer:InheritExistingDataLayer"].Value</label>
                </div>*@
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <select class="layerdata" data-name="@L["Layer:SelectLayer"].Value">
                </select>
                <span class="placeholder">@L["Layer:SelectLayer"].Value</span>
            </div>
        </div>

        <div class="w-100 position-relative" style="display:none">
            <div class="form-group form-group-modal ">
                <div class="custom-checkbox custom-control">
                    <input type="checkbox" id="optionsLayerMap" name="optionsLayerMap" class="custom-control-input modal-layer form-style">
                    <label class="custom-control-label" for="optionsLayerMap">@L["Layer:MaptileDatabyRegion"].Value</label>
                </div>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal">
                <input type="text" required="" name="inputGroundMaptileLayer" data-name="@L["Layer:MaptileDatabyRegion"].Value" id="inputGroundMaptileLayer" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:MaptilePath"].Value</span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" name="inputBoundsMaptileLayer" id="inputBoundsMaptileLayer" data-name="@L["Layer:MaptileCoordinates"].Value" value="[]" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:MaptileCoordinates"].Value</span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" data-name="@L["Layer:Longitude"].Value" name="Lng-Layer" id="lngLayer" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:Longitude"].Value</span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" name="Lat-Layer" data-name="@L["Layer:Latitude"].Value" id="latLayer" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:Latitude"].Value</span>
            </div>
        </div>

        <div class="w-100 position-relative">
            <div class="form-group form-group-modal ">
                <input type="text" required="" data-name="@L["Layer:ZoomLevel"].Value" name="Zoom-Layer" id="Zoom-Layer" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                <span class="placeholder">@L["Layer:DefaultZoomLevel"].Value (3 @L["Layer:To"].Value 22)</span>
            </div>
        </div>
        <div class="w-100 position-relative">
            <div class="form-group tablelayer">
                <label class="">@L["Layer:option"].Value: </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionLayerCreate" value="1" id="flexRadioDefaultCreate1" checked>
                    <label class="form-check-label" for="flexRadioDefaultCreate1">
                        @L["Layer:optionName1"].Value
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionLayerCreate" value="2" id="flexRadioDefaultCreate2">
                    <label class="form-check-label" for="flexRadioDefaultCreate2">
                        @L["Layer:optionName2"].Value
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="optionLayerCreate" value="3" id="flexRadioDefaultCreate3">
                    <label class="form-check-label" for="flexRadioDefaultCreate3">
                        @L["Layer:optionName3"].Value
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer-content">
        <div class="d-flex">
            <button type="button" class="btn-close-content btn btn-danger">@L["Layer:Close"].Value</button>
            <button type="button" class="btn btn-secondary" id="btnSaveFolderLayer">@L["Layer:Save"].Value</button>
        </div>
    </div>
</div>
