﻿@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L

@using IoT.HTKT.Permissions
@inject IAuthorizationService Authorization
<div class="table-layer">
    <div class="box-body">
        @*<div style="margin: 8px 0px; display:flex;justify-content:space-between;">
                <button style="visibility:hidden"></button>
                @if (await Authorization.IsGrantedAsync(QTSCPermissions.AdminManagementData.Edit))
                {
                    <button class="SaveProperties btn btn-primary" type="button">Lưu</button>
                }
            </div>*@
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default div-headingOne">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" @*data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"*@>
                        <i class="icon-colspan">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="width:24px; height:24px;"
                                 viewBox="0 0 24 24" xml:space="preserve">
                                    <path id="Path_6613" class="st0" d="M4.24,1.93h16c0.55,0,1,0.45,1,1v16c0,0.55-0.45,1-1,1h-16c-0.55,0-1-0.45-1-1v-16
	                                    C3.24,2.37,3.69,1.93,4.24,1.93z M5.24,3.93v14h14v-14H5.24z M7.24,9.93h10v2h-10V9.93z M13.24,5.93v10h-2v-10H13.24z" style=" fill: #FFFFFF;" />
                            </svg>
                        </i>
                        @L["Layer:SystemAttributeInheritance"].Value
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="overflow-x:auto">
                    <div class="panel-body">
                        <table class="table table-bordered table-properties-system">
                            <thead>
                                <tr>
                                    <th>@L["Layer:No."].Value</th>
                                    <th>@L["Layer:DisplayName"].Value</th>
                                    <th>@L["Layer:PropertyCode_NotContainSpecialCharacter_WhiteSpace"].Value</th>
                                    <th>@L["Layer:DataType"].Value</th>
                                    <th>@L["Layer:Display"].Value</th>
                                    <th>@L["Layer:Indexing"].Value</th>
                                    <th>@L["Layer:Request"].Value</th>
                                    <th>@L["Layer:ViewOnly"].Value</th>
                                    <th>@L["Layer:History"].Value</th>
                                    <th>@L["Layer:Inheritance"].Value</th>
                                    <th>@L["Layer:Synchronized"].Value</th>
                                    <th>@L["ShowExploit"].Value</th>
                                    <th>@L["IsShowSearchExploit"].Value</th>
                                    <th>@L["Layer:Properties:IsShowReference"].Value</th>
                                    <th>@L["Layer:DefaultValue"].Value</th>
                                    <th>@L["Layer:Description"].Value</th>
                                    <th>@L["Layer:Action"].Value</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel panel-default div-headingTwo">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <a role="button" class="open">
                        <i class="icon-colspan">
                            <svg id="Component_212_2" data-name="Component 212 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_6612" data-name="Path 6612" d="M0,0H24V24H0Z" fill="none" />
                                <path id="Path_6613" data-name="Path 6613" d="M4,3H20a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3ZM5,5V19H19V5Zm2,6H17v2H7Z" fill="#fff" />
                            </svg>
                        </i>
                        @L["Layer:MainProperty"].Value
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo" style="overflow-x:auto">
                    <div class="panel-body">
                        <table class="table table-bordered table-properties">
                            <thead>
                                <tr>
                                    <th>@L["Layer:No."].Value</th>
                                    <th>@L["Layer:DisplayName"].Value</th>
                                    <th>@L["Layer:PropertyCode_NotContainSpecialCharacter_WhiteSpace"].Value</th>
                                    <th>@L["Layer:DataType"].Value</th>
                                    <th>@L["Layer:Display"].Value</th>
                                    <th>@L["Layer:Indexing"].Value</th>
                                    <th>@L["Layer:Request"].Value</th>
                                    <th>@L["Layer:ViewOnly"].Value</th>
                                    <th>@L["Layer:History"].Value</th>
                                    <th>@L["Layer:Inheritance"].Value</th>
                                    <th>@L["Layer:Synchronized"].Value</th>
                                    <th>@L["ShowExploit"].Value</th>
                                    <th>@L["IsShowSearchExploit"].Value</th>
                                    <th>@L["Layer:Properties:IsShowReference"].Value</th>
                                    <th>@L["Layer:DefaultValue"].Value</th>
                                    <th>@L["Layer:Description"].Value</th>
                                    <th>@L["Layer:Action"].Value</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.AdminManagementData.Edit) || Model.ListPermisson.Contains("EDIT"))
            {*@
                <button disabled class="SaveProperties ButtonRow btn btn-secondary" style="float: right;display:none;" type="button">@L["Layer:Save"].Value</button>

                <button class="AddRow btn ButtonRow" type="button" style="float: left;display:none;">
                    <svg id="Component_213_2" data-name="Component 213 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path id="Path_6614" data-name="Path 6614" d="M0,0H24V24H0Z" fill="none" />
                        <path id="Path_6615" data-name="Path 6615" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="var(--primary)" />
                    </svg>
                    <span>@L["Layer:AddProperty"].Value</span>
                </button>
            @*}*@
        </div>
    </div>
</div>
