﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@using Microsoft.AspNetCore.Authorization
@using IoT.HTKT.Permissions
@using Microsoft.Extensions.Configuration
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.Users
@using IoT.HTKT.Web.Menus
@model IoT.HTKT.Web.Layer.IndexModel

@inject IStringLocalizer<HTKTResource> L
@inject IAuthorizationService Authorization
@inject IConfiguration config
@inject IPageLayout PageLayout
@inject ICurrentUser CurrentUser
@{
    PageLayout.Content.Title = L["Menu:Layer"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:HTKT"].Value);
    PageLayout.Content.MenuItemName = HTKTMenus.Layer;
    ViewBag.Title = L["Menu:Layer"].Value;
}

<div class="div-content card">
    <div class="left-tree">
        <div class="map-side-form show" style="background-color: inherit;">
            <div class="form-inner content-side">
                <!--<div style="height:68px; display:none; ">
                    <button class="btnDiv1" id="addPermissionLayer" style="display:none;">
                        <img src="/images/Icon-CreateUser.svg" />
                    </button>-->
                @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.AdminManagementData.Create) || Model.ListPermisson.Contains("CREATE"))
                    {*@
                <!--<button class="btnDiv1"  type="button" title="@L["Layer:AddNewDataLayer"].Value" style="display:none;">
                    <img src="/images/Icon-CreateLayer.svg" />
                </button>-->
                @*}*@
                @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.AdminManagementData.Delete) || Model.ListPermisson.Contains("DELETE"))
                    {*@
                <!--<button class="btnDiv1" id="btnDeleteFolder" title="@L["Layer:RemoverFolder"].Value" style="display:none;">
                    <img src="/images/Icon-DeleteLayer.svg" />
                </button>-->
                @*}*@
                @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.AdminManagementData.Create) || Model.ListPermisson.Contains("CREATE"))
                    {*@
                <!--<button class="btnDiv1" id="addFolder1" type="button" title="@L["Layer:AddNewFolder"].Value" style="display:none;">
                    <img src="/images/Icon-CreateFolder.svg" />
                </button>-->
                @*}*@
                <!--</div>-->
                <div class="form-header">
                    <span class="title" style="font-size: 14px;">@L["Layer:ConfigureDataType"].Value</span>
                </div>
                <div class="form-body active">
                    <div class="content-search-tree">
                        <div class="w-100">
                            <input type="text" class="search-tree form-control" placeholder="@L["Layer:InputLayerName"].Value" />
                        </div>
                        <div class="div-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs></defs>
                                <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                                <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                            </svg>
                        </div>
                    </div>

                    <div class="scroll-content" style="padding:0px;">
                        <div class="content-form">
                            <div id="checkTree" style="display:none;"></div>
                            <div class="treeview" style="height: auto;" data-search="Công viên cây xanh">
                                <a href="javascript:;" class="item-li forcus" id="div-parent-tree" data-id="0" style="background-color: #ffffff13;position:relative;">
                                    <span class="pull-left-container">
                                        <i class="fa fa-angle-right pull-left icon-menu-tree open"></i>
                                    </span>
                                    <span class="title-item">
                                        <svg id="Group_1232" data-name="Group 1232" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                            <path id="Path_388" data-name="Path 388" d="M0,0H24V24H0Z" fill="none" />
                                            <path id="Path_389" data-name="Path 389" d="M3,21a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3h7.414l2,2H20a1,1,0,0,1,1,1V9H4V19l2-8H22.5l-2.31,9.243a1,1,0,0,1-.97.757Z" fill="var(--primary)" />
                                        </svg>
                                        <span class="name-folder-parent"> </span>
                                    </span>
                                </a>
                            </div>
                            <ul class="tree-o-i">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-view">
        <div class="menuMap">
            <a href="javascript:;" class="notFocus take-picture list-object-content-brand" id="hideTree" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:ClosePanel"].Value" title="">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" style="cursor: pointer;">
                    <defs></defs>
                    <g transform="translate(1988 32)">
                        <g transform="translate(-1988 -32)">
                            <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                            <path style="fill: var(--primary)" class="b" d="M7.828,11H30v2H7.828l5.364,5.364-1.414,1.414L4,12l7.778-7.778,1.414,1.414Z"></path>
                        </g>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -28)"></rect>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -14)"></rect>
                    </g>
                </svg>
            </a>
            <div class="right-line-horizel" data-for="hideTree"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" data-type="1" id="addFolder" data-toggle="tooltip" data-placement="bottom" title="" style="display: inline-flex;" data-original-title="@L["Layer:AddNewFolder"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18">
                    <path id="Path_6541" class="b" data-name="Path 6541" d="M12.414,5H21a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3h7.414ZM4,5V19H20V7H11.586l-2-2Zm7,7V9h2v3h3v2H13v3H11V14H8V12Z" transform="translate(-2 -3)" fill="rgba(0,0,0,0.56)" />
                </svg>

            </a>
            <div class="right-line-horizel" data-for="addFolder"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" data-type="2" data-toggle="tooltip" id="editFolder" data-placement="bottom" title="" style="display: inline-flex;" data-original-title="@L["Layer:EditNameFolder"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17.971" viewBox="0 0 18 17.971">
                    <path id="Path_6611" class="b" data-name="Path 6611" d="M5,19H6.414l9.314-9.314L14.314,8.272,5,17.586Zm16,2H3V16.757L16.435,3.322a1,1,0,0,1,1.414,0l2.829,2.829a1,1,0,0,1,0,1.414L9.243,19H21ZM15.728,6.858l1.414,1.414,1.414-1.414L17.142,5.444,15.728,6.858Z" transform="translate(-3 -3.029)" fill="rgba(0,0,0,0.56)" />
                </svg>
            </a>
            <div class="right-line-horizel-primary" data-for="editFolder"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" data-type="3" id="addLayer" data-toggle="tooltip" data-placement="bottom" title="" style="display: inline-flex;" data-original-title="@L["Layer:AddNewDataLayer"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM11,11V8h2v3h3v2H13v3H11V13H8V11Z"></path>
                </svg>
            </a>
            <div class="right-line-horizel" data-for="addLayer"></div>
            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" id="SettingLayer" data-type="4" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["Layer:SettingLayer"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path id="Path_33" class="b" data-name="Path 33" d="M2,12a10.036,10.036,0,0,1,.316-2.5A3,3,0,0,0,4.99,4.867a9.99,9.99,0,0,1,4.335-2.5,3,3,0,0,0,5.348,0,9.99,9.99,0,0,1,4.335,2.5A3,3,0,0,0,21.683,9.5a10.075,10.075,0,0,1,0,5.007,3,3,0,0,0-2.675,4.629,9.99,9.99,0,0,1-4.335,2.505,3,3,0,0,0-5.348,0A9.99,9.99,0,0,1,4.99,19.133,3,3,0,0,0,2.315,14.5,10.056,10.056,0,0,1,2,12Zm4.8,3a5,5,0,0,1,.564,3.524,8.007,8.007,0,0,0,1.3.75,5,5,0,0,1,6.67,0,8.007,8.007,0,0,0,1.3-.75,5,5,0,0,1,3.334-5.774,8.126,8.126,0,0,0,0-1.5,5,5,0,0,1-3.335-5.774,7.989,7.989,0,0,0-1.3-.75,5,5,0,0,1-6.669,0,7.99,7.99,0,0,0-1.3.75A5,5,0,0,1,4.034,11.25a8.126,8.126,0,0,0,0,1.5A4.993,4.993,0,0,1,6.805,15ZM12,15a3,3,0,1,1,3-3A3,3,0,0,1,12,15Zm0-2a1,1,0,1,0-1-1A1,1,0,0,0,12,13Z" transform="translate(0)" fill="rgba(0,0,0,0.56)" />
                </svg>
            </a>
            <div class="right-line-horizel-primary" data-for="SettingLayer"></div>

            <a href="javascript:;" class="action-menu take-picture list-object-content-brand" id="addPermissionLayer" data-type="5" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["PermissionLayer"].Value">
                <svg id="Group_2870" data-name="Group 2870" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path id="Path_6550" data-name="Path 6550" d="M0,0H24V24H0Z" fill="none" />
                    <path id="Path_6551" class="b" data-name="Path 6551" d="M12,14v2a6,6,0,0,0-6,6H4a8,8,0,0,1,8-8Zm0-1a6,6,0,1,1,6-6A6,6,0,0,1,12,13Zm0-2A4,4,0,1,0,8,7,4,4,0,0,0,12,11Zm2.6,7.812a3.51,3.51,0,0,1,0-1.623l-.992-.573,1-1.732.992.573A3.5,3.5,0,0,1,17,14.645V13.5h2v1.145a3.492,3.492,0,0,1,1.405.812l.992-.573,1,1.732-.992.573a3.51,3.51,0,0,1,0,1.622l.992.573-1,1.732-.992-.573a3.5,3.5,0,0,1-1.4.812V22.5H17V21.355a3.5,3.5,0,0,1-1.4-.812l-.992.573-1-1.732.992-.572ZM18,19.5A1.5,1.5,0,1,0,16.5,18,1.5,1.5,0,0,0,18,19.5Z" fill="rgba(0,0,0,0.56)" />
                </svg>
            </a>
            <div class="right-line-horizel" data-for="addPermissionLayer"></div>

            <a href="javascript:;" class="action-menu list-object-content-brand" data-type="6" id="btnDeleteFolder" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="@L["Layer:DeleteFolderOrLayer"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M20,7V21a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V7H2V5H22V7ZM6,7V20H18V7ZM7,2H17V4H7Zm4,8h2v7H11Z"></path>
                </svg>
            </a>
        </div>
        <div class="w-100 content-right">

            <div class="black-drop-content"></div>
            <partial name="_ModelFolder.cshtml" />
            <partial name="_ModelLayer.cshtml" />
            <partial name="_ModalDataInformation.cshtml" />
            <partial name="_ModalPermissionLayer.cshtml" />

            <div class="card-body content-count-directory">
                <span> @L["ManagementLayer:DataUseMost"].Value</span>
                <div class="content" style="min-height: unset;padding-bottom: 0;">
                    <div class="menu-right">
                        <div class="file-upload-content">
                        </div>
                    </div>
                </div>
            </div>

            <div id="div2">
                <div class="w-100 content-input-form">
                    <div id="h5NameData"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:DataTypeName"].Value" id="DataName" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:DataTypeName"].Value <span class="required"></span></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:Version"].Value" id="Version" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:Version"].Value <span class="required"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:DataTypeCode"].Value" id="DataCode" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:DataTypeCode"].Value <span class="required"></span></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">

                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:InheritanceLayer"].Value" id="NameImplement" value="" class="form-control modal-layer form-style" placeholder="" disabled>
                                <span class="placeholder">@L["Layer:InheritanceLayer"].Value</span>
                                <input class="" type="text" id="IdNameImplement" hidden />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:MaptilePath"].Value" id="UrlMaptile" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:MaptilePath"].Value</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:MaptileCoordinates"].Value" id="BoundMaptile" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:MaptileCoordinates"].Value</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:Longitude"].Value" id="DataLng" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:Longitude"].Value</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group form-group-modal tablelayer">
                                <input autocomplete="off" type="text" required="" data-name="@L["Layer:Latitude"].Value" id="DataLat" value="" class="form-control modal-layer form-style" placeholder="">
                                <span class="placeholder">@L["Layer:Latitude"].Value</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-modal tablelayer">
                                        <input autocomplete="off" type="number" required="" data-name="@L["Layer:ZoomLevel"].Value" id="DataZoom" value="" class="form-control modal-layer form-style" placeholder="">
                                        <span class="placeholder">@L["Layer:DefaultZoomLevel"].Value (3 @L["Layer:To"].Value 22)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:0px">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group form-group-modal tablelayer">
                                                <input autocomplete="off" type="number" required="" data-name="@L["Layer:ZoomLevel"].Value" id="MinZoom" value="" class="form-control modal-layer form-style" placeholder="">
                                                <span class="placeholder">@L["Layer:MinZoomLevel"].Value</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group form-group-modal tablelayer">
                                                <input autocomplete="off" type="number" required="" data-name="@L["Layer:ZoomLevel"].Value" id="MaxZoom" value="" class="form-control modal-layer form-style" placeholder="">
                                                <span class="placeholder">@L["Layer:MaxZoomLevel"].Value</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 load-input">
                            <div class="form-group tablelayer">
                                <label class="">@L["Layer:option"].Value: </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="optionLayer" value="1" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        @L["Layer:optionName1"].Value
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="optionLayer" value="2" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        @L["Layer:optionName2"].Value
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="optionLayer" value="3" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        @L["Layer:optionName3"].Value
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group form-group-modal tablelayer">
                                    <input autocomplete="off" type="number" required="" data-name="@L["Layer:ZoomLevel"].Value" id="MinZoom" value="" class="form-control modal-layer form-style" placeholder="">
                                    <span class="placeholder">@L["Layer:MinZoomLevel"].Value</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group form-group-modal tablelayer">
                                    <input autocomplete="off" type="number" required="" data-name="@L["Layer:ZoomLevel"].Value" id="MaxZoom" value="" class="form-control modal-layer form-style" placeholder="">
                                    <span class="placeholder">@L["Layer:MaxZoomLevel"].Value</span>
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div style="color: #000;margin:10px 0;text-transform: uppercase; font-weight:600;">
                                @L["Layer:PropertyTable"].Value
                            </div>

                            <partial name="_TableLayer.cshtml" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.AdminManagementData.Edit) || Model.ListPermisson.Contains("EDIT"))
            {*@
        @*}*@
    </div>
</div>
<partial name="_ModalList.cshtml" />

@section styles {
    <environment include="Development">
        <link href="~/Pages/HTKT/Layer/index.css" rel="stylesheet" />
        <link href="~/Pages/HTKT/Layer/left-sidebar-layout.css" rel="stylesheet" />
        <link href="~/Pages/HTKT/Layer/left-sidebar-content-layout.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/libs/common/custom-design.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Pages/HTKT/Layer/layer.min.css" asp-append-version="true" />
    </environment>
}
@section scripts{
    <environment include="Development">
        <script src="~/Pages/HTKT/Layer/tablelayer.js"></script>
        <script src="~/Pages/HTKT/Layer/tree-view-layer.js"></script>
        <script src="~/Pages/HTKT/Layer/ModalDataInformation.js"></script>
        <script src="~/Pages/HTKT/ManagementData/MenuLeft.js"></script>
        <script src="~/Pages/HTKT/Layer/permission-layer.js"></script>
        <script src="~/Pages/HTKT/Layer/OptionLayer.js"></script>
        <script src="~/Pages/HTKT/Layer/index.js"></script>
        @*<script src="~/libs/select2/js/i18n/vi.js"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="~/Pages/HTKT/Layer/layer.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        var currentUserId = '@CurrentUser.Id.ToString()';
        var bounds = "@config.GetSection("SettingMap:QTSC.Map.Bounds").Value";
        var TVlstLayerPermission = JSON.parse('@Html.Raw(Json.Serialize(Model.ListLayer))');
        var TVlstIdLayer = JSON.parse('@Html.Raw(Json.Serialize(Model.ListIdLayer))');
        var TVisAdmin = '@Model.IsAdmin';
        mn_selected = "mn_map_layer";
        var splitter, cont1, cont2;
        var last_x, window_width;
        var json = [];      // list dạng tree - parent/children
        var item;
        var thisId;
        var parentId;
        var model;
        var level;
        var listFolder; // list dạng mảng
        var lstForlerDelete = [];
        function resize() {
            //TreeView.Splitter();
        };
        var l = abp.localization.getResource('HTKT');

        $(function () {
            TreeView.init();
            datainfo.init();
            PermissionLayer.init();
            optionLayer.init();
            config.GLOBAL.table = [{
                //ID: "1",
                NameProperties: "Jacob",
                CodeProperties: "Thornton",
                TypeProperties: "int",
                IsShow: true,
                IsIndexing: true,
                IsRequest: true,
                IsView: true,
                IsHistory: true,
                IsInheritance: true,
                IsAsync: true,
                IsShowExploit: true,
                DefalutValue: "",
                ShortDescription: "",
                TypeSystem: 1,
                OrderProperties: 1,
            }];

            TreeView.getListLayerDataType();
            //$(TreeView.SELECTORS.dataName).on('change keyup', function () {
            //    config.GLOBAL.dataName = $(this).val();
            //    var value = this.value.toUpperCase();
            //    var regex = /^[a-zA-Z0-9_]+$/;
            //    if (regex.test(this.value) !== true) {
            //        value = this.value.replace(/ /g, ""); // xóa khoảng trắng
            //        value = value.replace(/[~`!@@#$%_\^&*()+=\-\[\]\\';,/{}_|\\":<>_\?]/g, ''); // xóa ký tự đặc biệt
            //        value = removeVietnameseTones(value).toUpperCase(); // xóa dấu
            //    }
            //    console.log(value);
            //});

            //$(TreeView.SELECTORS.dataCode).on('change keyup', function () {
            //    config.GLOBAL.dataCode = $(this).val();
            //});

            //$(TreeView.SELECTORS.dataVersion).on('change', function () {
            //    config.GLOBAL.dataVersion = $(this).val();
            //});

            config.GLOBAL.table = [];
            config.init();
            config.getDefault();
        });
    </script>
}
