﻿
.content-wrapper {
    position: relative;
}

.content {
    display: flex;
    padding: 15px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.map-side-form .form-inner {
    position: relative;
    overflow-y: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-main {
    /*margin-bottom: 10px;*/
}

/*.map-side-form .form-header {
    position: relative;
    padding: 1.5rem 10px;
    border-bottom: 1px solid #ddd;
    color: #FFF;
    padding: 2rem 2.4rem;
    background-color: rgb(238, 70, 34);
}*/

    .map-side-form .form-header h4 {
        font-size: 1.125rem;
        font-weight: bold;
        color: #ffffff;
        margin: 0;
        width: 85%;
    }


.map-side-form .form-body {
    /*padding-top: 1.56rem;*/
    flex: 1;
    display: none;
    font-weight: 500;
    flex-direction: column;
    overflow-y: hidden;
}

.form-body.active {
    display: flex;
}


.map-container {
    height: 100%;
    width: 74.5%;
    display: block;
    padding: 0px;
    width: calc(100%) !important;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#checkTree {
    height: calc(100vh - 95px);
}

@keyframes opac {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.map-side-form .scroll-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0 .5rem;
    /*margin: 0rem -0.5rem 2.5rem 0rem;*/
}

.route-item-detail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    background-color: #ffffff;
    z-index: 6;
    display: flex;
    flex-direction: column;
}

    .route-item-detail.show {
        transform: translateX(0);
    }

    .route-item-detail .form-header .close {
        background: none;
        border: 0;
        padding: 0;
        outline: 0;
        color: #ffffff;
        position: absolute;
        right: 1.56rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        font-size: 1.3rem;
    }

.small-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.small-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}


.small-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.small-7 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.small-8 {
    flex: 0 0 74.333333%;
    max-width: 74.333333%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

    .small-8 p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

.choose-content-route-busstop-info {
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.15);
    background-color: #ffffff;
}

    .choose-content-route-busstop-info ul {
        display: inline-block;
        margin: 3px;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }

        .choose-content-route-busstop-info ul li {
            display: inline;
            color: #3597E4;
        }

.num-busstop-button {
    display: inline-block;
    text-align: center;
    width: 49%;
    border-radius: 0.25rem;
    line-height: 3rem;
    background-color: #ffffff;
    border-radius: 12px;
    color: #777777;
    cursor: pointer;
    font-weight: 500;
}

    .num-busstop-button.active {
        background-color: rgba(52,182,122,0.07);
        color: #3597E4;
    }

.content-list-info {
    display: none;
}

    .content-list-info.active {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

@media (max-width: 420px) {
    .map-side-form {
        width: 90%;
        left: -90%;
    }

        .map-side-form.show {
            left: 0%;
        }

    p {
        font-size: 1rem;
    }

    .sidebar-enable .map-side-form.show {
        margin-left: 0px;
    }
}
