﻿/*.bg-main {
    z-index: 999;
}*/

.map-side-form {
    transition: all 0.5s ease;
    bottom: 0;
    width: 0;
    background-color: #ffffff;
}

.left-side-menu {
    z-index: 2;
}

.left-tree {
    height: 100%;
    margin-right: 5px;
    position: relative;
    /*border: 1px solid #E5E5E5;*/
    border-top: 0;
    box-shadow: 0px 0px 6px #00000029;
    transition: all 0.7s ease;
}

    .left-tree .tree-o-i {
        height: calc(100vh - 265px);
        margin: 0;
        padding: 0;
        padding-left: 15px;
    }


.map-view {
    width: 100%;
    /*border: 1px solid #E5E5E5;*/
    border-top: 0;
    /*box-shadow: 0px 0px 6px #00000029;*/
    position: relative;
    transition: all 0.5s ease;
}

.content-page {
    padding: 0;
    min-height: unset;
    margin-top: unset;
}

.map-side-form.show {
    width: 310px;
}

.map-side-form .form-header,
.map-side-form .form-body {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

.map-side-form.show .form-header,
.map-side-form.show .form-body {
    visibility: visible;
    opacity: 1;
    transition: all 1.8s ease;
}

.map-side-form #btn-side-form-toggle {
    border: 0;
    outline: 0;
    position: absolute;
    right: -3.2rem;
    top: 0;
    width: 3.2rem;
    height: 4.2rem;
    box-shadow: 0.19rem 0 0.375rem 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    border-top-right-radius: 0.31rem;
    border-bottom-right-radius: 0.31rem;
}


#map4d {
    height: 100%;
    width: 100%;
}

.map-side-form .icon-show {
    display: none;
}

.map-side-form .icon-hide {
    display: block;
}

.map-side-form.show .icon-show {
    display: block;
}

.map-side-form.show .icon-hide {
    display: none;
}

.head-case-login {
    width: 100%;
    color: #3597E4;
    background-color: #FFF;
    font-size: 1.5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.tab-content-side {
    border: none;
    outline: none;
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
    width: 49%;
    /* background-color: #FFF; */
    cursor: pointer;
}

    .tab-content-side.active {
        border-bottom: 3px solid #3597E4;
    }

input:focus {
    outline: none;
}

.enlarged .content-page {
    padding: 0px;
    margin-top: unset;
}

.div-headingTwo .b {
    fill: #FFF !important;
}

.item-li:hover, .item-li:active, .item-li:focus {
    font-weight: 600;
}

.item-li.forcus {
    background: var(--forcus) !important;
    font-weight: 600;
    font-style: italic !important;
}

@media (max-width: 767.98px) {
    .content-page, .enlarged .content-page {
        margin-left: 0 !important;
        padding: 0 0px;
    }

    .map-side-form {
        margin-left: 0px;
        min-width: unset;
    }

    body {
        padding: 0;
    }

    .enlarged .map-side-form {
        margin-left: 0px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(158, 165, 171);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(158, 165, 171);
    }

a:hover {
    text-decoration: none !important;
    color: inherit;
}

/*style checkbox tablelayer*/

.checkboxmark {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 18px;
    width: 18px;
    transform: translate(-50%, -50%);
    text-align: center;
    /*background-color: #242839;*/
    border: 2px solid #717171;
}

.table-checkbox input:checked ~ .checkboxmark, .button-checkbox-all input:checked ~ .checkboxmark-all {
    border: 2px solid var(--primary);
}


input.editcheckbox {
    height: 0;
    width: 0;
}

/* On mouse-over, add a grey background color */
/*.table-checkbox:hover input ~ .checkboxmark {
    background-color: rgb(238, 70, 34);
}*/

/* When the checkbox is checked, add a blue background */
.table-checkbox input:checked ~ .checkboxmark {
    background-color: rgb(238, 70, 34);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.table-checkbox input:checked ~ .checkboxmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.table-checkbox .checkboxmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg );
}
