﻿@page
@using Microsoft.Extensions.Localization
@using IoT.ThongKe.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.ThongKe.Web.Menus
@model IoT.ThongKe.Web.Pages.ChartStatistic.IndexModel
@inject IStringLocalizer<ThongKeResource> L
@inject IPageLayout PageLayout
@{
    //Layout = "~/Themes/Lepton/Layouts/KhaiThac/Default.cshtml";
    PageLayout.Content.Title = L["Menu:ChartStatistic"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:ThongKe"].Value);
    PageLayout.Content.MenuItemName = ThongKeMenus.ChartStatistic;
    ViewBag.Title = L["Menu:ChartStatistic"].Value;
}
<style>
    .div-content {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        margin-bottom: 0px;
        position: static;
    }

    .left-tree {
        min-width: 310px;
        width: 16.2%;
        height: 100%;
        position: relative;
        margin-bottom: 0;
    }

    .map-view {
        width: 84%;
        background-color: #fff;
    }

    .inputSize {
        height: 34px;
        font-size: 14px;
    }

    .list-group-item {
        position: relative;
        display: block;
        display: block;
        padding: 0.75rem 1.25rem;
        background-color: #fff;
        font-size: 14px;
    }

    .btnDiv1 {
        float: left;
        width: 30px;
        height: 34px;
    }

    ul.dynatree-container {
        border: 1px solid gray !important;
        border-right: 5px solid gray !important;
        height: 91vh !important;
        overflow: scroll !important;
    }

    .table-chart > thead > tr > th {
        background-color: rgb(238, 100, 60);
        color: #FFF;
    }

    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }


    /* Track */
    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px grey;*/
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(158, 165, 171);
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(158, 165, 171);
        }


    .form-header.bg-main {
        /*        color: #ffffff;
        line-height: 30px;
        padding: 5px 10px;
        height: 40px;
        background: rgb(238, 100, 60);*/
        text-transform: uppercase;
        /*        width: 100%;*/
        position: relative;
        border-bottom: 1px solid #ddd;
        padding: 2rem 2.4rem;
    }

        .form-header.bg-main span {
            font-size: 16px;
            font-weight: 700;
        }

    .content {
        padding: 0px !important;
    }
    #AbpContentToolbarQTSC{
        display: none;
    }
    .entry-row{
        margin: 0;
    }
    .lp-content.h-100{
        background: #fff;
    }
</style>

<div class="div-content card">
    <div class="left-tree shadow">
        <div class="map-side-form show">
            <div class="form-inner content-side">
                <div class="form-header bg-main bg-header bg-primary">
                    <span>@L["Chart:DataType"].Value</span>
                </div>
                <div class="form-body active">
                    <div class="scroll-content">
                        <div class="content-form">
                            <div id="checkTree">

                            </div>
                            <ul class="tree-o-i" style="height: calc(100vh - 200px);margin: 0; overflow-y: scroll;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 1%;"></div>

    <div class="map-view shadow">
        <div class="table-layer">
            <div class="chart-container">
                <canvas id="my_Chart"></canvas>
            </div>
            <div class="table-container ">
                <div class="box box-primary" style="border-top-color: rgb(238, 100, 60); margin-bottom:0px;">
                    <div class="box-body" style="height: 26vh;overflow-y: scroll;">
                        <table class="datatable table table-chart">
                            <thead>
                                <tr>
                                    <th class="bg-primary">@L["Chart:DataLayer"].Value</th>
                                    <th class="bg-primary text-center">@L["Chart:NumberSubject"].Value</th>
                                    <th class="bg-primary text-center">Hành động</th>
                                </tr>
                            </thead>
                            <tbody class="data-chart-table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalInforObject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Chi tiết đối tượng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: calc(100vh - 170px);overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="danh-sach-chi-tiet-hoat-dong">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary btn-link-save">Lưu lại</button>
                </div>*@

        </div>
    </div>
</div>
<div id="loading-map" class="loading-map" style="">
    <img src="/common/loading.gif">
</div>
<style>

    #myModalInforObject .table > tbody > tr > td, #myModalInforObject .table > thead > tr > th {
        border: 1px solid #dee2e6;
        text-align: center;
        vertical-align: middle;
    }

        #myModalInforObject .table > tbody > tr > td:not(:first-child) {
            border: 1px solid #dee2e6;
            text-align: left;
            vertical-align: middle;
        }

        #myModalInforObject .table > tbody > tr > td > ul {
            padding-inline-start: 20px;
        }


    .data-chart-table > tr > td {
        vertical-align: middle !important;
    }

        .data-chart-table > tr > td > button {
            font-weight: bold;
        }


    @@media only screen and (min-width: 992px) {
        .modal-dialog {
            min-width: 800px;
        }
    }

    @@media only screen and (min-width: 1200px) {
        .modal-dialog {
            min-width: 1320px;
        }
    }
</style>

@section styles {
    <link rel="stylesheet" href="~/libs/dynatree/skin-vista/ui.dynatree.css">
}

@section scripts{
    <script src="~/libs/dynatree/jquery-ui.custom.min.js"></script>
    <script src="~/libs/dynatree/jquery.dynatree.js"></script>
    <script src="~/libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Pages/ThongKe/ChartStatistic/tree-view-layer.js"></script>
    <script src="~/libs/chart/Chart.min.js"></script>
    <script>
        mn_selected = "mnselectstatistic1";
        var splitter, cont1, cont2;
        var last_x, window_width;
        var json = [];
        var item;
        var parentId;
        var model;
        var level;
        var ctx = document.getElementById('my_Chart').getContext('2d');
        var l = abp.localization.getResource('ThongKe');
        var myoption = {
            responsive: true,
            title: {
                display: false,
                text: ''
            },
            tooltips: {
                enabled: true
            },
            hover: {
                animationDuration: 1
            },
            legend: {
                display: false,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                },
                position: 'bottom'
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 50,
                    bottom: 0
                }
            },
            animation: {
                duration: 150,
                easing: "linear",
                onComplete: function () {
                    var chartInstance = this.chart,
                        ctx = chartInstance.ctx;
                    ctx.textAlign = 'center';
                    ctx.fillStyle = "inherit";
                    ctx.textBaseline = 'bottom';
                    // Loop through each data in the datasets
                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                        });
                    });
                }
            }
        };
        var lineChart = new Chart(ctx, {
            type: 'bar',        // Define chart type
            options: myoption 	// Chart Options [This is optional paramenter use to add some extra things in the chart].
        });

        var TreeView = {
            GLOBAL: {
            },
            CONSTS: {
            },
            SELECTORS: {
                CheckTree: "#checkTree",
                TreeNode: ".dynatree-node"
            },
            init: function () {
                TreeView.setUpEvent();
                TreeView.GetInforTreeView();
            },
            setUpEvent: function () {

                $(TreeView.SELECTORS.CheckTree).on("click", TreeView.SELECTORS.TreeNode, function () {
                    let id = $(this).data("id");

                    $.ajax({
                        type: "GET",
                        url: '/api/htkt/directory/get-list',
                        data: {
                        },
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res.code == "ok") {
                                var data = res.result;
                                json = TreeView.FormatTree(data);
                                item = json[0];
                                $('#tree').bstreeview({ data: JSON.stringify(json) });
                                //TreeView.GetInforTreeView();
                            }
                        },
                        error: function () {
                        }
                    });
                });
            },
            // check validate
            checkFormInfor: function () {
                TreeView.clearLabelError();
                let check = true;
                if ($('#nameFolder').val() == '') {
                    check = false;
                    TreeView.showLabelError("input[name='Name']", l('Chart:PleaseEnterName'));
                }
                return check;
            },
            showLabelError: function (element, text) {
                $(element).parents(".form-group").append("<lable class='col-md-12 lable-error' style='color:red; margin-left: -14px;'>" + text + "</lable>");
            },
            clearLabelError: function () {
                $('.form-group').find(".lable-error").remove();
            },
            // treeview
            FormatTree: function (a) {
                var tree = [],
                    mappedArr = {},
                    arrElem,
                    mappedElem;
                for (var i = 0, len = a.length; i < len; i++) {
                    arrElem = a[i];
                    arrElem.text = a[i].name;
                    if (arrElem.type == "folder") {
                        arrElem.icon = "fa fa-folder"
                    }
                    if (arrElem.type == "file") {
                        arrElem.icon = "fas fa-database"
                    }
                    mappedArr[arrElem.id] = arrElem;
                    mappedArr[arrElem.id]['nodes'] = [];
                }


                for (var id in mappedArr) {
                    if (mappedArr.hasOwnProperty(id)) {
                        mappedElem = mappedArr[id];
                        if (mappedElem.parentId) {
                            mappedArr[mappedElem['parentId']]['nodes'].push(mappedElem);
                        }
                        else {
                            tree.push(mappedElem);
                        }
                    }
                }
                return tree;

            },
            ReturnInforItemTree: function (item, keyword) {
                if (keyword == "") {
                    $('#tree').bstreeview({ data: JSON.stringify(json) });
                } else if (item.text.toLowerCase().includes(keyword)) {
                    $('#tree').bstreeview({ data: JSON.stringify([item]) });
                    return item;
                } else if (item.nodes.length != 0) {
                    var i, j, k;
                    var result = null;
                    for (i = 0; result == null && i < item.nodes.length; i++) {
                        if (item.nodes[i].text.toLowerCase().includes(keyword)) {
                            result = item.nodes[i];
                        }
                        if (item.nodes[i].nodes.length != 0) {
                            for (j = 0; result == null && j < item.nodes[i].nodes.length; j++) {
                                if (item.nodes[i].nodes[j].text.toLowerCase().includes(keyword)) {
                                    result = item.nodes[i].nodes[j];
                                }
                                if (item.nodes[i].nodes[j].nodes.length != 0) {
                                    for (k = 0; result == null && k < item.nodes[i].nodes[j].nodes.length; k++) {
                                        if (item.nodes[i].nodes[j].nodes[k].text.toLowerCase().includes(keyword)) {
                                            result = item.nodes[i].nodes[j].nodes[k];
                                        }
                                        if (item.nodes[i].nodes[j].nodes[k].nodes.length != 0) {
                                            for (z = 0; result == null && z < item.nodes[i].nodes[j].nodes[k].nodes.length; z++) {
                                                if (item.nodes[i].nodes[j].nodes[k].nodes[z].text.toLowerCase().includes(keyword)) {
                                                    result = item.nodes[i].nodes[j].nodes[k].nodes[z];
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        //result = ReturnInforItemTree(item.nodes[i], keyword);
                    }
                    $('#tree').bstreeview({ data: JSON.stringify([result]) });
                    return result;
                }
                return null;
            },
            GetInforTreeView: function () {
                $('.list-group-item').on('click', function () {
                    id = $(this).attr('id');
                    model = listFolder.find(x => x.id == id);
                    //console.log(model);
                    if (model != null) {
                        thisId = model.id;
                        parentId = model.id;
                        level = model.level + 1;
                    }
                    for (i = 0; i < $('.list-group-item').length; i++) {
                        var href = document.getElementById(id).getAttribute('href');
                        var stt = parseInt(href.slice(11));
                        // get infor details for div right
                        if ($('.list-group-item')[i].innerHTML == '<i style="padding-left: 0.8rem"></i><i class="item-icon fas fa-database"></i>' + $('.list-group-item')[i].innerText && $('.list-group-item')[i].innerText == $('.list-group-item')[stt].innerText) {
                            var rs = TreeView.ReturnInforItemTree(item, $('.list-group-item')[i].innerText.toLowerCase());
                            if (rs != null) {
                                $('#DataName').val(rs.text);
                                $('#DataCode').val(rs.code);
                                $('#Version').val(rs.icon);
                                $(config.SELECTORS.select_lop_du_lieu).val(rs.idDirectory).trigger("change.select2");
                            }
                        }
                    }
                });
            }
        }
        $(function () {
            TreeView.init();
            TreeViewLayer2.init();
        });
    </script>

    <style>
        a {
            color: inherit;
        }

            a:hover {
                text-decoration: none;
            }

        canvas#my_Chart {
            height: calc(62vh - 7px);
            max-height: calc(62vh - 7px);
        }

        table.table-chart {
            margin-bottom: 0px !important;
        }

        .section.section-info {
            border: 0px !important;
        }

        .infor-area {
            height: 92%;
            border: 1.2px solid #ddd;
            overflow-y: auto;
        }

        .action-right-sidebar {
            position: absolute;
            right: 10px;
            bottom: 20px;
        }

        .loading-map {
            position: absolute;
            z-index: 100000;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #000;
            opacity: 0.4;
            top: 0;
            left: 0;
            display: none;
        }

            .loading-map > img {
                width: 80px;
                margin-top: 20%;
            }

        #map, #map4d {
            width: 100%;
            height: calc(100vh - 100px);
        }

        .item-li {
            display: inline-block;
        }

        /*.item-li:hover, .item-li:active, .item-li:focus {
                color: #000;
            }*/

        .content-form ul {
            list-style-type: none;
            font-size: 13px;
            padding-left: 15px;
        }

            .content-form ul li {
                position: relative;
                margin: 0;
                padding: 0;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
        /*    .tree-o-i{
            overflow-x: auto;
        }*/
        .tree-o-i > li {
            border-bottom: 1px solid #ddd;
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
        }

        .dynatree-lastsib > ul > li {
            border-bottom: 1px solid #ddd;
        }

        .content-form .pull-left-container {
            position: absolute;
            left: 10px;
            /*  top: 10%;*/
            margin-top: 3px;
        }

        .content-form .title-item {
            padding-left: 5rem;
        }

        .li-has-chil {
            border-bottom: 1px solid #ddd;
        }

        .icon-menu-tree {
            font-weight: 600;
        }

            .icon-menu-tree.open {
                -webkit-transform: rotate( 90deg );
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg );
            }

        /* The container */
        .container-checkbox {
            display: block;
            position: relative;
            padding-left: 35px;
            /*margin-bottom: 12px;*/
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container-checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        .title-item img {
            width: 16px;
            height: 16px;
            margin-left: 3px;
            vertical-align: top;
            border-style: none;
        }

        .title-item i {
            width: 16px;
            height: 16px;
            margin-left: 3px;
            vertical-align: top;
            border-style: none;
            color: var(--primary);
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 5px;
            left: 25px;
            height: 15px;
            width: 15px;
            /*background-color: #eee;*/
            border: 1.5px solid #000;
        }

        /* On mouse-over, add a grey background color */
        .container-checkbox:hover input ~ .checkmark {
            background-color: rgb(238, 70, 34);
        }

        /* When the checkbox is checked, add a blue background */
        /*.container-checkbox input:checked ~ .checkmark {
            background-color: rgb(238, 70, 34);
        }*/
        .container-checkbox .checkmark {
            background-color: #FFF;
        }

            .container-checkbox .checkmark.check {
                background-color: rgb(238, 70, 34);
            }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        /* .container-checkbox input:checked ~ .checkmark:after {
            display: block;
        }
        */
        .container-checkbox .checkmark:after {
            display: none;
        }

        .container-checkbox .checkmark.check:after {
            display: block;
        }
        /* Style the checkmark/indicator */
        .container-checkbox .checkmark:after {
            left: 4px;
            top: 2px;
            width: 4px;
            height: 7px;
            border: solid white;
            border-width: 0 2px 3px 0;
            -webkit-transform: rotate( 45deg );
            -ms-transform: rotate(45deg);
            transform: rotate( 45deg );
        }

        .active-treeview {
            font-style: italic !important;
            font-weight: bold !important;
        }

        @@media only screen and (max-width: 1367px) {
            canvas#my_Chart {
                height: calc(60vh - 7px) !important;
                max-height: calc(60vh - 7px) !important;
            }

            .chart-container .box-body {
                max-height: calc(40vh - 15px) !important;
            }
        }
    </style>
}