button.btn.btn-primary.btn-sm.dropdown-toggle {
    margin: 10px;
    background-color: #00559A;
    border-color: #00559A;
    height: 48px;
    width: 176px;
}

.dropdown.abp-action-button {
    text-align: center;
}

th.action-th {
    text-align: center;
}

.dropdown-toggle::after {
    margin-left: 4.255em;
}

div#IdentityUsersWrapper {
    background: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    box-shadow: #0000002e 0px 8px 8px;
}

#IdentityUsersWrapper .dataTables_scrollBody {
    min-height: calc(100vh - 321px);
    max-height: calc(100vh - 321px);
}

#AbpContentToolbar, #AbpContentToolbarQTSC, .entry-row {
    display: none;
}

div.search-card {
    display: flex;
}

#IdentityUsersWrapper input.form-control.page-search-filter-text {
    width: 236px;
    border-right: none;
}

#IdentityUsersWrapper .form-control:active {
    border: 2px solid #ebebeb !important;
    border-right: none !important;
}

.page-search-form btn.btn-primary:active, .page-search-form .btn.btn-primary:not(:disabled):not(.disabled):active {
    color: #ebebeb;
    background-color: #fff !important;
    border-color: #ebebeb !important;
}

#newUserbtn {
    width: 190px;
    background: #00559a;
    color: #fff;
    margin-right: 24px;
    margin-left: -10px;
}

.page-search-form .btn.btn-primary {
    color: #ebebeb;
    background-color: #fff;
    border-color: #ebebeb;
    border-left: none;
    box-shadow: none;
}

    .page-search-form .btn.btn-primary:hover {
        color: #adadad;
        background-color: unset;
        border-color: #ebebeb;
    }

.page-search-form .form-control:focus {
    border: 2px solid #ebebeb !important;
    border-right: none !important;
}

.row.entry-row {
    margin: 0;
    background: #fff;
    border-radius: 6px 6px 0 0;
    box-shadow: #00000075 0px 5px 15px;
}

body.lp-topmenu .lp-content {
    padding: 12px;
    overflow-x: hidden;
}

#IdentityUsersWrapper .dataTables_wrapper {
    padding: 14px;
}

#IdentityUsersWrapper .dataTables_scroll {
    border: 2px solid #ebebeb;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
}

#IdentityUsersWrapper .dataTable_footer {
    border-top: none !important;
}

#IdentityUsersWrapper .dataTables_wrapper div.dataTables_length select {
    height: 40px;
}

#IdentityUsersWrapper .dataTables_info {
    line-height: 43px;
}

#IdentityUsersWrapper .card {
    box-shadow: none;
    margin-bottom: 0;
}

#IdentityUsersWrapper table.dataTable thead th {
    background: #0084E90F;
    border-bottom: 2px solid #ebebeb;
    height: 33px;
    font-size: 14px;
    vertical-align: inherit;
    color: #000000DD;
}

tr:not(:last-of-type) {
    border-bottom: 1px dashed #ebebeb;
}

td.stt-th, th.stt-th {
    border-right: 2px solid #ebebeb;
    text-align: center;
}

th.name-th, td.name-th, th.email-th, td.email-th, th.phone-th, td.phone-th {
    border-right: 2px solid #ebebeb;
}

.search-card {
    padding: 24px 24px 11px 24px !important;
}

/*MODAL*/
.modal .modal-content .modal-header {
    padding: 12px 24px;
    background: #fff;
    border-color: #fafafa;
    color: #081449;
    border-bottom: 2px solid #ebebeb;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}

    .modal .modal-content .modal-header .modal-title {
        margin: 8px 0;
        line-height: 1;
        word-break: break-all;
        font-size: 14px;
        text-align: center;
        display: block;
        font-weight: 600;
    }

.modal-footer .btn-danger, .modal-footer .btn-secondary {
    height: 48px;
    width: 100px;
}

.modal-header .close {
    display: none;
}

.modal .modal-content .modal-body .nav-tabs:not(.nav-pills) {
    background: #fff;
}

/*MODAL*/

/*SWAL*/

.swal-modal .swal-icon {
    display: none;
}

.swal-overlay--show-modal .swal-modal {
    box-shadow: 0 0 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #fff;
    transition: unset;
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }

/*SWAL*/

.nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background: var(--primary);
}

.nav-tabs .nav-item {
    background: #ffffff;
}

    .nav-tabs .nav-item:hover {
        background: #fff;
    }

        .nav-tabs .nav-item:hover .nav-link {
            color: #696969f2;
        }

.modal-content .form-group span {
    color: #FF0000;
}

.lp-content.h-100 {
    background: #ffffff;
}

.input-group-prepend {
    width: 197px;
}

.input-group-text {
    background-color: #E5E5E5;
    width: 100%;
}

#NewsubClaimValueInput:focus label[for="NewsubClaimValueInput"] {
    color: #FF0000;
}

#NewPasswordInput {
    border-radius: 4px;
}

.claim-input-form label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    color: #00000060;
}

button#CreateNewClaimButton {
    border-radius: 4px;
    height: 48px;
    margin-top: 30px;
}

.claim-input-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

/*-----------------*/
.modal-footer button {
    height: 48px;
}

form[data-script-class*="abp.modals.PermissionManagement"] .modal-footer .btn-secondary {
    height: 48px;
    background: var(--danger) !important;
    border-color: var(--danger) !important;
}

    form[data-script-class*="abp.modals.PermissionManagement"] .modal-footer .btn-secondary:hover {
        color: #fff;
        background: var(--danger-hover) !important;
        border-color: var(--danger-hover) !important;
    }

form[data-script-class*="abp.modals.PermissionManagement"] .modal-footer .btn-primary {
    height: 48px;
    background: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

    form[data-script-class*="abp.modals.PermissionManagement"] .modal-footer .btn-primary:hover {
        color: #fff;
        background: var(--secondary-hover) !important;
        border-color: var(--secondary-hover) !important;
    }

svg#Group_3376 {
    margin-right: 2px;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
    .lp-topmenu {
        padding-top: 108px !important;
    }
}