﻿.bg-circle {
  display: inline-block;
  border-radius: 70em;
  position: absolute;
  z-index: -100; }
  .bg-circle.bg-circle1 {
    width: 70em;
    height: 70em;
    background: #feba57;
    top: -35em;
    right: -50em; }
  .bg-circle.bg-circle2 {
    width: 80em;
    height: 80em;
    background: #fff;
    border: 4px solid #e5e8ee;
    z-index: -101;
    top: -40em;
    right: -55em; }
  .bg-circle.bg-circle3 {
    width: 35em;
    height: 35em;
    background: #dce8f3;
    top: -7em;
    left: -7em; }
  .bg-circle.bg-circle4 {
    width: 45em;
    height: 45em;
    background: #fff;
    border: 3px solid #ecf2f9;
    z-index: -101;
    top: -12em;
    left: -12em; }
