﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@model IoT.HTKT.Web.Pages.HTKT.ManagementData.MapDataModel
@inject IStringLocalizer<HTKTResource> L

<div id="EditForm" class="detail-property1 detail-property-collapse">
    @*<div id="loading-map-infoThuaDat" class="loading-map" style="display: none;background-color: #0000;">
            <img src="~/Images/MapIOT/loading.gif" />
        </div>*@
    <div class="detail-property-header">
        <span>@L["ManagementLayer:InformationData"].Value</span>
        <span class="toggle-detail-property2" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:Close"].Value">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
    </div>

    <div class="detail-property-body">
        <div class="modal-info-right">

            <ul class="nav nav-tabs nav-modal-data">
                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand disable" data-li="step-2D">
                    <a href="#" style="font-size: 17px; font-weight: bold;" title="Map 2D">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs></defs><text class="a1" transform="translate(0 17)"><tspan x="0" y="0">2D</tspan></text></svg>
                    </a>
                    <div class="line-bottom"></div>
                </li>
                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand disable" data-li="step-3D">
                    <a href="#" style="font-size: 17px; font-weight: bold;" title="Map 3D">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs></defs><text class="a1" transform="translate(0 17)"><tspan x="0" y="0">3D</tspan></text></svg>
                    </a>
                    <div class="line-bottom"></div>
                </li>
                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand" data-li="step-config">
                    <a href="#" title="@L["ManagementLayer:Config"].Value">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><defs></defs><path class="a" d="M0,0H24V24H0Z" /><path class="b" d="M5.334,4.545A9.99,9.99,0,0,1,8.876,2.5a4,4,0,0,0,6.248,0,9.99,9.99,0,0,1,3.542,2.048,4,4,0,0,0,3.125,5.409,10.043,10.043,0,0,1,0,4.09,4,4,0,0,0-3.125,5.41A9.99,9.99,0,0,1,15.124,21.5a4,4,0,0,0-6.248,0,9.99,9.99,0,0,1-3.542-2.047,4,4,0,0,0-3.125-5.409,10.043,10.043,0,0,1,0-4.091A4,4,0,0,0,5.334,4.546ZM13.5,14.6a3,3,0,1,0-4.1-1.1,3,3,0,0,0,4.1,1.1Z" /></svg>
                    </a>
                    <div class="line-bottom"></div>
                </li>
                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand active" data-li="step-info">
                    <a href="#" title="@L["ManagementLayer:Info"].Value">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><defs></defs><path class="a" d="M0,0H24V24H0Z" /><path class="b" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20ZM11,7h2V9H11Zm0,4h2v6H11Z" /></svg>
                    </a>
                    <div class="line-bottom"></div>
                </li>
                <li role="presentation" class="li-modal-data-right li-modal-data-right-brand" data-li="step-extend">
                    <a href="#" title="@L["ManagementLayer:Extend"].Value"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><defs></defs><path class="a" d="M0,0H24V24H0Z" /><path class="b" d="M21,3a1,1,0,0,1,1,1v7H20V5H4V19h6v2H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3Zm0,10a1,1,0,0,1,1,1v6a1,1,0,0,1-1,1H13a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1ZM11.5,7,9.457,9.043l2.25,2.25-1.414,1.414-2.25-2.25L6,12.5V7Z" /></svg></a>
                </li>
            </ul>
        </div>
        <div class="detail-property-content" style="float:left;">
            <div class="toa-nha">
                <div class="section section-info step-2D">
                    <div class="step-info-content-2d">
                        <div class="row head-content">
                            <h4>@L["ManagementLayer:2DInformation"].Value</h4>
                        </div>
                        <ul class="nav nav-tabs nav-2d-geojson" role="tablist">
                            <li class="nav-item col-md-4"><a data-type="geojson" aria-controls="nav-2d-geojson" aria-selected="false" class="nav-link active" data-toggle="tab" href="#nav-2d-geojson" id="nav-2d-geojson-tab" role="tab">Json</a></li>
                            <li class="nav-item col-md-4"><a data-type="table" aria-controls="nav-2d-table" aria-selected="false" class="nav-link" data-toggle="tab" href="#nav-2d-table" id="nav-2d-table-tab" role="tab">@L["ManagementLayer:Coordinates"].Value</a></li>
                            <li class="nav-item col-md-4"><a data-type="info" aria-controls="nav-2d-infor" aria-selected="true" class="nav-link" data-toggle="tab" href="#nav-2d-infor" id="nav-2d-infor-tab" role="tab">@L["ManagementLayer:Info"].Value</a></li>
                        </ul>

                        <div class="tab-content" id="nav-2d-geojson-Content">
                            <div aria-labelledby="nav-2d-geojson-tab" class="tab-pane fade active show" id="nav-2d-geojson" role="tabpanel">
                                <div class="form-group-modal input-textarea">
                                    <textarea class="form-control textarea-geojson"></textarea>
                                    <span class="placeholder textarea" style="left: 10px; transform: scale(0.8) translateY(-10px);">@L["ManagementLayer:Content"].Value</span>
                                </div>

                            </div>
                            <div aria-labelledby="nav-2d-table-tab" class="tab-pane fade" id="nav-2d-table" role="tabpanel">
                                <div class="content-table">
                                    <table class="table" style="margin-bottom:0px;">
                                        <thead>
                                            <tr>
                                                <th>@L["ManagementLayer:No."].Value</th>
                                                <th>@L["ManagementLayer:Longitude"].Value</th>
                                                <th>@L["ManagementLayer:Latitude"].Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div aria-labelledby="nav-2d-infor-tab" class="tab-pane fade" id="nav-2d-infor" role="tabpanel">
                                <table class="table">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-info step-3D">
                    <div class="step-info-content-3d">
                        <div class="row head-content">
                            <h4>@L["ManagementLayer:3DInformation"].Value</h4>
                        </div>

                        <div id="form-paradigm" class="w-100 mb-2">
                            <div class="" style="margin-bottom: 10px;">
                                <label>@L["ManagementLayer:Paradigm"].Value</label>
                                <select id="para-selected" class="form-control">
                                    <option value="para-paraEx" selected>@L["ManagementLayer:Model"].Value</option>
                                    <option value="para-choosenFile">@L["ManagementLayer:SelectFile"].Value</option>
                                    <option value="para-draw">@L["ManagementLayer:Draw"].Value</option>
                                    <option value="para-choosenMap">@L["ManagementLayer:SelectOnMap"].Value</option>
                                </select>
                            </div>
                            <div id="paraEx" class="form-group paraExClass">
                                <label>@L["ManagementLayer:Model"].Value<span style="color: red">*</span></label>
                                <select id="selectParadigm" class="col-md-12 form-control">
                                    <option id="select" class="form-control" value="">@L["ManagementLayer:Select..."].Value</option>
                                </select>
                            </div>
                            <div id="choosenFile" class="form-group choosenFileClass" style="display:none;">
                                <div class="w-100 d-flex mb-2">
                                    <label class="title-file">@L["ManagementLayer:FileObject"].Value<span style="color: red">*</span></label>
                                    <div class="file_obj_wrap">
                                        <input id="choosenFile-obj" type="file" name="choosenFile-obj" class="hidden" accept=".obj">
                                        <label for="choosenFile-obj" class="btn btn-success text-white">Chọn tệp</label>
                                    </div>
                                </div>
                                <div class="content-errors-file-obj mb-2 hidden">

                                </div>
                                <div class="obj-file-content file-upload-content d-flex w-100 mb-2 hidden">

                                </div>

                                <div class="w-100 d-flex mb-2">
                                    <label class="title-file">@L["ManagementLayer:TextureImage"].Value<span style="color: red">*</span></label>
                                    <div class="file_obj_wrap">
                                        <input id="choosenFile-img" type='file' name="choosenFile-img" class="form-control hidden" accept=".jpg, .jpeg, .png"> @*onchange="readURL(this);"*@
                                        <label for="choosenFile-img" class="btn btn-success text-white">Chọn tệp</label>
                                    </div>
                                </div>
                                <div class="content-errors-image-obj mb-2 hidden">

                                </div>
                                <div class="image-file file-upload-content">
                                    <img src="/common/image-default.svg" id="imgUpload" width="214" height="130" style="margin-top: 2px;" class="textureUrl" />
                                </div>
                                <div class="image-file-content file-upload-content d-flex w-100 mb-2 hidden">

                                </div>
                            </div>
                            <div id="draw" class="form-group drawClass" style="display:none;">
                                <label>@L["ManagementLayer:DrawParadigm"].Value<span style="color: red">*</span></label><br />
                                <div class="d-flex">
                                    <button id="drawCancel" class="btn-action-info btn btn-danger">@L["ManagementLayer:Cancel"].Value</button>
                                    @*<button id="drawStart" class="btn-action-info btn btn-success">@L["ManagementLayer:BeginDraw"].Value</button>*@
                                    <button id="drawEnd" class="btn-action-info btn btn-secondary">@L["ManagementLayer:Finish"].Value</button>
                                </div>

                                @*<button id="drawCancel" style="display:none;" class="btn-action-info btn-secondary">@L["ManagementLayer:Cancel"].Value</button>*@
                                <button id="drawReturn" style="display:none;" class="btn-action-info btn-warning hidden">@L["ManagementLayer:Redraw"].Value</button>
                                <button class="btn-action-info btn-reset-geojson3D btn-dark hidden">@L["ManagementLayer:Restore"].Value</button><br />
                                <label class="" style="margin-top: 10px;">@L["ManagementLayer:Height"].Value<span style="color: red">*</span></label>
                                <input id="draw-height" type='number' class="form-control" value="20" min="1">
                            </div>
                            <div id="choosenMap" class="form-group choosenMapClass" style="display:none;">
                                <div class="w-100 mb-2">
                                    <input type="radio" name="optionsChoosenMap" value="SelectObject" checked />
                                    <label>@L["ManagementLayer:ListObjectOnMap"].Value</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <select id="selectChoosenMap" class="col-md-12 form-control">
                                        <option id="select2" class="form-control" value="">@L["Chọn đối tượng"].Value</option>
                                    </select>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="radio" name="optionsChoosenMap" value="MapObject" />
                                    <label>@L["ManagementLayer:SelectObjectOnMap"].Value</label>
                                </div>
                                <div class="hidden" style="display:flex;">
                                    <button id="choosenMapStart" style="margin-right:5px;" class="btn-action-info btn-primary">@L["ManagementLayer:Begin"].Value</button>
                                    <button id="choosenMapEnd" style="display:none;margin-right:5px;" class="btn btn-danger">@L["ManagementLayer:Finish"].Value</button>
                                    <button id="choosenMapCancel" style="display:none;" class="btn btn-default">@L["ManagementLayer:Cancel"].Value</button>
                                </div>
                            </div>
                            <div class="form-group col-md-6" style="padding-left: 0px;display:none;">
                                <label>@L["ManagementLayer:Latitude"].Value<span style="color: red">*</span></label>
                                <input class="form-control" id="lat" name="Lat" typenumber="float">
                            </div>
                            <div class="form-group col-md-6" style="padding-right: 0px;display:none;">
                                <label>@L["ManagementLayer:Longitude"].Value<span style="color: red">*</span></label>
                                <input class="form-control" id="lng" name="Lng" typenumber="float">
                            </div>
                            <div class="d-flex">
                                <div class="col-md-4 parameter-map" style=" padding-left: 0px;">
                                    <label>@L["ManagementLayer:Scale"].Value</label>
                                    <input class="form-control" type="number" id="scale" name="Scale" value="1" min="1" typenumber="float">
                                </div>
                                <div class="col-md-4 parameter-map" style="padding-left: 0px;padding-right: 0px;">
                                    <label>@L["ManagementLayer:Rotate"].Value</label>
                                    <input class="form-control" type="number" id="bearing" name="Bearing" value="0" typenumber="float">
                                </div>
                                <div class="col-md-4 parameter-map" style="padding-right: 0px;">
                                    <label>@L["ManagementLayer:Height"].Value</label>
                                    <input class="form-control" type="number" id="elevation" name="Elevation" min="0" value="0" typenumber="float">
                                </div>
                            </div>

                            <div class="col-md-12 3d-draw content-3d-json">
                                <!-- Nav tabs -->
                                @*<ul class="nav nav-tabs nav-3d-geojson" role="tablist" style="border-bottom: 0px !important;">
                                        <li role="presentation" style="width: 50%; padding-left: 5px !important; padding-right: 5px !important; background: #FFF;" class="active">
                                            <a href="#3d-geojson" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-code" aria-hidden="true"></i>Json</a>
                                        </li>
                                        <li role="presentation" style="width: 50%; padding-left: 5px !important; padding-right: 5px !important;background: #FFF;">
                                            <a href="#3d-table" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-table" aria-hidden="true"></i>Danh sách</a>
                                        </li>
                                    </ul>*@

                                <ul class="nav nav-tabs nav-3d-geojson" role="tablist">
                                    <li class="nav-item col-md-6">
                                        <a aria-controls="nav-3d-geojson" aria-selected="false" class="nav-link active" data-toggle="tab" href="#nav-3d-geojson" id="nav-3d-geojson-tab" role="tab">
                                            <i class="fa fa-code" aria-hidden="true"></i>
                                            Json
                                        </a>
                                    </li>
                                    <li class="nav-item col-md-6">
                                        <a aria-controls="nav-3d-infor" aria-selected="false" class="nav-link" data-toggle="tab" href="#nav-3d-infor" id="nav-3d-infor-tab" role="tab">
                                            <i class="fa fa-infor" aria-hidden="true"></i>
                                            @L["ManagementLayer:Coordinates"].Value
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="nav-3d-geojson-Content">
                                    <div aria-labelledby="nav-3d-geojson-tab" class="tab-pane fade active show" id="nav-3d-geojson" role="tabpanel">
                                        <textarea class="form-control textarea-geojson"></textarea>
                                    </div>
                                    <div aria-labelledby="nav-3d-infor-tab" class="tab-pane fade" id="nav-3d-infor" role="tabpanel">
                                        <table class="table list-location">
                                            <thead>
                                                <tr>
                                                    <th>@L["ManagementLayer:No."].Value</th>
                                                    <th>@L["ManagementLayer:Longitude"].Value</th>
                                                    <th>@L["ManagementLayer:Latitude"].Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="section section-info step-info" style="display:block; padding: 0px">
                    <div class="step-info-content">
                        <div class="group-info content-info-basic">
                            <div class="row head-content">
                                <h4>@L["InforBasic"].Value</h4>
                            </div>
                            <div class="row tool-map infor-basic" style="margin:0;">

                            </div>
                        </div>

                        <div class="group-info content-info-detail">
                            <div class="row head-content">
                                <h4>@L["ManagementLayer:DetailInfo"].Value</h4>
                            </div>
                            <div class="row tool-map infor-detail" style="margin:0;">

                            </div>
                        </div>

                    </div>

                    <div class="w-100" style="padding: 11px 0;">
                        <div class="tool-modal">
                            <div class="tool-map-button group-hop-thua">
                                <button type="button" class="btn btn-danger close-edit-form w-100">@L["ManagementLayer:Cancel"].Value</button>
                                <button type="button" class="btn btn-secondary btn-edit-all w-100">@L["ManagementLayer:Save"].Value</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section section-info step-config">
                    <div class="step-config-content">
                        <div class="row head-content">
                            <h4>@L["ManagementLayer:RoadAttribute"].Value</h4>
                        </div>

                        <div class="form-step-config">
                            <div class="row form-group">
                                <label class="control-label col-md-5 col-xs-12 required">@L["ManagementLayer:Color"].Value</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="">
                                        <div class="w-100">
                                            <input type="text" class="stroke-text-main-object" name="favcolorText" value="#007bff">
                                            <input type="color" class="strokeColor-main-object" name="favcolor" value="#007bff" style="width:0px;height:0px !important;position:absolute;right: 25px;top: 15px;">
                                            <div class="div-stroke-main-object"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-5 col-xs-12 required">@L["ManagementLayer:Width"].Value</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="">
                                        <div class="w-100">
                                            <input type="number" value="1" class="text-width-main-object" min="0" style="width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-5 col-xs-12 required">@L["ManagementLayer:Opacity"].Value</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="range-slide">
                                                <div class="display" style="justify-content: flex-end;width:100%;">
                                                    <span class="max-stroke-main-object">100.00%</span>
                                                </div>
                                                <div class="slide" style="left:0px;">
                                                    <div class="line line-stroke-main-object bg-primary" style="left: 0%; right: 0%;"></div>
                                                    <span class="thumb thumbMax-stroke-main-object bg-primary border-primary" style="left: 100%;"></span>
                                                </div>
                                                <input class="inputRange  rangeMax-stress-main-object" type="range" max="100" min="0" step="1" value="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 15px 0px;border-bottom: 1px solid #E5E5E5;">
                                <h4 style="font-weight: 600;">@L["ManagementLayer:ColorProperty"].Value</h4>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-5 col-xs-12 required">@L["ManagementLayer:Color"].Value</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="">
                                        <div class="w-100">
                                            <input type="text" class="fillText-color-main-object" name="favcolorText" value="#007bff">
                                            <input type="color" class="fillColor-color-main-object" name="favcolor" value="#007bff" style="width:0px;height:0px !important;position:absolute;right: 25px;top: 15px;">
                                            <div class="div-fill-main-object"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-5 col-xs-12 required">@L["ManagementLayer:Opacity"].Value</label>
                                <div class="col-md-7 col-xs-12">
                                    <div class="w-100">
                                        <div class="w-100">
                                            <div class="range-slide">
                                                <div class="display" style="justify-content: flex-end;width:100%;">
                                                    <span class="max-fill-main-object">100.00%</span>
                                                </div>
                                                <div class="slide" style="left:0px;">
                                                    <div class="line line-fill-main-object bg-primary" id="line-color" style="left: 0%; right: 0%;"></div>
                                                    <span class="thumb thumbMax-fill-main-object border-primary bg-primary" id="thumbMax-color" style="left: 100%;"></span>
                                                </div>
                                                <input class="inputRange rangeMax-color-main-object" type="range" max="100" min="0" step="1" value="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Inheritance"].Value</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="w-100">
                                        <div class="w-100 text-right">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" data-val="true" id="checkbox-config-edit" name="checkbox-config-edit" value="" class="checkbox-inheritance custom-control-input" checked>
                                                <label class="custom-control-label" for="checkbox-config-edit"></label>
                                            </div>
                                            @*<input type="checkbox" checked id="checkbox-inheritance" name="" value="#007bff" style="">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Icon</label>
                                <div class="image-file file-upload-content mb-2">
                                    <img src="/images/anhMacDinh.png" class="img-icon-2d img-icon-2d-main-object" onerror="this.onerror = null; this.src = `/images/anhMacDinh.png`;">
                                    <div class="icon" onclick="inputTrigger_edit();">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <input type="file" class="form-control choosen-icon-2d-main-object" style="display: none;" accept=".jpg, .jpeg, .png">
                                <label class="" style="color:#00559A; font-size: 12px;">Định dạng file: .jpeg, jpg, png, gif</label>
                            </div>

                        </div>
                    </div>

                    <div class="w-100" style="padding:11px 0;">
                        <div class="tool-modal">
                            <div class="tool-map-button group-hop-thua">
                                <button type="button" class="btn btn-danger close-edit-form w-100">@L["ManagementLayer:Cancel"].Value</button>
                                <button type="button" class="btn btn-secondary btn-edit-all w-100">@L["ManagementLayer:Save"].Value</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="section section-info step-extend" style="display:none;">
                    <div class="step-extend-content">
                        <div class="row head-content">
                            <h4>@L["ManagementLayer:Extend"].Value</h4>
                        </div>

                        <div class="form-step-extend">
                            <ul class="nav nav-tabs nav-2d-geojson" role="tablist">
                                <li class="nav-item col-md-4">
                                    <a aria-controls="nav-image-extend-edit" aria-selected="false" class="nav-link d-flex active" data-type="image" data-toggle="tab" href="#nav-image-extend-edit" id="nav-image-extend-edit-tab" role="tab">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                            <defs></defs>
                                            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z"></path>
                                            <path class="b" style=" fill: rgba(0,0,0,0.56);" d="M21,15v3h3v2H21v3H19V20H16V18h3V15Zm.008-12A.993.993,0,0,1,22,3.993v9.349A5.99,5.99,0,0,0,20,13V5H4V19l9.292-9.293a1,1,0,0,1,1.32-.084l.093.085,3.546,3.55A6,6,0,0,0,14.342,21H2.992A.993.993,0,0,1,2,20.007V3.993A1,1,0,0,1,2.992,3H21.008ZM8,7A2,2,0,1,1,6,9,2,2,0,0,1,8,7Z"></path>
                                        </svg>
                                        <span>Hình ảnh</span>
                                    </a>
                                </li>
                                <li class="nav-item col-md-4">
                                    <a aria-controls="nav-link-extend-edit" aria-selected="false" class="nav-link d-flex" data-type="LinkCamera" data-toggle="tab" href="#nav-link-extend-edit" id="nav-link-extend-edit-tab" role="tab">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                            <defs></defs>
                                            <path class="a" style="fill:none;" d="M0,0H24V24H0Z"></path>
                                            <path class="b" style=" fill: rgba(0,0,0,0.56);" d="M17.657,14.828l-1.414-1.414L17.657,12A4,4,0,0,0,12,6.343L10.586,7.757,9.172,6.343l1.414-1.414a6,6,0,1,1,8.485,8.485l-1.414,1.414Zm-2.829,2.829-1.414,1.414a6,6,0,1,1-8.485-8.485L6.343,9.172l1.414,1.414L6.343,12A4,4,0,0,0,12,17.657l1.414-1.414Zm0-9.9,1.415,1.415-7.071,7.07L7.757,14.828l7.071-7.07Z"></path>
                                        </svg>
                                        <span>Liên kết</span>
                                    </a>
                                </li>
                                <li class="nav-item col-md-4">
                                    <a aria-controls="nav-file-extend-edit" aria-selected="true" class="nav-link d-flex" data-type="FileUpload" data-toggle="tab" href="#nav-file-extend-edit" id="nav-file-extend-edit-tab" role="tab">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                            <defs>
                                            </defs>
                                            <path class="a" style=" fill: none;" d="M0,0H24V24H0Z" />
                                            <path class="b" style=" fill: rgba(0,0,0,0.56);" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM13,12v4H11V12H8l4-4,4,4Z" />
                                        </svg><span>Tải file</span>
                                    </a>
                                </li>
                            </ul>
                            <div aria-labelledby="nav-image-extend-edit-tab" class="tab-pane fade active show" id="nav-image-extend-edit" role="tabpanel">
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <input class="file-upload-input" type='file' id="image-upload-input-edit" accept="image/gif, image/jpeg, image/png, image/jpg" multiple />
                                        <div class="drag-text">
                                            <h3>@L["ManagementLayer:DragDropOrSelectImageFile"].Value (png, jpg, jpeg, gif)</h3>
                                            <label class="btn btn-success choosen-image-btn" for="image-upload-input-edit">Chọn tệp</label>

                                            <div class="file-upload-content">

                                            </div>
                                        </div>
                                    </div>


                                    <button class="btn btn-sm btn-secondary file-upload-btn" type="button" id="save-image">@L["ManagementLayer:Save"].Value</button>
                                </div>
                            </div>

                            <div aria-labelledby="nav-link-extend-edit-tab" class="tab-pane fade" id="nav-link-extend-edit" role="tabpanel">
                                <div class="search-newfile-edit link-button-edit">
                                    @*<input type="text" id="search-datatable" class="form-control" placeholder="Nhập từ khóa" style="width: 200px;" />*@
                                    <button class="btn btn-success w-100" data-value="linkcamera" id="add-link-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                            <defs></defs>
                                            <path class="a" d="M0,0H24V24H0Z" />
                                            <path class="b" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" style="fill: #fff;" />
                                        </svg>
                                        <span style="">Thêm liên kết</span>
                                    </button>
                                </div>
                            </div>
                            <div aria-labelledby="nav-file-extend-edit-tab" class="tab-pane fade" id="nav-file-extend-edit" role="tabpanel">
                                <div class="search-newfile-edit file-button-edit">
                                    <button class="btn btn-success w-100" data-value="fileupload" id="upload-file-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                            <defs></defs>
                                            <path class="a" d="M0,0H24V24H0Z"></path>
                                            <path class="b" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM13,12v4H11V12H8l4-4,4,4Z" style="fill: #fff;"></path>
                                        </svg>
                                        <span style="">Tải file lên</span>
                                    </button>
                                </div>
                            </div>

                            <table class="table table-infor-object">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Tên</th>
                                        <th>Thứ tự</th>
                                        <th>Đường dẫn</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Link</td>
                                        <td>1</td>
                                        <td>https://localhost:44396/HTKT/ManagementData/MapData?id=85f20207-1b8b-4136-d0a1-39fbc83f98a6#</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="javascript:;" class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                                        <defs>
                                                        </defs>
                                                        <path class="a" style="fill:none;" d="M0,0H24V24H0Z" />
                                                        <path class="b" style="fill: #00559a;" d="M21,6.757l-2,2V4H10V9H5V20H19V17.243l2-2v5.765a.993.993,0,0,1-.993.992H3.993A1,1,0,0,1,3,20.993V8L9,2H20a1,1,0,0,1,1,.992Zm.778,2.05,1.414,1.415L15.414,18,14,18l0-1.412,7.778-7.778Z" />
                                                    </svg>
                                                </a>
                                                <a href="javascript:;" class="">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                                        <defs>
                                                        </defs>
                                                        <path class="a" style="fill:none;" d="M0,0H24V24H0Z" />
                                                        <path class="b" style="fill: #00559a;" d="M7,4V2H17V4h5V6H20V21a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V6H2V4ZM6,6V20H18V6ZM9,9h2v8H9Zm4,0h2v8H13Z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="w-100" style="padding:11px 0;">
                        <div class="tool-modal">
                            <div class="tool-map-button group-hop-thua">
                                <button type="button" class="btn btn-danger close-edit-form w-100">@L["ManagementLayer:Cancel"].Value</button>
                                <button type="button" class="btn btn-secondary btn-edit-all w-100">@L["ManagementLayer:Save"].Value</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //function readURL(input) {
    //    var url = input.value;
    //    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    //    if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
    //        var reader = new FileReader();
    //        reader.onload = function (e) {
    //            $('#imgUpload').attr('src', e.target.result);
    //        }
    //        reader.readAsDataURL(input.files[0]);
    //    }
    //    else {
    //        $('#imgUpload').attr('src', '/images/anhMacDinh.png');
    //    }
    //}

    function inputTrigger_edit() {
        $(Config_Main_Object.SELECTORS.content_edit + " " + Config_Main_Object.SELECTORS.choosen_image).click();
    }
</script>