﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="modal fade" id="myModalViewImageInfor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Thêm liên kết</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>*@

            <!-- Modal body -->
            <div class="modal-body" style="padding:0px">

                <div class="carousel slide" id="carousel-example-generic" data-ride="carousel" style=" width: 85%;height: 450px;">
                    @*<ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>*@
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://han01.vstorage.vngcloud.vn/v1/AUTH_0b5cc83faf764beea8ee37738418ee0c/data/image/aab95ee4-0d13-44f3-af18-2da8c75b6b81.png" data-holder-rendered="true">
                        </div>
                    </div>
                    <a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">@L["ManagementLayer:Previous"].Value</span>
                    </a>
                    <a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">@L["ManagementLayer:Next"].Value</span>
                    </a>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary btn-link-save">Lưu lại</button>
                </div>*@

        </div>
    </div>
</div>

<style>
    #myModalViewImageInfor {
        background: rgb(0 0 0 / 52%) !important;
    }

    #carousel-example-generic {
        background: #ccc0 !important;
    }

    .carousel-control .glyphicon {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
        position: absolute;
        top: 50%;
        z-index: 5;
    }

    /*.carousel-inner .item {
        height: 450px;
    }*/

        .carousel-inner .item img {
            /*margin: auto;*/
            width: 100%;
        }

</style>