﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div id="model-properties-import" class="model-properties-import detail-property-new">
    <div class="detail-property-header">
        <span>@L["InputInformationObject"].Value</span>
        <span class="toggle-detail-property2 btn-cancel" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:Close"].Value">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
    </div>
    <div class="title-li-tab">
        <ul class="nav nav-tabs">
            <li class="nav-item text-center">
                <a class="nav-link li-tab class-info active" data-id="modalBodyFolderLayer-import" href="#" style="display: block;">@L["ManagementLayer:Info"].Value</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link li-tab class-config" data-id="modalBodyPropertiesLayer-import" href="#" style="display: block;">@L["ManagementLayer:Config"].Value</a>
            </li>
        </ul>
    </div>
    <div class="detail-property-body">
        <div class="div-child-body" id="modalBodyFolderLayer-import" style="display:block;"></div>
        <div class="div-child-body" id="modalBodyPropertiesLayer-import" style="display:none;">
            <div class="row border-bottom" style="margin: 0;margin-bottom: 16px; padding-bottom:16px;">
                <h4>@L["ManagementLayer:RoadAttribute"].Value</h4>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Color"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="div-color-right w-100">
                        <div class="w-100">
                            <input type="text" class="inputFavcolorText stroke-text-main-object" name="favcolorText" value="#007bff">
                            <div class="divFavcolorText div-stroke-main-object"></div>
                            <input type="color" class="strokeColor-main-object" name="favcolor" value="#007bff" style="padding: 0px; border: 0; width: 0px; height: 0px; right: 25px; top: 15px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Width"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="">
                        <div class="form-group">
                            <input type="number" class="text-width-main-object" value="1" min="0" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Opacity"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="">
                        <div class="w-100">
                            <div class="range-slide" style="width: calc(100% - 50px);">
                                <div class="display" style="justify-content: flex-end;width: 100%;margin-left: 50px;">
                                    <span class="max-stroke-main-object">100.00%</span>
                                </div>
                                <div class="slide" style="left:0px;right:15px;">
                                    <div class="line line-stroke-main-object bg-primary" style="left: 0%; right: 0%;"></div>
                                    <span class="thumb thumbMax-stroke-main-object bg-primary" style="left: 100%;"></span>
                                </div>
                                <input class="inputRange rangeMax-stress-main-object" type="range" max="100" min="0" step="1" value="100" style="width: calc(100% - 6px);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-bottom" style="margin: 0;margin-bottom: 16px;padding-bottom:16px;">
                <h4>@L["ManagementLayer:ColorProperty"].Value</h4>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Color"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="div-color-right">
                        <div class="w-100">
                            <input type="text" class="inputFavcolorText fillText-color-main-object" name="favcolorText" value="#007bff">
                            <div class="divFavcolorText div-fill-main-object"></div>
                            <input type="color" class="fillColor-color-main-object" name="favcolor" value="#007bff">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Opacity"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="">
                        <div class="w-100">
                            <div class="range-slide" style="width: calc(100% - 50px);">
                                <div class="display" style="justify-content: flex-end;width:100%;margin-left:50px;">
                                    <span class="max-fill-main-object">100.00%</span>
                                </div>
                                <div class="slide" style="left:0px;right:15px;">
                                    <div class="line line-fill-main-object bg-primary" style="left: 0%; right: 0%;"></div>
                                    <span class="thumb thumbMax-fill-main-object bg-primary" style="left: 100%;"></span>
                                </div>
                                <input class="inputRange rangeMax-color-main-object" type="range" max="100" min="0" step="1" value="100" style="width: calc(100% - 6px);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top" style="margin: 0;margin-bottom: 10px;padding: 0 10px;">
                <h4 style="font-weight: 700;"></h4>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Inheritance"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="w-100">
                        <div class="w-100 text-right">
                            <div class="custom-checkbox custom-control">
                                <input type="checkbox" data-val="true" id="checkbox-inheritance-import" name="checkbox-inheritance-import" value="" class="checkbox-inheritance custom-control-input">
                                <label class="custom-control-label" for="checkbox-inheritance-import"></label>
                            </div>
                            @*<input type="checkbox" checked id="checkbox-inheritance" name="" value="#007bff" style="">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100%" style="padding: 10px 16px;">
        <div class="custom-checkbox custom-control">
            <input type="checkbox" data-val="true" id="isCheckCloneInfor" name="checkbox-inheritance" value="" class="custom-control-input isCheckCloneInfor">
            <label class="custom-control-label" for="isCheckCloneInfor">
                <span class="text-primary">
                    @L["ManagementLayer:CopyThisInformationFor"].Value <span class="text-primary munberObject"></span> @L["ManagementLayer:Object"].Value
                </span>
            </label>
        </div>
        <div class="checkbox" style="width:100%;text-align: left;">
            <div class="text-right">
                <button type="button" class="btn btn-default common-back-next back-object"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <label class="munberObjectCurrent" style="padding: 5px;">1</label>
                <button type="button" class="btn btn-default common-back-next next-object"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="d-flex group-button-import-object" style=" padding: 0 16px;">
        <button type="button" class="btn btn-danger btn-cancel">@L["ManagementLayer:Cancel"].Value</button>
        <button type="button" class="btn btn-secondary btn-save-import">@L["ManagementLayer:Save"].Value</button>

    </div>
</div>
