﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="modal fade" id="myModalFileUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h4 class="modal-title" style="width:100%;text-transform:uppercase" id="myModalLabel">@L["ManagementLayer:CreateDocument"].Value</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" name="IdFile" value="" />
                <div class="row">
                    <label class="control-label col-md-4 col-xs-12 required">@L["ManagementLayer:DocumentName"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group form-group-modal">
                            <input type="text" name="NameFile" data-required="true" data-name="@L["ManagementLayer:DocumentName"].Value" class="form-control form-style" placeholder="@L["ManagementLayer:DocumentName"].Value" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4 col-xs-12 required">@L["ManagementLayer:Folder"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group">
                            <select name="ListDocument" class="form-control">
                                @*<option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>*@
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="choose-file-button">
                    <label class="control-label col-md-4 col-xs-12 required">@L["ManagementLayer:Document"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group form-group-modal">
                            <button class="buttonCreateLink btn btn-success mb-2" style="width:auto;">Chọn tệp</button>
                            <input type="file" name="UrlFile" data-required="true" data-name="@L["ManagementLayer:DocumentName"].Value" class="form-control form-style" style="display:none;" />

                            <div class="file-upload-content d-flex mb-2 hidden">
                                <div class="icon-file-obj"><img src="/common/icon-file-obj.svg"></div>
                                <div class="name-file-obj" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="247_House 15_obj.obj">247_House 15_obj.obj</div>
                                <div class="action-file-obj" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Xóa"><img src="/images/close_cricle.svg"></div>
                            </div>

                            <label name="LabelUrlFile" class="w-100" style="color:red;overflow-wrap: break-word;"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4 col-xs-12">@L["ManagementLayer:Order"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group">
                            <input type="number" name="OrderFile" class="form-control form-style" placeholder="@L["ManagementLayer:Order"].Value" min="0" value="" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-secondary btn-close-file-upload btn btn-danger" style="width: 80px">@L["ManagementLayer:Close"].Value</button>
                <button type="button" class="btn btn-primary btn-file-save btn btn-secondary" style="width: 80px">@L["ManagementLayer:Save"].Value</button>
            </div>

        </div>
    </div>
</div>

<style>
    .btn-save-file-upload {
        text-align: center;
        border-radius: 4px;
        opacity: 1;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        color: #FCFCFC;
        width: 100px;
        height: 48px;
        border: 0px;
    }

    .buttonCreateLink {
        border-radius: 4px;
        opacity: 1;
        text-align: left;
        letter-spacing: 0px;
        color: #FCFCFC;
        padding: 7px;
    }

    #myModalFileUpload .file-upload-content {
        padding: 13.5px;
        background: #00559A0D;
        width: 100%;
    }

        #myModalFileUpload .file-upload-content .action-file-obj {
            width: 20%;
            text-align: end;
            cursor: pointer;
        }

        #myModalFileUpload .file-upload-content .icon-file-obj {
            width: 20%;
            text-align: start;
        }

        #myModalFileUpload .file-upload-content .name-file-obj {
            width: 60%;
            text-align: start;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    .table-edit-object tbody tr td {
        vertical-align: middle;
        word-break: break-word;
    }

    .table-edit-object th, .table-edit-object td {
        border: 1px solid #dee2e6;
        text-align: center;
    }
</style>