﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="title"><i class="fa fa-download" aria-hidden="true"></i> @L["ManagementLayer:DownloadDocument"].Value </label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="choosenFile">
                    <label class="choosenFile" id="custom-file-upload">
                        <input hidden="hidden" type="file" id="fileNameValue" data-val="true" style="display: none;">
                        <span class="form-control"><a class="btn btn-default btn-file">@L["ManagementLayer:ChooseFile"].Value</a><small id="fileNameText">@L["ManagementLayer:NoFileChosen"].Value</small></span>
                    </label>
                </div>
                <div class="fileUploadedArea hidden">
                    <div class="file-content">
                        <label class="file-conten-title">
                            <span id="file-name"></span>
                            <span id="file-size"></span>
                        </label>
                        <div class="progress-full" id="progressId"></div>
                        <div class="progress-done" id="progressDoneId"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="uploadFileSubmit" class="btn btn-default form-control" disabled>@L["ManagementLayer:UploadFile"].Value</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<style>
    .hidden {
        display: none !important;
    }

    /*    .modal-backdrop {
        position: unset !important;
    }*/

    #uploadFileModal {
        transform: translateY(0px);
        z-index: 999999998;
        position: absolute;
    }

        #uploadFileModal .title {
            margin-right: auto;
            font-weight: 500;
            color: #3c8dbc;
        }

        #uploadFileModal .modal-body {
            height: 65vh;
        }

        #uploadFileModal #custom-file-upload {
            width: 100%;
        }

        #uploadFileModal .choosenFile .form-control {
            padding: 4px 10px;
        }

        #uploadFileModal .choosenFile .btn-file {
            width: 80px;
            height: 24px;
            padding: 5px 10px;
            line-height: 12px;
            font-size: 12.5px;
            margin-right: 10px;
        }

    #fileUploadedArea {
        background-color: #f6f6f6;
        height: 50px;
    }

    #progressId {
        background: #fff;
        width: 100%;
        height: 10px;
        border-radius: 5px;
    }

    #progressDoneId {
        background: #6ecfe6;
        width: 0%;
        height: 10px;
        transform: translateY(-9px);
        border-radius: 5px;
    }

    #file-size i {
        margin-left: 10px;
        color: #f33a3a;
    }

    #uploadFileSubmit {
        border: none;
        outline: none;
    }
</style>
