﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="model-map-properties-geojson detail-property-new">
    <div class="detail-property-header">
        <span>@L["ManagementLayer:AssociateLayerAttributeWithGeojson"].Value</span>
        <span class="toggle-detail-property2 btn-cancel" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:Close"].Value">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
    </div>

    <div class="detail-property-body body-model-map-properties-geojson">
        <div class="content-map-properties">

        </div>
    </div>

    <div class="group-info">
        <div class="tool-modal">
            <div class="tool-map-button group-hop-thua">
                @*<button type="button" class="btn-action-info btn-danger btn-deleted" style="display:none;">@L["ManagementLayer:Delete"].Value</button>*@
                <button type="button" class="btn btn-danger btn-cancel w-100">@L["ManagementLayer:Cancel"].Value</button>
                <button type="button" class="btn btn-secondary btn-save-import-new-geojson w-100">@L["ManagementLayer:Save"].Value</button>
            </div>
        </div>
    </div>
</div>
