﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="modal fade" id="myModalInforActivityDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@L["ManagementLayer:ActivityDetail"].Value</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: calc(100vh - 170px);overflow-y: auto;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="danh-sach-chi-tiet-hoat-dong">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary btn-link-save">Lưu lại</button>
                </div>*@

        </div>
    </div>
</div>

<style>
    #myModalInforActivityDetail {
        z-index: 1041 !important;
    }

    .danh-sach-chi-tiet-hoat-dong .table {
        display: block;
        overflow-x: auto;
    }
    /*.sticky-col {
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
    }*/

    .first-col {
        width: 60px !important;
        min-width: 60px !important;
        max-width: 60px !important;
        left: 0px;
    }

    .danh-sach-chi-tiet-hoat-dong .table .item-col {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        left: 0px;
    }

    .second-col, .item-text-large {
        width: 257px;
        min-width: 257px;
        max-width: 257px;
        left: 100px;
    }
</style>