﻿<div class="toggle-lst-Objec-property2" title="Mở">
    <span><i class="fa fa-list" id="title-treelayer" aria-hidden="true" style="color:#fff"></i></span>
    <span style="margin-left: 5px;color:#fff">
        Danh sách các lớp dữ liệu nền
    </span>
</div>
<div class="left-tree2">
    <div class="button-close" style="display:none" title="Đóng">
        <i class="fa fa-caret-right" aria-hidden="true" style="margin: 17px 8px;"></i>
    </div>
    <div class="map-side-form show">
        <div class="form-inner content-side">
            <div class="form-header bg-main">
                <span class="title">DANH SÁCH LỚP DỮ LIỆU NỀN</span>
            </div>
            <div class="form-body active">
                <div style="padding: 1rem;display:flex">
                    <div class="w-100">
                        <input type="text" class="search-tree" placeholder="Nhập tên lớp dữ liệu" />
                    </div>
                    <div class="div-icon-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="margin: 12px 12px;">
                            <defs></defs>
                            <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                            <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                        </svg>
                    </div>
                </div>
                <div class="scroll-content">
                    <div class="content-form">
                        <div id="checkTree" style="display:none;"></div>
                        <ul class="tree-o-i" style=" height: calc(100vh - 295px);margin: 0;padding: 0;">
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .toggle-lst-Objec-property2 {
        right: 5px;
        float: right;
        position: absolute;
        z-index: 1000;
        height: 48px;
        width: 262px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        top: 12px;
        border-radius: 24px;
    }

    .bg-main {
        z-index: 999;
    }

    .map-side-form {
        transition: all 0.7s ease;
        bottom: 0;
        box-shadow: 0.19rem 0 0.375rem 0 rgb(0 0 0 / 16%);
        background-color: #ffffff;
    }

    .left-side-menu {
        z-index: 2;
    }

    .open {
        right: 5px !important;
    }

    .left-tree2 {
        width: 310px;
        height: 100%;
        position: absolute;
        background-color: #fff;
        z-index: 800;
        right: -365px;
    }


    .map-view {
        width: calc(74.5%);
        background-color: #fff;
    }

    .content-page {
        padding: 0;
        min-height: unset;
        margin-top: unset;
    }

    .map-side-form.show {
        left: -10px;
    }

    .map-side-form #btn-side-form-toggle {
        border: 0;
        outline: 0;
        position: absolute;
        right: -3.2rem;
        top: 0;
        width: 3.2rem;
        height: 4.2rem;
        box-shadow: 0.19rem 0 0.375rem 0 rgba(0, 0, 0, 0.16);
        background-color: white;
        border-top-right-radius: 0.31rem;
        border-bottom-right-radius: 0.31rem;
    }

    .map-side-form .icon-show {
        display: none;
    }

    .map-side-form .icon-hide {
        display: block;
    }

    .map-side-form.show .icon-show {
        display: block;
    }

    .map-side-form.show .icon-hide {
        display: none;
    }

    .head-case-login {
        width: 100%;
        color: #3597E4;
        background-color: #FFFF;
        font-size: 1.5rem;
        display: flex;
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
    }

    .tab-content-side {
        border: none;
        outline: none;
        display: inline-block;
        padding: 0.5rem;
        height: 100%;
        width: 49%;
        /* background-color: #FFF; */
        cursor: pointer;
    }

        .tab-content-side.active {
            border-bottom: 3px solid #3597E4;
        }

    input:focus {
        outline: none;
    }

    .enlarged .content-page {
        padding: 0px;
        margin-top: unset;
    }

    .search-tree {
        width: 100%;
        height: 48px;
        /*border: 1px solid #999;*/
        border: 1px solid var(--primary)!important;
        padding: 13px 9px;
        border-radius: 4px 0px 0px 4px;
    }

    @@media (max-width: 767.98px) {
        .content-page, .enlarged .content-page {
            margin-left: 0 !important;
            padding: 0 0px;
        }

        .map-side-form {
            margin-left: 0px;
            min-width: unset;
        }

        .enlarged .map-side-form {
            margin-left: 0px;
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }


    /* Track */
    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px grey;*/
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(158, 165, 171);
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(158, 165, 171);
        }
</style>
<style>

    .map-side-form .form-inner {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .bg-main {
        /*margin-bottom: 10px;*/
    }

    .map-side-form .form-header {
        position: relative;
        padding: 1.5rem 10px;
        border-bottom: 1px solid #ddd;
        /*color: #FFF;*/
        padding: 19px 2.4rem;
        /*background-color: var(--primary);*/
        text-align: center;
    }

        .map-side-form .form-header h4 {
            font-size: 1.125rem;
            font-weight: bold;
            color: #ffffff;
            margin: 0;
            width: 85%;
        }


    .map-side-form .form-body {
        /*padding-top: 1.56rem;*/
        flex: 1;
        display: none;
        font-weight: 500;
        flex-direction: column;
        overflow-y: hidden;
    }

    .form-body.active {
        display: flex;
        animation: opac .4s ease-out;
    }


    .map-container {
        height: 100%;
        width: 74.5%;
        display: block;
        padding: 0px;
        width: calc(100%) !important;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 1;
    }

    #checkTree {
        height: calc(100vh - 95px);
    }

    .map-side-form .scroll-content {
        flex: 1;
        overflow-y: auto;
        overflow-x: auto;
        padding: 0 .5rem;
        /*margin: 0rem -0.5rem 2.5rem 0rem;*/
    }

    .route-item-detail {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.5s ease;
        background-color: #ffffff;
        z-index: 6;
        display: flex;
        flex-direction: column;
    }

        .route-item-detail.show {
            transform: translateX(0);
        }

        .route-item-detail .form-header .close {
            background: none;
            border: 0;
            padding: 0;
            outline: 0;
            color: #ffffff;
            position: absolute;
            right: 1.56rem;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
            font-size: 1.3rem;
        }

    .small-3 {
        flex: 0 0 25%;
        max-width: 25%;
        position: relative;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .small-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        position: relative;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }


    .small-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        position: relative;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .small-7 p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .small-8 {
        flex: 0 0 74.333333%;
        max-width: 74.333333%;
        position: relative;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

        .small-8 p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

    .choose-content-route-busstop-info {
        margin: 1rem;
        border-radius: 12px;
        box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.15);
        background-color: #ffffff;
    }

        .choose-content-route-busstop-info ul {
            display: inline-block;
            margin: 3px;
            width: 100%;
            list-style-type: none;
            padding: 0;
        }

            .choose-content-route-busstop-info ul li {
                display: inline;
                color: #3597E4;
            }

    .num-busstop-button {
        display: inline-block;
        text-align: center;
        width: 49%;
        border-radius: 0.25rem;
        line-height: 3rem;
        background-color: #ffffff;
        border-radius: 12px;
        color: #777777;
        cursor: pointer;
        font-weight: 500;
    }

        .num-busstop-button.active {
            background-color: rgba(52,182,122,0.07);
            color: #3597E4;
        }

    .content-list-info {
        display: none;
    }

        .content-list-info.active {
            position: relative;
            overflow-y: hidden;
            max-height: 100%;
            display: flex;
            flex-direction: column;
        }

    @@media (max-width: 420px) {
        .map-side-form {
            width: 90%;
            left: -90%;
        }

            .map-side-form.show {
                left: 0%;
            }

        p {
            font-size: 1rem;
        }

        .sidebar-enable .map-side-form.show {
            margin-left: 0px;
        }
    }
</style>

<style>
    .item-li {
        display: inline-block;
        color: #000;
    }
        .item-li:hover {
            font-weight: 600;
        }

        .item-li:hover, .item-li:active, .item-li:focus {
            color: #000;
            text-decoration: auto;
        }

    .content-form ul {
        list-style-type: none;
        font-size: 13px;
        padding-left: 15px;
    }

        .content-form ul li {
            position: relative;
            margin: 0;
            padding: 0;
            padding-top: 1.5rem;
            /*padding-bottom: .5rem;*/
        }
    /*    .tree-o-i{
        overflow-x: auto;
    }*/
    .tree-o-i > li {
        border-bottom: 1px solid #ddd;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .dynatree-lastsib > ul > li {
        border-bottom: 1px solid #ddd;
    }

    .content-form .pull-left-container {
        position: absolute;
        left: 10px;
        /*  top: 10%;*/
        margin-top: 3px;
    }

    .content-form .title-item {
        padding-left: 5rem;
        /*font: normal normal normal 14px/19px Roboto;*/
    }

    .li-has-chil {
        border-bottom: 1px solid #ddd;
    }

    .icon-menu-tree {
        font-weight: 600;
    }

        .icon-menu-tree.open {
            -webkit-transform: rotate( 90deg );
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg );
        }

    /* The container */
    .container-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        /*margin-bottom: 12px;*/
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container-checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .title-item img {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        vertical-align: top;
        border-style: none;
    }

    .title-item i {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        vertical-align: top;
        border-style: none;
        color: var(--primary);
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 5px;
        left: 25px;
        height: 15px;
        width: 15px;
        /*background-color: #eee;*/
        border: 1.5px solid #000;
    }

    .disabled {
        background-color: #eee;
    }

        .disabled:hover {
            cursor: not-allowed;
        }

    /* On mouse-over, add a grey background color */
    .container-checkbox:hover input ~ .checkmark {
        background-color: var(--primary);
    }

    /* When the checkbox is checked, add a blue background */
    .container-checkbox .checkmark.check {
        background-color: var(--primary);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-checkbox .checkmark.check:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-checkbox .checkmark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 7px;
        border: solid white;
        border-width: 0 2px 3px 0;
        -webkit-transform: rotate( 45deg );
        -ms-transform: rotate(45deg);
        transform: rotate( 45deg );
    }

    .active-treeview {
        font-style: italic !important;
        font-weight: bold !important;
    }

    li.li-modal-data-right path.a {
        fill: #FFF;
    }

    li.li-modal-data-right.active path.b, li.li-modal-data-right:hover path.b, li.li-modal-data-right.active text.a, li.li-modal-data-right:hover text.a {
        fill: rgb(238, 70, 34);
    }

    .modal-info-right .nav-tabs > li > a:hover {
        background: none;
        border: none;
    }

    .modal-info-right .nav-tabs > li > a {
        background: none;
        border: none;
    }

    .button-close {
        position: absolute;
        width: 20px;
        height: 48px;
        left: -25px;
        background-color: white;
        cursor: pointer;
    }

    .div-icon-right {
        width: 20%;
        float: left;
        text-align: center;
        height: 48px;
        background: var(--primary);
        border-radius: 0px 4px 4px 0px;
    }
</style>