﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="modal fade" id="myModalLinkCamera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h4 class="modal-title" style="width:100%;text-transform:uppercase" id="myModalLabel">@L["ManagementLayer:AddLink"].Value</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="hidden" name="IdLink" value="" />
                <div class="row">
                    <label class="control-label col-md-4 col-xs-12 required">@L["ManagementLayer:Name"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group form-group-modal">
                            <input type="text" name="NameLink" data-required="true" data-name="@L["ManagementLayer:Name"].Value" class="form-control form-style" placeholder="@L["ManagementLayer:Name"].Value" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4 col-xs-12 required">@L["ManagementLayer:Path"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group form-group-modal">
                            <input type="text" name="UrlLink"  data-required="true"  data-name="@L["ManagementLayer:Path"].Value" class="form-control form-style" placeholder="@L["ManagementLayer:Path"].Value" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4 col-xs-12">@L["ManagementLayer:Order"].Value</label>
                    <div class="col-md-8 col-xs-12">
                        <div class="form-group form-group-modal">
                            <input type="number" name="OrderLink" data-name="@L["ManagementLayer:Order"].Value" class="form-control form-style" placeholder="@L["ManagementLayer:Order"].Value" min="0" value="" />

                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-danger" id="close-myModalLinkCamera">@L["ManagementLayer:Close"].Value</button>
                    <button type="button" class="btn btn-secondary btn-link-save">@L["ManagementLayer:Save"].Value</button>
                </div>

            </div>
        </div>
    </div>
</div>
