﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L
<div id="modalUploadMulti" style="">
    <div class="div-child" style="overflow-x: hidden">
        <div class="header-CreateNew">
            <span>Thêm tài liệu cho nhiều đối tượng</span>
        </div>
        <div class="upload-create-content">
            <div class="form-group" style="margin-bottom: 0; width: 100%;">
                <div class="w-100 position-relative">
                    <div class="form-group form-group-modal ">
                        <input type="text" required="" name="NameFileMultiObject" data-type="string" data-required="true" id="file-name" value="" class="form-control modal-layer form-style" placeholder="" />
                        <span class="placeholder">Tên tài liệu <span class="required"></span></span>
                    </div>
                </div>
            </div>

            <div class="form-upload">
                <div class="w-100 position-relative">
                    <div class="form-group form-group-modal ">
                        <select placeholder="" name="ListDocumentMultiObject" class="form-control" id="folder-name">
                            @*<option value="">...</option>
                                <option value="">....</option>
                                <option value="">.....</option>*@
                        </select>
                        <span class="placeholder">Thư mục</span>
                    </div>
                </div>
            </div>

            <div class="form-group form-button-upload form-group-modal" style="width: 100%;">
                <div class="w-100" style="width:100%; position:relative; display:flex; justify-content: space-between;">
                    <label class="required">Tài liệu</label>
                    <input type="file" id="UrlFileMultiObject" name="UrlFileMultiObject" class="form-control form-style hidden" style="height: 43px;">
                    <label class="btn btn-success" for="UrlFileMultiObject">Chọn tệp</label>
                </div>
            </div>

            <div class="form-group form-file-toggle" style="width: 100%; padding: 10px; background: #00559A0D; display: none; ">
                <div class="form-group-modal-2 form-show-file">
                    <label id="upload-file-name">...</label>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 20" id="remove-file-upload">
                        <defs>
                        </defs>
                        <path class="a" style="fill:none;" d="M0,0H24V24H0Z"></path>
                        <path class="b" style="fill: rgba(0,0,0,0.56);" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Zm0-9.414,2.828-2.829,1.415,1.415L13.414,12l2.829,2.828-1.415,1.415L12,13.414,9.172,16.243,7.757,14.828,10.586,12,7.757,9.172,9.172,7.757Z" style=".b{fill:rgba(0,0,0,0.56);"></path>
                    </svg>
                </div>
            </div>


            <div class="form-group form-upload">
                <div class="w-100 position-relative">
                    <div class="form-group form-group-modal">
                        @*<label class="required">Danh sách đối tượng</label>*@
                        <select placeholder="" class="form-control" id="selected-object-id" multiple>
                            @*<option>...</option>
                                <option>....</option>
                                <option>.....</option>*@
                        </select>
                        <span class="placeholder">Danh sách đối tượng</span>
                    </div>
                </div>
            </div>

            <div class="form-group form-count">
                <label>Số lượng đối tượng được chọn: </label>
                <label id="objectCount">0</label>
            </div>

            <div class="form-group form-list-selected" id="dtc-list-selected" style="width: 100%;">

            </div>

        </div>

        <div class="form-group form-save" style="width: 100%;">
            <button class="btn btn-secondary btn-multi-file-save" id="btn-save-upload">Lưu</button>
        </div>

    </div>
</div>
<style>

    .form-button-upload label {
        font-size: 15px;
        float: left;
        padding-top: 11px;
        border-radius: 4px;
        height: 48px;
    }

    .upload-create-content {
        height: calc(100vh - 235px);
        overflow-y:auto;
        overflow-x: hidden;
        padding: 16px;
    }

    #btn-save-upload {
        margin-right: 20px;
        margin-top: 21px;
        height: 48px;
    }

    #modalUploadMulti .select2-container--default .select2-search--inline .select2-search__field {
        border: none !important;
    }

    .dtc-item-selected:hover {
        background-color: #eeeeee;
    }

    .dtc-item-selected {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dotted #eee;
        padding: 3px 10px;
        position: relative;
    }

    .dtc-list, .dtc-list-selected {
        height: 200px;
        overflow-y: auto;
        padding: 10px 5px;
        position: relative;
        width: 100%;
    }

    .dtc-item-selected {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dotted #eee;
        padding: 3px 10px;
        position: relative;
    }

    #modalUploadMulti .remove {
        position: absolute;
        right: 15px;
        width: 15px;
        height: 15px;
        top: 7px;
        background-color: #ee4a28;
        line-height: 13px;
        text-align: center;
        cursor: pointer;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
    }

    .form-save {
        text-align: right;
    }
    .form-show-file {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-show-file label{
        width:80%;
    }

        .form-show-file svg {
            width: 20px;
        }

    #dtc-list-selected {
        width: 100%;
        max-height: calc(100% - 225px);
        min-height: 200px;
        overflow-y: auto;
    }
</style>
