﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card box table-object open">
                    @*<div class="form-group" style="margin-bottom: 5px;">
                            <label style="display:block;">Chỉ mục tìm kiếm</label>
                            <select class="form-control" style="width: 45%" id="selected-search-table"><option value=""></option></select>
                        </div>
                        <div class="div_inputsearch" style="margin: 0 3px 5px 0;">
                            <h3>@L["ManagementLayer:ListObject"].Value</h3>
                            <input type="text" id="timKiem" class="form-control findgeojson" placeholder="@L["ManagementLayer:Search"].Value" autocomplete="off">
                        </div>*@
                    <button class="btn btn-sucess btn-in-list-pdf" id="exportPDF">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                            <defs>
                                <clipPath id="clip-path">
                                    <rect id="Rectangle_3637" data-name="Rectangle 3637" width="24" height="24" transform="translate(-20659 -3626)" fill="#fff" />
                                </clipPath>
                            </defs>
                            <g id="Mask_Group_74" data-name="Mask Group 74" transform="translate(20659 3626)" clip-path="url(#clip-path)">
                                <g id="export_1_" data-name="export (1)" transform="translate(-20657.707 -3640.094)">
                                    <g id="Group_3380" data-name="Group 3380" transform="translate(0 18.628)">
                                        <g id="Group_3379" data-name="Group 3379">
                                            <path id="Path_6714" data-name="Path 6714" d="M16.456,89.22a.658.658,0,0,0-.658.658V95.8H1.316V81.321H7.241a.658.658,0,0,0,0-1.316H.658A.658.658,0,0,0,0,80.663v15.8a.658.658,0,0,0,.658.658h15.8a.658.658,0,0,0,.658-.658V89.879A.658.658,0,0,0,16.456,89.22Z" transform="translate(0 -80.005)" fill="#fff" />
                                        </g>
                                    </g>
                                    <g id="Group_3382" data-name="Group 3382" transform="translate(5.266 15.995)">
                                        <g id="Group_3381" data-name="Group 3381">
                                            <path id="Path_6715" data-name="Path 6715" d="M143.573,20.766l-5.266-4.608a.658.658,0,0,0-1.091.495v1.975h-.39a8.6,8.6,0,0,0-8.471,7.347l-.348,2.434a.658.658,0,0,0,.427.711.671.671,0,0,0,.225.039.657.657,0,0,0,.558-.309l.97-1.553a7.2,7.2,0,0,1,6.141-3.4h.887v1.975a.658.658,0,0,0,1.091.495l5.266-4.608a.657.657,0,0,0,0-.99Zm-5.041,3.652V23.236a.658.658,0,0,0-.658-.658h-1.546a8.5,8.5,0,0,0-6.581,3.084,7.281,7.281,0,0,1,7.079-5.717h1.048a.658.658,0,0,0,.658-.658V18.1l3.608,3.157Z" transform="translate(-128.001 -15.995)" fill="#fff" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                        @L["ManagementLayer:PrintPDFList"].Value
                    </button>

                    <div class="conten-search d-flex">
                        <div class="w-100">
                            <input type="text" class="form-control" style="" placeholder="@L["InputNameLayer"].Value" autocomplete="off" id="timKiem">
                        </div>
                        <div class="div-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs></defs>
                                <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                                <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                            </svg>
                        </div>
                    </div>

                    @*<a href="javascript:;" class="close-content-table" title="Đóng"><i class="fa fa-times"></i></a>*@
                    <table id="listData" style="width:100%" data-step="1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-30" style="width: 40px;">@L["ManagementLayer:No."].Value</th>
                                <th style="text-align: center;">@L["ManagementLayer:ObjectName"].Value</th>
                                <th style="text-align: center;">QR Code</th>
                                <th style="text-align: center;">@L["ManagementLayer:Action"].Value</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="center-button">
                    <div class="btn btn-danger btn-close-form-qr" data-dismiss="modal">@L["ManagementLayer:Close"].Value</div>
                </div>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<style>
    .table-object {
        visibility: hidden;
        display: none;
        z-index: 0;
        height: calc(100vh - 180px);
        width: 100%;
        animation: movein 1s;
        top: 10px;
        padding: 10px;
        border-radius: inherit;
        margin-bottom: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: initial;
    }

    a.close-content-table {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 24px;
        color: #000;
    }

    a.btn-in-by-id {
        color: var(--primary);
        text-decoration: none;
        background-color: transparent;
        font-size: 24px;
        transition: ease 0.3s;
    }

    .btn-in-by-id img:hover{
        transform: scale(1.2);
    }

    .btn-in-by-id img{
        transition: all ease 0.3s;
    }

    .btn-in-list-pdf {
        /*position: absolute;
        right: 10px;
        top: 10px;*/
        float: right;
        color: #ececec !important;
        width: 19.217%;
    }


        .btn-in-list-pdf:hover{
            background-color: #385afb !important;
            transition: transform .3s ease !important;
        }



        .modal-footer {
            display: block;
        }

    .btn-close-form-qr {
        border-radius: 6px;
        height: 48px;
        width: 100px;
        text-align: center;
        line-height: 34px;
        display: block;
        margin: auto;
    }


    #listData tbody tr:hover {
        cursor: pointer;
        background-color: #f4f4f4;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .table-object.open {
        z-index: 101;
        display: block;
        visibility: visible;
    }


    @@media (max-width: 767.98px) {
        .table-object {
            width: 100%;
        }

        .detail-property1 {
            width: 100% !important;
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
        height: 10px;
        display: none;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px grey;*/
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(158, 165, 171);
        border-radius: 10px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(158, 165, 171);
        }


</style>

