﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div id="InforDataLeft" class="detail-property2 detail-property-collapse">
    @*<div class="detail-property-header2 title-menu-left bg-header">
            <span class="name-menu-left"> </span>
        </div>*@
    <div class="detail-property-body">
        <div class="form-group hidden">
            <label>Chỉ mục tìm kiếm:</label>
            <select id="select-search-properties" class="form-control"><option value=""></option></select>
        </div>
        <div class="conten-search d-flex">
            <div class="w-100">
                <input type="text" class="form-control" style="" placeholder="@L["InputNameLayer"].Value" id="search-Menu-Left">
            </div>
            <div class="div-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs></defs>
                    <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                    <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)"></path>
                </svg>
            </div>
        </div>

        <div class="detail-property-content2" style="float:left;">
            <div class="toa-nha-left">
                <ul class="list-object-content list-object-content-brand tree ul-left" data-widget="tree"></ul>
                <div class="spinner" id="spinner-menu-left" style="position: unset;height:55px;">
                    <div class="center-div">
                        <div class="loader-left-menu text-brand" style="position: relative;margin: 5px auto;">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .detail-property2 {
        z-index: 1;
    }

    .detail-property-content2 {
        display: block;
        width: 100%;
        overflow-y: auto;
        height: calc(100vh - 150px);
        padding: 16px;
        padding-top: 0px;
    }

    .ul-left > li {
        cursor: pointer;
    }

    .list-object-content {
        display: block;
        width: 100%;
        padding: 0;
    }

    .treeview {
        cursor: pointer;
        position: relative;
        margin: 0;
        padding: 15px 20px;
        list-style: none;
    }

    .detail-property-header2 {
        padding: 2rem 2.4rem;
        text-transform: uppercase;
        position: relative;
        border-bottom: 1px solid #ddd;
    }

        .detail-property-header2 span {
            font-size: 16px;
            font-weight: 700;
        }
</style>
