﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@model IoT.HTKT.Web.Pages.HTKT.ManagementData.MapDataModel
@inject IStringLocalizer<HTKTResource> L
<div class="model-geojson detail-property-new">
    <div class="detail-property-header">
        <span class="modal-title">@L["InputInformationObject"].Value</span>
        <span class="toggle-detail-property2 close-import-geojson" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:Close"].Value">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
    </div>

    <div class="detail-property-body body-geojson-modal">
        <div class="form-group">
            @*<label class="tile-string">@L["ManagementLayer:WKT/GeojsonString"].Value</label>*@
            <div class="form-group-modal form-group input-textarea position-relative">
                <textarea class="form-control geojson-wkt" rows="3"></textarea>
                <span class="placeholder textarea" style="left: 10px; transform: scale(0.8) translateY(-24px);">@L["ManagementLayer:WKT/GeojsonString"].Value</span>
            </div>

        </div>

        <div class="form-group">
            <label style=" font-style: italic;">@L["ManagementLayer:OrChooseGeojsonFile"].Value <span style="color: red; font-weight: normal;">(@L["ManagementLayer:NoteOnlyUseStringOrFile"].Value)</span></label>
            <div class="file-upload">
                <div class="image-upload-wrap h-100">
                    <input class="file-upload-input" type='file' id="file-geojson" accept="application/JSON,text/plain" />
                    <div class="drag-text">
                        <h4>Kéo và thả tập tin Geojson (GIS Files)</h4>
                        <label class="btn btn-success choosen-image-btn" for="file-geojson">Chọn tệp</label>

                        @*<button class="btn btn-sm btn-common file-upload-btn" type="button" id="save-image">@L["ManagementLayer:Save"].Value</button>*@
                    </div>
                </div>
            </div>

            <div class="content-errors-file-geojson mb-2 hidden">

            </div>
            <div class="file-geojon-content file-upload-content d-flex w-100 mb-2 hidden">

            </div>

            @*
                <input type="file" id="file-geojson" style="display: block" accept="application/JSON,text/plain">*@
        </div>
    </div>

    <div class="group-info">
        <div class="tool-modal">
            <div class="tool-map-button group-hop-thua">
                @*<button type="button" class="btn-action-info btn-danger btn-deleted" style="display:none;">@L["ManagementLayer:Delete"].Value</button>*@
                <button type="button" class="btn btn-danger close-import-geojson w-100">@L["ManagementLayer:Cancel"].Value</button>
                <button type="button" class="btn btn-secondary btn-convert-geojson btn-close-modal w-100" disabled>@L["ManagementLayer:Next"].Value</button>
            </div>
        </div>
    </div>

</div>
