﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="model-import-properties-execl detail-property-new">
    <div class="detail-property-header">
        <span>@L["InputInformationObject"].Value</span>
        @*<span>@L["ManagementLayer:AddPropertiesExcel"].Value</span>*@
        @*<span class="toggle-detail-property2 close-import-AddAttributeWithGeojsonData" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:Close"].Value">
                <span><i class="fa fa-times" aria-hidden="true"></i></span>
            </span>*@
        <span class="toggle-detail-property2 btn-cancel" data-toggle="tooltip" data-placement="bottom" data-original-title="Đóng">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
    </div>

    <div class="detail-property-body body-model-import-properties-execl">
        <div class="form-group">
            <div class="file-upload">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' id="imput-file-excel" accept="application/xlsx" />
                    <div class="drag-text">
                        <h4>Kéo và thả tập tin Excel (.xlsx Files)</h4>
                        <button class="btn btn-success">Chọn tệp</button>
                    </div>
                </div>
            </div>

            <div class="content-errors-file-execl mb-2 hidden">

            </div>
            <div class="file-excel-content file-upload-content d-flex w-100 mb-2 hidden">

            </div>
        </div>
    </div>

    <div class="group-info">
        <div class="tool-modal">
            <div class="tool-map-button group-hop-thua">
                <button type="button" class="btn btn-danger btn-cancel w-100">@L["ManagementLayer:Cancel"].Value</button>
                <button type="button" class="btn btn-secondary btn-next-excel w-100" disabled>@L["ManagementLayer:Next"].Value</button>
            </div>
        </div>
    </div>
</div>
