﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L

<div id="myModal2" class="model-properties-setting detail-property-new model-properties-object">
    <div class="detail-property-header">
        <span>@L["ManagementLayer:FillInformationObject"].Value</span>
        <span class="toggle-detail-property2" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:Close"].Value">
            <span><i class="fa fa-times" aria-hidden="true"></i></span>
        </span>
    </div>
    <div class="title-li-tab">
        <ul class="nav nav-tabs">
            <li class="nav-item text-center">
                <a class="nav-link li-tab class-info active" data-id="modalBodyFolderLayer" href="#" style="display: block;">@L["ManagementLayer:Info"].Value</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link li-tab class-config" data-id="modalBodyPropertiesLayer" href="#" style="display: block;">@L["ManagementLayer:Config"].Value</a>
            </li>
            <li class="nav-item text-center class-extend" style="display: block;">
                <a class="nav-link li-tab" data-id="modalBodyExtend" href="#">@L["ManagementLayer:Extend"].Value</a>
            </li>
        </ul>
    </div>
    <div class="detail-property-body">
        <div class="div-child-body" id="modalBodyFolderLayer" style="display:block;padding-top:12px;"></div>
        <div class="div-child-body" id="modalBodyPropertiesLayer" style="display:none;">
            <div class="row border-bottom" style="margin: 0;margin-bottom: 14px;">
                <h4>@L["ManagementLayer:RoadAttribute"].Value</h4>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Color"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="div-color-right w-100">
                        <div class="w-100">
                            <input type="text" class="inputFavcolorText stroke-text-main-object" id="strokeText" name="favcolorText" value="#007bff">
                            <div id="div-stroke" class="divFavcolorText div-stroke-main-object"></div>
                            <input type="color" class="strokeColor-main-object" id="strokeColor" name="favcolor" value="#007bff" style="padding: 0px; border: 0; width: 0px; height: 0px; right: 25px; top: 15px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Width"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="">
                        <div class="form-group">
                            <input type="number" class="text-width-main-object" value="1" id="stroke-width" min="0" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Opacity"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="">
                        <div class="w-100">
                            <div class="range-slide" style="width: calc(100% - 50px);">
                                <div class="display" style="justify-content: flex-end;width: 100%;margin-left: 50px;">
                                    <span class="max-stroke-main-object" id="max-stroke">100.00%</span>
                                </div>
                                <div class="slide" style="left:0px;right:15px;">
                                    <div class="line line-stroke-main-object bg-primary" id="line-stroke" style="left: 0%; right: 0%;"></div>
                                    <span class="thumb thumbMax-stroke-main-object bg-primary" id="thumbMax-stroke" style="left: 100%;"></span>
                                </div>
                                <input class="inputRange rangeMax-stress-main-object" id="rangeMax-stroke" type="range" max="100" min="0" step="1" value="100" style="width: calc(100% - 6px);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-bottom" style="margin: 0;margin-bottom: 14px;">
                <h4>@L["ManagementLayer:ColorProperty"].Value</h4>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Color"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="div-color-right">
                        <div class="w-100">
                            <input type="text" id="fillText" class="inputFavcolorText fillText-color-main-object" name="favcolorText" value="#007bff">
                            <div id="div-fill" class="divFavcolorText div-fill-main-object"></div>
                            <input type="color" class="fillColor-color-main-object" id="fillColor" name="favcolor" value="#007bff">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12 required">@L["ManagementLayer:Opacity"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="">
                        <div class="w-100">
                            <div class="range-slide" style="width: calc(100% - 50px);">
                                <div class="display" style="justify-content: flex-end;width:100%;margin-left:50px;">
                                    <span id="max-fill" class="max-fill-main-object">100.00%</span>
                                </div>
                                <div class="slide" style="left:0px;right:15px;">
                                    <div class="line line-fill-main-object bg-primary" id="line-fill" style="left: 0%; right: 0%;"></div>
                                    <span class="thumb thumbMax-fill-main-object bg-primary" id="thumbMax-fill" style="left: 100%;"></span>
                                </div>
                                <input class="inputRange rangeMax-color-main-object" id="rangeMax-fill" type="range" max="100" min="0" step="1" value="100" style="width: calc(100% - 6px);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top" style="margin: 0;margin-bottom: 10px;padding: 0 10px;">
                <h4 style="font-weight: 700;"></h4>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-6 col-xs-12">@L["ManagementLayer:Inheritance"].Value</label>
                <div class="col-md-6 col-xs-12">
                    <div class="w-100">
                        <div class="w-100 text-right">
                            <div class="custom-checkbox custom-control">
                                <input type="checkbox" data-val="true" id="checkbox-inheritance" name="checkbox-inheritance" value="" class="checkbox-inheritance custom-control-input">
                                <label class="custom-control-label" for="checkbox-inheritance"></label>
                            </div>
                            @*<input type="checkbox" checked id="checkbox-inheritance" name="" value="#007bff" style="">*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-child-body" id="modalBodyExtend" style="display:none;min-height:300px">
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" name="Id" value="" />
                    <div>
                        <input type="hidden" name="Id" value="" />
                        <div>
                            <div class="row div-item-FilePlace">
                                <div class="col-md-4 item-FilePlace activefile" style="display:none;" data-value="image">
                                    <div class="d-flex w-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <defs></defs>
                                            <path class="a" d="M0,0H24V24H0Z"></path>
                                            <path class="b" d="M21,15v3h3v2H21v3H19V20H16V18h3V15Zm.008-12A.993.993,0,0,1,22,3.993v9.349A5.99,5.99,0,0,0,20,13V5H4V19l9.292-9.293a1,1,0,0,1,1.32-.084l.093.085,3.546,3.55A6,6,0,0,0,14.342,21H2.992A.993.993,0,0,1,2,20.007V3.993A1,1,0,0,1,2.992,3H21.008ZM8,7A2,2,0,1,1,6,9,2,2,0,0,1,8,7Z"></path>
                                        </svg>
                                        <label>@L["ManagementLayer:Image"].Value</label>
                                    </div>
                                    <div class="line-right"></div>
                                </div>
                                <div class="col-md-4 item-FilePlace" style="display:none;" data-value="LinkCamera">
                                    <div class="d-flex w-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <defs></defs><
                                            path class="a" d="M0,0H24V24H0Z" />
                                            <path class="b" d="M17.657,14.828l-1.414-1.414L17.657,12A4,4,0,0,0,12,6.343L10.586,7.757,9.172,6.343l1.414-1.414a6,6,0,1,1,8.485,8.485l-1.414,1.414Zm-2.829,2.829-1.414,1.414a6,6,0,1,1-8.485-8.485L6.343,9.172l1.414,1.414L6.343,12A4,4,0,0,0,12,17.657l1.414-1.414Zm0-9.9,1.415,1.415-7.071,7.07L7.757,14.828l7.071-7.07Z" />
                                        </svg>
                                        <label>@L["ManagementLayer:Link"].Value</label>
                                    </div>
                                    <div class="line-right"></div>
                                </div>
                                <div class="col-md-4 item-FilePlace" style="display:none;" data-value="FileUpload">
                                    <div class="d-flex w-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <defs></defs>
                                            <path class="a" d="M0,0H24V24H0Z" />
                                            <path class="b" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM13,12v4H11V12H8l4-4,4,4Z" />
                                        </svg>
                                        <label>@L["ManagementLayer:UploadFile"].Value</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-bottom"></div>
                        <div class="tab-pane">
                            <div class="file-upload">
                                <div class="image-upload-wrap">
                                    <input class="file-upload-input" type='file' id="image-upload-input-create" accept="image/gif, image/jpeg, image/png, image/jpg" multiple />
                                    <div class="drag-text">
                                        <h3>@L["ManagementLayer:DragDropOrSelectImageFile"].Value (png, jpg, jpeg, gif)</h3>
                                        <label class="btn btn-success choosen-image-btn" for="image-upload-input-create">Chọn tệp</label>
                                    </div>
                                </div>
                                <div class="file-upload-content">

                                </div>
                                <button class="btn btn-sm btn-secondary file-upload-btn" type="button" id="save-image">@L["ManagementLayer:Save"].Value</button>
                            </div>
                        </div>
                        <div class="search-newfile link-button" style="display:none">
                            @*<input type="text" id="search-datatable" class="form-control" placeholder="Nhập từ khóa" style="width: 200px;" />*@
                            <button class="btn btn-success" data-value="linkcamera">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <defs></defs>
                                    <path class="a" d="M0,0H24V24H0Z" />
                                    <path class="b" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" style="fill: #fff;" />
                                </svg>
                                <span style="">Thêm liên kết</span>
                            </button>
                        </div>
                        <div class="search-newfile file-button" style="display:none">
                            <button class="btn btn-success" data-value="fileupload">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <defs></defs>
                                    <path class="a" d="M0,0H24V24H0Z"></path>
                                    <path class="b" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM13,12v4H11V12H8l4-4,4,4Z" style="fill: #fff;"></path>
                                </svg>
                                <span style="">Tải file lên</span>
                            </button>
                        </div>
                        <table class="table table-infor-object" style="table-layout:fixed;">
                            <thead>
                                <tr>
                                    <th width="15%">@L["ManagementLayer:No."].Value</th>
                                    <th width="50px">@L["ManagementLayer:Name"].Value</th>
                                    <th width="100px">@L["ManagementLayer:Path"].Value</th>
                                    <th width="50px">@L["ManagementLayer:Manipulation"].Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th colspan="4">@L["ManagementLayer:Nodata"].Value</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex group-button-create-object">
        <button type="button" class="btn btn-danger w-100" id="btn-close-model-properties-object" style="text-align: center">@L["ManagementLayer:Cancel"].Value</button>
        <button type="button" id="btn-save" style="text-align: center" class="btn btn-secondary btn-close-modal w-100">@L["ManagementLayer:Save"].Value</button>
    </div>
    @*<div class="d-flex">
            <div class="w-100">
                <button type="button" class="btn btn-secondary btn-save-modal w-100" id="btn-close-model-properties-object" style="text-align: center">Close</button>
            </div>
            <div class="w-100">
                <button type="button" id="btn-save" style="text-align: center" class="btn btn-primary btn-close-modal w-100">Save</button>
            </div>
        </div>*@
</div>
