﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L

<div class="modal fade" id="myModalFileUploadMultiObject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>*@

            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="modal-title" id="myModalLabel">@L["ManagementLayer:AddDocmentMultipleObject"].Value</h4>
                <div class="row">
                    <input type="hidden" name="IdFile" value="" />
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label col-md-12 col-xs-12 required">@L["ManagementLayer:AddDocmentMultipleObject"].Value</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="NameFileMultiObject" class="form-control form-style" placeholder="@L["ManagementLayer:DocumentName"].Value" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-12 col-xs-12 required">@L["ManagementLayer:Folder"].Value</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <select name="ListDocumentMultiObject" class="form-control">
                                        @*<option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-12 col-xs-12 required">@L["ManagementLayer:Document"].Value</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <input type="file" name="UrlFileMultiObject" class="form-control form-style"  style="height: 43px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="control-label col-md-12 col-xs-12 required">@L["ManagementLayer:ListObject"].Value</label>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="selected-object-id" placeholder="@L["ManagementLayer:SelectText"].Value" multiple>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="dtc-list-selected" id="dtc-list-selected">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@L["ManagementLayer:Close"].Value</button>
                <button type="button" class="btn btn-primary btn-multi-file-save">@L["ManagementLayer:Save"].Value</button>
            </div>
        </div>
    </div>
</div>
<style>
    /*.checkbox input[type=checkbox] {
        margin-left: 0px;
        cursor: pointer;
    }

    .checkbox label {
        padding-left: 35px;
    }

    .dtc-list, .dtc-list-selected {
        height: 200px;
        overflow-y: auto;
        padding: 10px 5px;
        position: relative;
        width: 100%;
    }

    .dtc-item-selected:hover {
        background-color: #eeeeee;
    }

    .dtc-item-selected {
        display: inline-block;
        width: 100%;
        border-bottom: 1px dotted #eee;
        padding: 3px 10px;
        position: relative;
    }*/

    .select-container label {
        font-weight: 400 !important;
    }

    /*.remove {
        position: absolute;
        right: 5px;
        width: 15px;
        height: 15px;
        top: 7px;
        background-color: #ccc;
        line-height: 13px;
        text-align: center;
        cursor: pointer;
        border-radius: 50px;
        color: #aaa;
        cursor: pointer;
    }*/

    #myModalFileUploadMultiObject .modal-content {
        width: 80%;
        margin: 0 auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
    }

    #myModalFileUploadMultiObject .modal-title {
        text-align: center;
        letter-spacing: 0px;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 14px;
        margin-bottom: 29px;
    }
</style>
