﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L

<div class="modal model-properties-activity" id="myModalActivity" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="">
                <h4 class="modal-title">@L["ManagementLayer:OperationInformation"].Value</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: calc(100vh - 200px);overflow-y: auto;">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@L["ManagementLayer:OperationType"].Value:</label>
                            <select class="form-control" id="seleted-loai-hoat-dong"></select>
                            <input type="hidden" id="id-loai-hoat-dong" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs hidden" style="">
                            <li class="nav-item">
                                <a class="nav-link li-tab" data-id="body-thong-tin-hoat-dong" href="#">@L["ManagementLayer:Info"].Value</a>
                            </li>
                            <li class="nav-item class-extend hidden">
                                <a class="nav-link li-tab" data-id="body-mo-rong-hoat-dong" href="#">@L["ManagementLayer:Extend"].Value</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="div-hoat-dong-body hidden" id="body-mo-rong-hoat-dong">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="Id" value="" />
                            <div class="lib-tab-extend">
                                <div class="row" style="margin-right: 10px;margin-left: 10px;">
                                    <div class="col-md-2 item-FilePlace activefile" data-value="image">
                                        <label>@L["ManagementLayer:Image"].Value</label>
                                    </div>
                                    <div class="col-md-2 item-FilePlace" style="display:none;" data-value="LinkCamera">
                                        <label>@L["ManagementLayer:Link"].Value</label>
                                    </div>
                                    <div class="col-md-2 item-FilePlace" style="display:none;" data-value="FileUpload">
                                        <label>@L["ManagementLayer:UploadFile"].Value</label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane">
                                <div class="file-upload">
                                    <div class="image-upload-wrap">
                                        <input class="file-upload-input" id="file-upload-input-activity" type='file' accept="image/gif, image/jpeg, image/png, image/jpg" multiple />
                                        <div class="drag-text">
                                            <h3>@L["ManagementLayer:DragDropOrSelectImageFile"].Value</h3>
                                            <label class="btn btn-success choosen-image-btn" for="file-upload-input-activity">Chọn tệp</label>
                                        </div>
                                    </div>
                                    <div class="file-upload-content">

                                    </div>
                                    <button class="btn btn-sm btn-secondary file-upload-btn" type="button" id="save-image">@L["ManagementLayer:SaveImage"].Value</button>
                                </div>
                            </div>
                            <div class="search-newfile" style="display:none">
                                @*<input type="text" id="search-datatable" class="form-control" placeholder="Nhập từ khóa" style="width: 200px;" />*@
                                <button class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </div>
                            <table class="table table-infor-object" style="table-layout:fixed;">
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="7%">@L["ManagementLayer:No."].Value</th>
                                        <th width="35%">@L["ManagementLayer:Name"].Value</th>
                                        <th width="50%">@L["ManagementLayer:Path"].Value</th>
                                        <th width="10%">@L["ManagementLayer:Manipulation"].Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="4">@L["ManagementLayer:NoData"].Value</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="div-hoat-dong-body" id="body-thong-tin-hoat-dong">

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-danger btn-action-info" style="width: 80px" data-dismiss="modal">@L["ManagementLayer:Close"].Value</button>
                <button type="button" id="btn-save-activity-detail" class="btn btn-secondary btn-action-info" style="width: 80px" disabled>@L["ManagementLayer:Save"].Value</button>
            </div>

        </div>
    </div>
</div>
