﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization

@inject IStringLocalizer<HTKTResource> L
<div class="modal modal-list-layer-base-map" id="modal-list-layer-base-map" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="padding-bottom:0;color: #fff;">
                <h4 class="modal-title">@L["ManagementLayer:SELECMAPTYPE"].Value</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="div-child-body2" id="body-modal-list-layer-base-map" style="height: 350px; overflow-y: auto;">
                    <div class="row" style="display:grid; grid-template-columns: auto auto; grid-gap: 0rem;">
                        <div class="" style="margin: 0 auto;">
                            <div class="section-action-chip-button">
                                <div class="enjoy-direction-map" data-lat="16.0766625" data-lng="108.222828125" data-type="map4d">
                                    <img src="/images/logomap4d.png" style="border: 1px solid orange; border-radius: 100%;">
                                </div>
                                <div> Map4D </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12" style="text-align:center;">
                        <button type="button" data-dismiss="modal" class="btn btn-cancel btn-danger  close-buttonCreate">@L["ManagementLayer:Close"].Value</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #modal-list-layer-base-map .modal-title {
        text-align: center;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        color: #000000DE;
        text-transform: uppercase;
        opacity: 1;
        margin: 15px;
        /* margin-top: 14px; */
        /* font-size: 17px; */
        width: 100%;
        /* margin-bottom: 29px; */
        font-weight: 600;
    }

    .newcomondrawmodal {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
        width: 100%;
        text-align: left;
        height: 75px;
    }

    img.imagecommon {
        width: 24px;
        height: 24px;
        opacity: 1;
    }

    .modal-list-layer-base-map {
        overflow: scroll;
    }

    #body-modal-list-layer-base-map .row {
        margin: 10px auto;
    }

    .modal-list-layer-base-map .modal-footer {
        text-align: none !important;
        /*display: flex;*/
    }

    .close-buttonCreate {
        border-radius: 4px;
        opacity: 1;
        margin-top: 12px;
        width: 100px;
        height: 48px;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        color: #FCFCFC;
    }

        .close-buttonCreate:hover {
            color: #FCFCFC;
        }
</style>