﻿@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@inject IStringLocalizer<HTKTResource> L
<div id="modalCreateNew" style="">
    <div class="div-child">
        <div class="header-CreateNew">
            <span>Thêm mới dữ liệu</span>
        </div>
        <div class="object-create-content">
            <!--<div class="div-create">
        <button class="btn btn-default newcomondrawmodal" type="button" data-code="newpoint" title="Point">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path class="a" d="M0,0H24V24H0Z"></path>
                <path class="b fill-color-svg" d="M18.364,17.364,12,23.728,5.636,17.364a9,9,0,1,1,12.728,0ZM12,13a2,2,0,1,0-2-2A2,2,0,0,0,12,13Z"></path>
            </svg>
            <span class="span-text">@L["ManagementLayer:Point"].Value</span>

        </button>
    </div>
    <div class="div-create">
        <button class="btn btn-default newcomondrawmodal" data-code="newMultipoint" type="button" title="@L["ManagementLayer:MultiPoint"].Value">-->
            @*<img src="/images/Icon-MultiPoint.svg" class="imagecommon" />*@
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <path class="a" d="M0,0H24V24H0Z" />
                <path class="b fill-color-svg " d="M20,1V4h3V6H20V9H18V6H15V4h3V1ZM12,13a2,2,0,1,0-2-2A2.006,2.006,0,0,0,12,13Zm2-9.75V7h3v3h2.92A9.422,9.422,0,0,1,20,11.2q0,4.98-8,11.8Q4.005,16.175,4,11.2A8.016,8.016,0,0,1,14,3.25Z" />
            </svg>
            <span class="span-text">@L["ManagementLayer:MultiPoint"].Value</span>

        </button>
    </div>
    <div class="div-create">
        <button class="btn btn-default newcomondrawmodal" data-code="newline" type="button" title="@L["ManagementLayer:Line"].Value">-->
            @*<img src="/images/Icon-Line.svg" class="imagecommon" />*@
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                </defs>
                <path class="a" d="M0,0H24V24H0Z" />
                <path class="b fill-color-svg" d="M3.5,18.49l6-6.01,4,4L22,6.92,20.59,5.51,13.5,13.48l-4-4L2,16.99Z" />
            </svg>
            <span class="span-text">@L["ManagementLayer:Line"].Value</span>
        </button>
    </div>
    <div class="div-create">
        <button class="btn btn-default newcomondrawmodal" data-code="newMultiline" type="button" title="@L["ManagementLayer:MultiLine"].Value">-->
            @*<img src="/images/Icon-MultiLine.svg" class="imagecommon" />*@
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs></defs>
                <rect class="a" width="24" height="24" />
                <path class="b fill-color-svg " d="M2,19.99l7.5-7.51,4,4,7.09-7.97L22,9.92l-8.5,9.56-4-4-6,6.01Zm1.5-4.5,6-6.01,4,4L22,3.92,20.59,2.51,13.5,10.48l-4-4L2,13.99Z" />
            </svg>
            <span class="span-text">@L["ManagementLayer:MultiLine"].Value</span>

        </button>
    </div>-->
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal" data-code="newpolygon" type="button" title="@L["ManagementLayer:Polygons"].Value">
                    @*<img src="/images/Icon-Polygon.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                            <clipPath id="a"><rect class="a" width="24" height="24" transform="translate(1113 1911)" /></clipPath>
                        </defs>
                        <g class="b" transform="translate(-1113 -1911)">
                            <g transform="translate(-1.335 -3.129)">
                                <path class="c stroke-color-svg" d="M0,5.768V13.93L8.6,19.7l8.6-5.768V5.768L8.6,0Z" transform="translate(1135.711 1917.975) rotate(90)" />
                            </g>
                        </g>
                    </svg>
                    <span class="span-text">@L["ManagementLayer:Polygons"].Value</span>
                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal" data-code="newMultipolygon" type="button" title="@L["ManagementLayer:MultiPolygon"].Value">
                    @*<img src="/images/Icon-Polygon.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                            <clipPath id="a">
                                <rect class="a" width="24" height="24" transform="translate(1113 1911)" />
                            </clipPath>
                        </defs>
                        <g class="b" transform="translate(-1113 -1911)">
                            <g transform="translate(-0.435 -1.975)">
                                <path class="c stroke-color-svg" d="M0,5.092v7.2l7.7,5.092,7.7-5.092v-7.2L7.7,0Z" transform="translate(1136.165 1916.697) rotate(90)" />
                                <path class="d stroke-color-svg fill-color-svg" d="M0,5.092v7.2l7.587,5.092L15.175,12.3v-7.2L7.587,0Z" transform="translate(1131.584 1918.943) rotate(90)" />
                            </g>
                        </g>
                    </svg>
                    <span class="span-text">@L["ManagementLayer:MultiPolygon"].Value</span>

                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal polygon-by-country" data-code="newPolygonByCountry" type="button" title="@L["ManagementLayer:PolygonByCountrys"].Value">
                    @*<img src="/images/Icon-Polygon.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                            <clipPath id="a"><rect class="a" width="24" height="24" transform="translate(1113 1911)" /></clipPath>
                        </defs>
                        <g class="b" transform="translate(-1113 -1911)">
                            <g transform="translate(-1.335 -3.129)">
                                <path class="c stroke-color-svg" d="M0,5.768V13.93L8.6,19.7l8.6-5.768V5.768L8.6,0Z" transform="translate(1135.711 1917.975) rotate(90)" />
                            </g>
                        </g>
                    </svg>
                    <span class="span-text">@L["ManagementLayer:PolygonByCountrys"].Value</span>
                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal multipolygon-by-country" data-code="newMultipolygonByCountry" type="button" title="@L["ManagementLayer:MultiPolygonByCountrys"].Value">
                    @*<img src="/images/Icon-Polygon.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                            <clipPath id="a">
                                <rect class="a" width="24" height="24" transform="translate(1113 1911)" />
                            </clipPath>
                        </defs>
                        <g class="b" transform="translate(-1113 -1911)">
                            <g transform="translate(-0.435 -1.975)">
                                <path class="c stroke-color-svg" d="M0,5.092v7.2l7.7,5.092,7.7-5.092v-7.2L7.7,0Z" transform="translate(1136.165 1916.697) rotate(90)" />
                                <path class="d stroke-color-svg fill-color-svg" d="M0,5.092v7.2l7.587,5.092L15.175,12.3v-7.2L7.587,0Z" transform="translate(1131.584 1918.943) rotate(90)" />
                            </g>
                        </g>
                    </svg>
                    <span class="span-text">@L["ManagementLayer:MultiPolygonByCountrys"].Value</span>

                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal" data-code="newrectangle" type="button" title="@L["ManagementLayer:Rectangle"].Value">
                    @*<img src="/images/Icon-Rectangle.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path class="a" d="M0,0H24V24H0Z" />
                        <path class="b fill-color-svg" d="M21,3a1,1,0,0,1,1,1v7H20V5H4V19h6v2H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3Zm0,10a1,1,0,0,1,1,1v6a1,1,0,0,1-1,1H13a1,1,0,0,1-1-1V14a1,1,0,0,1,1-1Z" />
                    </svg>
                    <span class="span-text">@L["ManagementLayer:Rectangle"].Value</span>

                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal upload-File-Excel" data-code="import-excel" type="button" title="@L["ManagementLayer:FileExcel"].Value">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path class="a" d="M0,0H24V24H0Z" />
                        <path class="b fill-color-svg" d="M2.859,2.877l12.57-1.795a.5.5,0,0,1,.571.5V22.423a.5.5,0,0,1-.57.5l-12.572-1.8A1,1,0,0,1,2,20.133V3.867a1,1,0,0,1,.859-.99ZM17,3h4a1,1,0,0,1,1,1V20a1,1,0,0,1-1,1H17Zm-6.8,9L13,8H10.6L9,10.286,7.4,8H5l2.8,4L5,16H7.4L9,13.714,10.6,16H13Z" />
                    </svg>
                    <span class="span-text">@L["ManagementLayer:FileExcel"].Value</span>
                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal model-wkt-geojson" data-code="newinput" type="button" title="@L["ManagementLayer:ImportWKTGeojson"].Value">
                    @*<img src="/images/Icon-GeojsonInput.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                        </defs>
                        <path class="a" style="fill:none;" d="M0,0H24V24H0Z" />
                        <path class="b" style="fill:var(--primary)" d="M16,2l5,5V21.008a.993.993,0,0,1-.993.992H3.993A1,1,0,0,1,3,21.008V2.992A.993.993,0,0,1,3.993,2Zm1.657,10L14.12,8.464,12.707,9.88,14.828,12l-2.12,2.121,1.413,1.415ZM6.343,12l3.536,3.536,1.414-1.415L9.172,12l2.12-2.121L9.88,8.464Z" />
                    </svg>
                    <span class="span-text">@L["ManagementLayer:ImportWKTGeojson"].Value</span>

                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal model-geojson-properties-map" data-code="newinputpropertiesmap" type="button" title="@L["ManagementLayer:PropertyGeoDataAvailable"].Value">
                    @*<img src="/images/Icon-GeojsonPropertiesMap.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path class="a" d="M0,0H24V24H0Z" />
                        <path class="b fill-color-svg " d="M21,9V20.993A1,1,0,0,1,20.007,22H3.993A.993.993,0,0,1,3,21.008V2.992A1,1,0,0,1,4,2H14V8a1,1,0,0,0,1,1Zm0-2H16V2ZM8,7V9h3V7Zm0,4v2h8V11Zm0,4v2h8V15Z" />
                    </svg>
                    <span class="span-text">@L["ManagementLayer:PropertyGeoDataAvailable"].Value</span>
                </button>
            </div>
            <div class="div-create">
                <button class="btn btn-default newcomondrawmodal model-geojson-properties-new" data-code="newinputpropertiesnew" type="button" title="@L["ManagementLayer:GeojsonDataNewProperty"].Value">
                    @*<img src="/images/Icon-GeojsonPropertiesNew.svg" class="imagecommon" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path class="a" d="M0,0H24V24H0Z" />
                        <path class="b fill-color-svg " d="M21,9V20.993A1,1,0,0,1,20.007,22H3.993A.993.993,0,0,1,3,21.008V2.992A1,1,0,0,1,4,2H14V8a1,1,0,0,0,1,1Zm0-2H16V2Z" />
                    </svg>
                    <span class="span-text">@L["ManagementLayer:GeojsonDataNewProperty"].Value</span>
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    /*    #model-properties-buttonCreate .modal-dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }*/

    #model-properties-buttonCreate .modal-content {
        width: 80%;
        margin: 0 auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
    }

    #model-properties-buttonCreate .modal-title {
        text-align: center;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        /*color: #000000DE;*/
        text-transform: uppercase;
        opacity: 1;
        margin-top: 14px;
        margin-bottom: 29px;
    }

    .newcomondrawmodal {
        /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
        box-shadow: 0px 1px 6px #00000029;
        border-radius: 4px;
        opacity: 1;
        width: 100%;
        text-align: left;
        height: 75px;
    }

        .newcomondrawmodal:hover {
            color: #333;
        }

    img.imagecommon {
        width: 24px;
        height: 24px;
        opacity: 1;
    }

    .model-properties-buttonCreate {
        overflow: scroll;
    }

    #modalBodyPropertiesLayer-buttonCreate .row {
        margin: 10px auto;
    }

    .model-properties-buttonCreate .modal-footer {
        text-align: none !important;
        display: flex;
    }

    .close-buttonCreate {
        background: var(--primary) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        margin-top: 12px;
        width: 100px;
        height: 48px;
        /*font: normal normal normal 14px/19px Roboto;*/
        letter-spacing: 0px;
        color: #FCFCFC;
    }

        .close-buttonCreate:hover {
            color: #FCFCFC;
        }

    .a {
        fill: none;
    }
</style>