﻿.li-modal-data-right {
    width: 100%;
}

#InforData .detail-property-body {
    display: flex;
    width: 100%;
    position: relative;
    background-color: #FFF;
    padding: 12px;
}

.li-modal-data-right a {
    text-align: center;
    padding: 15px;
    margin: 0px;
    height: 100%;
    display: block;
}

.detail-property-body .line-bottom {
    width: 41px;
    height: 1px;
    background: #E5E5E5 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

.line-right {
    width: 1px;
    height: 23px;
    background: #E5E5E5 0% 0% no-repeat padding-box;
    margin: 0 auto;
}

.table-object .pagination li:hover a, .table-object .pagination li.active a {
    cursor: default;
    background-color: #FFF;
    border-color: #000;
    color: #000;
}

.section.section-info.step-config, .section.section-info.step-3D {
    position: relative;
}

    .section.section-info.step-config .group-btn-config, .section.section-info.step-3D .group-btn-3D {
        bottom: 0px;
        margin-bottom: 18px !important;
        width: 100%;
    }

.modal-info-right {
    float: right;
    width: 53px;
    height: 100%;
    padding: 0px 0px 5px 0px;
}

.detail-property-content {
    margin-left: 8px;
    border-radius: 3px;
    width: 285px;
}

#InforData .modal-info-right .nav-modal-data {
    width: 53px;
}

#EditForm .modal-info-right .nav-modal-data {
    width: 53px;
}

.range-slide {
    position: relative;
    margin: 10px;
    height: 4px;
    width: 100%;
    margin-left: 0px;
}

.step-config input[type=range] {
    width: 60%;
}

.step-config .slide {
    width: 60%;
}

.step-config .row {
    margin: 0;
    margin-bottom: 20px;
}

.step-config .line-bottom {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 0;
    margin: 20px 0;
}

.step-config [class*="col-"] {
    padding: 0;
}

.step-config button {
    height: 48px;
}

.nav-modal-data {
    border: 1.5px solid #ddd;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    box-shadow: none;
}

    .nav-modal-data li a {
        font-size: 15px !important;
    }

    .nav-modal-data li:hover a, .nav-modal-data li.active a {
        background-color: transparent !important;
        color: #FF0000 !important;
    }


.detail-property-content .nav-tabs {
    border-bottom: solid 1px #E5E5E5 !important;
    padding: 10px 0px;
    background: #FFF;
    border-color: unset;
    box-shadow: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background: #FFF;
    border-color: unset;
    color: #000;
}

.detail-property-content li a:hover {
    border: 0px;
}

.detail-property-content .step-info-content-2d .nav-tabs .nav-item {
    background: unset;
    display: flex;
    background: center;
}

.detail-property-content .nav-tabs li.active a {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: 0px;
    border-bottom-color: transparent;
}

.detail-property-content table {
    border: 0px;
}

/*    .detail-property-content table tr td:nth-child(2) {
        text-align: right;
    }*/

.section .group-info.group-button-footer {
    padding: 16px 0 !important;
}

.slide {
    position: absolute;
    top: 3em;
    /*height: 2px;
    background: #ccc;
    left: 65px;
    right: 9px;*/
}

.range-slide .slide {
    position: absolute;
    background: #E5E5E5;
    top: 0;
    height: 2px;
    /*height: 2px;
    background: #ccc;
    left: 65px;
    right: 9px;*/
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2px;
    background-color: #007bff;
}

.thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 50%;
    outline: none;
    top: -5px;
    height: 12px;
    width: 12px;
    margin-left: -5px;
}

.inputRange {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}

    .inputRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
        border-radius: 50%;
        cursor: pointer;
        width: 18px;
        height: 18px;
    }

.display {
    margin: auto;
    width: 360px;
    position: absolute;
    top: -10px;
    display: flex;
    justify-content: space-between;
}

#rangeMin {
    width: 80%;
    left: 55px;
}

#rangeMax {
    width: 80%;
    left: 60px;
}

.image-container-new {
    width: 200px;
    height: 150px;
    display: inline-block;
    border: 1px solid #ccc;
}

.custom-file-upload {
    margin-left: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 5px;
    border-radius: 0px;
    width: 200px;
    bottom: 0px;
    z-index: 999;
    background-color: #3c8dbc;
    color: white;
    margin-bottom: 0px;
}

.toggle-detail-property2 {
    line-height: 25px !important;
    display: block !important;
    text-align: right !important;
}

    .toggle-detail-property2 span {
        font-weight: 500;
    }

.box-action {
    background-color: #ecf0f5;
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

    .box-action .btn {
        padding: 2px 10px;
        margin-right: 5px;
        font-size: 13px;
        width: 30%;
        border: none;
        outline: none;
    }

.col-title {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    padding-right: -18px;
    border-right: solid 1px #fff;
    padding-right: 1px;
}

.row.file-item {
    padding: 10px 0px;
    text-align: left;
    border-bottom: solid 1px #ecf0f5;
}

.col-md-2.icon-item {
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    margin: auto;
}

    .col-md-2.icon-item img {
        display: block;
        margin-left: 0;
        margin-right: auto;
        width: 40px;
    }

.col-md-8.title-item {
    word-break: break-all;
    text-align: left;
}

.fileUploadedArea {
    padding: 10px 20px;
    background: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.file-conten-title {
    width: 100%;
}

#file-size {
    float: right;
}

.section-info {
    display: none;
    color: #000;
}

.btn-action-info {
    width: 100%;
    margin: 3px;
    border: #707070 solid 1px;
    border-radius: 3px;
    padding: 8px 2px;
    transition: 0.1s ease-in;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 48px;
}

.toa-nha {
    height: calc(100vh - 235px);
}

.step-2D .nav-2d-geojson .nav-item {
    border: 0px !important;
    padding: 5px 0px;
}

.step-2D .nav-tabs .nav-item .nav-link {
    padding: 0;
    text-align: center;
    background: unset;
    width: 100%;
}

.step-2D .nav > li > a {
    font-weight: 600;
    color: #000;
    cursor: default;
    background-color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
/*2d*/
.step-2D .textarea-geojson {
    width: 100%;
    height: calc(100vh - 30rem);
    overflow: overlay;
    padding: 10px 15px;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
}

.step-2D .nav-2d-geojson a {
    color: #0000009e;
}

.step-2D .nav-2d-geojson > li.active > a, .step-2D .nav-2d-geojson > li.active > a:focus, .step-2D .nav-2d-geojson > li.active > a:hover {
    color: #3c8dbc;
}

.step-2D .tab-pane {
    width: 100%;
    min-height: calc(100% - 3.2rem);
    position: relative;
    overflow-y: auto;
}

    .step-2D .tab-pane .content-table {
        margin-bottom: 0px;
        overflow: auto;
        min-height: 100%;
        width: 100%;
    }


        .step-2D .tab-pane .content-table thead th:first-child,
        .step-2D .tab-pane .content-table tbody th:first-child {
            text-align: center;
            width: 35px;
        }

    .step-2D .tab-pane table tr th {
        background-color: transparent;
        color: #000;
        border: unset;
    }

    .step-2D .tab-pane#2d-geojson {
        height: calc(100vh - 245px) !important;
    }

.step-2D .tab-content {
    overflow: auto;
    width: 100%;
    padding: 0;
    height: calc(100% - 100px);
    background: #FFF;
    box-shadow: none;
}

.step-2D .table {
    margin-bottom: 0px;
    border: 0px;
    background: #FFF;
    color: #000;
    margin-top: 20px;
}

/*    .input-textarea {
        padding: 10px 0;
    }*/
/*3d*/
.step-3D .nav-3d-geojson .nav-item {
    border: 0px !important;
    padding: 5px 0px;
}

.step-3D .nav-tabs .nav-item .nav-link {
    padding: 0;
    text-align: center;
    background: unset;
    width: 100%;
}

.step-3D .nav > li > a {
    font-weight: 600;
    color: #000;
    cursor: default;
    background-color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.step-3D .textarea-geojson {
    width: 100%;
    /*    height: calc(100vh - 28rem);*/
}

.step-3D .nav-3d-geojson a {
    color: #0000009e;
}

.step-3D .nav-3d-geojson > li.active > a, .step-3D .nav-3d-geojson > li.active > a:focus, .step-3D .nav-3d-geojson > li.active > a:hover {
    color: #3c8dbc;
}

.step-3D .tab-pane {
    width: 100%;
    height: 100%;
}

.step-3D input[type=file] {
    height: 40px;
}

.step-3D .tab-content {
    overflow: auto;
    padding: 0;
    background: unset;
}

.step-info-content-3d .nav-3d-geojson li.nav-item {
    display: flex;
    background: center;
}

.step-3D #form-paradigm label {
    font-weight: 400 !important;
}

.btn-save-3D {
    position: relative;
    bottom: auto;
    border-radius: 3px;
    transition: 0.1s ease-in;
}

.btn-cancel-3D:disabled, #drawCancel:disabled {
    cursor: not-allowed;
}


.step-2D .table > tbody > tr > td,
.step-2D .table > tbody > tr > th,
.step-2D .table > tfoot > tr > td,
.step-2D .table > tfoot > tr > th,
.step-2D .table > thead > tr > td,
.step-2D .table > thead > tr > th {
    padding: 3px;
    border: none;
}

.step-2D .input-location-table {
    border: none;
    width: 100%;
}

#myModalInforActivityDetail .table > tbody > tr > td, #myModalInforActivityDetail .table > thead > tr > th {
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
}

#btn-activity-info {
    width: auto;
    height: 48px;
    width: 120px;
}

.div-85 {
    width: 85%;
}

.div-15 {
    width: 15%;
}

.div-100 {
    width: 100%;
    padding: 0 10px;
}

.modal-info-right li a img {
    width: 20px;
    display: block;
    transform: translateX(-10%);
}
/*step config*/
.form-step-config label {
    align-self: center;
}

.form-step-config input[type=text], .form-step-config input[type=number] {
    height: 38px;
    text-align: center;
    padding: 8px 2px;
    border-radius: 4px;
    border: solid 1px #ccc;
}

.stroke-text-main-object, .fillText-color-main-object {
    width: 98px !important;
}

.div-stroke-main-object, .div-fill-main-object {
    height: 38px;
    width: 49px !important;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(55, 37, 32);
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #007bff;
    z-index: 1;
}

.fillColor-color-main-object {
    padding: 0px;
    border: 0;
    width: 0px;
    height: 0px;
    right: 25px;
    top: 15px;
    position: absolute;
}

.form-step-config .slide {
    height: 2px !important;
}

    .form-step-config .slide .line {
        height: 2px !important;
        /*background-color: #4E4E4E !important;*/
    }

.form-step-config [type=checkbox] {
    float: right;
    transform: translateY(50%);
}

.step-config .btn-save-properties {
    bottom: 5px;
    border-radius: 3px;
    transition: 0.1s ease-in;
    float: right;
}

.step-config-content .file-upload-content .icon {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in;
    transform: translateY(-100%);
    border-radius: 4px;
    opacity: 0;
}

.step-config-content .file-upload-content:hover .icon {
    transform: translateY(-100%);
    opacity: 1;
}

.step-config-content .file-upload-content .icon i {
    line-height: 6rem;
}

.step-config-content .file-upload-content {
    height: 100px;
    overflow: hidden;
    width: 100px;
    border-radius: 4px;
}

.step-info-content-3d .image-file.file-upload-content {
    height: 100%;
    overflow: hidden;
    background: #00559A0C;
}

.step-config-content #img-icon-2d {
    margin-top: 2px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

/********/

.image-file.file-upload-content img#imgUpload {
    width: 100%;
}

.step-config .image-file.file-upload-content {
    position: relative;
}

    .step-config .image-file.file-upload-content img {
        width: 100px;
        height: 100px;
    }

.step-config .file-upload-content .icon {
    position: absolute;
    top: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in;
    text-align: center;
    border-radius: 4px;
}

.file-upload-content .icon {
    position: relative;
    width: 40%;
    height: 110px;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in;
}

    .file-upload-content .icon i {
        font-size: 25px;
        width: 100%;
        cursor: pointer;
        line-height: 40px;
        color: #FFF;
    }

.file-upload-content:hover .icon {
    transform: translateY(-40px);
}
/*step info*/
.section.section-info .group-info {
    padding: 11px;
}

.section.section-info .content-info-detail {
    padding-top: 0;
}

    .section.section-info .content-info-detail .head-content {
        padding: 0px 13px 8px 2px;
    }

.section.section-info .content-info-basic {
    padding-bottom: 0;
}


.form-common-infor label {
    padding: 0;
}

.section.section-info .Title-info, .section.section-info .Content-info {
    text-align: right;
    float: right;
}

/*step-action*/
.btn-action-info-w50 {
    width: 50%;
    padding: 5px;
    border-radius: 3px;
    transition: 0.1s ease-in;
    height: 48px;
}

/*step extend*/
.step-extend-content {
    padding: 10px;
}

    .step-extend-content .nav-tabs .nav-item .nav-link {
        padding: 0;
        text-align: center;
        background: unset;
        justify-content: center;
        font-size: 14px;
    }

    .step-extend-content .nav-tabs .nav-item {
        padding: 0;
    }

.step-extend .step-extend-content .image-upload-wrap {
    padding: 16px 10px;
}

.step-extend button {
    height: 48px;
}

.step-extend .step-extend-content .drag-text h3 {
    font-weight: 200;
    color: #3c8dbc;
    padding: 0;
    margin-bottom: 15px;
    font-size: 14px;
}


.step-extend .table .thead-dark th {
    vertical-align: middle;
    color: #081449;
    background-color: #0084E90F;
    border: 1px solid #E5E5E5 !important;
}

.step-extend .table .thead-dark td {
    vertical-align: middle;
    border: 1px solid #E5E5E5 !important;
}

#save-extend-info {
    float: right;
    border-radius: 3px;
}

/*//svg*/
li.li-modal-data-right path.a {
    fill: #FFF;
}

li.li-modal-data-right path.b {
    fill: #000000dd;
}

li.li-modal-data-right.active path.b, li.li-modal-data-right:hover path.b, li.li-modal-data-right.active text.a, li.li-modal-data-right:hover text.a {
    fill: var(--primary);
}

.step-info-content,
.step-config-content,
.step-info-content-config,
.step-action-active,
.step-info-content-3d,
.step-extend-content,
.step-info-content-2d {
    border: 1px solid #E5E5E5;
    /*height: 90%;*/
    height: calc(100% - 65px);
    overflow-y: auto;
    color: #000;
    border-radius: 4px;
}

.step-config-content {
    padding: 10px;
}

/*    .step-info-content-2d, .step-document-content {
        border: 1px solid #ddd;
        height: 100%;
        overflow-y: auto;
    }*/

.step-info-content-2d {
    overflow-y: hidden;
}

.step-info-content-2d,
.step-info-content-3d,
.step-config-content,
.step-extend-content,
.step-document-content,
.step-action-active {
    padding: 11px;
}

.section.section-info.step-2D,
.section.section-info.step-3D,
.section.section-info.step-config {
    padding: 0px;
}

.section-info .head-content {
    margin: 0;
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 13px 10px 2px;
    margin-bottom: 15px;
}

.step-2D .head-content,
.step-extend .head-content {
    margin-bottom: 0;
}

.section-info .head-content h4 {
    font-size: 16px;
    font-weight: 600 !important;
    color: #000000DE;
}

.step-document .btn-action-info {
    padding: 2px;
}

.Title-info, .Content-info {
    width: 100%;
}

.step-info-content {
    width: 100%;
    overflow-x: auto;
}

/*------------------------------------------*/

div.input-block {
    position: relative;
}

    div.input-block input {
        font-size: 1.6rem;
        color: #495055;
        width: 350px;
        padding: 15px 15px;
        border-radius: 1rem;
        border: 2px solid #D9D9D9;
        outline: none;
    }

    div.input-block span.placeholder {
        position: absolute;
        margin: 17px 0;
        padding: 0 4px;
        color: #6c757d;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        top: 0;
        left: 10px;
        transition: all 0.2s;
        transform-origin: 0% 0%;
        background: none;
        pointer-events: none;
    }

    div.input-block input:valid + span.placeholder,
    div.input-block input:focus + span.placeholder {
        transform: scale(0.8) translateY(-30px);
        background: #fff;
    }

    div.input-block input:focus {
        color: #284B63;
        border-color: #284B63;
    }

        div.input-block input:focus + span.placeholder {
            color: #284B63;
        }

/*----------------------------------------------------------*/

input:not([type=checkbox]):not([type=radio]):focus + span.placeholder, select:focus + span.placeholder {
    transform: scale(0.8) translateY(-15px);
    background: #fff;
}


input:not([type=checkbox]):not([type=radio]):focus {
    color: #284B63;
    border-color: #284B63;
}

    input:not([type=checkbox]):not([type=radio]):focus + span.placeholder {
        color: #284B63;
    }

.content-3d-json {
    display: none;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*---------step active-------------*/
.table-activity {
    width: 100%;
}

#InforData .step-action .table-activity tbody tr td {
    vertical-align: middle;
    word-break: break-word;
    text-align: left;
    border: 1px solid #E5E5E5;
    height: 50px;
}

    #InforData .step-action .table-activity tbody tr td:first-child {
        text-align: center;
    }

#InforData .step-action .table-activity thead tr th {
    text-align: left;
    vertical-align: middle;
    background: #0084E90F;
    border: 1px solid #E5E5E5;
    height: 43px;
}

    #InforData .step-action .table-activity thead tr th:first-child {
        text-align: center;
    }

#InforData .step-action .table-activity tbody tr td:nth-child(2) {
    text-align: left;
    overflow: hidden;
    width: 110px;
    max-width: 115px;
    text-overflow: ellipsis;
}

.columms-10 {
    width: 10%;
}

.columms-40 {
    width: 40%;
}

.step-action .head-content {
    display: flex;
}

    .step-action .head-content h4 {
        width: 80%;
        text-align: left;
    }

    .step-action .head-content #btn-create-activity-detail {
        width: 20%;
        text-align: right;
        cursor: pointer;
    }

.trumbowyg-fullscreen .trumbowyg-editor, .trumbowyg-fullscreen.trumbowyg-box {
    padding-top: 60px;
}

.strokeColor-main-object {
    width: 0px;
    height: 0px !important;
    position: absolute;
    right: 25px;
    top: 15px;
    z-index: 0;
    position: absolute;
}

/*.file-upload-input:hover #save-image,
.image-upload-wrap:hover #save-image,
.file-upload:hover #save-image {
    color: #fff;
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}
*/
.choosen-image-btn {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    height: 48px;
    padding-top: 11px;
}

.file-upload .file-upload-content {
    margin-top: 70px;
}

/*#save-image:hover {
    color: #fff;
    background-color: var(--success-hover);
    border-color: var(--success-hover);
}*/
