﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.HTKT.Web.Menus
@using Volo.Abp.Settings
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Authorization
@using IoT.HTKT.Permissions
@model IoT.HTKT.Web.Pages.HTKT.ManagementData.MapDataModel
@inject IStringLocalizer<HTKTResource> L
@inject IConfiguration config
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Menu:ManagementLayer"].Value;
    PageLayout.Content.MenuItemName = HTKTMenus.ManagementLayer;
    ViewBag.Title = L["Menu:ManagementLayer"].Value;
}

@section styles {

    <link rel="stylesheet" href="~/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/libs/bootstrap-trumbowyg/trumbowyg.min.css">

    <link rel="stylesheet" href="~/libs/common/info-marker.css">
    <link rel="stylesheet" href="~/libs/common/custom-design.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementData/data-infomation.css">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementData/mapdata.css">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementData/modal_create_folder_layer.css">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementData/loader-left-menu.css">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementData/managementdata.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/libs/common/css/mapcontrol.css">


}

<div class="div-content card">
    <partial name="_ModalButtonCreate.cshtml" />
    <partial name="_ModalUploadMultipleFile.cshtml" />
    <div class="left-tree">
        <partial name="_ModalLeftInformation.cshtml" />
    </div>
    <div class="map-view">
        <div class="menuMap">
            <a href="javascript:;" class="notFocus take-picture list-object-content-brand" id="hideTree" data-toggle="tooltip" data-placement="bottom" data-original-title="@L["ManagementLayer:ClosePanel"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" style="cursor: pointer;">
                    <defs></defs>
                    <g transform="translate(1988 32)">
                        <g transform="translate(-1988 -32)">
                            <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                            <path style="fill: var(--primary)" class="b" d="M7.828,11H30v2H7.828l5.364,5.364-1.414,1.414L4,12l7.778-7.778,1.414,1.414Z"></path>
                        </g>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -28)"></rect>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -14)"></rect>
                    </g>
                </svg>
            </a>
            <div class="right-line-horizel"></div>

            @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.ManagementDataView.Create))
                {*@
            <a href="javascript:;" class="focus take-picture list-object-content-brand newgeojson" data-toggle="tooltip" data-type="1" data-placement="bottom" title="@L["ManagementLayer:CreateNewObject"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM11,11V8h2v3h3v2H13v3H11V13H8V11Z" />
                </svg>
            </a>

            <div class="right-line-horizel" id="right-line-add-new-object"></div>
            @*}*@

            @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.ManagementDataView.Edit))
                {*@
            <a href="javascript:;" class="focus take-picture list-object-content-brand editgeojson" data-toggle="tooltip" data-type="2" data-placement="bottom" title="@L["ManagementLayer:EditData"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M16.757,3l-2,2H5V19H19V9.243l2-2V20a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V4A1,1,0,0,1,4,3Zm3.728-.9L21.9,3.516l-9.192,9.192-1.412,0,0-1.417Z" />
                </svg>
            </a>
            <div class="right-line-horizel" id="right-line-edit-object"></div>
            @*}

                @if (await Authorization.IsGrantedAsync(HTKTPermissions.ManagementDataView.Create) || await Authorization.IsGrantedAsync(HTKTPermissions.ManagementDataView.Edit))
                {*@
            <a href="javascript:;" class="focus take-picture list-object-content-brand deletegeojson" data-toggle="tooltip" data-type="3" data-placement="bottom" title="@L["ManagementLayer:DeleteObject"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M20,7V21a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V7H2V5H22V7ZM6,7V20H18V7ZM7,2H17V4H7Zm4,8h2v7H11Z" />
                </svg>
            </a>
            <div class="right-line-horizel" id="right-line-delete-object"></div>
            @*}*@
            <a href="javascript:;" class="focus take-picture list-object-content-brand open-table" data-toggle="tooltip" data-type="4" data-placement="bottom" title="@L["ManagementLayer:ListObjectQRCode"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M11,4H21V6H11Zm0,4h6v2H11Zm0,6H21v2H11Zm0,4h6v2H11ZM3,4H9v6H3ZM5,6V8H7V6ZM3,14H9v6H3Zm2,2v2H7V16Z" />
                </svg>
            </a>
            <div class="right-line-horizel" id="right-line-list-object"></div>

            <a href="javascript:;" id="upload-multi" class="focus take-picture list-object-content-brand upload-File-Multi-Object" data-type="5" data-toggle="tooltip" data-placement="bottom" title="@L["ManagementLayer:UploadFileMultiObject"].Value">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                    <path class="b" style="fill: rgba(0,0,0,0.56);" d="M15,4H5V20H19V8H15ZM3,2.992A1,1,0,0,1,4,2H16l5,5V20.993A1,1,0,0,1,20.007,22H3.993A1,1,0,0,1,3,21.008ZM13,12v4H11V12H8l4-4,4,4Z" />
                </svg>
            </a>
            <div class="right-line-horizel" id="right-line-upload-mutiple-file"></div>

            <a href="javascript:;" class="list-object-content-brand close-draw" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Hủy thao tác">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                    </defs>
                    <path class="a" d="M0,0H24V24H0Z" style="fill:none;"></path>
                    <path class="b" style="fill:rgba(0,0,0,0.56);" d="M12,22A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Zm0-9.414,2.828-2.829,1.415,1.415L13.414,12l2.829,2.828-1.415,1.415L12,13.414,9.172,16.243,7.757,14.828,10.586,12,7.757,9.172,9.172,7.757Z"></path>
                </svg>
            </a>
            <a href="javascript:;" class="list-object-content-brand endgeojson" style="display: none!important;" data-toggle="tooltip" data-placement="bottom">
                <div class="content-icon-menu">
                    Xong
                </div>
            </a>
            <a href="javascript:;" class="list-object-content-brand cancelgeojson" style="display: none!important;" data-toggle="tooltip" data-placement="bottom">
                <div class="content-icon-menu">
                    Hủy
                </div>
            </a>
            <a href="javascript:;" class="change-tile-map list-object-content-brand" data-toggle="tooltip" data-placement="bottom" title="@L["ManagementLayer:Default"].Value">
                <div class="content-icon-menu text-brand">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <defs>
                        </defs>
                        <path class="a" d="M0,0H24V24H0Z" style="fill:none;" />
                        <path class="b fill-color-svg" d="M2,5,9,2l6,3,6.3-2.7a.5.5,0,0,1,.7.46V19l-7,3L9,19,2.7,21.7a.5.5,0,0,1-.7-.46ZM16,19.4l4-1.714V5.033L16,6.747Zm-2-.131V6.736l-4-2V17.264ZM8,17.253V4.605L4,6.319V18.967l4-1.714Z" />
                    </svg>
                    <span>@L["LayerBaseMap"].Value</span>
                </div>
            </a>
        </div>
        <div id="map4d">
            <partial name="_ModalGeojson.cshtml" />
            <partial name="_ModalLayer.cshtml" />
            <partial name="_ModalDataInformation.cshtml" />
            <partial name="_ModalDataEdit.cshtml" />
            <partial name="_ModalCreateFolderLayer.cshtml" />
            <partial name="_ModalImportPropertiesExcel.cshtml" />
            <partial name="_ModelImportMapData.cshtml" />
            <partial name="_ModalMapPropertiesGeojson.cshtml" />
            <partial name="_ModalNewPropertiesGeojson.cshtml" />

        </div>
    </div>
</div>
<div id="loading-map" class="loading-map" style="display: none;">
    <img src="~/common/loading.gif">
</div>

<partial name="_ModalListObject.cshtml" />
<partial name="_ModalUploadFile.cshtml" />
<partial name="_ModalCreateActivityDetail.cshtml" />
<partial name="_ModalInforActivityDetail.cshtml" />
<partial name="_ModelLink.cshtml" />
<partial name="_ModelFileUploadInfor.cshtml" />
<partial name="_ModelViewImage.cshtml" />

<partial name="_ModalUploadFileMultiObject.cshtml" />

<partial name="_ModalListLayerBaseMap.cshtml" />


@section scripts{
    <script src="//api.map4d.vn/sdk/map/js?key=b77745a2eb604d0989e2b5648d0019b2&callback=callback&version=1.5.3" type="text/javascript"></script>
    <script>
        var lat =@config.GetSection("SettingMap:QTSC.Map.Lat").Value;
        var lng = @config.GetSection("SettingMap:QTSC.Map.Lng").Value;
        var zoom = @config.GetSection("SettingMap:QTSC.Map.Zoom").Value;
        var bounds = @config.GetSection("SettingMap:QTSC.Map.Bounds").Value;
        var key = '@config.GetSection("SettingMap:QTSC.AccessKey").Value';
    </script>
    <script src="~/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/libs/WKT/terraformer.min.js"></script>
    <script src="~/libs/WKT/terraformer-wkt-parser.min.js"></script>
    <script src="~/libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/libs/bootstrap-trumbowyg/trumbowyg.min.js"></script>
    <script src="~/libs/common/js/MapControl.js"></script>
    <script src="~/libs/common/jsCheckInput.js"></script>
    <script src="~/libs/turfjs/turf.min.js"></script>
    @*<script src="~/libs/qrcode/qrcode2.js"></script>*@
    <script src="~/libs/qrcode/qrcode.js"></script>
    <script src="~/libs/XLSX/xlsx.full.min.js"></script>
    <script src="~/libs/XLSX/jszip.js"></script>

    <environment include="Development">
        <script src="~/Pages/HTKT/ManagementLayer/index.js"></script>
        @*<script src="~/Pages/HTKT/ManagementData/MapDataNew.js"></script>*@
        <script src="~/Pages/HTKT/ManagementData/MapData.js"></script>
        <script src="~/Pages/HTKT/ManagementData/list-object-table.js"></script>
        <script src="~/Pages/HTKT/ManagementData/Model3D.js"></script>
        <script src="~/Pages/HTKT/ManagementData/ImportMapData.js"></script>
        <script src="~/Pages/HTKT/ManagementData/DocumentObject.js"></script>
        <script src="~/Pages/HTKT/ManagementData/UploadFileMultiObject.js"></script>
        <script src="~/Pages/HTKT/ManagementData/ModalEditForm.js"></script>
        <script src="~/Pages/HTKT/ManagementData/Map2D.js"></script>
        <script src="~/Pages/HTKT/ManagementData/MenuLeft.js"></script>
        <script src="~/Pages/HTKT/ManagementData/activity.js"></script>
        <script src="~/Pages/HTKT/ManagementData/modal_create_folder_layer.js"></script>
        <script src="~/Pages/HTKT/ManagementData/config_main_object.js"></script>
        <script src="~/Pages/HTKT/ManagementData/info_properties_main_object.js"></script>
        <script src="~/Pages/HTKT/ManagementData/MapDataTreeView.js"></script>
        @*<script src="~/libs/select2/js/i18n/vi.js"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="~/pages/htkt/managementdata/managementdata.min.js" asp-append-version="true"></script>
    </environment>


    <script>
        var lstLayerPermission= JSON.parse('@Html.Raw(Json.Serialize(Model.ListLayer))');
        var isAdmin = '@Model.IsAdmin';
        var totalCountByIdDirectory = Number("@Model.TotalCountById".replace(",", "."));
        var totalMain = "@Model.TotalMain";
        var l = abp.localization.getResource('HTKT');
        var maxValueRequest = "@config.GetSection("SettingApp:MaxRequest").Value";
        mapdata.ShowButton();
        $(function ()
        {
            map = new map4d.Map(document.getElementById("map4d"),
                {
                    center: [lng, lat],
                    zoom: zoom,
                    geolocate: true,
                    controls: true,
                    tilt: 0,
                    controlOptions: map4d.ControlOptions.BOTTOM_RIGHT,
                    accessKey: key,
                    shouldChangeMapMode: function () {
                        return false
                    }
                }
            )
            map.setPOIsEnabled(false);
            map.setWaterEffect(true);
            mapdata.GLOBAL.idDirectory = "@ViewData["id"]";
            MapControl.init();
            mapdata.init();
            model3D.init();
            importmapdata.init();
            informap2d.init();
            menuLeft.int();
            documentObject.init();
            DSObject.init();
            UploadFileMultiObject.init();
            editform.init();

            Config_Main_Object.init();
            Info_Properties_Main_Object.init();
            mapdataTreeView.init();
            mapdataTreeView.GLOBAL.defaultConfig.zoom = zoom;
            mapdataTreeView.GLOBAL.defaultConfig.lat = lat;
            mapdataTreeView.GLOBAL.defaultConfig.lng = lng;
            //$(DSObject.SELECTORS.btn_open_table).on('click', function () {
            //    if (!DSObject.GLOBAL.checkLoadInt) {
            //        DSObject.GLOBAL.checkLoadInt = true;
            //        setTimeout(function () {
            //            $(DSObject.SELECTORS.table_content).addClass('open');
            //        }, 250);

            //    }
            //})

            //$(document).bind("ajaxSend", function () {
            //    $('button').prop('disabled', true);
            //}).bind("ajaxComplete", function () {

            //    $('button').prop('disabled', false);
            //});
        });

        function auto_risze_textarea(element) {
            element.css("height", 50);
            var top = element.prop("scrollHeight");
            var height = 5;

            if (top > 0) {
                element.css("height", top + height)
            }
            //element.style.height = "5px";
            //element.style.height = (element.scrollHeight) + "px";
        }

    </script>
}
