﻿body.lp-topmenu {
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}

.modal-open .modal {
    overflow-y: hidden;
}

#myModalLinkCamera .modal-dialog,
#myModalFileUpload .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.wrapper {
    overflow-y: hidden;
}

.loading-map {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
}

    .loading-map > img {
        width: 80px;
        margin-top: 20%;
    }

#map, #map4d {
    width: 100%;
    height: calc(100vh - 150px);
    position: relative;
    overflow: hidden;
}

.menuMap {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    background: #E5E5E51A 0% 0% no-repeat padding-box;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    z-index: 2;
}

    .menuMap a {
        text-decoration: none;
        height: 60px;
        width: 65px;
        line-height: 2.5;
        text-align: center;
        cursor: pointer;
        display: inline-flex !important;
        align-items: center;
        color: #000;
    }

        .menuMap a img,
        .menuMap a svg {
            display: block;
            margin: 0 auto;
        }

    .menuMap .right-line-horizel {
        width: 1px;
        background: #E5E5E5 0% 0% no-repeat padding-box;
        height: 42px;
    }

.content-icon-menu {
    width: 100%;
    height: 100%;
    border-right: 1px solid #ddd;
}

.change-tile-map {
    position: unset !important;
    top: 5px;
    left: 5px;
    z-index: 100;
    width: 160px !important;
    height: 70px;
    margin-left: auto;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    border-right: none !important;
}

    .change-tile-map .content-icon-menu {
        border-radius: 24px;
        background: var(--forcus);
        height: 48px;
        border: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.menuMap .change-tile-map .content-icon-menu svg {
    display: unset;
    margin: unset;
}

.menuMap .change-tile-map .content-icon-menu span {
    margin-left: 5px;
}

.div-content.active .left-tree {
    width: 0px !important;
}

.div-content.active .map-view {
    width: 100% !important;
}

/*.div-content.active .menuMap #hideTree img {
    transform: rotateY(180deg);
}*/

.newgeojson, .editgeojson, .deletegeojson, .findgeojson, .cancelgeojson,
.endgeojson, .editproperties, .class-1, .class-2 {
    margin: 0px 2px;
}

.findgeojson {
    width: 100%;
}

.menuMap li {
    margin-left: 5px;
}

.imagecommon {
    width: 16px;
}

.newgeojson > ul > li:hover {
    background-color: #e1e3e9;
    color: #333;
}

span.select2-selection.select2-selection--single {
    border-radius: 0;
    border-color: rgb(210, 214, 222);
    height: 32px;
    font-size: 14px !important;
    line-height: 1.5;
    padding: 3px 12px;
    border-radius: 4px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 0 !important;
    line-height: 1.85;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: 10px;
}


.list-result {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 60.4%;
    transform: translate(2px, 1px);
    list-style: none;
    padding: 5px 0px;
}

section.content {
    padding: 5px 14px;
    background: #FCFCFC;
}

.btn-action, .btn-action-right {
    outline: none !important;
}

.btn-action {
    background-color: #fff;
    color: #707070 !important;
    border: solid 1px #707070 !important;
    border-radius: 3px !important;
    width: 110px;
    margin-right: 9px;
    text-align: left;
    padding-left: 13px;
}

.btn-action-right {
    background-color: #fff;
    border: solid 1px #707070 !important;
    border-radius: 3px !important;
    padding: 6px;
    margin-left: 5px;
}

.form-control#timKiem {
    margin: 0px;
    width: 100%;
    height: 48px;
    padding: 13px 9px;
    border: 1px solid var(--primary);
    border-radius: 4px 0px 0px 4px;
}

.list-result .item-result {
    padding: 5px 10px;
}

    .list-result .item-result:hover {
        background: #f6f6f6;
    }



@media only screen and (max-width: 1279px) {
    .span-text {
        /*display: none;*/
    }

    @media only screen and (max-width: 600px) {
        .div_inputsearch {
            width: auto !important;
        }


        .k-button-group {
            margin-bottom: 5rem;
        }
        /*
            .menuMap {
                margin-top: 10px;
            }*/
    }
}

.content {
    padding: 0;
    margin: 0;
}

.required:after {
    content: " *";
    color: red;
}



.loading-map {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
}

.toggle-detail-property2 {
    position: absolute;
    z-index: 111;
    /* left: -40px; */
    height: 40px;
    width: 40px;
    /* background-color: #fff; */
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    /* box-shadow: 0px 0px 4px #111; */
    /* border-left: 1px solid #5f5757; */
    /* border-bottom: 1px solid #5f5757; */
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 12px;
}

    .toggle-detail-property2 > span {
        font-size: 20px;
    }

.detail-property-new {
    position: absolute;
    z-index: 105;
    left: -60%;
    top: 5px;
    height: calc(100% - 5px);
    background-color: #fff;
    width: 372px;
    transition: all 0.4s ease;
}

    .detail-property-new.active {
        left: 5px;
    }

.detail-property1 {
    display: block;
    position: absolute;
    z-index: 104;
    left: -50%;
    height: 100%;
    background-color: #fff;
    width: 372px;
    box-shadow: 0px 0px 6px #00000029;
    transition: all 0.4s ease;
    margin: 3px;
}

    .detail-property1.active {
        left: 0px;
    }

.detail-property2 {
    z-index: 1;
    width: 310px !important;
    /*box-shadow: 0px 0px 2px #00000029 !important;*/
    border-radius: 3px !important;
    /*margin-right: -18px;*/
}

.detail-property1 .toggle-detail-property2, .phanTop .toggle-detail-property2 {
    float: right;
    position: initial;
}

.detail-property-header {
    line-height: 30px;
    padding: 10px 23px;
    text-align: left;
    width: 100%;
    font-weight: 600;
    border-bottom: solid 1px #EEE;
    color: var(--unnamed-color-000000dd);
}


    .detail-property-header span {
        font-size: 16px;
    }

#InforDataLeft {
    overflow: hidden;
}

    #InforDataLeft .detail-property-body {
        display: block;
        width: 100%;
        overflow: hidden;
    }

#EditForm .detail-property-body {
    display: flex;
    width: 100%;
    position: relative;
    background-color: #FFF;
    padding: 15px 11px;
}

.detail-property-content2 li.treeview {
    transition: 0.1s ease-in;
}


    .detail-property-content2 li.treeview a {
        padding: 12px 4px !important;
        font-size: 14px;
        color: inherit;
    }



.tool-map-button.group-hop-thua {
    /*width: 100px;*/
    display: flex;
}

.tool-map-button {
    margin-bottom: 5px;
}

    .tool-map-button.group-hop-thua button {
        /*width: 100%;*/
        margin: 3px;
        height: 48px;
        border-radius: 3px;
    }

.detail-property-content2 {
    display: block;
}

.section.section-info {
    padding: 0px;
    box-shadow: none;
    background: #FFFFFF;
    height: 100%;
}

.nav > li > a {
    font-weight: 700;
    cursor: default;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.form-common-infor {
    margin-bottom: 3px;
}

    .form-common-infor .col-md-6 {
        float: left;
    }

.show {
    display: block !important;
    opacity: 1;
}

.select2-container {
    width: 100% !important;
}

.table-object .select2-container {
    width: 45% !important;
}

.li-tab {
    color: #495057;
}

*::-webkit-scrollbar {
    display: unset;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: unset; /* IE and Edge */
    scrollbar-width: unset; /* Firefox */
}

.change-tile-map {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 100;
    width: 70px;
    height: 70px;
}

    .change-tile-map .parent-tile-map {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        background: #FFF;
        border-radius: 5px;
    }

.item-map {
    width: 100%;
    height: 80px;
    top: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    margin: 10px;
    background: #ddd;
    cursor: pointer;
}

.parent-tile-map label {
    width: 100%;
    /*height: 100%;*/
    color: #FFF;
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    text-align: center;
    background: linear-gradient(#dedede1f, #4a5e42);
    margin: 0px;
    border-bottom-left-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px;
    display: inherit;
    border-bottom-right-radius: 5px;
}

.item-map label {
    width: 100%;
    /*height: 100%;*/
    color: #FFF;
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    text-align: center;
    background: linear-gradient(#dedede1f, #4a5e42);
    margin: 0px;
    border-bottom-left-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px;
    display: inherit;
    border-bottom-right-radius: 5px;
}

li.treeview.menu-open .MenuLeftId {
    font-weight: 700;
}

.div-color-right {
    position: relative;
}
/********************************************/
.div-file:hover {
    background-color: #65baf399;
}

.file-active {
    background-color: #45a5e6;
}

/********************************************/
.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.left-tree {
    /*width: 24.5%;*/
    height: 100%;
    position: relative;
    margin-bottom: 0;
    transition: all 0.7s ease;
    width: 310px;
    box-shadow: 0px 6px 6px #00000029;
}

/********************************************/
.map-view {
    width: 100%;
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 6px 6px #00000029;
    z-index: 3;
}


.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block;
}

.carousel-inner > .item {
    position: relative;
    display: none;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    /*text-shadow: 0px 1px 2px rgb(0 0 0 / 60%);*/
    text-shadow: 0px 1px 2px #00000099;
    /*background-color: rgba(0,0,0,0);*/
    background-color: #00000000;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-control.right {
        right: 0;
        left: auto !important;
    }

/********************************************/
.object-create-content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    padding: 16px;
}

.div-create {
    width: 100%;
    height: 75px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
    border-radius: 4px;
    opacity: 1;
    margin: 5px auto;
}

#modalCreateNew {
    /*position: absolute;*/
    z-index: 0;
    height: calc(100vh - 130px);
    background: #FFFFFF;
    transition: all 0.7s ease;
}

#modalUploadMulti {
    /*position: absolute;*/
    z-index: 2;
    height: calc(100vh - 90px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    transition: all 0.7s ease;
}

#modalCreateNew > .div-child {
    width: 0px;
    opacity: 0;
    transition: all 0.7s ease;
    height: calc(100vh - 10rem);
}

#modalCreateNew.activeView > .div-child {
    width: 310px;
    opacity: 1;
}

#modalUploadMulti > .div-child {
    width: 0px;
    opacity: 0;
    transition: all 0.7s ease;
}

#modalUploadMulti.activeView > .div-child {
    width: 310px;
    opacity: 1;
}

.header-CreateNew {
    letter-spacing: 0px;
    color: #000000DD;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-weight: 600;
}

.button-active {
    background: #fdc4b8 0% 0% no-repeat padding-box;
}

.item-FilePlace .b {
    color: #0000008E;
    fill: #0000008E;
}

.item-FilePlace.activefile .b, .item-FilePlace.activefile label {
    color: var(--primary);
    fill: var(--primary);
}

.item-FilePlace .a {
    fill: none;
}

.search-newfile span {
    text-align: left;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    background: #ddd;
}

/********************************************/

#search-Menu-Left {
    width: 100%;
    height: 48px;
    padding: 0 9px;
    font-size: 14px;
    border: 1px solid var(--primary);
    border-radius: 4px 0px 0px 4px;
}

.conten-search {
    padding: 6px 16px 6px 16px;
}

    .conten-search .div-icon {
        width: 20%;
        float: left;
        text-align: center;
        height: 48px;
        background: var(--primary);
        border-radius: 0px 4px 4px 0px;
    }

        .conten-search .div-icon svg {
            margin: 12px 12px;
        }

.group-button-create-object {
    padding: 16px;
    padding-top: 0;
}

    .group-button-create-object button {
        text-align: center;
        margin: 3px;
        border: #707070 solid 1px;
        border-radius: 3px;
        padding: 8px 2px;
        transition: 0.1s ease-in;
        margin-top: 1px;
        margin-bottom: 1px;
        height: 48px;
    }

#choosenFile .title-file {
    width: 100%;
    align-self: center;
}

#choosenFile .file_obj_wrap label {
    padding: 11.5px;
}

#choosenFile .file_obj_wrap {
    width: 100%;
    text-align: right;
}

#choosenFile .file-upload-content {
    padding: 13.5px;
    background: #00559A0D;
    margin-top: 14px;
    border-radius: 4px;
}

    #choosenFile .file-upload-content .icon-file-obj {
        width: 20%;
        text-align: start;
    }

        #choosenFile .file-upload-content .icon-file-obj img {
            width: 20px;
        }

    #choosenFile .file-upload-content .name-file-obj {
        width: 60%;
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #choosenFile .file-upload-content .action-file-obj {
        width: 20%;
        text-align: end;
        cursor: pointer;
    }


#myModalFileUpload button, #myModalLinkCamera button {
    height: 48px;
    width: 80px;
}

.step-3D .table > tbody > tr > td,
.step-3D .table > tbody > tr > th,
.step-3D .table > tfoot > tr > td,
.step-3D .table > tfoot > tr > th,
.step-3D .table > thead > tr > td,
.step-3D .table > thead > tr > th {
    border: none;
    vertical-align: middle;
    text-align: center;
}

.step-info-content-3d .content-3d-json {
    border: none;
    box-shadow: 0px 0px 6px #0000000d;
    padding: 0;
}

.step-3D .table > input {
    border: none;
}

.step-3D .table thead, .step-3D .table tbody {
    display: contents;
    width: 100%;
}

.step-3D table input {
    border: none;
    width: 100%;
}

    .step-3D table input:focus {
        border: none;
    }

.section.section-info.step-config .checkbox:checked:before {
    background-color: green;
}

textarea::-webkit-scrollbar {
    display: block !important;
}

/******modal geojson*/
.body-geojson-modal {
    padding: 16px;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.model-geojson .drag-text {
    padding: 16px 0;
    padding-bottom: 0;
}

    .model-geojson .drag-text h4 {
        padding: 0;
        margin-bottom: 1rem;
        color: #00559A;
        font-size: 14px;
        font-weight: 400;
    }

.model-geojson .geojson-wkt {
    height: 139px;
}

.model-geojson .drag-text button {
    height: 48px;
}

.model-geojson .group-info {
    padding: 0px 16px 0px 16px;
}

    .model-geojson .group-info button {
        height: 48px;
    }

.model-geojson .image-upload-wrap {
    background: #0084E90F;
}

.model-geojson .file-geojon-content {
    height: 48px;
    background: #00559A0D;
    align-content: center;
    padding: 10px;
}

/*-----------------------form input import file geojson----------------------------*/

#model-properties-import .title-li-tab .nav-tabs {
    box-shadow: 0px 3px 4px #0000000D;
}

    #model-properties-import .title-li-tab .nav-tabs .nav-item {
        width: 100%;
        background: #FFF;
    }

        #model-properties-import .title-li-tab .nav-tabs .nav-item .nav-link {
            padding: .813rem 1.5rem;
        }

            #model-properties-import .title-li-tab .nav-tabs .nav-item .nav-link.active {
                color: #ffffff;
                background: var(--primary);
            }

#model-properties-import .detail-property-body {
    height: calc(100% - 245px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 16px 0px 16px;
}

.group-button-import-object button {
    width: 100%;
    height: 48px;
    margin: 5px;
}

#model-properties-import .custom-checkbox .custom-control-label::before {
    border-radius: 0 !important;
}

/*#model-properties-import .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
#model-properties-import .custom-control-input:checked ~ .custom-control-label::before {
    border-radius: 0 !important;
}*/

/*#toast-container.toast-bottom-right {
    bottom: 8px;
    right: 42.1%;
}

#toast-container .toast.toast-success {
    border-color: #1cbc10;
}*/

/*-----------------------GeoJsonMapProperties------------------------------*/

.model-map-properties-geojson select::-ms-expand {
    margin-right: 10px;
}

.model-map-properties-geojson .body-model-map-properties-geojson {
    height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 16px 0px 16px;
}

.model-map-properties-geojson .group-info {
    padding: 16px;
}

#toast-container .toast.toast-success:before {
    content: "\f00c";
    color: #1cbc10;
}

.focus.disabled {
    cursor: no-drop;
    opacity: 0.3;
    background: none;
    pointer-events: auto;
}

.model-map-properties-geojson .group-info button {
    height: 48px;
}

/*----------------------GeojsonNewProperties---------------------------*/
.model-new-properties-geojson .body-AddAttributeWithGeojsonData {
    height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 16px 0px 16px;
}

.model-new-properties-geojson .group-info {
    padding: 16px 16px 0px 16px;
}

    .model-new-properties-geojson .group-info button {
        height: 48px;
    }

.model-new-properties-geojson .custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

/*----------------GeoJson Excel-------------------*/
.model-import-properties-execl .body-model-import-properties-execl {
    height: calc(100% - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px 16px 0px 16px;
}

.model-import-properties-execl .group-info {
    padding: 0px 16px 0px 16px;
}

    .model-import-properties-execl .group-info button {
        height: 48px;
    }

.search-newfile-edit {
    margin-top: 10px;
}

.model-import-properties-execl .file-upload {
    /*border: 1px dashed #00559A;*/
    border-radius: 6px;
}

.image-upload-wrap {
    border-radius: 6px;
}

.model-import-properties-execl .image-upload-wrap .drag-text {
    padding: 25px;
}

    .model-import-properties-execl .image-upload-wrap .drag-text button {
        margin-top: 15px;
        height: 48px;
    }

    .model-import-properties-execl .image-upload-wrap .drag-text h4 {
        color: #00559A;
    }

.file-excel-content {
    height: 51px;
    background: #00559A0D;
    align-content: center;
    padding: 10px;
}

.icon-file-obj {
    width: 20%;
    text-align: start;
}

.name-file-obj {
    width: 60%;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.action-file-obj {
    width: 20%;
    text-align: end;
    cursor: pointer;
}

.notFocus.disabled {
    cursor: no-drop;
    opacity: 0.3;
    background: none;
    pointer-events: auto;
}

.div-content.active-rotate .menuMap #hideTree img {
    transform: rotateY( 180deg );
}

#choose-file-button .lable-error {
    display: inherit;
}
/*.upload-create-content {*
    /*display: flex;*/
/*text-align: center;
    flex-wrap: wrap;*/
/*max-height: calc(100% - 50px);*/
/*overflow-y: auto;*/
/*}*/
.model-map-properties-geojson .group-info button {
    height: 48px;
}

.form-group-modal {
    margin-bottom: 14px;
}


/*custom sweetlert*/
.swal-overlay--show-modal .swal-modal {
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #FFF;
    transition: unset;
}

.swal-modal .swal-icon {
    display: none;
}

.swal-modal .swal-title {
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #FFF;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

            .swal-modal .swal-footer .swal-button-container .swal-button--cancel:hover {
                background: var(--danger-hover) !important;
            }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }

            .swal-modal .swal-footer .swal-button-container .swal-button--confirm:hover {
                background: var(--secondary-hover) !important;
            }


/*acctive*/
#myModalActivity .nav-tabs {
    background: #FFF;
    border: 1px solid #DDD;
    border-left: none;
    border-right: none;
}

    #myModalActivity .nav-tabs .nav-item {
        background: #FFF;
    }

        #myModalActivity .nav-tabs .nav-item .nav-link.active {
            background: var(--primary);
            color: #FFF;
        }

.disable {
    pointer-events: none;
    opacity: 0.4;
}

.image-container-new {
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    /*height: 150px;*/
}

#myModalActivity .item-FilePlace {
    border-right: 1px solid #E5E5E5;
    text-align-last: center;
    cursor: pointer;
}

#myModalActivity .div-hoat-dong-body {
    margin-top: 24px;
}

#myModalActivity .lib-tab-extend {
    padding-bottom: 16px;
    margin-left: -24px;
    margin-right: -24px;
    border-bottom: 1px solid #E5E5E5;
}

#myModalActivity .image-container-new img {
    width: 100%;
    height: 100%;
}

#myModalActivity .image-container-new #anhMinhHoa {
    width: 100%;
    height: 100%;
}

#myModalActivity .btn-upload-image {
    margin-left: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 5px;
    /*top: 295px;*/
    /*width: 400px;*/
    border-radius: 0px;
    width: 200px;
    bottom: 0px;
}

#myModalActivity .btn-common {
    background-color: #F18175;
    color: white;
}

#myModalActivity .search-place {
    width: 100%
}

#myModalActivity .file-upload-btn {
    display: none;
    margin: 5px auto;
}

    #myModalActivity .file-upload-btn:hover {
        color: #000;
        transition: all .2s ease;
        cursor: pointer;
    }

    #myModalActivity .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

#myModalActivity .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 85%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

#myModalActivity .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

#myModalActivity .drag-text {
    text-align: center;
}

#myModalActivity .file-upload-image {
    width: 100%;
    height: 100%;
    /*height: 175px;
        width: 175px;*/
    margin: auto;
    padding: 5px;
}

#myModalActivity .search-newfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

    #myModalActivity .search-newfile button {
        font-size: 23px;
        color: white;
        margin: 0px;
        padding: 1px 6px;
    }

#myModalActivity td.url {
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: break-spaces;*/
}

#myModalActivity .table-infor-object th, .table-infor-object td {
    border: 1px solid #dee2e6;
    text-align: center;
}

#myModalActivity .table-infor-object tbody tr td {
    vertical-align: middle;
    word-break: break-word;
}

#myModalActivity .table-infor-object tbody tr th {
    vertical-align: middle;
}


#myModalActivity .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: flex !important;
    align-items: baseline;
}

#myModalActivity .modal-title {
    /* font: normal normal normal 14px/19px Roboto; */
    letter-spacing: 0px;
    color: #000000DE;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#myModalActivity .modal-header {
    border-radius: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 15px;
}

#myModalLinkCamera .row label,
#myModalFileUpload .row label {
    display: block;
    margin-top: 5px;
}

#AbpContentToolbarQTSC {
    display: none;
}

li.treeview.menu-open {
    background: var(--forcus);
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
}

#nav-2d-table tbody th {
    font-weight: normal;
}

.btn-in-list-pdf {
    border-radius: 4pt;
}

span.placeholder.focus {
    transform: scale(0.8) translateY(-24px) !important;
    background: #FFF;
}

button.btn.btn-secondary.btn-convert-geojson.btn-close-modal:disabled,
button.btn.btn-secondary.btn-next-excel:disabled {
    background: #cecece;
    border-color: #cecece;
}

.item-li.forcus {
    font-weight: bold;
}

.div-checkbox-radio {
    flex-wrap: wrap;
    display: flex;
}

label.custom-control-label {
    word-break: break-word;
    /*width: 100%;*/
}

.input-containter-50 {
    max-width: 50% !important;
}

.custom-control-inline {
    display: block !important;
}

.custom-control-label::before {
    border: 2px solid #00000060;
}

#exportPDF:disabled, .btn-in-by-id:disabled {
    opacity: 0.5;
    cursor: no-drop !important;
}

.btn-in-by-id {
    border: none;
    background: none;
}

.modal .modal-content .modal-footer {
    background: #FFF;
    padding: 24px;
    padding-top: 0;
}

#myModalFileUpload .modal-body {
    padding-bottom: 0;
}

#myModalLinkCamera .modal-footer {
    padding: 0;
}

.select2-container--open + span.placeholder {
    transform: scale(0.8) translateY(-24px);
    background: #fff;
}

.select2-results__option {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

.select2-container--default.select2-container--focus + span.placeholder,
.select2-container--default.select2-container--above + span.placeholder {
    transform: scale(0.8) translateY(-24px);
    background: #fff;
}

.model-properties-activity .div-textarea, .div-checkbox-radio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.danh-sach-chi-tiet-hoat-dong .table td img {
    width: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
    .lp-topmenu {
        padding-top: 103px !important;
    }

    #map, map4d {
        height: calc(100vh - 129px) !important;
    }

    .tree-o-i {
        height: calc(100vh - 129px) !important;
    }
}

.file-geojon-content {
    margin-top: 0;
}

.model-geojson .file-upload {
    height: 120px;
}

.model-properties-activity .has-error .trumbowyg-box {
    border-color: red;
}

#modalUploadMulti .select2-container .select2-search--inline .select2-search__field {
    height: 36px;
}

.table-infor-object tbody tr td:last-child {
    width: 30% !important;
}
