﻿
/*@media only screen and (min-width: 968px) {
    .modal-dialog {
        min-width: 950px;
    }
}*/

.disable {
    pointer-events: none;
    opacity: 0.4;
}

.image-container-new {
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    /*height: 150px;*/
}

    .image-container-new img {
        width: 100%;
        height: 100%;
    }

    .image-container-new #anhMinhHoa {
        width: 100%;
        height: 100%;
    }

.btn-upload-image {
    margin-left: 10px;
    vertical-align: bottom;
    position: absolute;
    left: 5px;
    /*top: 295px;*/
    /*width: 400px;*/
    border-radius: 0px;
    width: 200px;
    bottom: 0px;
}

.btn-common {
    background-color: #F18175;
    color: white;
}

#MapLangVanHoa {
    width: 100%;
    height: 600px;
}

.search-place {
    width: 100%
}

.file-upload {
    width: 100%;
    margin: 10px auto;
    /*padding: 20px;*/
    text-align: center;
    border: 1px dashed #00559A;
    background: #0084E90F 0% 0% no-repeat padding-box;
}

.file-upload-btn {
    display: none;
    margin: 5px auto;
}

    .file-upload-btn:hover {
        color: #000;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    place-content: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 85%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    left: 0;
}


.file-upload .content-image-upload {
    width: 100px;
    height: 80px;
    position: relative;
    margin: 0 5px;
}

.remove-image {
    color: #ec5e4e;
    font-size: 14px;
    padding: 1px 6px;
    height: 30px!important;
}

    .remove-image:hover {
        background: none;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }

.image-upload-wrap {
    border: 4px dashed #000;
    position: relative;
    border: none;
}

    .image-dropping,
    .image-upload-wrap:hover {
        border: none;
        cursor: pointer;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.file-upload-image {
    width: 100%;
    height: 100%;
    /*height: 175px;
        width: 175px;*/
    margin: auto;
    padding: 5px;
}


.drag-text h3 {
    font-weight: 200;
    color: #3c8dbc;
    padding: 16px 50px;
    font-size: 14px;
}

.drag-text button, .file-upload-btn {
    height: 48px;
    margin-bottom: 16px;
}

.search-newfile button {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 48px;
}

.search-newfile button {
    font-size: 23px;
    margin-top: 15px;
    padding: 1px 6px;
    border: solid 1px #707070 !important;
    border-radius: 3px !important;
    width: 100%;
}

td.url {
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: break-spaces;*/
}

.table-infor-object {
    border: 1px solid #E5E5E5;
    text-align: center;
    margin-top: 25px;
}

    .table-infor-object thead tr th {
        background-color: #0084E90F;
        border-color: #0084E90F;
        border: 1px solid #E5E5E5;
        height: 43px;
        vertical-align: middle;
    }

    .table-infor-object th, .table-infor-object td {
        border: 1px solid #E5E5E5;
        text-align: center;
    }

    .table-infor-object tbody tr td {
        vertical-align: middle;
        word-break: break-word;
        height: 71px;
    }

    .table-infor-object tbody tr th {
        vertical-align: middle;
        border: 1px solid #E5E5E5;
        height: 71px;
        font-weight: 200;
        font-style: italic;
    }

    .table-infor-object img {
        width: 36px!important;
        height: 36px!important;
    }
/* .model-properties-object {
        overflow: scroll;
    }*/
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: flex !important;
    align-items: baseline;
}

#myModal2 .modal-header {
    padding-bottom: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 15px;
}

#myModal2 .modal-content, #myModal2 .modal-header {
    border-radius: 4px;
}

#myModal2 .modal-title {
    /*font: normal normal normal 14px/19px Roboto;*/
    letter-spacing: 0px;
    color: #000000DE;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.title-li-tab ul {
    /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 48px;
}

#myModal2 .title-li-tab ul .nav-item {
    width: 100%;
}

.title-li-tab ul li a {
    border-radius: 4px;
    opacity: 1;
    padding: 15px 25px;
    /*font: normal normal normal 14px/19px Roboto;*/
    letter-spacing: 0px;
}

#myModal2 .detail-property-body {
    height: calc(100% - 165px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 16px 16px 16px;
}

#modalBodyPropertiesLayer .form-group {
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.div-color-right .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.inputFavcolorText {
    height: 48px !important;
    text-align: center;
    padding: 8px 2px;
    border-radius: 4px;
    border: solid 1px #ccc;
    margin-right: 5px;
    width: 68%;
}

.divFavcolorText {
    height: 48px;
    width: 30%;
    top: 0px;
    right: 0;
    position: absolute;
    background-color: rgb(139, 91, 91);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.text-width-main-object {
    text-align: center;
    padding: 8px 2px;
    border-radius: 4px;
    border: solid 1px #ccc;
    width: 100%;
    height: 48px;
}

#myModal2 #modalBodyPropertiesLayer .form-group {
    padding-left: 0;
}

#modalBodyPropertiesLayer h4 {
    letter-spacing: 0px;
    opacity: 1;
    font-weight: bold;
    font-weight: 600;
    padding: 13px 0px 16px 0px;
}

.btn-close-modal {
    text-align: center;
    background: #0CA501 0% 0% no-repeat padding-box;
    border-radius: 4px !important;
    opacity: 1;
    letter-spacing: 0px;
    color: #FCFCFC;
}

.btn-save-modal {
    text-align: center;
    background: var(--primary) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    /*font: normal normal normal 14px/19px Roboto;*/
    letter-spacing: 0px;
    color: #FCFCFC;
}

.div-item-FilePlace {
    padding: 5px 0;
}

    .div-item-FilePlace .item-FilePlace {
        color: #0000008E;
        text-align: center;
        padding: 0px;
        cursor: pointer;
        margin: 5px 0;
        align-items: center;
    }

        .div-item-FilePlace .item-FilePlace div:first-child {
            width: 100%;
            display: flex;
            justify-content: center;
            place-items: center;
        }

        .div-item-FilePlace .item-FilePlace .line-right {
            width: 1px;
            height: 22px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            margin: 0 auto;
        }

        .div-item-FilePlace .item-FilePlace label {
            padding: 0 5px;
            letter-spacing: 0px;
            margin-bottom: 0;
            cursor: pointer;
        }

#myModal2 #modalBodyExtend .line-bottom {
    width: 340px;
}

#myModal2 #modalBodyExtend .file-upload {
    margin-top: 20px;
}
