﻿
@using Microsoft.AspNetCore.Mvc.Rendering
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Themes.Lepton.Components.MainMenu
@using Volo.Abp.Settings
@inject ISettingProvider SettingProvider
@model MenuItemViewModel
  
@if (Model.MenuItem.IsLeaf)
{
    var url = string.IsNullOrEmpty(Model.MenuItem.Url) ? "#" : Url.Content(Model.MenuItem.Url);

    <li class="@(Model.IsActive ? "current active-page" : "")">
        <a href="@url">
            <span class="lp-icon">
                <i class="@(Model.MenuItem.Icon ?? "")"></i>
            </span>
            <span class="lp-text">
                @Model.MenuItem.DisplayName
            </span>
        </a>
    </li>
}
else
{
    <li class="@(Model.IsActive ? "current active-page" : "") has-drop">
        <a href="#">
            <span class="lp-icon">
                <i class="@(Model.MenuItem.Icon ?? "")"></i>
            </span>
            <span class="lp-text">
                @Model.MenuItem.DisplayName
            </span>
            <span class="lp-arrow-icon" for="@Model.MenuItem.ElementId">
                <i class="fa fa-chevron-down"></i>
            </span>
        </a>
        <ul id="@Model.MenuItem.ElementId">
            @foreach (var childMenuItem in Model.Items)
            {
                @await Html.PartialAsync("~/Themes/Lepton/Components/MainMenu/_LandingMenuItem.cshtml", childMenuItem)
            }
        </ul>
    </li>
}
