<div class="card shadow-none bg-light">
  <div class="card-body">
    <abp-picklist
      *ngIf="claims"
      trackByProp="name"
      bindLabel="name"
      [leftListTitle]="'AbpIdentityServer::OwnedClaims' | abpLocalization"
      [rightListTitle]="'AbpIdentityServer::NotOwnedClaims' | abpLocalization"
      [(ngModel)]="definedClaims"
    ></abp-picklist>
  </div>
</div>
