﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Navigation
@using Volo.Abp.Identity.Web.Pages.Identity.SecurityLogs
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<IdentityResource> L
@model IndexModel
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["SecurityLogs"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:SecurityLogs"].Value);
    PageLayout.Content.MenuItemName = IdentityMenuNames.SecurityLogs;
}

@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/Identity/SecurityLogs/index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/Identity/SecurityLogs/index.js" />
    </abp-script-bundle>
}
 
    <abp-card class="search-card">
        <abp-card-body class="pb-lg-3">
            <form id="FilterFormId" method="post">
                <abp-row>
                    <abp-column size-lg="_6" size-md="_12" class="input-group input-daterange d-block">
                        <abp-row>
                            <abp-column size-lg="_6" >
                                <abp-input asp-for="@Model.StartTime" autocomplete="off" type="text"/>
                            </abp-column>
                            <abp-column size-lg="_6" >
                                <abp-input asp-for="@Model.EndTime" autocomplete="off" type="text"/>
                            </abp-column>
                        </abp-row>
                    </abp-column>
                    <abp-column size-lg="_3" size-md="_6">
                        <abp-input asp-for="@Model.ApplicationName" />
                    </abp-column>
                    <abp-column size-lg="_3" size-md="_6">
                        <abp-input asp-for="@Model.Identity"/>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column size-lg="_3" size-md="_6">
                        <abp-input asp-for="@Model.UserName"/>
                    </abp-column>
                    <abp-column size-lg="_3" size-md="_6">
                        <abp-input asp-for="@Model.Action"/>
                    </abp-column>
                    <abp-column size-lg="_3" size-md="_6">
                        <abp-input asp-for="@Model.ClientId"/>
                    </abp-column>
                    <abp-column size-lg="_3" size-md="_6">
                        <abp-input asp-for="@Model.CorrelationId"/>
                    </abp-column>
                </abp-row>
                 <abp-row>
                     <abp-column size-lg="_3" size-md="_6">
                         <abp-button id="search-filter-btn" class="" button-type="Primary" type="submit">
                             <i class="icon-search fa fa-search" aria-hidden="true"></i>@L["SecurityLogs:Search"].Value
                         </abp-button>
                    </abp-column>
                </abp-row>
            </form>
        </abp-card-body>
        </abp-card>
        <abp-table striped-rows="true" id="IdentitySecurityLogsTable" class="nowrap"></abp-table>
 
