﻿table span[data-filter-field] {
    cursor: pointer;
}
button.btn.btn-primary.btn-sm.dropdown-toggle {
    margin: 10px;
    background-color: #00559A;
    border-color: #00559A;
    height: 48px;
    width: 176px;
}

.dropdown.abp-action-button {
    text-align: center;
}

th.action-th {
    text-align: center;
}

.dropdown-toggle::after {
    margin-left: 4.255em;
}

div#IdentitySecurityLogsTable_wrapper {
    background: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    box-shadow: #0000002e 0px 8px 8px;
    padding: 14px;
}

#IdentitySecurityLogsTable_wrapper .dataTables_scrollBody {
    min-height: calc(100vh - 474px);
    max-height: calc(100vh - 474px);
}

#AbpContentToolbar, #AbpContentToolbarQTSC, .entry-row {
    display: none;
}

div.search-card {
    display: flex;
}

#IdentitySecurityLogsTable_wrapper input.form-control.page-search-filter-text {
    width: 236px;
    border-right: none;
}

#IdentitySecurityLogsTable_wrapper .form-control:active {
    border: 2px solid #ebebeb !important;
    border-right: none !important;
}

.page-search-form btn.btn-primary:active, .page-search-form .btn.btn-primary:not(:disabled):not(.disabled):active {
    color: #ebebeb;
    background-color: #fff !important;
    border-color: #ebebeb !important;
}


.page-search-form .btn.btn-primary {
    color: #ebebeb;
    background-color: #fff;
    border-color: #ebebeb;
    border-left: none;
    box-shadow: none;
}

    .page-search-form .btn.btn-primary:hover {
        color: #adadad;
        background-color: unset;
        border-color: #ebebeb;
    }

.page-search-form .form-control:focus {
    border: 2px solid #ebebeb !important;
    border-right: none !important;
}

body.lp-topmenu .lp-content {
    padding: 12px;
    overflow-x: hidden;
}

#IdentitySecurityLogsTable_wrapper .dataTables_wrapper {
    padding: 14px;
}

#IdentitySecurityLogsTable_wrapper .dataTables_scroll {
    border: 2px solid #ebebeb;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
}

#IdentitySecurityLogsTable_wrapper .dataTable_footer {
    border-top: none !important;
}

#IdentitySecurityLogsTable_wrapper .dataTables_wrapper div.dataTables_length select {
    height: 40px;
}

#IdentitySecurityLogsTable_wrapper .dataTables_info {
    line-height: 43px;
}

#IdentitySecurityLogsTable_wrapper .card {
    box-shadow: none;
    margin-bottom: 0;
}

#IdentitySecurityLogsTable_wrapper table.dataTable thead th {
    background: #0084E90F;
    border-bottom: 2px solid #ebebeb;
    height: 33px;
    font-size: 14px;
    vertical-align: inherit;
    color: #000000DD;
}

tr:not(:last-of-type) {
    border-bottom: 1px dashed #ebebeb !important;
}

th.username-th, td.username-th, th.time-th, td.time-th, th.action-th, td.action-th, th.ipaddress-th, td.ipaddress-th,
th.browser-th, td.browser-th, th.app-th, td.app-th, th.identity-th, td.identity-th, th.username-th, td.username-th,
th.clientid-th, td.clientid-th{
    border-right: 2px solid #ebebeb;
}

.search-card {
    padding: 0;
    /*padding: 24px 24px 11px 24px !important;*/
    margin-bottom: 0;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px -3px 2px 1px #0000000d;
    overflow: hidden;
}

#search-filter-btn {
    height: 48px;
    width: 142px;
    background: #00559A;
    border-color: #00559A;
    margin-top: 8px;
    border-radius: 4px;
    box-shadow: #64646f33 2px 2px 4px 2px;
}

.icon-search {
    margin-right: 10px;
}

.search-card label {
    margin-bottom: 0.25rem;
    position: absolute;
    top: -9px;
    left: 24px;
    background: #fff;
    color: #989797;
}

.lp-content.h-100 {
    background: #fff;
}

#FilterFormId > .row:first-of-type{
    margin-bottom: 12px;
}

div.dataTables_wrapper div.dataTables_length select {
    height: 40px;
    margin: 0px 5px 0px 5px;
}

.row.dataTable_footer {
    align-items: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1360px) {
    .lp-topmenu {
        padding-top: 108px !important;
    }
}