﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@model IoT.HTKT.Web.Pages.HTKT.IndexModel
@inject IStringLocalizer<HTKTResource> L
@{
}
<h1>HTKT</h1>
<p>@L["SamplePageMessage"]</p>
