﻿@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.Extensions.Localization
@using IoT.PermissionApp.Localization
@using Microsoft.AspNetCore.Authorization
@using IoT.PermissionApp.Web.Menus
@using IoT.PermissionApp.Permissions
@model IoT.PermissionApp.Web.Pages.PermissionApp.IndexModel
@inject IStringLocalizer<PermissionAppResource> L
@inject IPageLayout PageLayout
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.MenuItemName = PermissionAppMenus.Prefix;
}

<div class="div-content card">
  
    <div class="right-content">
        <div class="content-body">
            <div class="w-100 mb-3 d-flex">
                <button class="btn btn-success add-permission" style="height: 48px;display:none;">
                    <svg id="Component_213_2" data-name="Component 213 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path id="Path_6614" data-name="Path 6614" d="M0,0H24V24H0Z" fill="none"></path>
                        <path id="Path_6615" data-name="Path 6615" d="M11,11V7h2v4h4v2H13v4H11V13H7V11Zm1,11A10,10,0,1,1,22,12,10,10,0,0,1,12,22Zm0-2a8,8,0,1,0-8-8A8,8,0,0,0,12,20Z" fill="#FFF"></path>
                    </svg>
                    Thêm mới phân quyền
                </button>

                <div class="content-search-table">
                    <div class="w-100">
                        <input type="text" class="search-table form-control" placeholder="@L["PermissionLayer:Search"].Value">
                    </div>
                    <div class="div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.305" height="20.305" viewBox="0 0 20.305 20.305">
                            <path id="Path_391" data-name="Path 391" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(-2 -2)" fill="#9f9f9f" />
                        </svg>

                    </div>
                </div>

            </div>
            <table class="table table-properties-system">
            </table>
        </div>
    </div>
</div>

<div class="modal fade modal-input" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">THÊM MỚI PHÂN QUYỀN</h5>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <input type="hidden" id="idPermissionLayer" name="Id-Permission-Layer" />

                    <div class="w-100 position-relative">
                        <div class="form-group form-group-modal ">
                            <input type="text" required="" data-name="@L["PermissionLayer:PermissionLayerName"].Value" name="Name-Permission-Layer" data-type="string" data-required="@L["PermissionLayer:RequiredPermissionLayerName"].Value" id="namePermissionLayer" value="" class="form-control modal-layer  input-form" autocomplete="off" placeholder="">
                            <span class="placeholder">@L["PermissionLayer:PermissionLayerName"].Value <span class="required"></span></span>
                        </div>
                    </div>

                    <div class="w-100 position-relative">
                        <div class="form-group form-group-modal ">
                            <input type="text" required="" data-name="@L["PermissionLayer:PermissionLayerKeyName"].Value" name="KeyName-Permission-Layer" data-type="string" data-required="@L["PermissionLayer:RequiredPermissionLayerKeyName"].Value" id="keyNamePermissionLayer" value="" class="form-control modal-layer  input-form" autocomplete="off" placeholder="">
                            <span class="placeholder">@L["PermissionLayer:PermissionLayerKeyName"].Value <span class="required"></span></span>
                        </div>
                    </div>

                    <div class="w-100 position-relative">
                        <div class="form-group form-group-modal ">
                            <label class="">@L["PermissionLayer:PermissionLayerIsStatus"].Value: </label>
                            <input id="isStatusPermissionLayer" readonly type="checkbox" name="IsStatus-Permission-Layer" class="input-form" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="close-modal" data-bs-dismiss="modal">@L["PermissionLayer:Close"].Value</button>
                <button type="button" class="btn btn-secondary" id="btn-save">@L["PermissionLayer:Save"].Value</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/libs/common/custom-design.css">
}
@section scripts{
    <!--<script src="~/Pages/HTKT/LayerBaseMap/index.js"></script>-->
    @*<script src="~/admin/js/jsCheckInput.js"></script>*@
    <!--<script src="~/libs/common/js/jsCheckInput.js"></script>-->
    <abp-script-bundle name="@typeof(IoT.PermissionApp.Web.Pages.PermissionApp.IndexModel).FullName">
        <abp-script src="/libs/common/js/jsCheckInput.js"></abp-script>
        <abp-script src="/Pages/PermissionApp/index.js"></abp-script>
    </abp-script-bundle>
}

<style>
    .div-content {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        position: relative;
        height: calc(100vh - 65px);
    }

    .left-content {
        height: 100%;
        margin-right: 5px;
        position: relative;
        box-shadow: 0px 0px 6px #00000029;
        border-top: 0;
        transition: all 0.7s ease;
    }

    .form-header {
        letter-spacing: 0px;
        color: #000000DD;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
        font-size: 14px;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .content-input {
        width: 367px;
    }

    .required:after {
        content: " *";
        color: red;
    }

    .entry-row {
        display: none;
    }

    .right-content {
        padding: 10px;
        width: 100%;
    }

    .form-footer {
        padding: 10px;
    }

    .modal-footer-content button {
        height: 48px;
        width: 50%;
    }

    .content-body {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 6px;
        padding: 10px;
        height: calc(100vh - 75px);
        overflow-y: auto;
    }

    .custom-head-table {
        height: 48px;
        background: #F0F8FE !important;
        color: #000 !important;
    }

    table.dataTable tbody tr:hover td {
        border-bottom-color: #f2f2f2;
    }

    table.dataTable tbody tr td {
        border-top: 0;
        border-right: 0;
    }

    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
        border: 1px solid #EBEBEB;
    }

    .hidden {
        display: none !important;
    }

    .profile-avatar {
        text-align: center;
        width: 65px;
        height: 65px;
        /*margin: auto;*/
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        color: #333;
        margin-bottom: 5px;
    }

        .profile-avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-avatar .icon {
            position: absolute;
            top: 0;
            width: 65px;
            height: 65px;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: all 0.1s ease-in;
        }

        .profile-avatar:hover .icon {
            opacity: 1;
            color: #d2d6de;
        }

        .profile-avatar .icon i {
            font-size: 14px;
            width: 100%;
            cursor: pointer;
            line-height: 65px;
        }

    table.dataTable thead th, table.dataTable tfoot th, table.dataTable tbody tr td {
        vertical-align: middle;
        text-align: center;
    }

    table.dataTable tbody tr td {
        padding: 10px;
    }

    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        display: none !important;
    }

    .break-line {
        line-break: anywhere;
    }

    .error-image {
        color: red;
        font-style: italic;
        font-size: 12px;
        margin-left: -14px;
    }

    .table.dataTable thead tr th {
        border-top: 0;
        text-align: center;
        vertical-align: middle;
    }

    .dataTables_length {
        line-height: 30px;
        font-size: 1em !important;
        margin-left: -12px;
        color: #000;
    }


    /*custom sweetalert*/
    .swal-overlay--show-modal .swal-modal {
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 4px;
        width: 317px;
        background: #FFF;
        transition: unset;
    }

    .swal-modal .swal-icon {
        display: none;
    }

    .swal-modal .swal-title {
        border-bottom: solid 1px #cecece;
        padding: 17px;
        margin-bottom: 0;
    }

    .swal-modal .swal-text {
        padding: 10px;
        text-align: center;
    }

    .swal-modal .swal-footer {
        padding: 10px 0;
        margin: 10px;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        background: #FFF;
        place-content: center;
    }

        .swal-modal .swal-footer .swal-button-container {
            width: 45%;
            margin: 0 5px;
        }

            .swal-modal .swal-footer .swal-button-container .swal-button {
                height: 48px;
                width: 100%;
                margin: 0;
            }

            .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
                background: var(--danger) !important;
            }

            .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
                background: var(--secondary) !important;
            }

    .content-search-table {
        display: flex;
        float: left;
        flex-direction: row;
        position: relative;
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
        /*padding-left: 1rem;*/
        padding-bottom: 0;
        width: 290px;
    }

    .search-table {
        height: 48px;
        padding: 13px 9px;
        border-radius: 4px 0px 0px 4px;
        border-right: 0;
    }

        .search-table:focus {
            border: 2px solid #ebebeb!important;
            border-right: 0!important;
        }

        .content-search-table .div-icon {
            width: 20%;
            float: left;
            text-align: center;
            height: 48px;
            background: #FFF;
            border-radius: 0px 4px 4px 0px;
            border: 2px solid #ebebeb;
            border-left: 0; 
        }

    .content-search-table .div-icon svg {
        margin: 12px 12px;
    }
</style>
