<div>
  <ng-container *ngIf="directories">
    <abp-tree
      [(nodes)]="directories"
      [(expandedKeys)]="service.extendedKeys"
      [draggable]="true"
      (dropOver)="onDrop($event)"
      (selectedNodeChange)="onNodeClick($event)"
    >
      <ng-template abp-tree-expanded-icon-template let-node let-origin="origin">
        <i
          class="far"
          style="line-height: 30px"
          [class.fa-plus-square]="!node.isExpanded"
          [class.fa-minus-square]="node.isExpanded"
          aria-hidden="true"
        ></i>
      </ng-template>

      <ng-template abp-tree-node-template let-node
        ><i class="fa fa-folder text-primary mr-2" aria-hidden="true"></i
        ><ng-container *ngIf="node.origin.entity.isRoot; else leafNode">
          {{ "FileManagement::AllFiles" | abpLocalization }}
        </ng-container>
        <ng-template #leafNode>{{ node.title }}</ng-template></ng-template
      >

      <ng-container *abpPermission="contextMenuPolicy">
        <ng-template #menu let-node>
          <li
            *abpPermission="createPolicy"
            class="pointer"
            ngbDropdownItem
            (click)="onCreate(node.origin.entity)"
          >
            {{ "FileManagement::CreateFolder" | abpLocalization }}
          </li>
          <ng-container *ngIf="node.origin.entity.id !== rootId">
            <li
              *abpPermission="updatePolicy"
              class="pointer"
              ngbDropdownItem
              (click)="onRename(node.origin.entity)"
            >
              {{ "FileManagement::Rename" | abpLocalization }}
            </li>
          </ng-container>
          <ng-container *ngIf="node.origin.entity.id !== rootId">
            <li
              *abpPermission="deletePolicy"
              class="pointer"
              ngbDropdownItem
              (click)="onDelete(node.origin.entity)"
            >
              {{ "FileManagement::Delete" | abpLocalization }}
            </li>
          </ng-container>
        </ng-template>
      </ng-container>
    </abp-tree>
  </ng-container>
</div>

<abp-create-folder-modal
  [(visible)]="createModalVisible"
  [parentId]="createModalParentId"
></abp-create-folder-modal>

<abp-rename-modal
  [(visible)]="renameModalVisible"
  [(contentToRename)]="contentToRename"
></abp-rename-modal>
