﻿@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Mvc.AntiForgery
@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Bundling
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Themes.Lepton.Components.Content.Alerts
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Themes.Lepton.Components.Content.BreadCrumb
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Themes.Lepton.Components.Content.Title
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton.Themes.Lepton.Components.Header
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Lepton
@using Volo.Abp.Ui.Branding
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles
@using Volo.Abp.LeptonTheme.Management
@using Volo.Abp.Localization
@using Volo.Abp.Settings
@using Microsoft.Extensions.Configuration

@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IBrandingProvider BrandingProvider
@inject ISettingProvider SettingProvider
@inject IOptions<LeptonThemeOptions> LeptonThemeOptions
@inject IConfiguration config
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie();
    var bodyClass = string.Empty;
    var pageMetaDescription = ViewBag.MetaDescription == null ?? "";

    if (Convert.ToBoolean(await SettingProvider.GetOrNullAsync(LeptonThemeSettingNames.Layout.Boxed)))
    {
        bodyClass += " lp-boxed";
    }

    var menuPlacement = await SettingProvider.GetOrNullAsync(LeptonThemeSettingNames.Layout.MenuPlacement);
    var menuStatus = await SettingProvider.GetOrNullAsync(LeptonThemeSettingNames.Layout.MenuStatus);

    if (menuPlacement == MenuPlacement.Top.ToString() || menuPlacement == Convert.ToInt32(MenuPlacement.Top).ToString())
    {
        bodyClass += " lp-topmenu";
    }
    else
    {
        if (menuStatus == MenuStatus.AlwaysOpened.ToString() || menuStatus == Convert.ToInt32(MenuStatus.AlwaysOpened).ToString())
        {
            bodyClass += " lp-opened-sidebar";
        }

        if (menuStatus == MenuStatus.OpenOnHover.ToString() || menuStatus == Convert.ToInt32(MenuStatus.OpenOnHover).ToString())
        {
            bodyClass += " lp-closed";
        }
    }

    var logoUrl = BrandingProvider.LogoUrl == null ? null : "--logo: url(" + BrandingProvider.LogoUrl + ") !important;";
    var logoReverseUrl = BrandingProvider.LogoReverseUrl == null ? null : "--logo-reverse: url(" + BrandingProvider.LogoReverseUrl + ") !important;";
    var langDir = CultureHelper.IsRtl ? "rtl" : string.Empty;
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" class="openNav" dir="@langDir">
<head>
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.First, StandardLayouts.Application)
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="~/common/logo-iotlink.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="~/common/logo-iotlink.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="~/common/logo-iotlink.ico">
    <link rel="manifest" href="~/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/common/logo-iotlink.ico" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>@(ViewBag.Title == null ? BrandingProvider.AppName : ViewBag.Title)</title>
    <abp-style-bundle name="@LeptonThemeBundles.Styles.Global" />
    <style>

        .btn-xs {
            padding: 1px 5px;
            font-size: 13px;
            line-height: 1.5;
        }

        .lp-page-loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            user-select: none;
            z-index: 9999999;
            background: #7e808244;
            transition: background 0.3s ease-out;
            display: none;
        }

            .lp-page-loader:after {
                content: '';
                display: block;
                position: absolute;
                left: calc(50% - 20px);
                top: calc(50% - 20px);
                width: 40px;
                height: 40px;
                border: 4px solid #fff;
                opacity: 0.7;
                border-top-color: transparent;
                border-radius: 50%;
                animation: spin 0.8s linear infinite;
            }

        @@keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        ::-webkit-file-upload-button {
            cursor: pointer;
        }
    </style>
    @* TODO: We can continue with this until find a better way *@
    @if (logoUrl != null || logoReverseUrl != null)
    {
        <style>
            :root {
                @logoUrl
                @logoReverseUrl
            }
        </style>
    }

    @await Component.InvokeAsync(typeof(WidgetStylesViewComponent))
    @await RenderSectionAsync("styles", false)
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.Last, StandardLayouts.Application)
</head>

<body class="abp-application-layout @bodyClass @langDir">
    <div class="lp-page-loader"></div>

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.First, StandardLayouts.Application)
    @if (LeptonThemeOptions.Value.EnableDemoFeatures)
    {
        @await Html.PartialAsync("Demo/ThemeSettings.cshtml")
    }
    @(await Component.InvokeAsync<HeaderViewComponent>())

    <div class="lp-content h-100">
        <div class="row entry-row">
            <div class="col-auto">
                @(await Component.InvokeAsync<ContentTitleViewComponent>())
            </div>
            <div class="col-lg-auto pl-lg-0">
                @(await Component.InvokeAsync<ContentBreadCrumbViewComponent>())
            </div>
            <div class="col">
                <div class="text-lg-right pt-2" id="AbpContentToolbar">
                    @await RenderSectionAsync("content_toolbar", false)
                </div>
            </div>
        </div>
        <div class="text-lg-right pt-2" id="AbpContentToolbarQTSC">
            @await RenderSectionAsync("content_toolbarQTSC", false)
        </div>
        @(await Component.InvokeAsync<ContentAlertsViewComponent>())
        @RenderBody()
    </div>

    @await Html.PartialAsync("~/Themes/Lepton/Layouts/Application/_Footer.cshtml")

    <abp-script-bundle name="@LeptonThemeBundles.Scripts.Global" />
    <script type="text/javascript" src="~/Abp/ApplicationConfigurationScript"></script>
    <script type="text/javascript" src="~/Abp/ServiceProxyScript"></script>
    <script src="~/libs/select2/js/i18n/vi.js"></script>
    <script>
        var AppSetting = {
            CodeCountry: "@config.GetSection("SettingMap:CodeCountry").Value",
        };
        var sizeFiles = {
            sizeIcon: parseInt("@(config.GetSection("SettingSizeFile:Icon") != null ? config.GetSection("SettingSizeFile:Icon").Value : 10240)"),
            sizeImgNormal: parseInt("@(config.GetSection("SettingSizeFile:ImageNormal") != null ? config.GetSection("SettingSizeFile:ImageNormal").Value : 51200)"),
            sizeFileDocument: parseInt("@(config.GetSection("SettingSizeFile:FileDocument") != null ? config.GetSection("SettingSizeFile:FileDocument").Value : 104857600)"),
            sizeFileObj: parseInt("@(config.GetSection("SettingSizeFile:FileObj") != null ? config.GetSection("SettingSizeFile:FileObj").Value : 2097152)"),
            sizeImgTexture: parseInt("@(config.GetSection("SettingSizeFile:ImageTexture") != null ? config.GetSection("SettingSizeFile:ImageTexture").Value : 2097152)")
        }

        $('#AbpContentToolbarQTSC button').on('click', function () {
            $('#AbpContentToolbar button').trigger('click');
        });

        function removeVietnameseTones(str) {
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
            str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
            str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
            str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
            str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
            str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
            str = str.replace(/Đ/g, "D");
            // Some system encode vietnamese combining accent as individual utf-8 characters
            // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
            str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
            str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
            // Remove extra spaces
            // Bỏ các khoảng trắng liền nhau
            str = str.replace(/ + /g, " ");
            str = str.trim();
            // Remove punctuations
            // Bỏ dấu câu, kí tự đặc biệt
            str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
            return str;
        }

        function initTooltip() {
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'hover'
            });
        }

        window.addEventListener("click", function (event) {
            $('[data-toggle="tooltip"]').tooltip("hide");
        })

    </script>
    @await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))

    @await RenderSectionAsync("scripts", false)

    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.Last, StandardLayouts.Application)
</body>
</html>
