﻿@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<div class="lp-footer footer-top border-top">
    <div class="lp-content pb-0">
        <div class=" text-center ">
            <a href="#" target="_blank"><i class="fa fa-twitter fa-2x p-3"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook fa-2x p-3"></i></a>
            <a href="#" target="_blank"><i class="fa fa-medium fa-2x p-3"></i></a>
            <a href="#" target="_blank"><i class="fa fa-github fa-2x p-3"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram fa-2x p-3"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin fa-2x p-3"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube fa-2x p-3"></i></a>
        </div>
        <div class="card mt-3 mb-0 shadow-sm">
            <div class="newsletter-container card-body text-left p-5">
                <div class="row">
                    <div class="col-12 col-md-7">
                        <div class="mb-4 mb-md-0 container">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="#" target="_blank"><i class="fas fa-envelope-open-text fa-4x text-primary"></i></a>
                                </div>
                                <div class="col">
                                    <h3 class="mt-0 mb-2">Subscribe to the Newsletter</h3>
                                    <p class="mb-0">Get information about happenings in ABP like new releases, free sources, articles, and more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="abp-widget-wrapper" data-widget-name="CmsNewsletter" data-widget-auto-init="true">
                            <div class="cms-newsletter-area container" data-preference="Community" data-source="Community-Footer">
                                <form id="newsletter-form-Community-Footer" class="newsletter-form">
                                    <div class="input-group mb-3">
                                        <input id="newsletter-email-input-Community-Footer" type="email" required="" class="form-control" name="newsletterEmail" placeholder="EmailAddress" aria-label="Subscription" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit" id="newsletter-submit-button-Community-Footer">Subscribe</button>
                                        </div>
                                    </div>
                                    <div class="form-group form-check">
                                        <input id="privacy-policy-checkbox-Community-Footer" type="checkbox" data-val="false" required="" class="form-check-input ">
                                        <label class="form-check-label" for="privacy-policy-checkbox-Community-Footer">
                                            I've read the <a href="https://commercial.abp.io/Privacy" target="_blank">Privacy Policy</a>.
                                        </label>
                                    </div>
                                    <div id="additional-preference">
                                        <div class="form-group form-check" data-additional-preference="Marketing">
                                            <input id="additional-Marketing-Community-Footer" type="checkbox" data-val="false" class="form-check-input ">
                                            <label class="form-check-label" for="additional-Marketing-Community-Footer">
                                                I want to get emails for special offers.
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div aria-hidden="true" class="modal fade" id="newsletter-success-modal-Community-Footer" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div>
                                                <div class="swal-icon swal-icon--success">
                                                    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
                                                    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

                                                    <div class="swal-icon--success__ring"></div>
                                                    <div class="swal-icon--success__hide-corners"></div>
                                                </div>
                                                <h1 class="text-center">NewsletterSuccessMessage</h1>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="newsletter-save-Community-Footer" type="button" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 lp-footer">
    <div class="lp-content">
        <div class="row">
            <div class="col-12 col-md-3">
                <a class="navbar-brand" href="~/" alt="@BrandingProvider.AppName"></a>
                <div class="my-2">
                    <span class="copyright-text">@DateTime.Now.Year © LeptonTheme by <a href="http://www.volosoft.com" target="_blank">Volosoft</a></span>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="row">

                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Cool stuff</a></li>
                            <li><a class="text-muted" href="#">Random feature</a></li>
                            <li><a class="text-muted" href="#">Team feature</a></li>
                            <li><a class="text-muted" href="#">Stuff for developers</a></li>
                            <li><a class="text-muted" href="#">Another one</a></li>
                            <li><a class="text-muted" href="#">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Pages</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Home Page</a></li>
                            <li><a class="text-muted" href="#">Products</a></li>
                            <li><a class="text-muted" href="#">Pricing</a></li>
                            <li><a class="text-muted" href="#">Live Support</a></li>
                            <li><a class="text-muted" href="#">Frequently Asked Questions</a></li>
                            <li><a class="text-muted" href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Business</a></li>
                            <li><a class="text-muted" href="#">Education</a></li>
                            <li><a class="text-muted" href="#">Government</a></li>
                            <li><a class="text-muted" href="#">Gaming</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                            <li><a class="text-muted" href="#">Privacy</a></li>
                            <li><a class="text-muted" href="#">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

