﻿@page
@using Microsoft.Extensions.Localization
@using IoT.ThongKe.Localization
@model IoT.ThongKe.Web.Pages.ThongKe.IndexModel
@inject IStringLocalizer<ThongKeResource> L
@{
    Layout = "~/Themes/Lepton/Layouts/KhaiThac/Default.cshtml";
}
<div class="static-container">
    <div class="list-statistic">
        <div class="col-md-6 centered">
            <div class="row">
                <div class="col-md-3">
                    <a href="/ThongKe/BangBieu">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/libs/chart/BangBieuIcon.jpg" class="img-responsive" alt="Alternate Text" />
                                <span class="title">Bảng biểu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/ThongKe/ChartStatistic">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/libs/chart/ChartIcon.jpg" class="img-responsive" alt="Alternate Text" />
                                <span class="title">Biểu đồ</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/libs/chart/MapIcon.png" class="img-responsive" alt="Alternate Text" />
                                <span class="title">Biều đồ địa lý</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    a, a:hover{
        text-decoration: none;
    }
    .content-wrapper {
        background-color: #fff !important;
    }

    .centered {
        position: absolute;
        top: 40%;
        left: 40%;
        text-align: center;
    }

    .card {
        padding: 10px 15px;
        transition: all 0.3s ease-in;
    }

    .card-body img {
        width: 100%;
        height: auto;
    }

        .card:hover {
            background: #eee;
        }

        .card span.title {
            font-size: 19px;
        }
</style>