
@media only screen and (min-width: 1024px) {
    .lp-topmenu {
        @media only screen and (max-width: 1366px) {
            padding-top: 129px !important;
        }

        .toolbar-nav {
            margin: 2px 0 0;
        }

        .navbar-brand {
            top: 14px;
            left: 15px;
            position: absolute;
            height: 36px;
            width: 220px;
        }

        .lp-sidebar {
            .lp-icon {
                margin-right: 4px;
            }

            .lp-sidebar-wrapper {
                @media only screen and (min-width: 1366px) {
                    margin: -51px auto 0;
                }

                nav {
                    text-align: center;

                    @media only screen and (min-width: 1366px) {
                        text-align: left;
                        padding-left: 250px;
                    }

                    a, li, .lp-icon {
                        transition: all .3s;
                    }

                    & > ul > li > a {
                        border-radius: $radius !important;
                    }

                    ul {
                        border-radius: $radius;

                        li {
                            border-radius: $radius;

                            &.current {
                                > a {
                                    background: rgba($sidebar-text,.1) !important;

                                    .lp-icon {
                                        color: $brand;
                                    }
                                }
                            }
                            /*
                            &:last-child {
                                border-radius: 0 0 $radius $radius;
                            }

                            &:first-child {
                                border-radius: $radius $radius 0 0;
                            }*/
                        }

                        ul {
                            display: none !important;
                            margin: 0;
                            background: $sidebar-bg;
                            padding: 0;
                            position: absolute;
                            top: 100%;

                            li {
                                float: none;
                                min-width: 240px;
                                position: relative;

                                &.has-drop {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        right: 16px;
                                        top: 17px;
                                        border-top: 4px solid transparent;
                                        border-bottom: 4px solid transparent;
                                        border-left: 5px solid $sidebar-text;
                                    }
                                }

                                a {
                                    padding: 10px 20px;
                                    color: $sidebar-text;
                                    text-align: left;
                                    font-size: .92em;

                                    &:hover {
                                        background: rgba($sidebar-text,.1);

                                        .lp-icon {
                                            color: $brand;
                                        }
                                    }
                                }
                            }

                            ul {
                                position: absolute;
                                left: 100%;
                                top: 0;
                            }
                        }

                        li {
                            &:hover {
                                > ul {
                                    display: block !important;
                                }

                                .lp-icon {
                                    color: $brand;
                                }

                                background: rgba($sidebar-text,.1);

                                a {
                                    color: $sidebar-text;
                                }
                            }

                            float: left;

                            a {
                                color: $sidebar-text;
                                display: block;
                                padding: 15px 10px;
                                text-decoration: none;
                            }
                        }

                        list-style: none;
                        position: relative;
                        display: inline-table;

                        &:after {
                            content: "";
                            clear: both;
                            display: block;
                        }
                    }
                }

                ul {
                    text-align: left;
                    display: inline;
                    margin: 0;
                    padding: 0;
                }

                .lp-arrow-icon {
                    display: none;
                }
            }
        }
    }

    &.lp-landing {
        padding-top: 0px !important;

        .landing-header {
            &::before {
                content: "";
                background: rgba($sidebar-text,.075);
                position: absolute;
                left: 0;
                right: 0;
                height: 36px;
            }
        }

        .toolbar-nav {
            margin: 0;
            z-index: 1030;
            transition: $cubic;


            .btn {
                margin: 0;
                opacity: .65;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .navbar-brand {
            left: 50px;
            top: 72px;
        }

        .lp-sidebar {
            .lp-icon {
                margin-right: 4px;
            }

            .lp-sidebar-wrapper {
                margin: 0px auto 0;
                display: flex;

                nav {
                    text-align: left;
                    padding: 20px 0 15px;
                    margin: 0 0 0 auto;

                    a, li, .lp-icon {
                        transition: all .3s;
                    }

                    & > ul > li > a {
                        border-radius: $radius !important;
                    }

                    ul {
                        border-radius: $radius;

                        li {
                            &.current {
                                > a {
                                    background: rgba($sidebar-text,.1) !important;

                                    .lp-icon {
                                        color: $brand;
                                    }
                                }
                            }
                            /*
                            &:last-child {
                                border-radius: 0 0 $radius $radius;
                            }

                            &:first-child {
                                border-radius: $radius $radius 0 0;
                            }*/
                        }

                        ul {
                            display: none !important;
                            margin: 0;
                            background: $sidebar-bg;
                            padding: 0;
                            position: absolute;
                            top: 100%;

                            li {
                                float: none;
                                min-width: 240px;
                                position: relative;

                                &.has-drop {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        right: 16px;
                                        top: 17px;
                                        border-top: 4px solid transparent;
                                        border-bottom: 4px solid transparent;
                                        border-left: 5px solid $sidebar-text;
                                    }
                                }

                                a {
                                    padding: 10px 20px;
                                    color: $sidebar-text;
                                    text-align: left;
                                    font-size: .92em;

                                    &:hover {
                                        background: rgba($sidebar-text,.1);

                                        .lp-icon {
                                            color: $brand;
                                        }
                                    }
                                }
                            }

                            ul {
                                position: absolute;
                                left: 100%;
                                top: 0;
                            }
                        }

                        li {
                            &:hover {
                                > ul {
                                    display: block !important;
                                }

                                .lp-icon {
                                    color: $brand;
                                }

                                background: rgba($sidebar-text,.1);

                                a {
                                    color: $sidebar-text;
                                }
                            }

                            float: left;

                            a {
                                color: $sidebar-text;
                                display: block;
                                padding: 15px 20px;
                                text-decoration: none;
                            }
                        }

                        list-style: none;
                        position: relative;
                        display: inline-table;

                        &:after {
                            content: "";
                            clear: both;
                            display: block;
                        }
                    }
                }

                ul {
                    text-align: left;
                    display: inline;
                    margin: 0;
                    padding: 0;
                }

                .lp-arrow-icon {
                    display: none;
                }
            }
        }

        #navItemFullScreen, {
            display: none;
        }

        .entry-row {
            > .col-auto {
                display: none;
            }

            margin: 3px 0 12px 0;
        }
         
    }
}


body.lp-topmenu {
    header {
        background: $sidebar-bg;
        background: $sidebar-bg-gradient;
        box-shadow: $shadow;
        color: $sidebar-text;
        min-height: 63px;

        .toolbar-nav {
            .btn {
                color: $sidebar-text;

                span {
                    color: $sidebar-text;
                }

                i {
                    color: $sidebar-text;
                }

                @include respond-to($sm) {
                    color: $sidebar-text !important;
                }

                &:hover, &:focus, &:active, &:visited {
                    background: darken($sidebar-bg,5) !important;
                }
            }

            .dropdown-menu {
                background: lighten($sidebar-bg,5) !important;
                color: $sidebar-text;

                strong {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                }

                &.dropdown-menu-notifications {
                    background: $sidebar-bg;
                    color: $sidebar-text;

                    .list-group {
                        background: $sidebar-bg;

                        .list-group-item {
                            border-color: darken($sidebar-bg, 5);

                            a {
                                background: darken($sidebar-bg, 3);
                                color: $sidebar-text;

                                .fa-notification-icon {
                                    background: $sidebar-bg;
                                }

                                &:hover {
                                    background: darken($sidebar-bg, 1);

                                    .fa-notification-icon {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }

                @include respond-to($sm) {

                    &.dropdown-menu-notifications {
                        background: $sidebar-bg;
                    }

                    &.search-dropdown {
                        .btn {
                            color: $sidebar-text;
                            background: $sidebar-bg;

                            .fa {
                                color: $sidebar-text;
                            }
                        }
                    }
                }

                .btn {
                    color: $sidebar-text;
                }
            }
        }
    }
}
 
@include respond-to($sm) {
    .lp-topmenu {
        .lp-sidebar {
            position: relative;
            width: 100%;
            top: 60px;
            z-index: 103;
            background: $sidebar-bg;
            box-shadow: $shadow;


            @include respond-to($sm) {
            }

            .lp-sidebar-wrapper {
                position: absolute;
                left: 0;
                top: 72px;
                padding: 10px 0px;
                width: 100%;
                height: 100%;
                overflow-y: auto;

                @include respond-to($sm) {
                    position: relative;
                    width: 100%;
                    top: auto;
                    bottom: auto;
                    left: auto;
                    height: calc(100vh - 60px);
                    padding: 20px 0;
                }
            }

            .lp-sidebar-navi {

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {
                        margin: 5px 10px;
                        border-radius: $radius;
                        display: block;
                        position: relative;

                        a {
                            text-decoration: none;
                            position: relative;
                            line-height: 44px;
                            height: 44px;
                            padding: 0px 15px;
                            display: table;
                            white-space: nowrap;
                            width: 100%;
                            color: $sidebar-text;
                            /*transition: $cubic;*/
                            .lp-text {
                                position: relative;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                max-width: 176px;
                                font-size: .96em;
                                /*transition: $cubic;*/
                                opacity: .7;
                            }

                            & > span {
                                display: table-cell;
                            }

                            & > span.lp-icon {
                                width: 32px;
                                height: 32px;
                                line-height: 1;
                                vertical-align: middle;
                                font-size: 16px;
                                /*transition: $cubic;*/
                                opacity: .35;
                            }

                            & > span.lp-arrow-icon {
                                width: 14px;
                                height: 24px;
                                font-size: .7em;
                                text-align: center;
                                line-height: 1;
                                vertical-align: middle;
                                /*transition: $cubic;*/
                                position: relative;
                                opacity: .2;
                            }

                            &:hover {
                                opacity: 1;

                                & > span.lp-icon {
                                    color: $brand;
                                    opacity: 1;
                                }

                                & > span.lp-text {
                                    opacity: 1;
                                }
                            }
                        }

                        &.current, &.active-page {
                            & > a {
                                & > span.lp-icon {
                                    color: $brand;
                                    opacity: 1;
                                }

                                & > span.lp-text {
                                    opacity: 1;
                                }

                                & > .lp-arrow-icon {
                                    transform: rotate(180deg);
                                    transform-origin: 50% 50%;
                                    opacity: .9;
                                    color: $brand;
                                }
                            }

                            > ul {
                                .current, .active-page {
                                    > a {
                                        opacity: 1;

                                        &:before {
                                            content: "";
                                            width: 8px;
                                            height: 8px;
                                            border: 2px solid $brand;
                                            border-radius: 8px;
                                            position: absolute;
                                            top: 11px;
                                            margin-left: -20px;

                                            @include respond-to($sm) {
                                                top: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & > ul {
                    > li.current, > li.active-page {
                        background: rgba($sidebar-text,.075);
                        color: $brand;
                        box-shadow: $shadow;

                        > a { /* outer menu selected styles */
                            > .lp-text {
                                padding-left: 0px;
                            }

                            > .lp-icon {
                                opacity: 1;
                                color: $brand;
                            }
                        }
                    }

                    ul {
                        display: none;
                        font-size: .96em;
                        padding-bottom: 5px;

                        li {
                            margin-right: 0 !important;

                            a {
                                line-height: 32px;
                                height: 32px;

                                @include respond-to($sm) {
                                    line-height: 40px;
                                    height: 40px;
                                }

                                padding-left: $menu-element-padding;
                                padding-top: 0px;
                                padding-bottom: 0px;

                                span.lp-arrow-icon {
                                }
                            }

                            ul {
                                li {

                                    a {
                                        padding-left: $menu-element-padding + 10;
                                    }

                                    ul {
                                        li {
                                            a {
                                                padding-left: $menu-element-padding + 20;
                                            }

                                            ul {
                                                li {
                                                    a {
                                                        padding-left: $menu-element-padding + 30;
                                                    }

                                                    ul {
                                                        li {
                                                            a {
                                                                padding-left: $menu-element-padding + 40;
                                                            }

                                                            ul {
                                                                li {
                                                                    a {
                                                                        padding-left: $menu-element-padding + 50;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        span.lp-icon {
                            display: none;
                        }
                    }
                }
            }
        }

        .lp-sidebar-header {
            width: $main-menu-width;
            height: 72px;
            padding: 24px 15px;

            @include respond-to($sm) {
                display: none;
            }

            .navbar-brand {
                display: inline-block;
                padding-top: 0;
                padding-bottom: 0;
                margin-left: 50px;
                margin-right: 0;
                font-size: 1.5em;
                font-weight: 600;
                background-size: cover;
            }

            .lp-toggle-sidebar {
                display: inline-block;
                cursor: pointer;
                z-index: 10;
                position: absolute;
                top: 2px;
                left: 23px;
                color: #bbb;
                width: 36px;
                height: 60px;

                &:hover, &:focus {
                }

                i {
                    /*transition: $cubic;*/
                    position: absolute;
                    top: 25px;
                    left: 7px;
                    font-size: 18px;
                }

                .lp-open-icon {
                    transform: scale(1);
                }

                .lp-close-icon {
                    transform: scale(0);
                }
            }
        }
    }
}

.lp-topmenu {
    .lp-sidebar-toggle-button, .lp-toggle-sidebar {
        display: none;
    }
}


body.lp-topmenu.lp-landing {

    header {
        background: $sidebar-bg url(../assets/backgrounds/bg-transparent.png) top center no-repeat;
        background-attachment: fixed !important;
        background-size: cover !important;
        box-shadow: $shadow;
        color: $sidebar-text;
        position: relative;

        .lp-content {
            position: relative;
            min-height: unset;
            margin: 0 auto;
            padding-bottom: 0; 
        }

        .toolbar-nav {
            .btn {
                color: $sidebar-text;

                span {
                    color: $sidebar-text;
                }

                @include respond-to($sm) {
                    color: $sidebar-text !important;
                }
            }

            .dropdown-menu {
                background: lighten($sidebar-bg,5) !important;
                color: $sidebar-text;


                &.dropdown-menu-notifications {
                    background: $sidebar-bg;
                    color: $sidebar-text;

                    .list-group {
                        background: $sidebar-bg;

                        .list-group-item {
                            border-color: darken($sidebar-bg, 5);

                            a {
                                background: darken($sidebar-bg, 3);
                                color: $sidebar-text;

                                .fa-notification-icon {
                                    background: $sidebar-bg;
                                }

                                &:hover {
                                    background: darken($sidebar-bg, 1);

                                    .fa-notification-icon {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }

                @include respond-to($sm) {

                    &.dropdown-menu-notifications {
                        background: $sidebar-bg;
                    }

                    &.search-dropdown {
                        .btn {
                            color: $sidebar-text;
                            background: $sidebar-bg;

                            .fa {
                                color: $sidebar-text;
                            }
                        }
                    }
                }

                .btn {
                    color: $sidebar-text;
                }
            }
        }
    }
}

@include respond-to($sm) {
    .user-nav-mobile {
        background: $sidebar-bg;
        top: 60px;

        .toolbar-nav {
            padding: 5px;
        }
    }
} 