﻿@page
@using IoT.ThongKe.Localization
@using Microsoft.Extensions.Localization
@model IoT.ThongKe.Web.Pages.ThongKe.ThongKeDuLieu.IndexModel
@inject IStringLocalizer<ThongKeResource> L
@section scripts
{
    <abp-script src="/Pages/ThongKe/ThongKeDuLieu/Index.js" />
}

@section content_toolbar {

    <a href="javascript:;" id="export-excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i><span> Xuất excel</span></a>

}
<abp-card>
    <abp-card-body>
        <abp-row>
            <abp-column size="_3">
                <div class="form-group">
                    <label for="Search">Tìm kiếm</label>
                    <input class="form-control" type="text" id="FilterText" placeholder="@L["SearchDuAn"]" maxlength="150" />
                </div>
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Directory" asp-items="@Model.ListDirectory" id="directory-selected" label="lĩnh vực" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="District" asp-items="@Model.ListDistrict" id="district-selected" label="Quận/Huyện" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="SubDistrict" asp-items="@Model.ListSubDistrict" id="subdistrict-selected" label="Xã/Phường" />
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="PlanToDo" asp-items="@Model.PlanToDoList" label="Danh mục dự án" id="plantodo-selected"></abp-select>
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Progress" asp-items="@Model.ProgressList" label="Tiến độ dự án" id="selectprogress"></abp-select>
            </abp-column>
            <abp-column size="_3">
                <abp-select asp-for="Acreage" asp-items="@Model.ListAcreage" label="Diện tích" id="acreage-selected"></abp-select>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>
<abp-card>
    <abp-card-body>
        <abp-table striped-rows="true" id="ThongKeDataTable">
        </abp-table>
    </abp-card-body>
</abp-card>