﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@using Microsoft.AspNetCore.Authorization
@using IoT.HTKT.Permissions
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.HTKT.Web.Menus
@model IoT.HTKT.Web.Pages.HTKT.LayerBaseMap.IndexModel
@inject IStringLocalizer<HTKTResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Menu:LayerBaseMap"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:HTKT"].Value);
    PageLayout.Content.MenuItemName = HTKTMenus.LayerBaseMap;
    ViewBag.Title = L["Menu:LayerBaseMap"].Value;
}
<div class="div-content card">
    <div class="left-content">
        <div class="content-input">
            <div class="form-header">
                <span style="font-size:14px;">@L["LayerBaseMap:TilteLayerBaseMap"].Value</span>
            </div>
            <div class="form-body">
                <input type="hidden" id="idLayerBaseMap" name="Id-Layer-Base-Map" />

                <div class="w-100 position-relative">
                    <div class="form-group form-group-modal ">
                        <input type="text" required="" data-name="@L["ManagementLayer:LayerBaseMapName"].Value" name="Name-Layer-Base-Map" data-type="string" data-required="@L["ManagementLayer:PleaseEnterBaseMapName"].Value" id="nameLayerBaseMap" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                        <span class="placeholder">@L["ManagementLayer:LayerBaseMapName"].Value <span class="required"></span></span>
                    </div>
                </div>

                <div class="w-100 position-relative">
                    <div class="form-group form-group-modal ">
                        <input type="text" required="" data-name="@L["ManagementLayer:Path"].Value" name="Link-Layer-Base-Map" data-type="string" data-required="@L["ManagementLayer:PleaseEnterBasePath"].Value" id="linkLayerBaseMap" value="" class="form-control modal-layer form-style" autocomplete="off" placeholder="">
                        <span class="placeholder">@L["ManagementLayer:Path"].Value <span class="required"></span></span>
                    </div>
                </div>

                <div class="w-100 position-relative">
                    <div class="form-group">
                        <lable class="required">@L["LayerBaseMap:Avatar"].Value</lable>
                        <div class="profile-avatar" style="border-radius: 4px">
                            <img style="width: 65px;; height: 65px;; object-fit: cover;" id="img-layer-map" src="" onerror="this.onerror = null; this.src = `/common/imager-choosen-default.svg`;">
                            <div class="icon"><i class="fa fa-pencil open-image"></i></div>
                        </div>

                        <lable class="col-md-12 error-image hidden" style="color:red; margin-left: -14px;">@L["ManagementLayer:PleaseSelectImage"].Value</lable>

                        <div class=" text-center" style="margin-bottom: 7px;">
                            <input class="hidden" type="file" name="file" id="image" accept="image/gif, image/jpeg, image/png, image/jpg">
                        </div>
                        <label class="" style="color:#00559A; font-size: 12px;">@L["LayerBaseMap:Format"].Value file: .jpeg, jpg, png, gif</label>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <div class="modal-footer-content">
                    <div class="d-flex" style=" place-content: flex-end;">
                        <button class="btn btn-danger hidden" id="btn-huy-edit">@L["ManagementLayer:Cancel"].Value</button>
                        @*@if (await Authorization.IsGrantedAsync(HTKTPermissions.LayerBaseMap.Create) || await Authorization.IsGrantedAsync(HTKTPermissions.LayerBaseMap.Edit))
                        {*@
                            <button class="btn btn-secondary" id="btn-save">@L["ManagementLayer:Save"].Value</button>
                        @*}*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div class="content-body">
            <table class="table table-properties-system" width="100%">
            </table>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/libs/common/custom-design.css">
    <link rel="stylesheet" href="~/Pages/HTKT/LayerBaseMap/index-layer-base-map.css">
}

@section scripts{
    <!--<script src="~/Pages/HTKT/LayerBaseMap/index.js"></script>-->
    @*<script src="~/admin/js/jsCheckInput.js"></script>*@
    <!--<script src="~/libs/common/js/jsCheckInput.js"></script>-->
    <abp-script-bundle name="@typeof(IoT.HTKT.Web.Pages.HTKT.LayerBaseMap.IndexModel).FullName">
        <abp-script src="/Pages/HTKT/LayerBaseMap/index.js"></abp-script>
        <abp-script src="/libs/common/js/jsCheckInput.js"></abp-script>
    </abp-script-bundle>
}
