﻿.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    position: relative;
    height: calc(100vh - 65px);
}

.left-content {
    height: 100%;
    margin-right: 5px;
    position: relative;
    box-shadow: 0px 0px 6px #00000029;
    border-top: 0;
    transition: all 0.7s ease;
}

.form-header {
    letter-spacing: 0px;
    color: #000000DD;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-weight: 600;
    text-transform: uppercase;
}

.content-input {
    width: 367px;
}

.form-body {
    padding: 20px;
    height: calc(100vh - 195px);
    overflow-y: auto;
    padding-bottom: 0;
}

.required:after {
    content: " *";
    color: red;
}

.entry-row, #AbpContentToolbarQTSC {
    display: none;
}

.right-content {
    padding: 10px;
    width: calc(100vw - 310px);
    max-width: 100%;
    overflow: hidden;
}

.form-footer {
    padding: 10px;
}

.modal-footer-content button {
    height: 48px;
    width: 50%;
    margin-right: 5px;
}

.content-body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 6px;
    padding: 10px;
    height: calc(100vh - 75px);
    overflow-y: auto;
}

.custom-head-table {
    height: 48px;
    background: #F0F8FE !important;
    color: #000 !important;
}

table.dataTable tbody tr:hover td {
    border-bottom-color: #f2f2f2;
}

table.dataTable tbody tr td {
    border-top: 0;
    border-right: 0;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border: 1px solid #EBEBEB;
}

.hidden {
    display: none !important;
}

.profile-avatar {
    text-align: center;
    width: 65px;
    ;
    height: 65px;
    ;
    /*margin: auto;*/
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    color: #333;
    margin-bottom: 5px;
}

    .profile-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-avatar .icon {
        position: absolute;
        top: 0;
        width: 65px;
        height: 65px;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all 0.1s ease-in;
    }

    .profile-avatar:hover .icon {
        opacity: 1;
        color: #d2d6de;
    }

    .profile-avatar .icon i {
        font-size: 14px;
        width: 100%;
        cursor: pointer;
        line-height: 65px;
    }

table.dataTable thead th, table.dataTable tfoot th, table.dataTable tbody tr td {
    vertical-align: middle;
    text-align: center;
}

table.dataTable tbody tr td {
    padding: 10px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    display: none !important;
}

.break-line {
    line-break: anywhere;
}

.error-image {
    color: red;
    font-style: italic;
    font-size: 12px;
    margin-left: -14px;
}

.table.dataTable thead tr th {
    border-top: 0;
    text-align: center;
    vertical-align: middle;
}

.dataTables_length {
    line-height: 30px;
    font-size: 1em !important;
    margin-left: -12px;
    color: #000;
}


/*custom sweetalert*/
.swal-overlay--show-modal .swal-modal {
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #FFF;
    transition: unset;
}

.swal-modal .swal-icon {
    display: none;
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #FFF;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }

.not-sorting:before {
    display: none!important;
}
