.map-side-right{
    transition: all 0.7s ease;
    position: absolute;
    left: -300px;
    bottom: 0;
    width: 28rem;
    z-index: 2;
    top: 0rem;
    
    box-shadow: 0.19rem 0 0.375rem 0 rgb(0 0 0 / 16%);
    /* height: calc(100vh - 50px); */
    background-color: #ffffff;
    width: 300px;
    height: 100%;
}
.map-side-right .form-header{
    padding: 1rem;
    /* text-align: left; */
    position: relative;
    background-color: #5472d4 !important;
}
.map-side-right .form-header h4{
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.125rem;
    width: 85%;
}
.close-sidebar-right{
    background: none;
    border: 0;
    padding: 0;
    outline: 0;
    color: #ffffff;
    position: absolute;
    right: 1.56rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 1.3rem;
    cursor: pointer;
}
.map-side-right .form-body{
    padding: 0.3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.showdetail{
    left: 0px;
}
.gm-style-iw-a {
    position: absolute;
    width: 9999px;
    height: 0;
}

    .gm-style-iw-a .gm-style-iw-t {
        position: absolute;
        width: 100%;
    }

    .gm-style-iw-a .gm-style-iw-c {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        top: 0;
        left: 0;
        transform: translate(-50%,-100%);
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
        border: 1px solid #0876c8
    }

    .gm-style-iw-a .gm-style-iw-d {
        box-sizing: border-box;
        overflow: auto;
    }

.ng-btn {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    line-height: 1.2;
    padding: 10px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: rgba(22,19,19,1);
    text-align: center;
    background: #fff;
    border: 1px solid cornflowerblue;
    color: #004588;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
div.view-detail-bus-station-on-map {
    background-color: #e6b720;
    width: 100%;
    text-align: center;
    padding: 0.125rem;
    border-radius: 0.1875rem;
    font-size: 1.75rem;
    margin-top: 0.75rem;
    cursor: pointer;
}

.gm-ui-hover-effect {
    opacity: .6;
}

.gm-style-iw-a .gm-style-iw-t::after {
    background: white;
    box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
    width: 5px;
    border-bottom: 1px solid #0876c8;
    border-left: 1px solid #0876c8
}
.content-form .card-body{
    font-size: 13px;
    padding: 0px 10px;

}
.scroll-content{
    overflow-y: auto;
    height: calc(100vh - 135px);
    height: -moz-calc(100vh - 135px);
    height: -webkit-calc(100vh - 135px);
}
.title-nework{
    margin-top: 15px;
    margin-bottom: 5px;
}