<ng-template>
  <h2>{{ 'AbpIdentityServer::' + title | abpLocalization }}</h2>

  <abp-picklist
    trackByProp="name"
    bindLabel="displayName"
    [leftListTitle]="'AbpIdentityServer::Assigned' | abpLocalization"
    [rightListTitle]="'AbpIdentityServer::Available' | abpLocalization"
    [(ngModel)]="resources"
  ></abp-picklist>
</ng-template>
