<ng-template>
  <h3>{{ 'AbpIdentityServer::' + (formTitle || title) | abpLocalization }}</h3>
  <div class="pt-3 pb-5 clearfix">
    <form (submit)="add()">
      <div class="row">
        <ng-container *ngFor="let field of fields">
          <div class="col-{{ 12 / fields.length }}">
            <div class="form-group">
              <label [for]="'sample-propert-' + field.name"
                >{{ 'AbpIdentityServer::' + field.title | abpLocalization }}
              </label>

              <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="'select'">
                  <select
                    class="form-control"
                    [id]="'sample-propert-' + field.name"
                    [name]="'sample-propert-' + field.name"
                    [(ngModel)]="model[field.name]"
                  >
                    <option *ngFor="let option of field.selectOptions" [ngValue]="option.value">
                      {{ option.key }}
                    </option>
                  </select>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <input
                    type="text"
                    [id]="'sample-propert-' + field.name"
                    [name]="'sample-propert-' + field.name"
                    class="form-control"
                    aria-invalid="false"
                    [(ngModel)]="model[field.name]"
                  />
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <button id="add-new-property" class="float-right mb-2 btn btn-success" type="submit">
        <i class="fa fa-plus"></i> {{ 'AbpIdentityServer::AddNew' | abpLocalization }}
      </button>
    </form>
  </div>

  <div *ngIf="checkboxFieldName" class="custom-checkbox custom-control mb-2">
    <input
      [id]="checkboxFieldName"
      [name]="checkboxFieldName"
      type="checkbox"
      [(ngModel)]="checkboxValue"
      class="custom-control-input"
    /><label class="custom-control-label" [for]="checkboxFieldName">{{
      'AbpIdentityServer::' + checkboxLabel | abpLocalization
    }}</label>
  </div>

  <div *ngIf="selected?.length" class="table-responsive-sm">
    <table id="property-table" class="table table-striped">
      <thead>
        <th *ngFor="let field of fields" scope="col">
          {{ 'AbpIdentityServer::' + field.title | abpLocalization }}
        </th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let row of selected; trackBy: trackByFn; let i = index">
          <td *ngFor="let field of fields">{{ row[field.name] }}</td>
          <td>
            <button type="button" class="btn btn-outline-danger float-right" (click)="delete(i)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
