<abp-page
  [title]="'AbpIdentity::OrganizationUnits' | abpLocalization"
  [toolbar]="organizationUnits"
>
  <div class="row">
    <div *abpPermission="'AbpIdentity.OrganizationUnits.ManageOU'" class="col-12 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5>
            {{ 'AbpIdentity::OrganizationTree' | abpLocalization }}
          </h5>
          <button class="btn btn-sm btn-primary" (click)="add()">
            <i class="fas fa-plus mr-1"></i> {{ 'AbpIdentity::AddRootUnit' | abpLocalization }}
          </button>
        </div>
        <div class="card-body" [abpLoading]="loading">
          <abp-tree
            [nodes]="nodes"
            [(expandedKeys)]="expandedKeys"
            [(selectedNode)]="selectedUnit"
            [draggable]="true"
            (dropOver)="onDrop($event)"
          >
            <ng-template abpTreeNodeTemplate let-node>
              <i class="fas fa-folder fs-15px text-primary mr-1"></i>
              {{ node.title }}
            </ng-template>

            <ng-template #menu let-node>
              <li class="pointer" ngbDropdownItem (click)="edit(node.origin.entity)">
                {{ 'AbpIdentity::Edit' | abpLocalization }}
              </li>
              <li class="pointer" ngbDropdownItem (click)="addSubUnit(node.origin.entity)">
                {{ 'AbpIdentity::AddSubUnit' | abpLocalization }}
              </li>
              <li class="pointer" ngbDropdownItem (click)="delete(node.origin.entity)">
                {{ 'AbpIdentity::Delete' | abpLocalization }}
              </li>
            </ng-template>
          </abp-tree>
          <p *ngIf="!loading && !nodes?.length" class="text-muted">
            {{ 'AbpIdentity::NoOrganizationUnits' | abpLocalization }}
          </p>
        </div>
      </div>
    </div>

    <div
      *abpPermission="
        'AbpIdentity.OrganizationUnits.ManageMembers || AbpIdentity.OrganizationUnits.ManageRoles'
      "
      class="col-12 col-lg-6 col-xl-7"
    >
      <div class="card">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem *abpPermission="'AbpIdentity.OrganizationUnits.ManageMembers'">
            <a ngbNavLink>{{ 'AbpIdentity::Members' | abpLocalization }}</a>
            <ng-template ngbNavContent>
              <ng-container *ngIf="selectedUnit; else selectUnitMsg">
                <abp-organization-members
                  *abpReplaceableTemplate="{
                    inputs: {
                      selectedOrganizationUnit: { value: selectedUnit }
                    },
                    componentKey: organizationMembersKey
                  }"
                  [selectedOrganizationUnit]="selectedUnit"
                ></abp-organization-members>
              </ng-container>
              <ng-template #selectUnitMsg>
                <p class="text-muted">
                  {{ 'AbpIdentity::SelectAnOrganizationUnitToSeeMembers' | abpLocalization }}
                </p>
              </ng-template>
            </ng-template>
          </li>
          <li ngbNavItem *abpPermission="'AbpIdentity.OrganizationUnits.ManageRoles'">
            <a ngbNavLink>{{ 'AbpIdentity::Roles' | abpLocalization }}</a>
            <ng-template ngbNavContent>
              <ng-container *ngIf="selectedUnit; else selectUnitMsg">
                <abp-organization-roles
                  *abpReplaceableTemplate="{
                    inputs: {
                      selectedOrganizationUnit: { value: selectedUnit }
                    },
                    componentKey: organizationRolesKey
                  }"
                  [selectedOrganizationUnit]="selectedUnit"
                ></abp-organization-roles>
              </ng-container>
              <ng-template #selectUnitMsg>
                <p class="text-muted">
                  {{ 'AbpIdentity::SelectAnOrganizationUnitToSeeRoles' | abpLocalization }}
                </p>
              </ng-template>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</abp-page>
<abp-modal [(visible)]="isNodeModalVisible" [busy]="isModalBusy" size="md">
  <ng-template #abpHeader>
    <h3>
      {{
        (nodeForm.get('id').value
          ? 'AbpIdentity::EditOrganizationUnit'
          : 'AbpIdentity::NewOrganizationUnit'
        ) | abpLocalization
      }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <div class="mb-3" *ngIf="nodeForm.get('parentId').value as parentId">
      <strong>{{
        'AbpIdentity::OrganizationUnit:Parent{0}' | abpLocalization: getParentName(parentId)
      }}</strong>
    </div>
    <form [formGroup]="nodeForm" (ngSubmit)="save()" validateOnSubmit>
      <abp-extensible-form [selectedRecord]="selectedUnit"></abp-extensible-form>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpIdentity::Cancel' | abpLocalization }}
    </button>
    <abp-button iconClass="fa fa-check" (click)="save()" [disabled]="nodeForm?.invalid">{{
      'AbpIdentity::Save' | abpLocalization
    }}</abp-button>
  </ng-template>
</abp-modal>
