<ng-template>
  <div class="bg-light shadow-none mb-3 card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="add()" validateOnSubmit>
        <div class="row">
          <div class="col col-6">
            <div class="form-group">
              <label for="secret-type">{{ 'AbpIdentityServer::Type' | abpLocalization }}</label>
              <select
                class="custom-select form-control"
                id="secret-type"
                name="secret-type"
                formControlName="type"
              >
                <option ngValue="SharedSecret">Shared Secret</option>
                <option ngValue="X509Thumbprint">X509 Thumbprint</option>
              </select>
            </div>
            <div class="form-group">
              <label for="secret-value">{{ 'AbpIdentityServer::Value' | abpLocalization }}</label
              ><input
                type="text"
                id="secret-value"
                name="secret-value"
                class="form-control"
                formControlName="value"
              />
            </div>
          </div>

          <div class="col col-6">
            <div class="form-group">
              <label for="secret-description">{{
                'AbpIdentityServer::Description' | abpLocalization
              }}</label
              ><input
                type="text"
                id="secret-description"
                name="secret-description"
                formControlName="description"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="secret-expiration">{{
                'AbpIdentityServer::Expiration' | abpLocalization
              }}</label>
              <div class="input-group" validationTarget>
                <input
                  id="secret-expiration"
                  ngbDatepicker
                  #expirationInput
                  #datepicker="ngbDatepicker"
                  class="form-control"
                  name="secret-expiration"
                  formControlName="expiration"
                  readonly
                  (click)="datepicker.toggle()"
                />
                <div *ngIf="expirationInput.value" class="input-group-append">
                  <button
                    class="btn btn-link px-2"
                    type="button"
                    [title]="'AbpUi::Clear' | abpLocalization"
                    (click)="datepicker.writeValue(null); datepicker.manualDateChange(null, true)"
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <abp-button
          buttonId="AddNewSecretButton"
          iconClass="fa fa-plus"
          buttonClass="float-right btn btn-primary btn-sm"
          buttonType="submit"
        >
          {{ 'AbpIdentityServer::AddNew' | abpLocalization }}
        </abp-button>
      </form>
    </div>
  </div>
  <div *ngIf="selectedSecrets.length" class="table-responsive-sm">
    <table id="secret-table-id" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{{ 'AbpIdentityServer::Type' | abpLocalization }}</th>
          <th scope="col">{{ 'AbpIdentityServer::Value' | abpLocalization }}</th>
          <th scope="col">{{ 'AbpIdentityServer::Description' | abpLocalization }}</th>
          <th scope="col">{{ 'AbpIdentityServer::Expiration' | abpLocalization }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="SecretTableBodyId">
        <tr *ngFor="let group of selectedSecrets; trackBy: trackByFn; let i = index">
          <td>
            {{ group.type }}
          </td>
          <td style="max-width: 120px" class="abp-ellipsis-inline" [title]="group.value">
            {{ group.value }}
          </td>
          <td style="max-width: 120px" class="abp-ellipsis-inline" [title]="group.description">
            {{ group.description }}
          </td>
          <td>
            {{ group.expiration | date }}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger float-right deleteSecretButton"
              (click)="delete(i)"
            >
              {{ 'AbpIdentityServer::Delete' | abpLocalization }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
