﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Owl.reCAPTCHA
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Public.Web.Security.Recaptcha
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings
@using Microsoft.Extensions.Configuration
@model Volo.Abp.Account.Public.Web.Pages.Account.LoginModel
@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@inject ISettingProvider SettingProvider
@inject IConfiguration config
@{
    PageLayout.Content.Title = L["Login"].Value;
    //var reCaptchaVersion = await SettingProvider.GetAsync<int>(AccountSettingNames.Captcha.Version);
    //if (Model.UseCaptcha)
    //{
    //    await Model.ReCaptchaOptions.SetAsync(reCaptchaVersion == 3 ? reCAPTCHAConsts.V3 :reCAPTCHAConsts.V2);
    //}

    Layout = "~/Themes/Lepton/Layouts/Account/Default2.cshtml";

    var logo = config.GetSection("ProjectTitle:Logo") != null ? config.GetSection("ProjectTitle:Logo").Value : "";
    var title = config.GetSection("ProjectTitle:Title") != null ? config.GetSection("ProjectTitle:Title").Value : "";
}
<div class="loginPage">
    <div class="welcomeDiv">
        <img src="~/common/@logo" class="lgogo" />
        <div class="wel-top">
            <h2>@title</h2>
            @*<span>Tích hợp dữ liệu trên nền GIS Công viên Phần mềm Quang Trung</span>*@
        </div>
        <div class="wel-content" align="center">
            <div class="login">
                <form method="post" class="login-form">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group has-feedback" style="position:relative;">
                        @Html.TextBoxFor(m => m.LoginInput.UserNameOrEmailAddress, new { @class = "form-control loginInput", placeholder = "Tài khoản", autocomplete = "off", autofocus = "autofocus" })
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs></defs>
                                <path class="a" d="M0,0H24V24H0Z" />
                                <path class="b icon-login " d="M4,22a8,8,0,0,1,16,0H18A6,6,0,0,0,6,22Zm8-9a6,6,0,1,1,6-6A6,6,0,0,1,12,13Zm0-2A4,4,0,1,0,8,7,4,4,0,0,0,12,11Z" />
                            </svg>
                        </span>
                        <div class="border-icon"></div>
                        @Html.ValidationMessageFor(m => m.LoginInput.UserNameOrEmailAddress, "", new { @class = "text-danger pull-left" })

                    </div>

                    <div class="form-group has-feedback" style="position:relative;">
                        @Html.PasswordFor(m => m.LoginInput.Password, new { @class = "form-control loginInput", placeholder = "Mật khẩu" })
                        <div class="border-icon"></div>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs></defs>
                                <path class="a" d="M0,0H24V24H0Z" />
                                <path class="b icon-login " d="M18,8h2a1,1,0,0,1,1,1V21a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V9A1,1,0,0,1,4,8H6V7A6,6,0,0,1,18,7ZM5,10V20H19V10Zm6,4h2v2H11ZM7,14H9v2H7Zm8,0h2v2H15Zm1-6V7A4,4,0,0,0,8,7V8Z" />
                            </svg>
                        </span>
                        @Html.ValidationMessageFor(m => m.LoginInput.Password, "", new { @class = "text-danger pull-left" })
                    </div>

                    <div class="form-group has-feedback">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="loginButton">
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$LoginView1$Login1$LoginButton" value="ĐĂNG NHẬP" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$LoginView1$Login1$LoginButton&quot;, &quot;&quot;, true, &quot;ctl06$Login1&quot;, &quot;&quot;, false, false))" id="ctl00_ContentPlaceHolder1_LoginView1_Login1_LoginButton" class="loginBt">
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>

    @*<div class="form_title">
            <div style="font-size:12pt">
                Công ty TNHH một thành viên Phát triển Công viên phần mềm Quang Trung,<br>
                Phường Tân Chánh Hiệp, Quận 12, Tp. Hồ Chí Minh, Việt Nam.<br>
                Phòng Quản lý Đầu tư - Hạ tầng,<br>
                Tel: (028) 3715 8888  -   Fax: (028) 3715 5985<br>
                Web: <a href="www.qtsc.com.vn" style="text-decoration:none;">www.qtsc.com.vn</a><br />
                Email: qtsc@qtsc.com.vn<br>
            </div>

        </div>*@
</div>
<style>
    body {
        background: url(../images/bg.png) !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    body {
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
        color: #000;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Roboto', sans-serif !important;
    }

    a {
        color: blue;
    }

    input {
        background-color: transparent;
        border: 0 solid;
    }

    /* Welcom page */
    .welcomeDiv {
        margin: 0 auto;
        height: auto;
        padding-top: 60px;
    }

    .lgogo {
        display: block;
        margin: auto;
        width: 251px;
        height: 94px;
    }

    .wel-top {
        text-align: center;
        margin: 0 0 2% 0;
        color: #000;
        font-size: 40px;
        text-transform: uppercase;
        /*font-family: Segoe UI Light !important;*/
    }

        .wel-top h2 {
            color: #000;
            font-weight: normal;
            font-size: 40px;
            text-transform: none;
            margin: 18px 0;
            font-weight: bold;
        }

        .wel-top span {
            display: block;
            font-size: 36px;
            font-weight: normal;
            text-transform: none;
            /*font-weight: bold;*/
        }

    .wel-content {
        text-align: center;
        margin-top: 25px;
    }
    /* End Welcom page */

    /*login*/
    .logoqtsc {
        width: 120px;
        height: 52px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: url(../images/logoQTSC.png) left top no-repeat;
    }

    .form_title {
        /* position: fixed;
            left: 20px;
            bottom: 20px;
            border-bottom: 10px;
            width: calc(100% - 180px) !important;
            font-size: 20px;
            text-align: left;*/
        height: 0;
        margin-left: 20px;
        margin-top: 50px;
    }

        .form_title div {
            position: relative;
            max-width: 600px;
            padding: 20px;
            box-shadow: 0 0px 15px rgb(0 0 0 / 50%);
            overflow: hidden;
            color: #000;
            background: rgb(255 255 255/ 65%);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.2);
        }

    #ctl00_ContentPlaceHolder1_LoginView1_Login1 {
    }

    form :focus {
        outline: none !important;
    }

    .loginPage {
        margin: 0 auto;
        height: 100%;
        display: grid;
    }

    .form-group {
        margin-bottom: 20px !important;
    }

    .login {
        margin: 0 auto;
        width: 350px;
    }

    .loginLabel {
        margin-top: 10px;
    }

    .loginLabel, .login .notification, .loginButton {
        width: 100%;
    }

    .login .loginLabel, .loginBt {
        background: none;
        color: #000;
        font-size: 15px;
        font-style: italic;
    }

    .login .notification {
        font-style: italic;
        font-size: 10px;
        color: #000;
        opacity: 0.75;
        text-align: right;
        height: 10px;
    }

    input.loginInput {
        /*        border: none;
            color: #069;
            font-weight: bold;
            background: rgba(255, 255, 255, .75);*/
        border-radius: 5px;
        height: 40px !important;
    }

    .loginBt {
        border: none;
        color: #000;
        font-style: normal;
        height: 45px;
        width: 125px;
        color: #fff;
        font-size: 12px;
        background: var(--primary);
        border-radius: 5px;
    }

        .loginBt:hover {
            box-shadow: 0 0 5px rgba(255, 255, 255, .35);
        }

        .loginBt:active {
            position: relative;
            top: 1px;
        }


    /*input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            -webkit-text-fill-color: #2a3f5d;
        }*/

    .has-feedback .form-control {
        padding-left: 45px;
    }

    .text-danger {
        color: red;
    }

    .icon {
        position: absolute;
        top: 7px;
        left: 5px;
        display: flex;
        z-index: 2;
        width: 34px;
        height: 40px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
    }

        .icon > img {
            width: 20px;
            display: block;
            margin: 0 auto;
            top: 0;
        }

    .border-icon {
        position: absolute;
        top: 8px;
        left: 0;
        display: flex;
        z-index: 2;
        width: 35px;
        height: 25px;
        border-right: 1px solid #00000060;
    }

    @@media (max-height: 900px) {
        .loginPage {
            height: 0;
        }
    }

    @@media (max-width: 768px) {
        .login {
            width: 100%;
            padding: 10px;
        }

        form {
            padding: 10px;
        }
        /*   html, body, form {
                overflow-y: auto;
            }*/
        .form_title {
            width: auto !important;
            left: 0;
            bottom: 0;
            margin-left: 0px;
        }

        .loginLabel, .login .notification, .loginButton {
            width: 100%;
        }

        .wel-top h2 {
            font-size: 35px;
        }

        .wel-top span {
            font-size: 15pt;
        }
    }

    @@media (max-width: 991px) {
        .loginButton {
            margin-left: 0px;
        }
    }

    @@media (max-height: 670px) {
        .lgogo {
            width: 100px;
            height: 60px;
        }

        .wel-top h2 {
            font-size: 20px;
        }

        .wel-top span {
            font-size: 10pt;
        }

        .welcomeDiv {
            padding-top: 5px;
        }

        .form_title div {
            font-size: 10pt !important;
        }
    }

    .a {
        fill: none;
    }
</style>


@*@section scripts
    {
        @if (Model.UseCaptcha)
        {
            if (reCaptchaVersion == 3)
            {
                <recaptcha-script-v3 />
                <recaptcha-script-v3-js action="login" callback="(function(){$('#@RecaptchaValidatorBase.RecaptchaResponseKey').val(token)})" />
            }
            else
            {
                <recaptcha-script-v2 />
            }
        }
    }

    @if (Model.IsLinkLogin)
    {
        <abp-alert alert-type="Warning">
            @L["LinkUserWarning", Url.PageLink()]
        </abp-alert>
    }*@

@*<div class="account-module-form">
        @if (Model.EnableLocalLogin)
        {
            <form method="post">
                <input asp-for="ReturnUrl"/>
                <input asp-for="ReturnUrlHash"/>
                @if (Model.UseCaptcha)
                {
                    <input type="hidden" name="@RecaptchaValidatorBase.RecaptchaResponseKey" id="@RecaptchaValidatorBase.RecaptchaResponseKey"/>
                }
                <abp-input asp-for="LoginInput.UserNameOrEmailAddress" required-symbol="false"/>
                <abp-input asp-for="LoginInput.Password" required-symbol="false"/>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="LoginInput.RememberMe" class="mb-4"/>
                    </abp-column>
                    <abp-column class="text-right">
                        <a href="@Url.Page("./ForgotPassword", new { returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash })">@L["ForgotPassword"]</a>
                    </abp-column>
                </abp-row>

                @if (reCaptchaVersion == 2)
                {
                    <recaptcha-div-v2 callback="(function(){$('#@RecaptchaValidatorBase.RecaptchaResponseKey').val(token)})" />
                }

                <abp-button button-type="Primary" size="Block" type="submit" class="mt-2 mb-3" name="Action" value="Login">@L["Login"]</abp-button>
                @if (Model.ShowCancelButton)
                {
                    <abp-button button-type="Secondary" size="Block" type="submit" formnovalidate="formnovalidate" class="mt-2 mb-3" name="Action" value="Cancel">@L["Cancel"]</abp-button>
                }
            </form>
            if (Model.IsSelfRegistrationEnabled)
            {
                @L["NotAMemberYet"]
                <a href="@Url.Page("./Register", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})">@L["Register"]</a>
            }
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <hr/>
            @L["OrSignInWith"]<br/>
            <form asp-page="./Login" asp-page-handler="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-returnUrlHash="@Model.ReturnUrlHash" method="post">
                <input asp-for="ReturnUrl"/>
                <input asp-for="ReturnUrlHash"/>
                @foreach (var provider in Model.VisibleExternalProviders)
                {
                    <button
                        type="submit"
                        class="mt-2 mr-2 btn btn-outline-primary btn-sm"
                        name="provider"
                        value="@provider.AuthenticationScheme"
                        data-busy-text="@L["ProcessingWithThreeDot"]">
                        @if (provider.Icon != null)
                        {
                            <i class="@provider.Icon"></i>
                        }
                        <span>@provider.DisplayName</span>
                    </button>
                }
            </form>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>*@