﻿@page
@using Microsoft.Extensions.Localization
@using IoT.ThongKe.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.ThongKe.Web.Menus
@model IoT.ThongKe.Web.Pages.BangBieu.IndexModel
@inject IStringLocalizer<ThongKeResource> L
@inject IPageLayout PageLayout
@{
    //Layout = "~/Themes/Lepton/Layouts/KhaiThac/Default.cshtml";
    PageLayout.Content.Title = L["Menu:TableStatistic"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:ThongKe"].Value);
    PageLayout.Content.MenuItemName = ThongKeMenus.TableStatistic;
    ViewBag.Title = L["Menu:TableStatistic"].Value;
}

<div class="div-content card">
    <div class="left-tree shadow">
        <div class="map-side-form show">
            <div class="form-inner content-side">
                <div class="form-header bg-main bg-header">
                    <span class="title">@L["BangBieu:DataLayerName"].Value</span>
                </div>
                <div class="form-body active">
                    <div style="padding: 1rem;">
                        <input type="text" class="search-tree form-control" placeholder="@L["BangBieu:Search"].Value" />
                    </div>
                    <div class="scroll-content">
                        <div class="content-form">
                            <div id="checkTree" style="display:none;"></div>
                            <ul class="tree-o-i" style="height: calc(100vh - 271px); margin: 0; padding: 0;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 1%;"></div>

    <div class="map-view shadow">
        <div class="table-layer">
            <div class="box-body table-responsive table-custom">
                @*<div style="margin: 8px 0px; display:flex; justify-content:space-between;">*@
                <div style="margin: 8px 0px; display: flex; position: relative;">
                    <button class="export btn btn-success" type="button">@L["BangBieu:Export"].Value</button>
                    <div id="Notificationtrange" class="form-control pull-left" style="margin-left: 5px; background: #fff; cursor: pointer; padding: 6px 5px;
                                border: 1px solid #ccc; width: auto;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="custom-control custom-checkbox button-checkbox-all" id="checkbox-all">
                        <input type="checkbox" class="btn-check-all custom-control-input" id="useHostSettings">
                        <label class="custom-control-label" for="useHostSettings">@L["BangBieu:SelectAll"].Value</label>
                    </div>
                    @*<div class="button-checkbox-all" id="checkbox-all" style="margin-left: 5px;align-self: center;">
                            <input type="checkbox" class="btn-check-all" disabled />
                            <span class="checkboxmark-all" style="left: 15rem;"></span>
                            <label style="margin-left: 1.5rem;">@L["BangBieu:SelectAll"].Value</label>
                        </div>*@
                    <button class="btn btn-primary btn-review" style="margin-left: auto; margin-right: 0;" type="button">@L["BangBieu:Preview"].Value</button>
                </div>
                <div class="panel card">
                    <div class="panel-heading card-header" role="tab" id="headingTwo">
                        <a role="button" data-name="@L["BangBieu:MainAttribute"].Value">
                            <img src="/images/Icon-Minus.svg" /> @L["BangBieu:MainAttribute"].Value
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingTwo" style="overflow-x:auto">
                        <div class="panel-body card-body">
                            <table class="table table-bordered table-properties">
                                <thead>
                                    <tr>
                                        <th>@L["BangBieu:No."].Value</th>
                                        <th>@L["BangBieu:Display"].Value</th>
                                        <th>@L["BangBieu:DisplayName"].Value</th>
                                        <th>@L["BangBieu:PropertyCode"].Value</th>
                                        <th>Dữ liệu lọc</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel card">
                    <div class="panel-heading card-header" role="tab" id="headingReview">
                        <a role="button" data-name="@L["BangBieu:Review"].Value">
                            <img src="/images/Icon-Plus.svg" /> @L["BangBieu:Review"].Value
                        </a>
                    </div>
                    <div id="collapseTwoReview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" style="overflow-x:auto">
                        <div class="panel-body card-body">
                            <table class="table table-bordered table-review-data">
                                <thead></thead>
                                <tbody></tbody>
                            </table>

                            <nav class="text-center">
                                <ul class="pagination2">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        .div-content {
            display: flex;
            flex-direction: row;
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
            margin-bottom: 0px;
            position: static;
        }

        a {
            color: inherit;
        }

            a:hover {
                text-decoration: none;
            }

        .tree-o-i a:hover {
            color: unset;
            font-weight: 600;
        }

        /*        body.lp-opened-sidebar .lp-content {
            display: flex;
        }*/

        /* body.lp-opened-sidebar .lp-content {
                    padding: 0 36px 10px 300px;
                }*/

        .box-body {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 10px;
        }

        .map-view {
            height: calc(100vh - 110px) !important;
        }

        .pagination {
            margin: 20px 0;
        }

        .card {
            margin-bottom: 0;
            border-radius: 0;
        }

            .card .card-body {
                padding: 0;
            }

        .table-layer .card {
            margin-bottom: 10px !important;
        }

        .check-properties, .btn-check-all {
            width: 0;
            height: 0;
        }

        /*style checkbox tablelayer*/

        .checkboxmark, .checkboxmark-all {
            position: absolute;
            top: 10px;
            left: 25px;
            height: 16px;
            width: 16px;
            background-color: #242839;
            border: 2px solid #1c1f2d;
        }


        input.editcheckbox {
            height: 0;
            width: 0;
        }

        /* On mouse-over, add a grey background color */
        /*.table-checkbox:hover input ~ .checkboxmark {
            background-color: rgb(238, 70, 34);
        }*/

        /* When the checkbox is checked, add a blue background */
        /*.table-checkbox input:checked ~ .checkboxmark, .button-checkbox-all:checked ~ .checkboxmark-all {
            background-color: rgb(238, 70, 34);
        }*/

        /* Create the checkmark/indicator (hidden when not checked) */
        /*.checkboxmark:after, .checkboxmark-all:after {
            content: "";
            position: absolute;
            display: none;
        }*/

        /* Show the checkmark when checked */
        /*.table-checkbox input:checked ~ .checkboxmark:after, .button-checkbox-all input:checked ~ .checkboxmark-all:after {
            display: block;
        }*/

        /* Style the checkmark/indicator */
        /*.table-checkbox .checkboxmark:after, .button-checkbox-all .checkboxmark-all:after {
            left: 4px;
            top: 2px;
            width: 4px;
            height: 7px;
            border: solid white;
            border-width: 0 2px 3px 0;
            -webkit-transform: rotate( 45deg );
            -ms-transform: rotate(45deg);
            transform: rotate( 45deg );
        }*/
        .button-checkbox-all {
            display: flex !important;
            padding-left: 2rem !important;
            align-self: center;
        }

        .table-properties .custom-control-label::after, .table-properties .custom-control-label::before {
            transform: translateX(15px)
        }
    </style>

    <link rel="stylesheet" href="~/libs/daterangepicker/css/daterangepicker.css">
    <link rel="stylesheet" href="~/Pages/Thongke/BangBieu/left-content.css">
}

@section scripts{
    <script src="~/libs/moment/min/moment.min.js"></script>
    <script src="~/libs/daterangepicker/js/daterangepicker.js"></script>

    <script src="~/Pages/Thongke/BangBieu/pagination.js"></script>
    <script src="~/Pages/Thongke/BangBieu/tree-layer.js"></script>


    <script>
        mn_selected = "bang_bieu";
        var l = abp.localization.getResource('ThongKe');
        //console.log(l);
        $(function () {

            TreeViewLayer.init();
            Export.init();
        });

        var listFolder, json, item;
        var Export =
        {
            GLOBAL:
            {
                ArrayCode: [],
                ArrayHead: [],
                start: moment().startOf('month'),
                end: moment().endOf('month'),
                table_review: null,
                Collums: [],
                Page: 0,
                IsDraw: false,
                ParamsDate: ""
            },
            CONSTS:
            {
                URL_EXPORT: "/api/Statistic/MainObject/export-directory",
                URL_REVIEW_EXPORT: "/api/Statistic/MainObject/review-export"
            },
            SELECTORS:
            {
                table_properties: '.table-properties',
                table_review: ".table-review-data",
                check_properties: ".check-properties",
                btn_export: ".export",
                textNotificationtrange: '#Notificationtrange span',
                notificationtrange: '#Notificationtrange',
                btn_review: '.btn-review',
                btn_check_all: ".btn-check-all",
                pagination: ".pagination-content"
            },
            init: function () {
                Export.setEvent();
                Export.DateTime();
            },
            setEvent: function () {
                $(Export.SELECTORS.table_properties).on('change', Export.SELECTORS.check_properties, function () {
                    var code = $(this).attr('data-code');
                    var name = $(this).attr('data-name');
                    var type = $(this).attr('data-type');
                    var maxCheck = parseInt($(Export.SELECTORS.btn_check_all).attr('data-all'));

                    if ($(this).is(':checked')) {
                        Export.GLOBAL.ArrayCode.push(code);
                        Export.GLOBAL.ArrayHead.push(name);

                        if (maxCheck == $(Export.SELECTORS.check_properties).filter(":checked").length) {
                            $(Export.SELECTORS.btn_check_all).not(this).prop('checked', true);
                        }

                        if (type != "image" && type != "link" && type != "text" && type != "geojson" && type != "file") {
                            $(`#filter-${code}`).prop('disabled', false);
                        }
                    }
                    else {
                        Export.GLOBAL.ArrayCode.splice($.inArray(code, Export.GLOBAL.ArrayCode), 1);
                        Export.GLOBAL.ArrayHead.splice($.inArray(name, Export.GLOBAL.ArrayHead), 1);

                        if (maxCheck != $(Export.SELECTORS.check_properties).filter(":checked").length) {
                            $(Export.SELECTORS.btn_check_all).not(this).prop('checked', false);
                        }

                        $(`#filter-${code}`).prop('disabled', true);
                        $(`#filter-${code}`).val("");
                    }


                });

                $(Export.SELECTORS.btn_export).on('click', function () {
                    if (Export.GLOBAL.ArrayCode.length < 2) {
                        swal({
                            title: l('BangBieu:Notification'),
                            text: l('BangBieu:SelectSeast2DisplayProperty'),
                            icon: "warning",
                            button: "Đóng",
                        })
                    }
                    else {
                        var arrayFilter = [];

                        for (var i = 0; i < Export.GLOBAL.ArrayCode.length; i++) {
                            var valueFilter = $(`#filter-${Export.GLOBAL.ArrayCode[i]}`).val();
                            var type = $(`#filter-${Export.GLOBAL.ArrayCode[i]}`).attr('data-type');
                            if (valueFilter != "") {
                                var objFilter =
                                {
                                    key: Export.GLOBAL.ArrayCode[i],
                                    search: valueFilter,
                                    type: type
                                }

                                arrayFilter.push(objFilter);
                            }
                        }

                        var obj = {
                            idDirectory: TreeViewLayer.GLOBAL.IdDirectory,
                            listCode: Export.GLOBAL.ArrayCode,
                            filters: arrayFilter
                        }

                        var dayTime = $(Export.SELECTORS.notificationtrange).data('daterangepicker');
                        if ($(Export.SELECTORS.textNotificationtrange).text() == "") {

                            //obj.interval = (Export.GLOBAL.start.lang('vi').format("DD/MM/YYYY") + ' - ' + Export.GLOBAL.end.lang('vi').format("DD/MM/YYYY")).replace(/\s/g, '');
                            obj.interval = 'Chọn thời gian';
                        }
                        else {
                            //obj.interval = (dayTime.startDate.format("DD/MM/YYYY") + ' - ' + dayTime.endDate.format("DD/MM/YYYY")).replace(/\s/g, '');
                            obj.interval = $(Export.SELECTORS.textNotificationtrange).text().trim();
                        }

                        $.ajax({
                            type: "POST",
                            dataType: 'json',
                            contentType: "application/json-patch+json",
                            async: true,
                            beforeSend: function () {
                                $('.lp-page-loader').css('display', 'block');
                            },
                            url: Export.CONSTS.URL_EXPORT,
                            data: JSON.stringify(obj),
                            success: function (res) {
                                if (res.code == "ok") {
                                    var data = res.result;
                                    var local = window.location.origin;

                                    var url = `${local}/BaoCao/BangBieu/Danh_sach_doi_tuong.xlsx`;
                                    //Export.Download(url, "Danh_sach_doi_tuong.xlsx");
                                    Export.Download(url, data);
                                }
                            },
                            complete: function () {
                                $('.lp-page-loader').css('display', 'none');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.error(jqXHR + ":" + errorThrown);
                            }
                        });
                    }
                })

                $(Export.SELECTORS.btn_review).on('click', function () {
                    if (Export.GLOBAL.ArrayCode.length < 2) {
                        swal({
                            title: l('BangBieu:Notification'),
                            text: l('BangBieu:SelectSeast2DisplayProperty'),
                            icon: "warning",
                            button: "Đóng",
                        })
                    }
                    else {
                        if ($('#collapseTwo').hasClass('in')) {
                            $(`#headingTwo a`).trigger('click')
                        }

                        if (!$('#collapseTwoReview').hasClass('in')) {
                            $(`#headingReview a`).trigger('click')
                        }

                        Export.GLOBAL.Page = 0;
                        $('.pagination2').twbsPagination('destroy');

                        Export.DataTable();
                    }
                });

                $(Export.SELECTORS.btn_check_all).click(function () {
                    var checked = this.checked;

                    $(Export.SELECTORS.check_properties).not(this).prop('checked', this.checked);
                    Export.GLOBAL.ArrayCode = [];
                    Export.GLOBAL.ArrayHead = [];

                    $(`.input-filter`).each(function () {
                        var code = $(this).attr('data-code');
                        var type = $(this).attr('data-type');

                        if (checked) {
                            if (type != "image" && type != "link" && type != "text" && type != "geojson") {
                                $(`#filter-${code}`).prop('disabled', false);
                            }
                        }
                        else {
                            $(`#filter-${code}`).prop('disabled', true);
                            $(`#filter-${code}`).val("");
                        }
                    })

                    $(Export.SELECTORS.check_properties).each(function () {
                        var code = $(this).attr('data-code');
                        var name = $(this).attr('data-name');
                        if (checked) {
                            if (Export.GLOBAL.ArrayCode.indexOf(code) == -1) {
                                Export.GLOBAL.ArrayCode.push(code);
                                Export.GLOBAL.ArrayHead.push(name);
                            }
                        }
                        else {
                            Export.GLOBAL.ArrayCode.splice($.inArray(code, Export.GLOBAL.ArrayCode), 1);
                            Export.GLOBAL.ArrayHead.splice($.inArray(name, Export.GLOBAL.ArrayHead), 1);
                        }
                    });
                });
            },
            Download: function (url, filename) {
                fetch(url)
                    .then(resp => resp.blob())
                    .then(blob => {
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        // the filename you want
                        a.download = filename;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                    })
                    .catch(() => alert('oh no!'));
            },
            DateTime: function () {
                var locale = {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": l("BangBieu:Apply"),
                    "cancelLabel": l("BangBieu:Cancel"),
                    "fromLabel": l("BangBieu:From"),
                    "toLabel": l("BangBieu:To"),
                    "customRangeLabel": l("BangBieu:Custom"),
                    "weekLabel": "T",
                    "daysOfWeek": [
                        l("BangBieu:DayOfWeek:Su"),
                        l("BangBieu:DayOfWeek:Mo"),
                        l("BangBieu:DayOfWeek:Tu"),
                        l("BangBieu:DayOfWeek:We"),
                        l("BangBieu:DayOfWeek:Th"),
                        l("BangBieu:DayOfWeek:Fr"),
                        l("BangBieu:DayOfWeek:Sa")
                    ],
                    "monthNames": [
                        l("BangBieu:Month:January"),
                        l("BangBieu:Month:February"),
                        l("BangBieu:Month:March"),
                        l("BangBieu:Month:April"),
                        l("BangBieu:Month:May"),
                        l("BangBieu:Month:June"),
                        l("BangBieu:Month:July"),
                        l("BangBieu:Month:August"),
                        l("BangBieu:Month:September"),
                        l("BangBieu:Month:October"),
                        l("BangBieu:Month:November"),
                        l("BangBieu:Month:December")
                    ],
                    "firstDay": 1
                }

                var ranges = {
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Hôm nay': [moment(), moment()],
                    'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Tuần qua': [moment().subtract(6, 'days'), moment()],
                    'Tháng qua': [moment().subtract(29, 'days'), moment()],
                    'Năm qua': [moment().subtract(364, 'days'), moment()]
                };

                $(Export.SELECTORS.notificationtrange).daterangepicker({
                    opens: 'right',
                    //startDate: Export.GLOBAL.start,
                    //endDate: Export.GLOBAL.end,
                    //ranges: ranges,
                    locale: locale
                }, cb).on('apply.daterangepicker', function (ev, picker) {
                    $(Export.SELECTORS.textNotificationtrange).html(picker.startDate.format('DD/MM/YYYY') + '-' + picker.endDate.format('DD/MM/YYYY'));
                }).on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                    $(Export.SELECTORS.textNotificationtrange).html('Chọn thời gian');
                });

                cb("", "");

                function cb(start, end) {
                    if (start._isValid && end._isValid) {
                        $(Export.SELECTORS.textNotificationtrange).html(start.lang('vi').format("DD/MM/YYYY") +
                            '-' +
                            end.lang('vi').format("DD/MM/YYYY"));
                    }
                    else {
                        $(Export.SELECTORS.textNotificationtrange).html('Chọn thời gian');
                    }

                }
            },
            DataTable: function () {
                var obj = {
                    idDirectory: TreeViewLayer.GLOBAL.IdDirectory,
                    listCode: Export.GLOBAL.ArrayCode,
                    skipCount: Export.GLOBAL.Page,
                    maxResultCount: 10,
                    sorting: ""
                }

                var arrayFilter = [];

                for (var i = 0; i < Export.GLOBAL.ArrayCode.length; i++) {
                    var valueFilter = $(`#filter-${Export.GLOBAL.ArrayCode[i]}`).val();
                    var type = $(`#filter-${Export.GLOBAL.ArrayCode[i]}`).attr('data-type');
                    if (valueFilter != "") {
                        var objFilter =
                        {
                            key: Export.GLOBAL.ArrayCode[i],
                            search: valueFilter,
                            type: type
                        }

                        arrayFilter.push(objFilter);
                    }

                }

                obj.filters = arrayFilter;

                var dayTime = $(Export.SELECTORS.notificationtrange).data('daterangepicker');
                if ($(Export.SELECTORS.textNotificationtrange).text() == "") {

                    //obj.interval = (Export.GLOBAL.start.lang('vi').format("DD/MM/YYYY") + ' - ' + Export.GLOBAL.end.lang('vi').format("DD/MM/YYYY")).replace(/\s/g, '');
                    obj.interval = "Chọn tất cả";
                }
                else {
                    //obj.interval = (dayTime.startDate.format("DD/MM/YYYY") + ' - ' + dayTime.endDate.format("DD/MM/YYYY")).replace(/\s/g, '');
                    obj.interval = $(Export.SELECTORS.textNotificationtrange).text().trim();
                }

                //if (Export.GLOBAL.ParamsDate != obj.interval) {
                //    $('.pagination2').twbsPagination('destroy');
                //}

                Export.GLOBAL.ParamsDate = obj.interval;

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    contentType: "application/json-patch+json",
                    async: true,
                    beforeSend: function () {
                        $('.lp-page-loader').css('display', 'block');
                    },
                    url: Export.CONSTS.URL_REVIEW_EXPORT,
                    data: JSON.stringify(obj),
                    success: function (res) {
                        if (res.code == "ok") {
                            var data = res.result;

                            var isHead = false;
                            var Arraytr = ``;
                            var ArrayThead = ``;
                            var sttNumber = Export.GLOBAL.Page + 1;

                            ArrayThead += `<tr><th style="text-align:center; vertical-align: middle;">STT</th>`;
                            for (var i = 0; i < Export.GLOBAL.ArrayHead.length; i++) {
                                ArrayThead += `<th style="vertical-align: middle;">${Export.GLOBAL.ArrayHead[i]}</th>`;
                            }

                            ArrayThead += `</tr>`;

                            for (var i = 0; i < data.items.length; i++) {
                                var propeties = data.items[i].listProperties;
                                Arraytr += `<tr>`;

                                Arraytr += `<td style="vertical-align: middle;text-align:center; width: 30px;">${sttNumber}</td>`;
                                sttNumber++;

                                for (var j = 0; j < Export.GLOBAL.ArrayCode.length; j++) {
                                    var index = data.listProperties.findIndex(x => x.codeProperties == Export.GLOBAL.ArrayCode[j]);
                                    if (index != -1) {
                                        var defaultData = propeties.find(x => x.codeProperties == data.listProperties[index].codeProperties);
                                        if (defaultData != undefined) {
                                            if (defaultData.typeProperties == "checkbox" || defaultData.typeProperties == "list" || defaultData.typeProperties == "radiobutton") {

                                                try {
                                                    var lstItems = defaultData.defalutValue.split(',');

                                                    if (lstItems != undefined) {
                                                        if (defaultData.typeProperties == "checkbox") {
                                                            var checkboxobject = TreeViewLayer.GLOBAL.objectClicked.listProperties.find(x => x.typeProperties == "checkbox" || x.codeProperties == defaultData.codeProperties);
                                                            var arrcheckbox = [];
                                                            if (checkboxobject != null && checkboxobject != undefined) {
                                                                arrcheckbox = JSON.parse(checkboxobject.defalutValue);
                                                            }
                                                            var string = "";
                                                            $.each(lstItems, function (i, item) {
                                                                if (item != "") {
                                                                    let value = arrcheckbox.find(x => x.code == item);
                                                                    if (value != null && value != undefined) {
                                                                        string += "," + value.name;
                                                                    } else {
                                                                        string += "," + item.code;
                                                                    }
                                                                }
                                                            });

                                                            defaultData.defalutValue = string.slice(1);
                                                        }
                                                        else {
                                                            //var valueItem = lstItems.find(x => x.checked == true);

                                                            //if (valueItem != null) {
                                                            defaultData.defalutValue = lstItems;
                                                            //}
                                                        }
                                                    }
                                                }
                                                catch {

                                                }
                                            }
                                            else {
                                                if (defaultData.typeProperties == "image" || defaultData.typeProperties == "link") {
                                                    if (defaultData.defalutValue === null || defaultData.defalutValue === "" || typeof defaultData.defalutValue === "undefined") {
                                                        defaultData.defalutValue = "";
                                                    }
                                                    else {
                                                        var array = JSON.parse(defaultData.defalutValue);
                                                        if (array != null) {
                                                            defaultData.defalutValue = "";
                                                            for (var l = 0; l < array.length; l++) {
                                                                defaultData.defalutValue += `<p><a href="${array[l].url}" target="_blank">${array[l].url}</a></p>`;
                                                            }
                                                        }
                                                        else {
                                                            defaultData.defalutValue = "";
                                                        }
                                                    }
                                                }
                                            }

                                            Arraytr += `<td style="vertical-align: middle;">${(defaultData.defalutValue != null && defaultData.defalutValue != "null") ? defaultData.defalutValue : ""}</td>`;
                                        }
                                        else {
                                            Arraytr += `<td style="vertical-align: middle;"></td>`;
                                        }
                                    }
                                    else {
                                        Arraytr += `<td style="vertical-align: middle;"></td>`;
                                    }
                                }

                                Arraytr += `</tr>`;
                            }

                            $(`${Export.SELECTORS.table_review} tbody`).html('');
                            $(`${Export.SELECTORS.table_review} thead`).html(ArrayThead);
                            $(`${Export.SELECTORS.table_review} tbody`).html(Arraytr);

                            //Export.GLOBAL.table_review = $(Export.SELECTORS.table_review).dataTable();
                            var pageSize = 10;
                            var pagesCount = data.totalCount;
                            var totalPages = Math.ceil(pagesCount / pageSize)
                            //var totalPages = parseInt(pagesCount / pageSize)
                            if (totalPages == 0) {
                                totalPages = 1;
                            }
                            if (!Export.GLOBAL.IsDraw) {
                                Export.GLOBAL.IsDraw = true;
                                $('.pagination2').twbsPagination({
                                    totalPages: totalPages,
                                    first: 'Trang đầu',
                                    prev: 'Trước',
                                    next: 'Sau',
                                    last: 'Trang cuối',
                                    visiblePages: 5,
                                    onPageClick: function (event, page) {
                                        var page = (pageSize * (page - 1))
                                        //var endIndex = startIndex + pageSize;
                                        Export.GLOBAL.Page = page;
                                        //if (Export.GLOBAL.Page != 0)
                                        {
                                            Export.DataTable();
                                        }
                                    }
                                });
                            }
                        }

                    },
                    complete: function () {
                        $('.lp-page-loader').css('display', 'none');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error(jqXHR + ":" + errorThrown);
                    }
                });
            },
            Reset: function () {
                Export.GLOBAL.IsDraw = false;
                Export.GLOBAL.ArrayCode = [];
                Export.GLOBAL.ArrayHead = [];
                $(Export.SELECTORS.btn_export).prop('disabled', true);
                $(Export.SELECTORS.btn_review).prop('disabled', true);
                $(Export.SELECTORS.btn_check_all).prop('disabled', true);

                $(Export.SELECTORS.btn_check_all).not(this).prop('checked', false);

                if (!$('#collapseTwo').hasClass('in')) {
                    $(`#headingTwo a`).trigger('click')
                }


                if ($('#collapseTwoReview').hasClass('in')) {
                    $(`#headingReview a`).trigger('click')
                }

            }
        }
    </script>

    <style>
        .table-bordered > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }

        .pagination-content {
            display: none;
        }

            .pagination-content.active {
                display: flex;
            }

        .pagination {
            margin-left: auto;
            margin-right: 0;
        }

        .table-review-data {
            margin-bottom: 0;
        }

        .unselectable {
            background-color: #ddd;
            cursor: not-allowed;
        }

        /*tbody {
                display: block;
                max-height: 300px;
                overflow: auto;
            }

                thead, tbody tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;*/ /* even columns width , fix width of table too*/
        /*}*/
    </style>
}