﻿.table-bordered > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.pagination-content {
    display: none;
}

    .pagination-content.active {
        display: flex;
    }

.pagination {
    margin-left: auto;
    margin-right: 0;
}

.table-review-data {
    margin-bottom: 0;
}

.bg-main {
    z-index: 99;
}

.map-side-form {
    transition: all 0.7s ease;
    bottom: 0;
    /*box-shadow: 0.19rem 0 0.375rem 0 rgb(0 0 0 / 16%);*/
}

.left-side-menu {
    z-index: 2;
}

.left-tree {
    min-width: 310px;
    width: 16.2%;
    height: 100%;
    position: relative;
}


.map-view {
    width: 84%;
    height: calc(100vh - 8.5rem);
    overflow-y: auto;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-page {
    padding: 0;
    min-height: unset;
    margin-top: unset;
}

.map-side-form.show {
    left: -10px;
}

.map-side-form #btn-side-form-toggle {
    border: 0;
    outline: 0;
    position: absolute;
    right: -3.2rem;
    top: 0;
    width: 3.2rem;
    height: 4.2rem;
    box-shadow: 0.19rem 0 0.375rem 0 rgba(0, 0, 0, 0.16);
    background-color: white;
    border-top-right-radius: 0.31rem;
    border-bottom-right-radius: 0.31rem;
}


#map4d {
    height: 100%;
    width: 100%;
}

.map-side-form .icon-show {
    display: none;
}

.map-side-form .icon-hide {
    display: block;
}

.map-side-form.show .icon-show {
    display: block;
}

.map-side-form.show .icon-hide {
    display: none;
}

.head-case-login {
    width: 100%;
    color: #3597E4;
    background-color: #FFF;
    font-size: 1.5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.tab-content-side {
    border: none;
    outline: none;
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
    width: 49%;
    /* background-color: #FFF; */
    cursor: pointer;
}

    .tab-content-side.active {
        border-bottom: 3px solid #3597E4;
    }

input:focus {
    outline: none;
}

.enlarged .content-page {
    padding: 0px;
    margin-top: unset;
}

.search-tree {
    width: 100%;
    height: 40px;
    /*border: 1px solid #999;*/
    padding: 13px 9px;
    border-radius: 4px;
}


/*.content-wrapper {
    position: relative;
}*/

.content {
    display: flex;
    padding: 15px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.map-side-form .form-inner {
    position: relative;
    overflow-y: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-main {
    /*margin-bottom: 10px;*/
}

.map-side-form .form-header {
    position: relative;
    /*padding: 1.3rem 2.4rem;*/
    border-bottom: 1px solid #ddd;
    /* background-color: rgb(238, 70, 34);
    color: #fff;*/
    text-transform: uppercase;
    padding: 2rem 2.4rem;
}

    .map-side-form .form-header span {
        font-size: 16px;
        font-weight: 700;
    }

    .map-side-form .form-header h4 {
        font-size: 1.125rem;
        font-weight: bold;
        color: #ffffff;
        margin: 0;
        width: 85%;
    }


.map-side-form .form-body {
    /*padding-top: 1.56rem;*/
    flex: 1;
    display: none;
    font-weight: 500;
    flex-direction: column;
    overflow-y: hidden;
}

.form-body.active {
    display: flex;
    animation: opac .4s ease-out;
}


.map-container {
    height: 100%;
    padding: 2rem;
    width: 74.5%;
    display: block;
    width: calc(100%) !important;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#checkTree {
    height: calc(100vh - 95px);
}

.select2-container--default .select2-selection--single {
    height: 34px;
}

.select2-container {
    width: 100% !important;
}

.btnDiv1 {
    width: 48px;
    height: 48px;
    margin: 10px 3px;
    border: 0;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}

@keyframes opac {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.map-side-form .scroll-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0 .5rem;
    /*margin: 0rem -0.5rem 2.5rem 0rem;*/
}

.route-item-detail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    background-color: #ffffff;
    z-index: 6;
    display: flex;
    flex-direction: column;
}

    .route-item-detail.show {
        transform: translateX(0);
    }

    .route-item-detail .form-header .close {
        background: none;
        border: 0;
        padding: 0;
        outline: 0;
        color: #ffffff;
        position: absolute;
        right: 1.56rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        font-size: 1.3rem;
    }

.loading-map {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
}

    .loading-map > img {
        width: 80px;
        margin-top: 20%;
    }

#map, #map4d {
    width: 100%;
    height: calc(100vh - 100px);
}

.item-li {
    display: inline-block;
}

    /*.item-li:hover, .item-li:active, .item-li:focus {
        color: #000;
    }*/

.content-form ul {
    list-style-type: none;
    font-size: 14px;
    padding-left: 15px;
}

a.item-li {
    /* padding: 3px; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

    a.item-li.active {
        background: rgba(0, 0, 0, 0.15);
        /*box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 15%);*/
        box-shadow: 0 2px 2px 0 #0000001a, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #00000026;
    }

.form-control {
    border-radius: 4px;
}

.content-form ul li {
    position: relative;
    margin: 0;
    padding: 0;
    /*  padding-top: .5rem;
            padding-bottom: .5rem;*/
}

.tree-o-i li[data-level="1"] {
    border-bottom: 1px solid #ddd;
    /*   padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;*/
}

.tree-ul > li {
    border-bottom: none;
}

.dynatree-lastsib > ul > li {
    border-bottom: 1px solid #ddd;
}

.content-form .pull-left-container {
    position: absolute;
    left: 10px;
    /*  top: 10%;*/
    margin-top: 3px;
}

.content-form .title-item {
    padding-left: 5rem;
}

.li-has-chil {
    border-bottom: 1px solid #ddd;
}

.icon-menu-tree {
    font-weight: 600;
}

    .icon-menu-tree.open {
        -webkit-transform: rotate( 90deg );
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg );
    }

.title-item img {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: top;
    border-style: none;
}

.title-item i {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    border-style: none;
    color: var(--primary);
}

.SaveProperties {
    background: rgb(238, 70, 34);
    border-color: rgb(238, 70, 34);
}

.AddRow {
    background: rgb(238, 70, 34);
    border-color: rgb(238, 70, 34);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: rgb(238, 70, 34);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.content-list-info {
    display: none;
}

    .content-list-info.active {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

.noiDung {
    display: none;
}

@media (max-width: 420px) {
    .map-side-form {
        width: 90%;
        left: -90%;
    }

        .map-side-form.show {
            left: 0%;
        }

    p {
        font-size: 1rem;
    }

    .sidebar-enable .map-side-form.show {
        margin-left: 0px;
    }
}

@media (max-width: 767.98px) {
    .content-page, .enlarged .content-page {
        margin-left: 0 !important;
        padding: 0 0px;
    }

    .map-side-form {
        margin-left: 0px;
        min-width: unset;
    }

    body {
        padding: 0;
    }

    .enlarged .map-side-form {
        margin-left: 0px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(158, 165, 171);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(158, 165, 171);
    }

#AbpContentToolbarQTSC {
    display: none;
}

.entry-row {
    margin: 0;
}

.lp-content.h-100 {
    background: #fff;
}
