﻿.right-content .card-title {
    text-transform: uppercase;
    padding: 1.3rem 1.5rem;
    margin-bottom: 0px;
    width: 80px;
}

hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0 1.5rem;
    background: #E5E5E5 0% 0% no-repeat padding-box;
}

.right-content .card-body {
    padding: 16px;
}

.card-body span {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.file-upload-content {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.svg-avatar, .image-avatar {
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
}

.content-layer {
    position: absolute;
    top: 30%;
    margin: 0;
    width: 100%;
}

.div-border {
    width: 280px;
    height: 280px;
    position: relative;
    /* background-color: #6da8cb; */
    margin: 0px 3px 5px 3px;
    cursor: pointer;
    border: 1px solid #dee2e6;
    border-radius: 12px;
}

.name-avatar {
    margin-top: 24px;
    letter-spacing: 0px;
    color: #000000DE;
}

    .name-avatar span {
        text-transform: unset;
    }

.right-content .content {
    height: calc(100vh - 240px);
    overflow-y: auto;
    margin: 24px 0 0 0;
    padding: 0;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 6px;
}

.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    /*padding: 10px;*/
    margin-bottom: 0px;
    position: static;
}

    .div-content.active .tree-left {
        width: 0px !important;
    }

    .div-content.active .right-content {
        width: 100% !important;
    }

        .div-content.active .right-content img#hideTree {
            transform: rotateY(180deg);
        }


.content-wrapper {
    position: static !important;
}

.left-tree .title {
    text-align: left;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 1;
}

.item-li {
    display: inline-block;
    width: 100%;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}

    .item-li:hover, .item-li:active, .item-li:focus {
        font-weight: 600;
    }

.content-form ul {
    list-style-type: none;
    font-size: 13px;
    padding-left: 16px;
}

.item-li.forcus {
    background: var(--forcus);
    font-weight: 600;
    font-style: italic !important;
    /*box-shadow: 0 2px 2px 0 #0000001a, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #00000026;*/
}

.content-form ul li {
    position: relative;
    margin: 0;
    padding: 0;
}


.panel-heading a {
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.div-search-tree {
    letter-spacing: 0px;
    opacity: 1;
}

/*btn style data information*/

.btn-style {
    background-color: #fff;
    border: solid 1px #707070 !important;
    border-radius: 3px !important;
    width: 105px;
    text-align: left;
    padding-left: 13px;
}