﻿@page
@using Microsoft.Extensions.Localization
@using IoT.HTKT.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using IoT.HTKT.Web.Menus
@inject IStringLocalizer<HTKTResource> L
@inject IPageLayout PageLayout
@model IoT.HTKT.Web.Pages.HTKT.ManagementLayer.IndexModel
@{
    PageLayout.Content.Title = L["Menu:ManagementLayer"].Value;
    PageLayout.Content.MenuItemName = HTKTMenus.ManagementLayer;
}
<div class="div-content card">
    <div class="tree-left" style="box-shadow: 0px 6px 6px #00000029;">
        <div class="map-side-form show">
            <div class="form-inner content-side">

                <div class="form-header " style="display: flex;">
                    <div class="div-search">
                        <input type="text" class="search-tree form-control" placeholder="@L["Layer:InputLayerName"].Value" />
                    </div>
                    <div class="div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <defs></defs>
                            <path style="fill: none;" class="a" d="M0,0H24V24H0Z" />
                            <path style="fill: #fff;" class="b" d="M11,2a9,9,0,1,1-9,9A9,9,0,0,1,11,2Zm0,15.993a7,7,0,1,0-7-7A7,7,0,0,0,11,17.993Zm8.481.071L22.3,20.89,20.89,22.3l-2.827-2.828,1.413-1.413Z" transform="translate(0.005 0.005)" />
                        </svg>
                    </div>
                </div>
                <div class="form-body active">
                    <div class="scroll-content">
                        <div class="content-form">
                            <div id="checkTree" style="display:none;"></div>
                            <ul class="tree-o-i">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="right-content" style="width:100%">
        <div class="card-title" data-original-title="@L["ManagementLayer:ClosePanel"].Value" data-toggle="tooltip" data-placement="bottom">
            <div class="svg-sidebar" style="width:fit-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" style="cursor: pointer;">
                    <defs></defs>
                    <g transform="translate(1988 32)">
                        <g transform="translate(-1988 -32)">
                            <path style="fill: none;" class="a" d="M0,0H24V24H0Z"></path>
                            <path style="fill: var(--primary)" class="b" d="M7.828,11H30v2H7.828l5.364,5.364-1.414,1.414L4,12l7.778-7.778,1.414,1.414Z"></path>
                        </g>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -28)"></rect>
                        <rect style="fill: #b2b2b2;" class="c" width="13" height="2" transform="translate(-1971 -14)"></rect>
                    </g>
                </svg>
            </div>
        </div>
        <hr />
        <div class="card-body">
            <span> @L["ManagementLayer:DataUseMost"].Value</span>
            <div class="content" style="min-height: unset;padding-bottom: 0;">
                <div class="menu-right">
                    <div class="file-upload-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementLayer/index-management-layer.css">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementLayer/left-tree-view.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Pages/HTKT/ManagementLayer/managementlayer.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/libs/common/custom-design.css">
}
@section scripts{
    <environment include="Development">
        <script src="~/Pages/HTKT/ManagementLayer/tree-view-layer.js"></script>
        <script src="~/Pages/HTKT/ManagementLayer/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Pages/HTKT/ManagementLayer/managementlayer.min.js" asp-append-version="true"></script>
    </environment>
    <script>
            var ManagementLayer = {
            GLOBAL: {
                lstLayerPermission: JSON.parse('@Html.Raw(Json.Serialize(Model.ListLayer))'),
                lstIdLayer: JSON.parse('@Html.Raw(Json.Serialize(Model.ListIdLayer))'),
                ListIdShow: [],
                isAdmin: '@Model.IsAdmin'
            },
            CONSTS: {

            },
            SELECTORS: {

            }
        }
        $(function () {
            indexdata.init();
            TreeLayerManagementLayer.init();
        });

    </script>
}