﻿
.content-wrapper {
    position: relative;
}

/*.content {
    display: flex;
    padding: 15px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
*/

.title {
    font-size: 16px;
    font-weight: 700;
}

.map-side-form .form-inner {
    position: relative;
    overflow-y: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.bg-main {
    /*margin-bottom: 10px;*/
}

.map-side-form .form-header {
    position: relative;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    padding: 16px;
    padding-bottom: 0;
}


.map-side-form .form-body {
    padding: 16px;
    padding-top: 5px;
    padding-left: 0px;
    flex: 1;
    display: none;
    font-weight: 500;
    flex-direction: column;
    overflow-y: hidden;
    padding-right: 0;
    padding-bottom: 0;
}

.form-body.active {
    display: flex;
    animation: opac .4s ease-out;
}


.map-container {
    height: 100%;
    width: 74.5%;
    display: block;
    padding: 0px;
    width: calc(100%) !important;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#checkTree {
    height: calc(100vh - 95px);
}

@keyframes opac {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.map-side-form .scroll-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.tree-o-i > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dynatree-lastsib > ul > li {
    border-bottom: 1px solid #ddd;
}

.content-form ul {
    list-style-type: none;
    font-size: 13px;
    padding-left: 1.5rem;
}

    .content-form ul li {
        position: relative;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

.item-li {
    display: flex;
    width: 100%;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    color: inherit;
}

.content-form .pull-left-container {
    width: 24px;
    text-align: center;
}

.content-form .title-item {
    text-align: left;
    display: flex;
    letter-spacing: 0px;
    opacity: 1;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

    .content-form .title-item svg {
        width: 10%;
    }

.name-layer-item, .name-folder-parent {
    padding-left: 5px;
    width: 90%;
    font-size:14px;
}

.li-has-chil {
    border-bottom: 1px solid #ddd;
}

.icon-menu-tree {
    font-weight: 600;
}

    .icon-menu-tree.open {
        -webkit-transform: rotate( 90deg );
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg );
    }

/* The container */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

.title-item img {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    border-style: none;
}

.title-item i {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    border-style: none;
    color: rgb(238, 70, 34);
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 25px;
    height: 15px;
    width: 15px;
    /*background-color: #eee;*/
    border: 1.5px solid #000;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: rgb(238, 70, 34);
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: rgb(238, 70, 34);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate( 45deg );
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg );
}

.active-treeview {
    font-style: italic !important;
    font-weight: bold !important;
}

.content-list-info {
    display: none;
}

    .content-list-info.active {
        position: relative;
        overflow-y: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }


/*.bg-main {
    z-index: 999;
}*/

/*body .content-side {
    display: flex !important;
}
*/
.map-side-form {
    transition: all 0.7s ease;
    bottom: 0;
    width: 0px;
}

.left-side-menu {
    z-index: 2;
}

.left-tree {
    width: 24.5%;
    height: 100%;
    position: relative;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.map-view {
    width: calc(74.5%);
    background-color: #fff;
}

.content-page {
    padding: 0;
    min-height: unset;
    margin-top: unset;
}

.map-side-form.show {
    left: -10px;
    width: 310px;
}

.map-side-form #btn-side-form-toggle {
    border: 0;
    outline: 0;
    position: absolute;
    right: -3.2rem;
    top: 0;
    width: 3.2rem;
    height: 4.2rem;
    background-color: white;
    border-top-right-radius: 0.31rem;
    border-bottom-right-radius: 0.31rem;
}

.tree-o-i {
    height: calc(100vh - 165px);
    margin: 0;
    padding: 0;
}

.map-side-form .icon-show {
    display: none;
}

.map-side-form .icon-hide {
    display: block;
}

.map-side-form.show .icon-show {
    display: block;
}

.map-side-form.show .icon-hide {
    display: none;
}

.head-case-login {
    width: 100%;
    color: #3597E4;
    background-color: #FFF;
    font-size: 1.5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.tab-content-side {
    border: none;
    outline: none;
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
    width: 49%;
    /* background-color: #FFF; */
    cursor: pointer;
}

    .tab-content-side.active {
        border-bottom: 3px solid #3597E4;
    }

input:focus {
    outline: none;
}

.enlarged .content-page {
    padding: 0px;
    margin-top: unset;
}

.search-tree {
    width: 100%;
    height: 48px;
    /*border: 1px solid #999;*/
    padding: 13px 9px;
    /*border-radius: 4px;*/
    border-radius: 4px 0px 0px 4px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}


/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(158, 165, 171);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(158, 165, 171);
    }

@media (max-width: 767.98px) {
    .content-page, .enlarged .content-page {
        margin-left: 0 !important;
        padding: 0 0px;
    }

    .map-side-form {
        margin-left: 0px;
        min-width: unset;
    }

    body {
        padding: 0;
    }

    .enlarged .map-side-form {
        margin-left: 0px;
    }
}

/*@media (max-height: 800px) {
    .tree-o-i {
        height: calc(100vh - 270px);
    }
}*/

@media (max-width: 420px) {
    .map-side-form {
        width: 90%;
        left: -90%;
    }

        .map-side-form.show {
            left: 0%;
        }

    p {
        font-size: 1rem;
    }

    .sidebar-enable .map-side-form.show {
        margin-left: 0px;
    }
}

.div-search {
    width: calc(100% - 49px);
}

.div-icon {
    width: 49px;
    height: 48px;
    background: var(--primary);
    border-radius: 0px 4px 4px 0px;
}

    .div-icon svg {
        margin: 12px 12px;
    }
