<abp-modal [(visible)]="isModalOpen" size="md" [suppressUnsavedChangesWarning]="true">
  <ng-template #abpHeader>
    <h5 class="modal-title">{{ 'AbpAccount::MyLinkUsers' | abpLocalization }}</h5>
  </ng-template>
  <ng-template #abpBody>
    <div class="text-right mb-3">
      <button
        id="create-link-user"
        class="btn btn-primary"
        type="button"
        (click)="createNewLinkUser()"
      >
        {{ 'AbpAccount::NewLinkUser' | abpLocalization }}
      </button>

      <div class="mt-2">
        <ngx-datatable [rows]="data" [count]="data.length" [list]="list" default>
          <ngx-datatable-column
            [name]="'AbpUi::Actions' | abpLocalization"
            [maxWidth]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button
                  class="btn btn-primary btn-sm dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  ngbDropdownToggle
                >
                  <i class="fa fa-cog mr-1"></i>{{ 'AbpUi::Actions' | abpLocalization }}
                </button>
                <div ngbDropdownMenu>
                  <button ngbDropdownItem (click)="loginAsThisUser(row)">
                    {{ 'AbpAccount::LoginAsThisUser' | abpLocalization }}
                  </button>
                  <button *ngIf="row.directlyLinked" ngbDropdownItem (click)="delete(row)">
                    {{ 'AbpUi::Delete' | abpLocalization }}
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'AbpAccount::UserName' | abpLocalization">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.targetTenantName ? row.targetTenantName + '\\' : '' }}{{ row.targetUserName }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'AbpAccount::DirectlyLinked' | abpLocalization">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <i class="fas fa-{{ row.directlyLinked ? 'check' : 'times' }}"></i>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </ng-template>
</abp-modal>
