﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Account.LoginModel
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Login"].Value;
}
<form method="post">
    <abp-input asp-for="Input.UserName" />
    <abp-input asp-for="Input.Password" />
    <div class="row">
        <div class="col"> 
            <abp-input asp-for="Input.RememberMe" class="mb-4" />
        </div>
        <div class="col text-right"> 
            <a href="@Url.Page("./ForgotPassword")">@L["ForgotPassword"]</a>
        </div>
    </div>
    <abp-button button-type="Primary" type="submit" class="btn-block mt-2 mb-3">@L["Login"]</abp-button>
</form>
Not a member yet? <a href="@Url.Page("./Register")">@L["Register"]</a>
<br />
<hr />
Or sign in with<br />
<a class="btn btn-outline-primary btn-sm mt-2 mr-2" href="@Url.Page("./Facebook")">@L["Facebook"]</a>
<a class="btn btn-outline-primary btn-sm mt-2 mr-2" href="@Url.Page("./Google")">@L["Google"]</a>
<hr /> 
<select class="custom-select d-inline mt-2 form-control">
    <option>English</option>
    <option>Spanish</option>
    <option>Italian</option>
</select>

