<div (keyup.enter)="submit()">
  <h4>{{ 'AbpAccount::Captcha' | abpLocalization }}</h4>

  <form *ngIf="form" [formGroup]="form">
    <ng-container *ngIf="!isTenant">
      <div class="custom-checkbox custom-control mb-2">
        <input
          type="checkbox"
          id="use-captcha-on-login"
          name="useCaptchaOnLogin"
          class="custom-control-input"
          formControlName="useCaptchaOnLogin"
          autofocus
        /><label class="custom-control-label" for="use-captcha-on-login">{{
          'AbpAccount::Description:UseCaptchaOnLogin' | abpLocalization
        }}</label>
      </div>
      <div class="custom-checkbox custom-control mb-2">
        <input
          type="checkbox"
          id="use-captcha-on-registration"
          name="useCaptchaOnRegistration"
          class="custom-control-input"
          formControlName="useCaptchaOnRegistration"
        /><label class="custom-control-label" for="use-captcha-on-registration">{{
          'AbpAccount::Description:UseCaptchaOnRegistration' | abpLocalization
        }}</label>
      </div>

      <div class="form-group">
        <label>{{ 'AbpAccount::DisplayName:VerifyBaseUrl' | abpLocalization }}</label>
        <input type="text" class="form-control" formControlName="verifyBaseUrl" />
      </div>
    </ng-container>

    <div class="form-group">
      <label for="captcha-version">{{ 'AbpAccount::DisplayName:Version' | abpLocalization }}</label>
      <select id="captcha-version" class="form-control" formControlName="version">
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ 'AbpAccount::DisplayName:SiteKey' | abpLocalization }}</label>
      <input type="text" class="form-control" formControlName="siteKey" />
      <small class="form-text text-muted">{{
        'AbpAccount::SetNullWillUseGlobalSettings' | abpLocalization
      }}</small>
    </div>

    <div class="form-group">
      <label>{{ 'AbpAccount::DisplayName:SiteSecret' | abpLocalization }}</label>
      <input type="text" class="form-control" formControlName="siteSecret" />
      <small class="form-text text-muted">{{
        'AbpAccount::SetNullWillUseGlobalSettings' | abpLocalization
      }}</small>
    </div>

    <div class="form-group" *ngIf="form.controls.version.value === 3">
      <label>{{ 'AbpAccount::DisplayName:Score' | abpLocalization }}</label>
      <input type="number" class="form-control" formControlName="score" min="0" max="1" />
    </div>
  </form>
  <hr class="my-4" />

  <div>
    <abp-button (click)="submit()" iconClass="fa fa-save" [loading]="loading">{{
      'AbpAccount::Save' | abpLocalization
    }}</abp-button>
  </div>
</div>
