<ng-template>
  <h3>{{ 'AbpIdentityServer::' + title | abpLocalization }}</h3>
  <div [formGroup]="form">
    <div class="form-group">
      <label for="Client_AccessTokenLifetime">{{
        'AbpIdentityServer::AccessTokenLifetime' | abpLocalization
      }}</label
      ><input
        type="number"
        id="Client_AccessTokenLifetime"
        name="Client.AccessTokenLifetime"
        class="form-control"
        formControlName="accessTokenLifetime"
      />
    </div>
    <div class="form-group">
      <label for="Client_AccessTokenType">{{
        'AbpIdentityServer::AccessTokenType' | abpLocalization
      }}</label
      ><input
        type="number"
        id="Client_AccessTokenType"
        name="Client.AccessTokenType"
        class="form-control"
        formControlName="accessTokenType"
      />
    </div>
    <div class="form-group">
      <label for="Client_ConsentLifetime">{{
        'AbpIdentityServer::ConsentLifetime' | abpLocalization
      }}</label
      ><input
        type="number"
        id="Client_ConsentLifetime"
        name="Client.ConsentLifetime"
        class="form-control"
        formControlName="consentLifetime"
      />
    </div>
    <div class="form-group">
      <label for="Client_PairWiseSubjectSalt">{{
        'AbpIdentityServer::PairWiseSubjectSalt' | abpLocalization
      }}</label
      ><input
        type="text"
        data-val="true"
        id="Client_PairWiseSubjectSalt"
        name="Client.PairWiseSubjectSalt"
        class="form-control"
        formControlName="pairWiseSubjectSalt"
      />
    </div>
    <div class="custom-checkbox custom-control mb-2">
      <input
        type="checkbox"
        id="Client_IncludeJwtId"
        name="Client.IncludeJwtId"
        class="custom-control-input"
        formControlName="includeJwtId"
      /><label class="custom-control-label" for="Client_IncludeJwtId">{{
        'AbpIdentityServer::IncludeJwtId' | abpLocalization
      }}</label>
    </div>
    <div class="form-group">
      <label for="Client_UserSsoLifetime">{{
        'AbpIdentityServer::UserSsoLifetime' | abpLocalization
      }}</label
      ><input
        type="number"
        id="Client_UserSsoLifetime"
        name="Client.UserSsoLifetime"
        class="form-control"
        formControlName="userSsoLifetime"
      />
    </div>
    <div class="form-group">
      <label for="Client_UserCodeType">{{
        'AbpIdentityServer::UserCodeType' | abpLocalization
      }}</label
      ><input
        type="text"
        id="Client_UserCodeType"
        name="Client.UserCodeType"
        value=""
        class="form-control"
        formControlName="userCodeType"
      />
    </div>
    <div class="form-group">
      <label for="Client_DeviceCodeLifetime">{{
        'AbpIdentityServer::DeviceCodeLifetime' | abpLocalization
      }}</label
      ><input
        type="number"
        id="Client_DeviceCodeLifetime"
        name="Client.DeviceCodeLifetime"
        class="form-control"
        formControlName="deviceCodeLifetime"
      />
    </div>
    <div class="custom-checkbox custom-control mb-2">
      <input
        type="checkbox"
        id="client-require-pkce"
        class="custom-control-input"
        formControlName="requirePkce"
      /><label class="custom-control-label" for="client-require-pkce">{{
        'AbpIdentityServer::RequirePkce' | abpLocalization
      }}</label>
    </div>
    <div class="custom-checkbox custom-control mb-2">
      <input
        type="checkbox"
        id="client-require-client-secret"
        class="custom-control-input"
        formControlName="requireClientSecret"
      /><label class="custom-control-label" for="client-require-client-secret">{{
        'AbpIdentityServer::RequireClientSecret' | abpLocalization
      }}</label>
    </div>
  </div>
</ng-template>
