﻿@page
@using IoT.ThongKe.Web.Pages.ThongKe
@using IoT.ThongKe.Localization
@using Microsoft.Extensions.Localization
@using IoT.ThongKe.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@model IoT.ThongKe.Web.Pages.BangBieu.IndexModel

@inject IStringLocalizer<ThongKeResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Menu:DetailMainObject"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:ThongKe"].Value);
    PageLayout.Content.MenuItemName = ThongKeMenus.TableStatistic;
    ViewBag.Title = L["Menu:DetailMainObject"].Value;
}

<abp-card class="search-card">
    <abp-card-body class="pb-lg-3">
        <form id="FilterFormId" method="post">
            <abp-row>
                <abp-column size-lg="_6" size-md="_12" class="input-group input-daterange d-block">
                    <abp-row>
                        <abp-column size-lg="_6">
                            <abp-input asp-for="@Model.filt" autocomplete="off" type="text" />
                        </abp-column>
                        <abp-column size-lg="_6">
                            <abp-input asp-for="@Model.EndTime" autocomplete="off" type="text" />
                        </abp-column>
                    </abp-row>
                </abp-column>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-input asp-for="@Model.ApplicationName" />
                </abp-column>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-input asp-for="@Model.Identity" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-input asp-for="@Model.UserName" />
                </abp-column>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-input asp-for="@Model.Action" />
                </abp-column>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-input asp-for="@Model.ClientId" />
                </abp-column>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-input asp-for="@Model.CorrelationId" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column size-lg="_3" size-md="_6">
                    <abp-button id="search-filter-btn" class="" button-type="Primary" type="submit">
                        <i class="icon-search fa fa-search" aria-hidden="true"></i>@L["SecurityLogs:Search"].Value
                    </abp-button>
                </abp-column>
            </abp-row>
        </form>
    </abp-card-body>
</abp-card>
<abp-table striped-rows="true" id="IdentitySecurityLogsTable" class="nowrap"></abp-table>

