.sidebar-menu{
    background-color: #fff;
    color: #707070;
}
.right-line-horizel {
    width: 1px;
    background: #e5e5e5 0% 0% no-repeat padding-box;
    height: 42px;
    align-self: center;
}
.menu_gomtru{
    padding: 0px 5px;
}