<ng-container *ngIf="datas$ | async as data">
  <abp-page [title]="'LanguageManagement::LanguageTexts' | abpLocalization" [toolbar]="data">
    <div id="wrapper">
      <div class="card">
        <div class="card-body">
          <form id="FilterFormId" (keyup.enter)="list.get()">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="BaseCultureName">{{
                    'LanguageManagement::BaseCultureName' | abpLocalization
                  }}</label>
                  <select
                    class="custom-select form-control"
                    id="BaseCultureName"
                    name="BaseCultureName"
                    [(ngModel)]="pageQuery.baseCultureName"
                    (change)="list.get()"
                  >
                    <option *ngFor="let lang of languages" [ngValue]="lang.cultureName">
                      {{ lang.displayName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="TargetCultureName">{{
                    'LanguageManagement::TargetCultureName' | abpLocalization
                  }}</label>
                  <select
                    class="custom-select form-control"
                    id="TargetCultureName"
                    name="TargetCultureName"
                    [(ngModel)]="pageQuery.targetCultureName"
                    (change)="list.get()"
                  >
                    <option *ngFor="let lang of languages" [ngValue]="lang.cultureName">
                      {{ lang.displayName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="ResourceName">{{
                    'LanguageManagement::ResourceName' | abpLocalization
                  }}</label>
                  <select
                    class="custom-select form-control"
                    id="ResourceName"
                    name="ResourceName"
                    [(ngModel)]="pageQuery.resourceName"
                    (change)="list.get()"
                  >
                    <option [ngValue]="undefined"></option>
                    <option *ngFor="let resource of resources" [ngValue]="resource.name">
                      {{ resource.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label for="GetOnlyEmptyValues">{{
                    'LanguageManagement::TargetValue' | abpLocalization
                  }}</label>
                  <select
                    class="custom-select form-control"
                    id="GetOnlyEmptyValues"
                    name="GetOnlyEmptyValues"
                    [(ngModel)]="pageQuery.getOnlyEmptyValues"
                    (change)="list.get()"
                  >
                    <option [ngValue]="false">
                      {{ 'LanguageManagement::All' | abpLocalization }}
                    </option>
                    <option [ngValue]="true">
                      {{ 'LanguageManagement::OnlyEmptyValues' | abpLocalization }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-3 mb-lg-0">
                  <input
                    class="form-control"
                    [placeholder]="'LanguageManagement::Filter' | abpLocalization"
                    type="text"
                    id="Filter"
                    name="Filter"
                    [(ngModel)]="list.filter"
                  />
                  <div class="input-group-append">
                    <button
                      id="FilterFormSubmitButtonId"
                      class="btn btn-primary"
                      type="button"
                      (click)="list.get()"
                    >
                      {{ 'LanguageManagement::Refresh' | abpLocalization }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card">
        <ngx-datatable default [rows]="data" [count]="totalCount$ | async" [list]="list">
          <ngx-datatable-column
            [name]="'LanguageManagement::Actions' | abpLocalization"
            [maxWidth]="150"
            [width]="150"
            [sortable]="false"
          >
            <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
              <abp-grid-actions
                [index]="i"
                [record]="row"
                text="LanguageManagement::Actions"
              ></abp-grid-actions>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            *ngFor="let col of columns"
            [name]="col.header | abpLocalization"
            [prop]="col.field"
            [width]="200"
          >
            <ng-template let-row="row" let-i="index" ngx-datatable-cell-template>
              <div abpEllipsis>
                {{ row[col.field] }}
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </abp-page>
</ng-container>

<abp-modal [(visible)]="isModalVisible" [busy]="modalBusy">
  <ng-template #abpHeader>
    <h3>{{ 'LanguageManagement::Edit' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <div class="fade" [class.show]="!modalBusy">
      <div class="form-group">
        <label>{{ 'LanguageManagement::Key' | abpLocalization }}</label>
        <div>
          <strong>{{ selected.name }}</strong>
        </div>
      </div>

      <div class="form-group">
        <label for="LanguageTextToEdit_BaseCultureValue">{{
          'LanguageManagement::BaseValue' | abpLocalization
        }}</label
        ><textarea
          id="LanguageTextToEdit_BaseCultureValue"
          name="LanguageTextToEdit.BaseCultureValue"
          rows="4"
          disabled
          class="form-control"
          [value]="selected.baseValue"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="LanguageTextToEdit_BaseCultureValue">{{
          'LanguageManagement::TargetValue' | abpLocalization
        }}</label
        ><textarea
          id="LanguageTextToEdit_TargetCultureValue"
          name="LanguageTextToEdit.TargetCultureValue"
          rows="4"
          class="form-control"
          (keyup.enter)="save(false)"
          [(ngModel)]="selected.value"
        ></textarea>
      </div>
    </div>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-sm btn-outline-primary" abpClose>
      {{ 'LanguageManagement::Cancel' | abpLocalization }}
    </button>
    <abp-button
      iconClass="fa fa-check"
      buttonClass="btn btn-sm btn-outline-primary"
      (click)="restore()"
      >{{ 'LanguageManagement::RestoreToDefault' | abpLocalization }}</abp-button
    >
    <abp-button
      iconClass="fa fa-check"
      buttonClass="btn btn-sm btn-primary"
      (click)="save(false)"
      [loading]="modalBusy"
      >{{ 'LanguageManagement::Save' | abpLocalization }}</abp-button
    >
    <abp-button
      iconClass="fa fa-check"
      buttonClass="btn btn-sm btn-success"
      (click)="save(true)"
      [loading]="modalBusy"
      >{{ 'LanguageManagement::SaveAndNext' | abpLocalization }}
      <i class="fa fa-arrow-right ml-1"></i
    ></abp-button>
  </ng-template>
</abp-modal>
