<abp-modal [visible]="visible" (visibleChange)="onVisibleChange($event)">
  <ng-template #abpHeader>
    <h5 class="modal-title" id="modal-basic-title">
      {{ 'AbpIdentityServer::' + type | abpLocalization }}
    </h5>
  </ng-template>
  <ng-template #abpBody>
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
      <ng-container *ngFor="let tab of tabs; let outerIndex = index">
        <ng-container *ngIf="tab.innerTabs; else singleTab">
          <li ngbDropdown class="nav-item">
            <a
              class="nav-link pointer"
              [class.active]="activeTab?.startsWith(outerIndex + '-')"
              ngbDropdownToggle
              >{{ 'AbpIdentityServer::' + tab.title | abpLocalization }}</a
            >
            <div ngbDropdownMenu>
              <div ngbDropdownItem *ngFor="let innerTab of tab.innerTabs; let innerIndex = index">
                <ng-container
                  *ngTemplateOutlet="
                    tabTemplateWithoutLink;
                    context: { $implicit: innerTab, index: outerIndex + '-' + innerIndex }
                  "
                ></ng-container>
              </div>
            </div>
          </li>
        </ng-container>

        <ng-template #singleTab>
          <ng-container
            *ngTemplateOutlet="tabTemplate; context: { $implicit: tab, index: outerIndex + '' }"
          ></ng-container>
        </ng-template>
      </ng-container>

      <ng-template #tabTemplate let-tab let-index="index">
        <li [ngbNavItem]="index">
          <a ngbNavLink>{{ 'AbpIdentityServer::' + tab.title | abpLocalization }}</a>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="tab.template"></ng-container>
          </ng-template>
        </li>
      </ng-template>

      <ng-template #tabTemplateWithoutLink let-tab let-index="index">
        <div
          class="pointer"
          [class.nav-item]="false"
          [ngbNavItem]="index"
          #item="ngbNavItem"
          (click)="nav.click(item)"
        >
          {{ 'AbpIdentityServer::' + tab.title | abpLocalization }}
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="tab.template"></ng-container>
          </ng-template>
        </div>
      </ng-template>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2 fade-in-top"></div>
  </ng-template>
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpIdentityServer::Cancel' | abpLocalization }}
    </button>
    <abp-button iconClass="fa fa-check" (click)="onSave()" [disabled]="shouldBeDisabled()">{{
      'AbpIdentityServer::Save' | abpLocalization
    }}</abp-button>
  </ng-template>
</abp-modal>
