// GENERAL
/* ~ */
/* ---------- GENERAL STYLES - START */
 /*.dropdown-menu {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; 
    -webkit-transform-origin: top center;
    transform-origin: top center;
}*/ 

.lp-content {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 140px);
}
.lp-topmenu {
    .lp-content { 
        min-height: calc(100vh - 160px);
    }
}
body {
    font-family: $base-font-family;
    font-weight: $normal;
    font-size: $base-font-size;
    //line-height: $base-line-height;
    background: $background url(../assets/backgrounds/bg-transparent.png) top center no-repeat;
    color: $global-text;
    background-attachment: fixed !important;
    background-size: cover !important;
    padding-top: 64px;

    .lp-content {
        padding: 0 $grid*1.5 $grid*1.5 $grid;
    }

    &.lp-opened-sidebar {
        .lp-content {
            padding: 0 $grid*1.5 $grid $main-menu-width+$grid*1.5;
        }

        .lp-footer {
            padding-left: $main-menu-width+$grid*1.5;
        }
    }

    &.lp-closed {
        .lp-content {
            padding: 0 $grid*1.5 $grid $grid*1.5+78;
        }

        .lp-footer {
            padding-left: $grid*2+78;
        }
    }

    @include respond-to($sm) {
        padding-top: 64px;

        .lp-content {
            padding: 0 15px !important;
        }

        .lp-footer {
            padding: 20px !important;

            > div.d-flex {
                display: block !important;
                text-align: center;

                > div {
                    padding: 5px;
                }
            }
        }
    }

    &.lp-topmenu {
        padding-top: 63px;

        .lp-content {
            padding: 0 $grid*2 $grid;
        }

        .lp-footer {
            padding-left: $grid*2/3 !important;
        }
    }

    &.lp-boxed {
        .lp-content {
            max-width: 1400px;
        }

        &:not(.lp-topmenu) {
            .lp-content {
                max-width: 1664px;
            }
        }

        .lp-footer {
            padding-left: $main-menu-width+$grid*1.5;
        }
    }
} 
.content-header-title,
.breadcrumb,
.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item.active,
.breadcrumb-item + .breadcrumb-item::before
  {
    color: $global-text;
}
.navbar-brand, 
.navbar-brand:hover,
.lp-toggle-sidebar i {
    color: $sidebar-text;
}
.lp-sidebar a, header a, .btn, .navbar-brand {
    font-family: $head-font-family;
    font-weight: $normal;
}
.entry-row {
    margin: $grid 0 $grid/2 0;

    .btn, .btn-group .btn, input {
        font-size: .875em !important;  
    }

    .form-control {
        background: $global-bg !important;
        color: $global-text !important;
        box-shadow: $shadow !important;
        width: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: 0 !important;
        width: 100px !important;
        border-radius: $radius !important;

        @include respond-to($sm) {
            width: 100% !important;
        }
    }

    @include respond-to($sm) { 

        .btn, .btn-group .btn {
            display: block;
            top: 0px;
            margin-bottom: 1em;
            width: 100%;
            padding: 6px !important;
            text-align: center;
        }

        .btn-group {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}
.custom-file-label {
    border-width: 2px;
    border-color: darken($global-bg, 3);

    &::after {
        top: -1px;
        right: -1px;
        border-left-width: 2px;
        border-color: $background;
        background: none;
    }
}
.custom-file-input:focus ~ .custom-file-label {
    color: #495057;
    background-color: #fff;
    border-color: rgba($primary,.25);
    outline: 0;
    box-shadow: 0 0 0.2rem $background;

    &::after {
        border-color: rgba($primary,.25);
    }
}
.card-seperator {
    border-bottom: 1px solid darken($global-bg,2);
    margin: 1.5rem 0;
}
h1.content-header-title {
    font-size: 1.5em;
    margin: 3px 0 0;
}
.code-area {
    margin: 30px 0 60px;
}
body {
    &.abp-account-layout {
        padding-top: 0;
    }
}
.navbar-brand {
    width: 180px;
    height: 24px;
    background: $logo center left;
    background-size: contain !important;
    background-repeat: no-repeat;
    z-index: 106;
    top: 21px;
    left: 56px;
    position: absolute;

    @include respond-to($sm) {
        top: 10px;
        height: 30px;
        margin: 5px 10px;
        left: 10px;
    }
}
.navbar-toggler {
    color: $sidebar-text !important;
    outline: none !important;
}
.lp-closed {
    .navbar-brand {
        opacity: 0;
    }

    &.lp-extended {
        .navbar-brand {
            opacity:1;
        }
    }
}
.account-brand {
    .navbar-brand {
        background: $logo-reverse center center;
        background-size: contain !important;
        background-repeat: no-repeat;
        height: 50px;
        top: -20px !important;
        margin: 0;
        left: 50% !important;
        margin-left: -86px;
    } 
}
/* ---------- GENERAL STYLES - END */
/* ~ */

/* abp needs */
.form-with-card .card {
    margin-bottom: 0;
}
.form-with-card .custom-body {
    height: 308px; /* 100% = dialog height, 120px = header + footer */
    overflow-y: auto; 
}
.form-with-card .custom-secret-body {
    height: 240px; /* 100% = dialog height, 120px = header + footer */ 
}
.form-with-card .custom-AppUri-body, .form-with-card .custom-restriction-body, .form-with-card .custom-properties-body {
    height: 150px; /* 100% = dialog height, 120px = header + footer */ 
}
.form-with-card .custom-grantType-body {
    height: 120px; /* 100% = dialog height, 120px = header + footer */ 
}
.custom-control-label::before, .custom-control-label::after { 
    top: 0.125rem; 
}
.fs-9 {
    font-size: .95em;
}
.mw-100 {
    min-width: 150px;
}


/* 
    loader
*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;

    #cover-spin {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(121, 121, 121, 0.65);
    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    #cover-spin::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 47%;
        width: 40px;
        height: 40px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.25);
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
}
 
/* 
    validation
*/
.field-validation-error {
    &.text-danger {
        span {
            font-size: .8em;
            background: darken($global-bg, 3);
            color: $global-text;
            padding: 8px 12px 0;
            display: block;
            border: 2px solid $danger;
            border-bottom-width: 0;
            border-top: 0;
            transition: .5s;
            line-height: 1.5;

            &:last-of-type {
                padding-bottom: 8px;
                border-bottom-width: 2px;
                border-radius: 0 0 .25rem .25rem;
            }
        }
    }
}
.input-validation-error {
    border-color: $danger !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0 !important;

    &.form-control {

        &:focus, &:active, &:visited {
            box-shadow: none !important;
            border-color: $danger !important;
        }
    }
}

.fontawesome-icon-list a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #222;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
}


.lepton-demo-options {
    position: fixed;
    bottom: -300px; 
    right: 0;
    text-align: right;
    color: #fff;
    transition: $cubic;

    &:hover {
        bottom: 0;
    }

    label.open-demo-container {
        background: #131323;
        padding: 8px 16px;
        border-top-left-radius: 10px;
        margin: 0;
    }

    .lepton-demo-content {
        background: #131323;
        border-top-left-radius: 10px;
        padding: 20px;
        width: 500px;
        text-align: left;
        height: 300px;
    }
}


.abp-account-layout {
    .card {
        .card-header {
            .navbar-nav {
                margin: 0 !important;
                padding: 0 !important;

                .btn {
                    box-shadow: none;
                    padding: 0 !important;

                    &:hover, &:focus, &:active {
                        box-shadow: none;
                    }

                    &.dropdown-toggle {
                        span.current-language-name {
                            display: none;
                        }

                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


.error-page-container {
    max-width: 600px;
    margin: 50px auto;
    background: $global-bg;
    color: $text-color;
    box-shadow: $shadow;
    padding: 3em;
    border-radius: $radius;
    overflow: hidden;

    .status-content {

        h1 {
            font-size: 5em;
            margin: 0 0 -20px;
        }

        h2 {
            small {
                font-size: .5em;
                opacity: .5;
                display: block;
                text-transform: uppercase;
            }
        }
    }

    .status-icon {
        position: relative;

        span {
            position: absolute;
            width: 360px;
            height: 360px;
            background: $background;
            border-radius: 360px;
            left: -150px;
            top: -150px;
            z-index: 0;
        }

        .fa {
            position: relative;
            z-index: 1;
            font-size: 8em;
        }
    }
}


#btnFullscreen {
    .fa-expand {
        display: inline-block;
    }

    .fa-compress {
        display: none;
    }

    &.expanded {
        .fa-expand {
            display: none;
        }

        .fa-compress {
            display: inline-block;
        }
    }
     
    @include respond-to($sm) {
        display: none !important;
    }
}


.lp-content {
    > .row {
        > div {
            > .card {
                > .card-body {
                }

                &.card-one {
                    height: calc( 100% - #{$grid});
                }

                &.card-two {
                    height: calc( 50% - #{$grid});
                }

                &.card-three {
                    height: calc( 33.33% - #{$grid});
                }

                &.card-four {
                    height: calc( 25% - #{$grid});
                }

                &.card-five {
                    height: calc( 20% - #{$grid});
                }
            }
        }
    }
}

.opc-65 {
    opacity: .65
}

.opacity-50 {
    opacity: .5
}
 
.chat-box {
    background: darken($background, 3);
}


.user-avatar {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    margin-top: -1px;
}

.user-avatar-big {
    margin: 0;
    width: 44px;
    height: 44px;
    border-radius: 100%;
}
.custom-radio + * .field-validation-error span,
.custom-checkbox + * .field-validation-error span {
    background: transparent;
    border: 0;
    color: currentColor;
    padding: 0;
}

.chart-margin-fix {
    position: relative;
    margin-left: -10px;
    margin-bottom: -10px;
}

.badge {
    &.badge-avatar {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        line-height: 40px;
        padding: 0;
        font-size: 1.125em;
        border-radius: 100px;
        font-weight: 900;
        margin-right: .5em;
    }
}
.dataTable-action-col {
    width: 25px;
    text-align: center;
    &:before, &:after {
        display: none !important;
    }
}

.lepton-demo {

    &.lepton-border-demo [class^=border] {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin: .25rem;
        background: rgba($text-color, .03);
    }

    .card {
        .card-header {
            .nav-pills {
                padding: 0;
                box-shadow: none;
            }
        }

        .card-body {
            .tab-content {
                padding: 0;
                box-shadow: none;

                .nav-tabs:not(.nav-pills) {
                    margin-top: -$grid;
                    margin-left: -$grid;
                    margin-right: -$grid;
                }
            }
        }
    }

    &.lepton-demo-card {
        .abp-widget-wrapper {
            > .card {
                background: $background;

                .card-body {
                    .tab-content pre {
                        margin-left: -$grid;
                        margin-right: -$grid;
                        margin-bottom: -$grid;
                    }
                }

                .tab-content {
                    background: $background;
                }

                .nav-pills {
                    background: $background;
                }
            }
        }
    }
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #000000;
}

.btn span.spinner-border {
    margin-right: .5rem;
}