﻿
/*custom sweetalert*/
.swal-overlay--show-modal .swal-modal {
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    width: 317px;
    background: #FFF;
    transition: unset;
}

.swal-modal .swal-icon {
    display: none;
}

.swal-modal .swal-title {
    border-bottom: solid 1px #cecece;
    padding: 17px;
    margin-bottom: 0;
}

.swal-modal .swal-text {
    padding: 10px;
    text-align: center;
}

.swal-modal .swal-footer {
    padding: 10px 0;
    margin: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #FFF;
    place-content: center;
}

    .swal-modal .swal-footer .swal-button-container {
        width: 45%;
        margin: 0 5px;
    }

        .swal-modal .swal-footer .swal-button-container .swal-button {
            height: 48px;
            width: 100%;
            margin: 0;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--cancel {
            background: var(--danger) !important;
        }

        .swal-modal .swal-footer .swal-button-container .swal-button--confirm {
            background: var(--secondary) !important;
        }
