﻿@page
@model IoT.PermissionApp.Web.Pages.PermissionWithLayer.IndexModel
@{
}
<div class="div-content">
    <div class="right-content">
        <div class="content-body">
            <div class="w-100 mb-3 d-flex head-filter">
                <label class="mr-3">Xem theo người dùng hoặc vai trò</label>
                <select class="form-control select-type">
                    <option value="1">Người dùng</option>
                    <option value="2">Vai trò</option>
                </select>
            </div>

            <table class="table table-properties-system table-striped scroll">
                <thead>
                    <tr>
                        <th class="tree-col"> Danh sách lớp dữ liệu</th>
                        <th class="permission-col"> Thêm</th>
                        <th class="permission-col"> Chỉnh sửa</th>
                        <th class="permission-col"> Xóa</th>
                        <th class="permission-col"> Phân quyền</th>
                        <th class="permission-col"> Xem</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section styles {
    <link rel="stylesheet" href="~/libs/common/custom-design.css">
    <link rel="stylesheet" href="~/Pages/PermissionWithLayer/index.css">
}
@section scripts{

    <abp-script-bundle name="@typeof(IoT.PermissionApp.Web.Pages.PermissionWithLayer.IndexModel).FullName">
        <abp-script src="/Pages/PermissionWithLayer/index.js"></abp-script>
    </abp-script-bundle>
}
