﻿.div-content {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    position: relative;
    height: calc(100vh - 65px);
}

.entry-row {
    display: none;
}

.right-content {
    padding: 10px;
    width: 100%;
    position: relative;
}

.content-body {
    width: 100%;
    position: relative;
    padding: 20px;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 6px;
}

.head-filter {
    align-items: center;
}

.select-type {
    width: 300px;
    margin-left: 20px;
}

table {
    width: 100%;
    position: relative;
    overflow-x: auto;
    display: block;
}

    table thead th {
        background: #0084E90F;
        border-bottom: 2px solid #ebebeb;
        height: 50px;
        font-size: 14px;
        vertical-align: middle !important;
        color: #000000DD;
    }

    table tbody tr td {
        padding: 0 1rem;
        vertical-align: middle;
        height: 40px;
        transition: 700ms cubic-bezier(0.215, 0.61, 0.355, 1);
        border-bottom: 1px solid #f2f2f2;
        border-top: 0;
        color: rgba(0, 0, 0, 0.7);
    }

    table.scroll tbody,
    table.scroll thead {
        display: block;
    }

    table.scroll tbody {
        height: calc(100vh - 240px);
        overflow-y: auto;
        overflow-x: hidden;
    }

.tree-col {
    width: 30%;
    min-width: 272px;
}

.permission-col {
    width: 15%;
    min-width: 271px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}

span.select2-selection.select2-selection--single {
    padding: 3px 10px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border: 1px solid var(--primary);
}

.select2-search__field {
    width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--primary);
}

.select2-container--default .select2-results > .select2-results__options {
    border: 1px solid var(--primary);
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid var(--primary) !important;
    border-top: none !important;
}

.select2-container--below select2-container--focus + span.placeholder {
    transform: scale(0.8) translateY(-24px);
    background: #fff;
    color: var(--primary);
}

.select2-container .select2-search--inline .select2-search__field {
    height: 35px;
}
