﻿@page
@model IoT.Web.Pages.HomeModel
@using IoT.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using IoT.Localization
@using Volo.Abp.Users
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Authorization
@using IoT.KhaiThac.Permissions;
@using IoT.HTKT.Permissions
@inject IPageLayout PageLayout
@inject IAuthorizationService Authorization
@inject IHtmlLocalizer<IoTResource> L
@inject ICurrentUser CurrentUser
@inject IConfiguration config
@{
    ViewBag.PageTitle = L["Home"];
    PageLayout.Content.Title = L["Home"].Value;
    PageLayout.Content.MenuItemName = IoTMenus.Home;
    Layout = "~/Themes/Lepton/Layouts/Account/Default2.cshtml";

    var logo = config.GetSection("ProjectTitle:Logo") != null ? config.GetSection("ProjectTitle:Logo").Value : "";
    var title = config.GetSection("ProjectTitle:Title") != null ? config.GetSection("ProjectTitle:Title").Value : "";
}

@*<abp-card>
        <abp-card-header>@L["Welcome"]</abp-card-header>
        <abp-card-body>
            <p>@L["LongWelcomeMessage"]</p>

            @if (!CurrentUser.IsAuthenticated)
            {
                <a abp-button="Primary" href="~/Account/Login">@L["Login"]</a>
            }

            <hr />
            <p class="text-right"><a href="https://abp.io?ref=tmpl" target="_blank">abp.io</a></p>
        </abp-card-body>
    </abp-card>*@
<div style="width:100%; position: relative;">
    <div class="loginPage">
        <div class="loginHeader">
        </div>
        <div class="loginForm">

            <table id="ctl00_ContentPlaceHolder1_LoginView1_Login1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <div class="welcomeDiv">
                                <img src="/common/@logo" style=" display: block; margin: auto; width: 220px; height: 94px;">
                                <div class="wel-top">
                                    <h2>@title</h2>
                                    @*<span>Tích hợp dữ liệu trên nền GIS Công viên Phần mềm Quang Trung</span>*@
                                </div>
                                <div class="wel-content" align="center">
                                    <div class="content-item">
                                        <div class="row action-list">
                                            @if (await Authorization.IsGrantedAsync(HTKTPermissions.ManagementData.Default))
                                            {
                                                <a class="col-md-3 col-xs-12" href="~/HTKT/ManagementLayer">
                                                    <div class="box quan-ly-tai-lieu  border-box">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56"><defs></defs><path class="a" d="M0,0H56V56H0Z" style="fill: none;" /><path class="b fill-color-icon" d="M44.976,50.3H5.469A2.442,2.442,0,0,1,3,47.882V4.415A2.442,2.442,0,0,1,5.469,2H44.976a2.442,2.442,0,0,1,2.469,2.415V47.882A2.442,2.442,0,0,1,44.976,50.3ZM12.877,6.83H7.938V45.467H42.507V6.83H30.161V28.563l-8.642-4.83-8.642,4.83Z" transform="translate(2.777 1.851)" /></svg>
                                                        <span>@L["ManagerLayer"].Value</span>
                                                        <svg class="box-hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="180" height="180" viewBox="0 0 180 180">
                                                            <defs>
                                                                <style>
                                                                    .a1, .b1 {
                                                                        fill: none;
                                                                    }

                                                                    .b1 {
                                                                        stroke: transparent;
                                                                    }

                                                                    .c1 {
                                                                        clip-path: url(#a);
                                                                    }

                                                                    .d1 {
                                                                    }

                                                                    .e1 {
                                                                        stroke: none;
                                                                    }

                                                                    .f1 {
                                                                        fill: none;
                                                                    }
                                                                </style>
                                                                <clipPath id="a1">
                                                                    <rect class="a1" style="fill: none" width="180" height="180" rx="6" transform="translate(546 380)" />
                                                                </clipPath>
                                                            </defs>
                                                            <g class="b1">
                                                                <rect class="e1" width="180" height="180" rx="6" />
                                                                <rect class="f1" x="0.5" y="0.5" width="179" height="179" rx="5.5" />
                                                            </g>
                                                            <g class="c1" transform="translate(-546 -380)">
                                                                <rect class="d1  fill-color-icon" width="119" height="70" transform="translate(796.322 545.676) rotate(135)" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </a>
                                            }
                                            @if (await Authorization.IsGrantedAsync(HTKTPermissions.Exploit.Default))
                                            {
                                                <a class="col-md-3 col-xs-12" href="~/KhaiThac/Index">
                                                    <div class="box khai-thac   border-box">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56"><defs></defs><path class="a" d="M0,0H56V56H0Z" style="fill: none;" /><path class="b  fill-color-icon" d="M14.7,33.7l-5.7,5.7L16.6,47,47,16.6l-7.6-7.6-5.7,5.7,3.8,3.8-3.8,3.8-3.8-3.8-3.8,3.8,3.8,3.8-3.8,3.8-3.8-3.8-3.8,3.8,3.8,3.8-3.8,3.8L14.7,33.7ZM41.3,3.3,52.7,14.7a2.687,2.687,0,0,1,0,3.8L18.5,52.7a2.687,2.687,0,0,1-3.8,0L3.3,41.3a2.687,2.687,0,0,1,0-3.8L37.5,3.3A2.687,2.687,0,0,1,41.3,3.3ZM33.7,45.1l3.8-3.8,6.024,6.027h3.8v-3.8L41.3,37.5l3.8-3.8,7.085,7.082v11.4h-11.4L33.7,45.1ZM10.9,22.3,3.3,14.7a2.687,2.687,0,0,1,0-3.8l7.6-7.6a2.687,2.687,0,0,1,3.8,0l7.6,7.6-3.8,3.8L12.8,9,9,12.8l5.7,5.7-3.8,3.8Z" transform="translate(0 0)" /></svg>
                                                        <span>@L["Exploit"].Value</span>
                                                        <svg class="box-hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="180" height="180" viewBox="0 0 180 180">
                                                            <defs>
                                                                <style>
                                                                    .a1, .b1 {
                                                                        fill: none;
                                                                    }

                                                                    .b1 {
                                                                        stroke: transparent;
                                                                    }

                                                                    .c1 {
                                                                        clip-path: url(#a);
                                                                    }

                                                                    .d1 {
                                                                    }

                                                                    .e1 {
                                                                        stroke: none;
                                                                    }

                                                                    .f1 {
                                                                        fill: none;
                                                                    }
                                                                </style>
                                                                <clipPath id="a1">
                                                                    <rect class="a1" style="fill: none" width="180" height="180" rx="6" transform="translate(546 380)" />
                                                                </clipPath>
                                                            </defs>
                                                            <g class="b1">
                                                                <rect class="e1" width="180" height="180" rx="6" />
                                                                <rect class="f1" x="0.5" y="0.5" width="179" height="179" rx="5.5" />
                                                            </g>
                                                            <g class="c1" transform="translate(-546 -380)">
                                                                <rect class="d1  fill-color-icon" width="119" height="70" transform="translate(796.322 545.676) rotate(135)" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </a>
                                            }
                                            @if (await Authorization.IsGrantedAsync(HTKTPermissions.Report.Default))
                                            {
                                                <a class="col-md-3 col-xs-12" href="/ThongKe/ChartStatistic">
                                                    <div class="box bao-cao   border-box">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56"><defs></defs><path class="a" d="M0,0H56V56H0Z" style="fill: none;" /><path class="b  fill-color-icon" d="M8.421,3V47.444H51.791V53H3V3Zm41.453,9.147,3.833,3.928L38.238,31.928,30.106,23.6,18.469,35.519l-3.833-3.928L30.106,15.739l8.132,8.331Z" transform="translate(0 0)" /></svg>
                                                        <span>@L["Report"].Value</span>
                                                        <svg class="box-hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="180" height="180" viewBox="0 0 180 180">
                                                            <defs>
                                                                <style>
                                                                    .a1, .b1 {
                                                                        fill: none;
                                                                    }

                                                                    .b1 {
                                                                        stroke: transparent;
                                                                    }

                                                                    .c1 {
                                                                        clip-path: url(#a);
                                                                    }

                                                                    .d1 {
                                                                    }

                                                                    .e1 {
                                                                        stroke: none;
                                                                    }

                                                                    .f1 {
                                                                        fill: none;
                                                                    }
                                                                </style>
                                                                <clipPath id="a1">
                                                                    <rect class="a1" style="fill: none" width="180" height="180" rx="6" transform="translate(546 380)" />
                                                                </clipPath>
                                                            </defs>
                                                            <g class="b1">
                                                                <rect class="e1" width="180" height="180" rx="6" />
                                                                <rect class="f1" x="0.5" y="0.5" width="179" height="179" rx="5.5" />
                                                            </g>
                                                            <g class="c1" transform="translate(-546 -380)">
                                                                <rect class="d1  fill-color-icon" width="119" height="70" transform="translate(796.322 545.676) rotate(135)" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </a>
                                            }
                                            @if (await Authorization.IsGrantedAsync(HTKTPermissions.Administration.ManagementData))
                                            {
                                                <a class="col-md-3 col-xs-12" href="~/HTKT/Layer/Index">
                                                    <div class="box quan-tri   border-box">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56"><defs></defs><path class="a" d="M0,0H56V56H0Z" style="fill: none;" /><path class="b fill-color-icon" d="M22.612,31.346v4.669A13.983,13.983,0,0,0,8.653,50.02H4A18.644,18.644,0,0,1,22.612,31.346Zm0-2.334A14.006,14.006,0,1,1,36.572,15.006,13.979,13.979,0,0,1,22.612,29.012Zm0-4.669a9.337,9.337,0,1,0-9.306-9.337A9.319,9.319,0,0,0,22.612,24.343ZM43.551,38.349h2.327V50.02H27.266V38.349h2.327V36.015a6.98,6.98,0,1,1,13.959,0Zm-4.653,0V36.015a2.327,2.327,0,1,0-4.653,0v2.334Z" transform="translate(5.469 1.327)" /></svg>
                                                        <span>@L["DataConfiguration"].Value</span>
                                                        <svg class="box-hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="180" height="180" viewBox="0 0 180 180">
                                                            <defs>
                                                                <style>
                                                                    .a1, .b1 {
                                                                        fill: none;
                                                                    }

                                                                    .b1 {
                                                                        stroke: transparent;
                                                                    }

                                                                    .c1 {
                                                                        clip-path: url(#a);
                                                                    }

                                                                    .d1 {
                                                                    }

                                                                    .e1 {
                                                                        stroke: none;
                                                                    }

                                                                    .f1 {
                                                                        fill: none;
                                                                    }
                                                                </style>
                                                                <clipPath id="a1">
                                                                    <rect class="a1" style="fill: none" width="180" height="180" rx="6" transform="translate(546 380)" />
                                                                </clipPath>
                                                            </defs>
                                                            <g class="b1">
                                                                <rect class="e1" width="180" height="180" rx="6" />
                                                                <rect class="f1" x="0.5" y="0.5" width="179" height="179" rx="5.5" />
                                                            </g>
                                                            <g class="c1" transform="translate(-546 -380)">
                                                                <rect class="d1 fill-color-icon" width="119" height="70" transform="translate(796.322 545.676) rotate(135)" />
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<div class="form_title">
                    <div style="font-size:12pt;">
                        Công ty TNHH một thành viên Phát triển Công viên phần mềm Quang Trung,<br>
                        Phường Tân Chánh Hiệp, Quận 12, Tp. Hồ Chí Minh, Việt Nam.<br>
                        Phòng Quản lý Đầu tư - Hạ tầng,<br>
                        Tel: (028) 3715 8888  -   Fax: (028) 3715 5985<br>
                        Web: www.qtsc.com.vn</a><br>
                        Email: qtsc@qtsc.com.vn<br>
                    </div>

                </div>*@

        </div>
    </div>
    <a class="btn-log-out" href="~/Account/Logout">
        <svg id="Group_3628" data-name="Group 3628" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
            <path id="Path_6838" data-name="Path 6838" d="M0,0H36V36H0Z" fill="none" />
            <path id="Path_6839" data-name="Path 6839" d="M7.452,15.308H19.374v2.957H7.452V22.7L0,16.787l7.452-5.915ZM5.961,25.659H10a11.99,11.99,0,0,0,16.491-.684,11.763,11.763,0,0,0,0-16.376A11.99,11.99,0,0,0,10,7.915H5.961a14.927,14.927,0,0,1,26.826,8.872A14.927,14.927,0,0,1,5.961,25.659Z" transform="translate(0 1.213)" fill="#fff" />
        </svg>
    </a>
</div>

<style>
    body {
        /*background: url(../../images/bg.jpg) !important;*/
        background: url(../../../images/bg.png) !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    html, body, form {
        display: inline-table !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        overflow: hidden;
    }

    body, td, th {
        font-family: 'Roboto', sans-serif !important;
        font-size: 14px;
        color: #FFF;
    }

    .box {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        /*border-top: 3px solid #d2d6de;*/
        margin-bottom: 20px;
        width: 100%;
        width: 180px;
        height: 180px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        /*border-top: 8px #163f5a solid;*/
        /*border: 2px #ee4622 solid;*/
        overflow: hidden;
    }

    table {
        background-color: unset;
    }

    /*.box:hover {
            box-shadow: 0 0 5px rgba(225,225,225,.35);
            background: rgba(0, 0, 0, .2) url(../../../images/box-hover.svg) center 0px no-repeat !important;
        }*/

    .content-item svg {
        display: block;
        margin: auto;
        margin-top: 35px;
    }

    .box-hover {
        display: none !important;
        margin: 0px !important;
        top: 0px;
        position: absolute;
    }

    .box:hover .box-hover {
        display: block !important;
    }

    .box span {
        display: block;
        padding-top: 33px;
        color: #000000DE;
        font-size: 15px;
        /*font-family: Segoe UI Light !important;*/
        letter-spacing: 0px;
        color: #000000DE;
        opacity: 1;
        font-weight: 600;
        text-transform: uppercase;
        /*font: normal normal normal 16px/21px Roboto !important;*/
    }


    .border-box:hover span {
        color: var(--primary) !important;
    }

    .box img {
        display: block;
        margin: auto;
        margin-top: 35px;
    }

    /*.quan-ly-tai-lieu {
        background: rgba(0, 0, 0, .2) url(../../../images/qldl.svg) center 25px no-repeat;
    }

    .bao-cao {
        background: rgba(0, 0, 0, .2) url(../../../images/bc.svg) center 25px no-repeat;
    }

    .quan-tri {
        background: rgba(0, 0, 0, .2) url(../../../images/qt.svg) center 25px no-repeat;
    }

    .khai-thac {
        background: rgba(0, 0, 0, .2) url(../../../images/kt.svg) center 25px no-repeat;
    }*/

    a {
        color: blue;
    }

    input {
        background-color: transparent;
        border: 0 solid;
    }

    /* Welcom page */
    .welcomeDiv {
        margin: 0 auto;
        height: auto;
        padding-top: 20px;
    }

    .wel-top {
        text-align: center;
        padding: 0 0 0 0;
        margin: 0 0 5% 0;
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        /*font-family: Segoe UI Light !important;*/
    }

        .wel-top h2 {
            font-weight: normal;
            font-size: 48px;
            text-transform: none;
            margin: 15px 0;
            /*font: normal normal bold 54px/72px Roboto;*/
            letter-spacing: 0px;
            color: #000000DD;
            opacity: 1;
            font-weight: 600;
        }

        .wel-top span {
            display: block;
            font-size: 32px;
            font-weight: normal;
            text-transform: none;
            /*font: normal normal normal 36px/48px Roboto;*/
            letter-spacing: 0px;
            color: #000000DE;
            opacity: 1;
        }

    .wel-content {
        text-align: center;
        margin-top: 25px;
    }
    /* End Welcom page */

    /*login*/
    .logoqtsc {
        width: 120px;
        height: 52px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: url(../../../images/logoQTSC.png) left top no-repeat;
    }

    .form_title {
        position: absolute;
        left: 20px;
        bottom: 20px;
        border-bottom: 10px;
        width: calc(100% - 180px) !important;
        font-size: 20px;
        text-align: left;
    }

        .form_title span {
            font-size: 32px;
        }

        .form_title div {
            width: 592px;
            color: #000000DE;
            padding: 20px;
            background-color: rgb(255 255 255 / 15%);
            backdrop-filter: blur(6px);
        }

    /*.loginPage {
        background: url(../../../images/imgbg.png) right bottom no-repeat;
    }*/

    form :focus {
        outline: none !important;
    }

    .loginPage {
        margin: 0 auto;
        height: 100%;
    }

    .loginForm {
        margin: 0 auto;
        height: 100%;
        text-align: center;
    }

    .loginView {
        display: block;
        top: 40%;
        position: relative;
    }

    .loginHeader {
        /*padding-top: 200px;*/
    }

    .content-item {
        margin: 0 auto;
        width: 800px;
    }

    .loginLabel {
        margin-top: 10px;
    }

    .loginLabel, .content-item .notification, .loginButton {
        width: 410px;
        float: left;
    }

    .content-item .loginLabel, .loginBt {
        background: none;
        color: #000;
        font-size: 15px;
        font-style: italic;
        padding: 0 0 0 10px;
    }

    .content-item .notification {
        font-style: italic;
        font-size: 10px;
        color: #fff;
        opacity: 0.75;
        text-align: right;
        height: 10px;
    }

    .label-form {
        /*font-family: Segoe UI;*/
        width: 140px;
        min-height: 20px;
        display: inline-block;
        font-style: normal;
        border-right: solid 0px #ccc;
        color: #fff;
        opacity: 0.5;
        text-align: left;
        padding: 7px 0 0 45px;
    }

    .content-item .userio {
        background: url(../../../images/User-20.png) left top no-repeat;
        background-position: right 85% bottom 45%;
    }

    .content-item .passico {
        background: url(../../../images/Lock-20.png) left top no-repeat;
        background-position: right 85% bottom 45%;
    }

    input.loginInput {
        border: none;
        color: #069;
        padding: 10px 6px;
        width: 270px;
        font-weight: bold;
        height: 16px;
        background: rgba(255, 255, 255, .75);
    }

        input.loginInput:focus {
            background: rgba(0, 0, 0, .25);
            color: #fff;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            box-shadow: 0 0 5px rgba(255, 255, 255, .35);
            -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, .35);
            -ms-box-shadow: 0 0 5px rgba(255, 255, 255, .35);
        }

    .loginButton {
        float: left;
        margin-left: 140px;
        text-align: left;
        margin-bottom: 10px;
    }

    .loginBt {
        background: rgba(0, 0, 0, .25);
        border: none;
        color: #fff;
        cursor: pointer;
        font-style: normal;
        height: 35px;
        width: 150px;
    }

        .loginBt:hover {
            box-shadow: 0 0 5px rgba(255, 255, 255, .35);
        }

        .loginBt:active {
            position: relative;
            top: 1px;
        }

    .forgotpass {
        color: #fff;
        font-style: normal;
        /*font-family: Segoe UI;*/
        opacity: 0.75;
    }

    .failLabel {
    }

    .forgotpass:hover {
        opacity: 1;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        -webkit-text-fill-color: #2a3f5d;
    }

    .text-danger {
        color: white;
    }

    a:hover {
        text-decoration: none;
    }

    .action-list {
        justify-content: center;
    }

    @@media (max-width: 768px) {
        .content-item {
            width: 100%;
            padding: 10px;
        }

        form {
            padding: 10px;
        }

        html, body, form {
            overflow-y: auto;
        }

        .form_title {
            width: auto !important;
        }

        .loginLabel, .content-item .notification, .loginButton {
            width: 100%;
        }

        .loginForm {
            overflow-x: hidden;
        }

        .wel-top h2 {
            font-size: 35px;
        }

        .wel-top span {
            font-size: 15pt;
        }
    }

    @@media (max-width: 991px) {
        .loginButton {
            margin-left: 0px;
        }

        .form_title {
            position: unset;
        }

        .logoqtsc {
            position: unset;
        }

        .box {
            width: 100%;
            height: 100%:
        }
    }

    .btn-log-out {
        position: absolute;
        bottom: 16px;
        right: 16px;
        background: var(--primary);
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }
</style>