﻿@page
@model IoT.Web.Pages.IndexModel
@using IoT.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using IoT.Localization
@using Volo.Abp.Users
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Authorization
@using IoT.KhaiThac.Permissions;
@using IoT.HTKT.Permissions
@inject IPageLayout PageLayout
@inject IAuthorizationService Authorization
@inject IHtmlLocalizer<IoTResource> L
@inject ICurrentUser CurrentUser
@inject IConfiguration config
@{
    ViewBag.PageTitle = L["Home"];
    PageLayout.Content.Title = L["Home"].Value;
    PageLayout.Content.MenuItemName = IoTMenus.Home;
    Layout = "~/Themes/Lepton/Layouts/Account/Default2.cshtml";

    var logo = config.GetSection("ProjectTitle:Logo") != null ? config.GetSection("ProjectTitle:Logo").Value : "";
    var title = config.GetSection("ProjectTitle:Title") != null ? config.GetSection("ProjectTitle:Title").Value : "";
}
<abp-card>
    <abp-card-body>
        <div id="root"></div>
    </abp-card-body>
</abp-card>
@section styles{
    <link rel="stylesheet" href="~/mapclient/static/css/main.css">
    <style>
        body .lp-content {
            padding: 0 0px 0px 67px !important;
            height: calc(100vh - 65px) !important;
        }

        body .entry-row {
            margin: 0px;
            display: none;
        }

        .card {
            margin-bottom: 0px !important;
            height: 100%
        }

            .card .card-body {
                padding: 0px;
                height: 100%
            }

                .card .card-body #root {
                    padding: 0px;
                    height: 100%
                }

        .lp-footer {
            display: none;
        }
        #root {
            height: 100vh !important;
            width: 100vw !important;
        }
    </style>
}

@section Scripts{
    <script src="//api.map4d.vn/sdk/map/js?key=b77745a2eb604d0989e2b5648d0019b2&callback=callback&version=2.1.0&v=13"></script>
    <script src="~/mapclient/static/js/main.js"></script>
}